[2022-02-07 20:55] kspurgin opened #2044 "Naming of media is inconsistent and confusing"
**What I did:**

- Create repository item with title "More chicken", which gets created as https://sandbox.islandora.ca/node/83/media
- From the node's Media tab, `Add Media` > `Image`
- Form at https://sandbox.islandora.ca/media/add/image auto-populates media item name with "More chicken" from the node title field
- Select `Media Use` term: `Original File`
- Save

**Result:**

![image](https://us

[2022-02-07 21:59] kspurgin opened #2045 "Improve Media (`admin/content/media`) view"
**Issues**
- As is, does not provide clear/enough info to quickly/easily identify or limit to desired/relevant media when you have a lot of media
- When you add media to a node via the UI, you land on this page, which gives you no clear/obvious way to get back to the node you were working on

**Improvements**
- Add Fields: `Media of` (linked, so it is easy to get back to your node) and `Media Use`

[2022-02-07 22:50] kspurgin opened #2047 "Able to add media (from node > media tab) that does not get associated with node"
## Example 1

I have created a node for an image object. The image contains some text that automated text extraction wouldn't handle well...

![image](https://user-images.githubusercontent.com/450570/152882416-e84f987a-1b29-486e-9e41-001586ee029f.png)

Being clever, I transcribe the image text in chicken.txt, and add this as "Extracted Text" media on my node (node > Media > Add Media > Extracted T

[2022-02-07 23:03] kspurgin commented on #1660
Here I have added a File media type (.txt file) with Media Use value = Thumbnail Image. No warnings or complaints!

![image](https://user-images.githubusercontent.com/450570/152886287-b1ca6bea-25bd-48c6-bf09-79e9c43c55ae.png)

Of course I get no thumbnail:
![image](https://user-images.githubusercontent.com/450570/152886384-da655d5f-3065-4ce2-80a5-f53f3aeaa142.png)

I try again and actually do it r

[2022-02-07 23:07] kspurgin commented on #1660
## But why would you DO THAT?

Because you can. So someone will. On accident or out of sheer confusion. And they shouldn't be able to, because a system should be smart enough to know it can't use a .txt file as a thumbnail or a .mp4 as a FITS File or whatever other weird quietly not-working possibilities are currently available.

[2022-02-09 18:36] kstapelfeldt commented on #2047
Task: Putting a change to Islandora defaults in correct spots -

[2022-02-09 18:39] Natkeeran commented on #2043
Related Meta Issue: https://github.com/Islandora/documentation/issues/1916

[2022-02-10 20:46] amyrb opened #2050 "Derivative-related actions available from Children/Members page should also be available on Media page of an individual object"
If a thumbnail failed to generate automatically when I ingested a pdf, I can use the Action "Digital Document - Generate a thumbnail from an original file" to create that thumbnail for a given item or selected items from the Children/Members page within a collection.  However, if I identify just one item without a thumbnail in a large collection, it is hard to find that item in the Children/Member

[2022-02-11 01:55] alxp commented on #2050
A good solution to this might be to create an "Actions" block, that could appear on a node or any media of that node, that could just have buttons that an administrator could quickly hit to do any of the repository item actions.

[2022-02-11 01:56] alxp commented on #2050
It could also be a peer tab to 'View', 'Edit', 'Devel', etc.

[2022-02-14 22:02] kspurgin opened #2052 "Install profile: Object type configuration via `System Model` and `Resource Type` fields"
Paige (Whitman/IMIG co-convener) attended a recent open meeting at which Noah (Born Digital) suggested/recommended the MIG should review the `System Model` and `Resource Type` field value combinations and their effects on object views in the install profile.

The MIG discussed this in our 2022-02-14 meeting and agreed that we should make an issue and representatives from MIG should be ready to dis

[2022-03-02 00:12] antbrown opened #2055 "Questions about upgrading to Islandora 2.1.1"
Hi,

We're currently running https://github.com/Islandora/islandora/tree/cb52ddd and want to upgrade to 2.1.1, I've gone through the diff to try and pinpoint what I need to test in order to check the upgrade was successful. I have the following questions/issues:

* New batch upload facility doesn't set the member of relationship, all repository items are created with no parent collection, unsure w

[2022-03-02 12:06] nigelgbanks opened #2056 "Community gmail account community@islandora.ca is filling up."
Currently ~90% full

- Create some rules to filter and delete messages etc.

[2022-03-02 12:51] nigelgbanks opened #2057 "Setup Docker Hub account / and pushes to come from community account community@islandora.com"
@dannylamb You may need to do this as it's currently done under your personal account I think, the credentials are not in Bitwarden

[2022-03-02 18:16] rosiel commented on #2055
I'm not sure yet, but will take a look when I have the time. As for multitrack, I am not sure how thoroughly it's currently supported.

[2022-03-02 19:57] noahwsmith commented on #2052
Just seeing this now. I'll see what I can do to get feedback here and on Rosie's PR soon...

[2022-03-09 19:44] alxp opened #2060 "Failing test: MediaSourceUpdateTest"
On a fresh Islandora install the following MediaSourceUpdateTest is failing:

[code]

HTML output:

<blockquote>
ID #5 ([Previous](http://localhost:8000/sites/simpletest/browser_output/Drupal_Tests_islandora_Functional_MediaSourceUpdateTest-4-34842439.html) | [Next](http://localhost:8000/sites/simpletest/browser_output/Drupal_Tests_islandora_Functional_MediaSourceUpdateTest-6-34842439.html))
Calle

[2022-03-09 20:02] alxp opened #2061 "Failing Test: DerivativeReactionTest"
The following test fails when running on a fresh Islandora installation:

[code]

HTML outup:

<blockquote>
ID #24 ([Previous](http://localhost:8000/sites/simpletest/browser_output/Drupal_Tests_islandora_Functional_DerivativeReactionTest-23-65409602.html) | [Next](http://localhost:8000/sites/simpletest/browser_output/Drupal_Tests_islandora_Functional_DerivativeReactionTest-25-65409602.html))
Calle

[2022-03-09 21:47] islandora-community commented on #2056
Addressed in part by removing older .ova files that are no longer needed - now ~60% of storage is being used

[2022-03-10 18:40] alxp commented on #2061
Exception is being thrown from this function in the File Hash module:

[code]

[2022-03-14 15:13] DonRichards opened #2062 "Islandora Defaults testing instructions"
Islandora Defaults need documented testing instructions. This process isn't simple and is not the typical Drupal module test.

Because this isn't consistent with typical Drupal modules testing and isn't specific to just a single PR I feel like these instructions are needed to make "testing" and "reviewing" more approachable.

[2022-03-14 18:53] alxp commented on #2061
File Hash is adding an empty array to the 'fylehash' field but only when called by the unit test. If I add the same file using the GUI File Hash behaves normally.  Rolling back from version 1.9 to 1.5 of fylehash doesn't change this.

[2022-03-16 12:57] alxp commented on #2061
Forced downgrade to Drupal 9.2, test still fails with the same error.

[2022-03-16 16:14] rosiel commented on #2055
To get back to this (sorry for the delay), I'm also experiencing having Drupal delete the generic.png file, though this has been happening when adding media, not deleting them.

[2022-03-16 18:34] ysuarez opened #2063 "Need to find a place in the docs navigation Islandora 2 release notes"
This issue was suggested by @seth-shaw-unlv.

We need to find a place in the navigation for spot for current and future Islandora 2 release notes, sicne right now  there is no direct link from the docs (as far as we know). You would need to traverse the github repo to find the release notes.

Here is the only one and current release notes on the repo:

https://github.com/Islandora/documentation/bl

[2022-03-16 20:45] DonRichards opened #2064 "Embed VTT into the service file"
Instead of relying on a VTT file and a MP4 file separately, we should be combining them within the media service file.

Here's a blog on how this is accomplished within FFMPEG for multiple language embedding.

https://ytmt-stag.com/post/00002_ffmpeg/

Lots more benefits than I've mentioned. This came up in a tech call and it was suggested to add a ticket here for it.

[2022-03-16 20:52] seth-shaw-unlv commented on #2064
I did a bit of looking and couldn't confirm that the major browsers support using the embedded caption/subtitle tracks. We should test creating a combined file and then viewing it in browsers before we put a lot of effort into automating a solution.

[2022-03-17 14:48] eldonquijote commented on #2063
This is probably an oversight, since all documentation pages should be linked from the menu tree.

In this case, they could be linked from different places in the menu, but I like the suggestion to add them to the "Installation" section for starters.

[2022-03-17 14:54] #1977 closed, assigned to nobody

[2022-03-17 15:18] rosiel commented on #2062
This was related to Seth's ticket #1977 . I documented what worked for me on that front, here: https://docs.lefaive.ca/w/index.php/Testing_Pull_Requests#Example%3A_Pulling_in_a_PR_branch_for_Islandora_Defaults_with_the_Playbook

There are some old instructions for testing with isle as well, which need to be tested since the partial move to theinstall profile, but the part is under the Example... p

[2022-03-17 19:20] alxp commented on #2061
This seems to be a bug in the FIleHash module, but one that's hard to reproduce

FileHash is calling the global config service to get the active hashing algorithms, but when this is called from the test it's getting back an empty array.  This is then causing FileHash to return an empty array that it tries to insert into the database, which results in the SQL syntax error.

Will try to make a minim

[2022-03-18 08:43] antbrown opened #2065 "Bug: unable to change paged content child weights if all values are set to 1."
If you accidentally set all weights to 1 using the IntegerWeightSelector, it is then impossible to change the value to anything other than 1.

![node-field-weight-ui-options](https://user-images.githubusercontent.com/1214401/158965924-04252567-e270-4ce9-bc4e-895c437df475.png)

![node-field-weight-db-values](https://user-images.githubusercontent.com/1214401/158965960-7e85e99f-082a-4a0d-84b0-88646d5

[2022-03-23 13:44] rosiel commented on #1896
I'm still getting this in a fresh playbook. Is 'switching to PHP FPM' a solution that could be baked into the playbook?

[2022-03-23 17:14] adam-vessey commented on #2064
Not... really sure this is a good idea for general use, as some may want to adjust their VTT by hand... having to extract and re-embed in order to manipulate it seems rather round-about? Otherwise, having to go rederive a service file just to change the VTT seems expensive, without a good chunk of logic avoiding re-encoding if it's just the VTT being changed... but would/should still result in a n

[2022-03-23 17:19] alxp commented on #2060
Issue is with FIleHash, fixed in the 2.x branch. Fix is in this PR https://github.com/Islandora/islandora/pull/862

[2022-03-23 17:21] alxp commented on #2060
Issue is with FIleHash, fixed in the 2.x branch. Fix is in this PR https://github.com/Islandora/islandora/pull/862

[2022-03-23 17:21] #2060 closed, assigned to nobody

[2022-03-23 19:42] ysuarez commented on #2063
@eldonquijote thanks for the feedback. I am creating a PR for this since you thought it would be an OK place for it (at least for now).

Also, when building the docs locally the software listed the release file I am now linking as not being reflected in the navigation at all. Now that I have linked to the release notes locally, the Mkdocs software says these additional files are also not linked in

[2022-03-24 14:20] rosiel commented on #2063
since the release notes are in the menu now, is it okay to close this ticket?

[2022-03-24 19:36] eldonquijote commented on #2063
`  - user-documentation/recipes/alexa_search.md`  is linked from the page "Extending Islandora" (aka cookbook)
`  - placeholder.md` is practically empty
`  - installation/docker-download.md` is empty

`  - tutorials/switch_homepage_to_twig.md` could be linked from the Cookbook as well, although I'm not sure whether the described steps are optional, or should actually be best practice if Twig is th

[2022-03-24 21:44] jordandukart opened #2067 "Bug: ManageMediaController does not account for a node not existing."
As discovered by @hachacha in https://islandora.slack.com/archives/CM5PPAV28/p1648151773957529.

The access callback in https://github.com/Islandora/islandora/blob/2.x/src/Controller/ManageMediaController.php#L38-L58 does not account for when a node passed in via the `RouteMatch` does not exist.

This can be reproduced by navigating to `yoursite/node/somethingthatdoesnotexist/media` and you should

[2022-03-25 01:27] ysuarez opened #2068 "Determine if files mkdocs thinks are "unlinked" need attention"
Recently when building the docs locally the mkdocs software listed these following files are not linked in the navigation section.

[code]

@eldonquijote made the following early analysis of these files.

`  - user-documentation/recipes/alexa_search.md`  is linked from the page "Extending Islandora" (aka cookbook)
`  - placeholder.md` is practically empty
`  - installation/docker-download.md` is e

[2022-03-25 01:29] ysuarez commented on #2063
¡Thanks @rosiel!

I am going to close this ticket and open a new one for the "unlinked" files I ran into, in case they need follow up.

[2022-03-25 01:29] #2063 closed, assigned to nobody

[2022-03-25 01:54] jordandukart commented on #2039
Merged in https://github.com/Islandora/islandora/pull/862.

[2022-03-25 01:54] #2039 closed, assigned to nobody

[2022-03-25 16:12] jordandukart commented on #2065
Merged in https://github.com/Islandora/islandora/pull/863.

[2022-03-25 16:12] #2065 closed, assigned to nobody

[2022-03-30 09:29] antbrown opened #2069 "Bug? hook_media_update(), $parent->save(), generates EmitMediaEvent for a Node"
Steps to reproduce.

1. Implement hook_media_update()
2. Fetch parent node `$islandora = \Drupal::service('islandora.utils'); $parent = $islandora->getParentNode($media);`
3. Make changes to parent node and save: `$parent->save();`
4. Observe the error: "Error generating event: Bundle islandora_object does not exist" (or whatever bundle your parent node is).

Big note: This occurs on #cb52ddd, I n

[2022-03-30 13:11] alxp opened #2070 "Updating a site via the Playbook fails due to field_abstract type mismatch"
PR: [Fixes for running provision on an existing site. #210 ](https://github.com/Islandora-Devops/islandora-playbook/pull/210)

When running the islandora-playbook on an existing site, the "import features" task now fails with the following error:

[code]

This is due to the issue Change abstract from string to text #1977

This raises the fact that the playbook is running an import features task th

[2022-03-30 14:37] #2067 closed, assigned to nobody

[2022-03-30 14:38] jordandukart opened #2071 "Add an ancestor condition that looks beyond the direct parent."
https://github.com/Islandora/islandora/blob/2.x/src/Plugin/Condition/NodeHasParent.php exists which looks at a direct parent, it'd be nice to do this on the ancestor chain. PR to come.

[2022-03-30 14:42] seth-shaw-unlv commented on #2071
Could this be a separate condition, e.g. NodeHasAncestor, in case the site really does want to _just_ check the parent? Either that or a condition configuration to expand the search up the hierarchy?

[2022-03-30 16:25] inikolaidis commented on #2068
Could the `contributing/readme_template.md` be linked to from the section `contributing/CONTRIBUTING/#contribute-code` ?

[2022-03-30 17:26] jordandukart commented on #2069
Hey @antbrown did the following and couldn't reproduce:

[code]
My parent node returned from the utils call gets its title updated. Any further information as to what's triggering / a bigger stacktrace?

My method of testing was:
Create a media, save it.
Go back and update some value that triggers the above hook, save.

[2022-03-30 18:13] antbrown commented on #2069
Hi @jordandukart, thanks for the quick turnaround. I'll try get some more data for you later today. Out of interest, when you tested did you use islandora 2.x or #cb52ddd? Cheers, Ant.

[2022-03-30 18:19] jordandukart commented on #2069
I'm running off of `HEAD` currently, feel free to ping me in Slack as well if you'd like!

[2022-03-30 18:23] alxp opened #2072 "Enable issues on Islandora-Devops/islandora-playbook and add it to the project issue list"
Hello,

Since we have been opening up issue queues for various Islandora projects, we should do the same for Islandora-Devops/islandora-playbook. Once this is done its issues should be included in the query that shows the active issues for Islandora. I don't have permission to do this for Islandora.

This came up in today's tech call: https://github.com/Islandora/islandora-community/wiki/March-30%

[2022-03-30 19:00] islandora-community commented on #2072
I've just gone ahead and opened an [issue queue](https://github.com/Islandora-Devops/islandora-playbook/issues) for Islandora-Devops/islandora-playbook.
I think the [current query](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3AIslandora+user%3AIslandora-Devops) for active issues will include any issues opened as it includes issues from user:Islandora-Devops , which islan

[2022-03-31 11:57] jordandukart commented on #2071
After chatting in Slack with @seth-shaw-unlv, re-worked it to be a helper in utils as well as updating `islandora_breadcrumbs` to leverage it to DRY things up.

[2022-04-01 13:21] rosiel opened #2073 "Mirador block throwing errors"
Getting the following error when trying to use Mirador:

`TypeError: NetworkError when attempting to fetch resource.`

This happens when using Mirador as a field formatter on a Media, as well as when displayed as an EVA block. It's happening on the Playbook as well as the Sandbox, and ISLE built with the install profile. The full error message in the viewer is:

[code]

[2022-04-01 23:11] seth-shaw-unlv opened #2074 "Document Milliner configuration for fedora6"
Milliner has some special logic when running against a Fedora 6 repository which is [set via a config](https://github.com/Islandora/Crayfish/blob/2.x/Milliner/src/app.php#L32-L39). Unfortunately, this config setting isn't in the README nor is it in the default config, which means you have to read the code to know it exists.

(This made testing an upgrade from Fedora 5 to Fedora 6 for our Islandora

[2022-04-03 20:20] Frazer-Nyambe opened #2075 "Islandora Manual Installation hands on"
I am trying to run the command  "cd /opt/drupal/web" and i'm getting an error  "bash: cd: /opt/drupal/web: No such file or directory", what should i do to resolve the error?

[2022-04-04 15:26] seth-shaw-unlv commented on #2075
It sounds like the composer command to setup the drupal project didn't work. What was the output from running `sudo -u www-data composer create-project drupal-composer/drupal-project:9.x-dev /opt/drupal --no-interaction` from the [Drupal install step](https://islandora.github.io/documentation/installation/manual/installing_composer_drush_and_drupal/#clone-drupal-project-and-install-it-via-composer

[2022-04-04 19:30] rosiel opened #2076 "Islandora weight doesn't let you reorder children"
The integer weight fields don't seem to work if content wasn't created from the Add Members tab.

To replicate:
1. create a paged content item
2. create two or more page items **from the global add content** interface (i.e. not from the Members tab)
3. In the member of field, point the pages to the paged content.
4. Go to the paged content item's members tab and attempt to re-order children.

My r

[2022-04-04 19:58] amyrb commented on #2076
In the context of compound objects rather than paged content, I have been able to reorder children by editing each of the child objects and setting the weight there. The problem you describe clearly needs fixing, but setting the weight directly by editing the child node might be a workaround? (Unless it isn't?)

[2022-04-05 05:35] Frazer-Nyambe commented on #2075
no such such file or directory

On Mon, Apr 4, 2022 at 5:26 PM Seth Shaw ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this email and then delete it from your
system._

[2022-04-05 14:27] seth-shaw-unlv commented on #2076
I believe [this PR ](https://github.com/Islandora/islandora/pull/863) provided a fix for this. Could you double-check to make sure you have the latest 2.x code for islandora and try again?

[2022-04-05 17:07] rosiel commented on #2076
It did. [edit: It fixed it. I did not have the latest 2.x code.] Would it be possible to tag a bugfix or greater release of the 2.x code? It appears to have been 6 months since our last tag.

[2022-04-05 17:13] seth-shaw-unlv commented on #2076
Sure. Give me a few minutes to finish testing https://github.com/Islandora/islandora/pull/865 and then I can do that.

[2022-04-05 17:36] seth-shaw-unlv commented on #2076
@rosiel https://github.com/Islandora/islandora/releases/tag/2.2.0

[2022-04-05 17:36] #2076 closed, assigned to nobody

[2022-04-05 17:58] rosiel commented on #2076
also thank you @amyrb that was a smart workaround. I had the "Custom sort weight" hidden inside an accordion fold and didn't notice it.

[2022-04-05 18:13] jordandukart commented on #2071
Closing as the PR is merged.

[2022-04-05 18:13] #2071 closed, assigned to nobody

[2022-04-05 21:50] misilot commented on #2072
Thanks for doing this! Just curious if it would be worth moving issues for projects that have an issue queue active to those?

At least for me, I think it would make it a little easier to find open issues / solutions?

[2022-04-05 21:53] misilot commented on #1993
Is the `islandora_install_profile_demo` or `demo` the same as the install profile that one would get with isle-dc?

[2022-04-06 06:22] Frazer-Nyambe opened #2077 "Islandora Manual installation hands on"
Crayfish 2.0
Installing Prerequisites....

i receive an error "E: The repository 'https://packages.sury.org/php focal Release' does not have a Release file."
when i run "sudo add-apt-repository -y ppa:lyrasis/imagemagick-jp2

And i receive and error " [ErrorException]  Undefined index: splits "
when i run "sudo -u www-data composer install -d crayfish/Houdini"

[2022-04-06 11:59] alxp commented on #1993
Here's the Ansible variables pertaining to the 'demo' option:

[code]
So they should be the same if you set the environment variable $ISLANDORA_INSTALL_PROFILE to 'demo'.

[2022-04-06 17:02] jordandukart opened #2078 "Test suites failing"
Our ongoing failing tests due to "experimental" things being added to the matrix which was an original, awesome improvement by @whikloj.

 The current `continue-on-error` behavior at the job level in Github Actions differs as compared to Travis (and likely what's expected): https://github.community/t/continue-on-error-allow-failure-ui-indication/16773/11 and https://github.com/actions/runner/issue

[2022-04-06 17:08] jordandukart commented on #2078
Anyone in @Islandora/8-x-committers object to the approach defined in https://github.com/Islandora/islandora/pull/866/files?

[2022-04-06 17:17] ysuarez commented on #2077
@Frazer-Nyambe I do not know that much the manual installation process, but during the weekly Islandora Tech call (which anyone is welcome to attend, [more meeting info here](https://github.com/Islandora/islandora-community/wiki/Tech-Call-Meetings-2022)) the developers in the meeting wanted to details about your setup for installation.
* What is the OS of your server set up?
* Is it a virtual mach

[2022-04-06 17:26] seth-shaw-unlv commented on #2075
Let's combine this thread with the other about manual install: #2077

[2022-04-06 17:33] Frazer-Nyambe commented on #2077
Initially i first tried to install on Ubuntu 18.04 prescribed by the manual
instructions and i received an error on the first intruction code so that's
how i switched to ubuntu 20.04.

Currently I'm running:
• Ubuntu 20.04 OS
• Virtual Machine
• Islandora-8

On Wed, Apr 6, 2022, 19:17 Yamil ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidentia

[2022-04-06 17:33] rosiel commented on #2073
From the tech call (@seth-shaw-unlv thanks) it may be that the config here (localhost:8000) is wrong and there's and isle/playbook issue.

[2022-04-06 17:35] #2072 closed, assigned to islandora-community

[2022-04-06 17:54] jordandukart opened #2079 "Houdini using an outdated version of symfony/flex"
As discovered by @alxp in https://github.com/Islandora-Devops/islandora-playbook/pull/210, Symfony Flex [requires that projects update](https://symfony.com/blog/upgrade-flex-on-your-symfony-projects) to `^1.17` as their old download manager no longer exists.

[2022-04-06 18:43] ysuarez commented on #2074
@seth-shaw-unlv I have a few initial questions...

Is this something that only applies when moving from Fedora 5 to Fedora 6 in an existing Islandora 2 instance, or is this only/also for those that want to use Fedora 6 from the beginning?

My PHP skills are rusty, so let me see if I am understanding what has to be documented.

My guess is that the README has to mention that this value has to be se

[2022-04-06 19:58] seth-shaw-unlv commented on #2077
I can't speak to the imagemagick line without spinning up a new box, but there are some folks on Slack that came across [that composer error](https://islandora.slack.com/archives/CM5PPAV28/p1649270773718389?thread_ts=1649270426.649759&cid=CM5PPAV28) and have [a pull request to resolve it](https://github.com/Islandora/Crayfish/pull/144).

[2022-04-07 13:03] rosiel commented on #2073
Indeed, it was missing :8000 from the config. That solved the red NetworkError, but led to new errors.
<img width="600" alt="Screen Shot 2022-04-06 at 3 15 06 PM" src="https://user-images.githubusercontent.com/1943338/162204465-5fc4432b-6c4f-4048-8606-92649796bfb1.png">
This "unexpected non-whitespace character after JSON data" appeared as a modal over the viewer, and in the logs i see
[code]

[2022-04-07 14:14] ysuarez opened #2081 "Should we specify which versions of Drupal can be loaded in isle-dc's /codebase?"
On the [installation/docker-local.md](https://islandora.github.io/documentation/installation/docker-local/) page of the docs it says

"If you do already have a Drupal site, use git to clone it into place as the codebase folder."

I was wondering if we should mention that the existing site has to be Drupal 8+ or maybe it should say Drupal 9+? I just want to specify a number to avoid having someone

[2022-04-07 14:47] whikloj commented on #2074
@ysuarez Yes. You need to alter your configuration to specify
[code]
in Milliner's configuration file if you are using Fedora 6.

It might be good to actually add this option (commented out) to the sample configuration file with some explanatory text.

The reason for this is because Fedora 5 had an undocumented representation called "minimal", and in Fedora 6 we removed that and you now need to us

[2022-04-07 14:48] whikloj commented on #2074
Sorry missed this

It is required for **any** institution using Fedora 6.

[2022-04-07 14:50] seth-shaw-unlv commented on #2073
It looks like whatever page you were on isn't returning a node as part of the route: https://github.com/Islandora/islandora_defaults/blob/2.x/modules/islandora_mirador/src/Plugin/Block/MiradorBlock.php#L109

[2022-04-07 15:03] seth-shaw-unlv commented on #2074
Thanks for jumping in, @whikloj. I figure we can add the `fcrepo6: true` in the config file, as Jared said, somewhere around here: https://github.com/Islandora/Crayfish/blob/2.x/Milliner/cfg/config.example.yaml#L7.

We would then just need add a note about needing this value to be true when running against Fedora 6 somewhere in [the README's configuration section](https://github.com/Islandora/Cray

[2022-04-07 15:14] ysuarez commented on #2074
@seth-shaw-unlv and @whikloj (BTW, hello and hope you are well)

with these comments I think I can create a draft PR

* to add a `fcrepo6: true` config entry in the [config.example.yaml](https://github.com/Islandora/Crayfish/blob/2.x/Milliner/cfg/config.example.yaml#L7) file, though it should be cemented out. I can add a comment simply stating that this is required for using Fedora 6, but I can tr

[2022-04-07 15:55] jordandukart commented on #2079
Closing as merged in the above.

[2022-04-07 15:55] #2079 closed, assigned to nobody

[2022-04-07 15:56] jordandukart commented on #2069
Hey @antbrown any progress / updates on this?

[2022-04-07 17:08] seth-shaw-unlv opened #2082 "JSONLD creating resource with an array of '@id' values"
I noticed a warning pop up in my Milliner logs: `[2022-04-07 09:08:39] app.WARNING: E_WARNING: parse_url() expects parameter 1 to be string, array given {"code":2,"message":"parse_url() expects parameter 1 to be string, array given","file":"/data/crayfish/Milliner/src/Service/MillinerService.php","line":318}`

I went and checked the JSONLD of the object causing the warning and found one of the tax

[2022-04-07 17:29] #2074 closed, assigned to ysuarez, seth-shaw-unlv

[2022-04-08 13:54] whikloj commented on #2082
The ids are definitely a problem, but can you explain why the resource is using duplicate terms for the same field? I'm just looking for some example data.

[2022-04-08 14:37] seth-shaw-unlv commented on #2082
Ah, for this content type we have two fields, field_geographic_coverage and field_place_of_publication, both of which are RDF mapped to dcterms:spatial:
[code]

Both of these fields, in this case, reference Las Vegas (it was published here and the news covers the area); ergo, two spatial references to the same term. We probably need better predicates for each of these, but I didn't write the map.

[2022-04-08 17:44] seth-shaw-unlv commented on #2078
Closed with https://github.com/Islandora/islandora/commit/e0152eaa8cf72177bfd24063b53ea775e0af1f1c

[2022-04-08 17:44] #2078 closed, assigned to nobody

[2022-04-13 17:17] rosiel commented on #2081
from tech call: yes, specify Drupal 9

[2022-04-13 17:18] ysuarez commented on #2081
Thanks, I will make a PR for this.

[2022-04-13 20:52] ysuarez commented on #2081
I decided to just commit straight into main, since I was just adding a single digit and a space with this commit c0c4b82338f9f75da35e7d71a855424181e9515d

[2022-04-13 20:52] #2081 closed, assigned to ysuarez

[2022-04-14 15:45] whikloj commented on #2082
So the problem comes from [here](https://github.com/Islandora/jsonld/blob/2.x/src/Normalizer/ContentEntityNormalizer.php#L166) where we merge the property array back into the original array.

My example base array of
[code]
and the incoming property array
[code]
merge to become
[code]

It seems like some deduplication of the array might be valid.
*Edit* had the arrays reversed to their description

[2022-04-14 15:47] jordandukart commented on #2082
Maybe look at https://git.drupalcode.org/project/drupal/-/blob/9.4.x/core/lib/Drupal/Component/Utility/NestedArray.php#L267-294 as opposed to using `array_merge_recursive`?

[2022-04-14 15:51] whikloj commented on #2082
Oh yeah, I saw we are using that [here](https://github.com/Islandora/jsonld/blob/2.x/src/Normalizer/FieldNormalizer.php#L50). I'll take a look, I'm a little worried you might want some duplicates but not all 🤷

[2022-04-18 18:24] whikloj commented on #2082
Ok I have worked this, one last piece that could be cleaned but also could be considered valuable as is.
If you have two fields pointing to the same entity and sharing the same RDF mapped predicate, the referenced entity looks good.
[code]
but it still appears as two entries in the main node.
[code]
because `NestedArray::mergeDeep` doesn't do any deduplication, so I wrote a simple function to dedu

[2022-04-18 18:58] seth-shaw-unlv commented on #2082
I'm fine with allowing duplicate predicate values as long as Fedora/Blazegraph don't choke on it. I don't think they would, but it would be best to check to make sure before spending more effort with further de-duplication.

[2022-04-18 19:33] whikloj commented on #2082
Looks like both Fedora and Blazegraph only allow a single unique triple, so they are de-duplicated. Not sure if we should be relying on external software for that.

Also, looking at the RDF 1.1 specification it states [here](https://www.w3.org/TR/rdf11-concepts/#data-model)

Being a "set" would mean that you could not hold duplicate triples. So we probably should remove the duplicates, but it does

[2022-04-19 16:42] whikloj opened #2093 "Test media type configuration no longer valid in Drupal 9.4.x"
Starting sometime between April 2nd and 18th, 2022. A change in the Drupal 9.4.x-dev branch causes [this configuration yaml](https://github.com/Islandora/islandora/blob/e0152eaa8cf72177bfd24063b53ea775e0af1f1c/tests/fixtures/config/core.entity_form_display.media.test_media_type.default.yml) to fail to validate.

Error is
[code]

This will need to be fixed to avoid on going failures.

[2022-04-19 21:22] whikloj commented on #2093
This seems to be the change that altered the schema.
https://www.drupal.org/project/drupal/issues/3173180

[2022-04-20 20:25] seth-shaw-unlv commented on #2082
Resolved with https://github.com/Islandora/jsonld/commit/630e10947dc0a5517f0fe0b29adab0c2b6247ce9

[2022-04-20 20:25] #2082 closed, assigned to nobody

[2022-04-21 17:25] nigelgbanks opened #2094 "[BUG] FedoraAdapter for flysystem reporting success when failing to write to fedora."
**What steps does it take to reproduce the issue?**

Use the following command, on a working site.

[code]

Enter in the following code.

[code]

Note that it response successfully with `9` bytes written. However it did not actually write to fedora which can be confirmed with the following code.

[code]

Which yields 'false'.

From the fedora logs we can see this failed to authorise with `403` as

[2022-04-21 17:48] seth-shaw-unlv commented on #2094
Weird. The[ Fedora Flysystem Adapter should be returning FALSE](https://github.com/Islandora/islandora/blob/2.x/src/Flysystem/Adapter/FedoraAdapter.php#L297-L300) on the `write` call when it gets a 403 response:
[code]

Someone is going to need to step through this with a debugger (or use a liberal amount of logging statements) to figure out how this is getting through.

[2022-04-27 09:48] Frazer-Nyambe opened #2098 "Islandora manual installation hands on"
i'm trying to run the Drupal installer with Drush:

when i run the code       "cd /opt/drupal/web"
i get       "bash: cd: /opt/drupal/web: No such file or directory"

[2022-04-27 13:07] whikloj commented on #2098
Hi @Frazer-Nyambe, Can you tell me what step you are on so I can follow along with your process?

[2022-04-27 13:19] Frazer-Nyambe commented on #2098
Installing composer, Drush, and Drupal.

Subtitle: Run the Drupal installer with Drush.
Just the first code: "cd /opt/drupal/web"

On Wed, Apr 27, 2022, 15:07 Jared Whiklo ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, pleas

[2022-04-27 13:34] whikloj commented on #2098
I believe that directory should have been created by the final command in the block
[code]
Located at [Drush 10 and Drupal 9](https://islandora.github.io/documentation/installation/manual/installing_composer_drush_and_drupal/#drush-10-and-drupal-9)

[2022-04-27 14:30] Frazer-Nyambe commented on #2098
The path $ opt/drupal... Exists
But $ opt/drupal/web... Doesn't exist

On Wed, Apr 27, 2022, 15:34 Jared Whiklo ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this email and then

[2022-04-27 15:08] whikloj commented on #2098
You might want to go back and try that command again then.

You can see where the drupal-composer/drupal-project tries to install the files [here](https://github.com/drupal-composer/drupal-project/blob/9.x/composer.json#L72-L76).

If you see any errors during that process it might explain what is happening.

[2022-04-27 15:28] Frazer-Nyambe commented on #2098
Thanks, I'll check it out.

On Wed, Apr 27, 2022, 17:08 Jared Whiklo ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this email and then delete it from your
system._

[2022-04-27 17:01] whikloj opened #2099 "Shutting down ActiveMQ causes a White Screen of Death on many actions"
**What steps does it take to reproduce the issue?**

On Islandora with islandora_defaults installed
Shut down ActiveMQ (i.e. `sudo service stop activemq` on most distros)
Add/Delete a new taxonomy term (I'm using language)
You see the fabeled Drupal WSOD (White Screen Of Death)

**Which version of Islandora are you using?**
Current

**Any related open or closed issues to this bug report?**
https:/

[2022-04-27 17:04] whikloj commented on #2099
Also see [Slack discussion](https://islandora.slack.com/archives/CM5PPAV28/p1651074082888349)

[2022-04-28 19:55] wgilling opened #2100 "[BUG] Islandora Advanced Search javascript breaks core Facets javascript"
When the `islandora_advanced_search` module is installed and a user views a basic search, the javascript that is able to limit results via the "Soft limit" is not able to run. Disabling the module or copying the core facets/js/soft-limit.js and facets-views-ajax.js over the modified instances of these that exist under islandora_advanced_search/js/facets will allow both search interfaces to have th

[2022-04-28 20:49] simonhm commented on #2100
Tested. I confirm this bug is also happening on our testing I8 sites.
We're running 2.2.1.

[2022-04-28 23:43] simonhm commented on #2100
[https://github.com/Islandora/islandora/blob/2.x/modules/islandora_advanced_search/js/facets/soft-limit.js](https://github.com/Islandora/islandora/blob/2.x/modules/islandora_advanced_search/js/facets/soft-limit.js)

It looks like this override version doesn't work any more. I tried to fix it and the fixed version becomes as same as the original soft-limit.js of "facets" module. ^_^
Maybe don't ove

[2022-04-29 00:10] wgilling commented on #2100
Thank you @simonhm for taking such a thorough look at this. There seemed to be some changes in the soft-limits.js and are those all able to be abandoned (the only bit I remember is that it was applying some logic to the <li> element that the core facets javascript didn't seem to do. I want to be sure that it still works for both modules, so whatever that logic was could maybe be merged in with the

[2022-04-29 22:28] ysuarez commented on #1295
This issue can now be closed now that templates have been submitted based on my Google doc. in this commit https://github.com/Islandora/documentation/commit/fa2bea63ab3983b2480834295c83c9e80aa51cef

[2022-04-29 22:28] #1295 closed, assigned to nobody

[2022-05-02 20:32] DonRichards opened #2102 "Add ICS link for community calendar"
The [original link](https://calendar.google.com/calendar/u/0/embed?src=96s6v709n719hapqtt9m8vj588@group.calendar.google.com&ctz=America/Toronto) navigates to the embedded calendar view but does not give access to the needed ICS file to subscribe via a calendar viewer of your choice.

A 2nd link should go to a ICS file linked within the “Event Calendar” section on https://www.islandora.ca/community

[2022-05-04 17:21] seth-shaw-unlv commented on #2099
Resolved with https://github.com/Islandora/islandora/commit/d8d101e5710c42804f06eff0f6c6a4ee3c69adbd

[2022-05-04 17:21] #2099 closed, assigned to nobody

[2022-05-04 17:25] wgilling commented on #2100
I cannot write a new version of this that keeps all of the logic that was added for the islandora_advanced_search code in the javascript while not breaking the facets' module javascript ability to run the soft limits code. Perhaps the best way is to refactor the bit in this javascript that is breaking the soft-limits method when not using the islandora_advanced_search form.

@nigelgbanks -- how do

[2022-05-05 15:02] islandora-community commented on #2102
<img width="575" alt="icsButton" src="https://user-images.githubusercontent.com/92804539/166952830-ebef4ace-d0d1-461a-81ee-e771e6d13bc0.png">

I've added a button on the community page to access the ICS file

[2022-05-11 14:49] nigelgbanks commented on #2100
I believe the original reason for the override was to deal with performance. At the time the module was written if there were a couple hundred facets the site would take upwards of like 10 seconds to render. If the the `soft-limit.js` provided by the `facets` modules no longer has any performance issues in that sense and doesn't cause any further bugs I think the override could be removed complete

[2022-05-11 17:16] wgilling commented on #2100
If that is true (performance is no longer an issue), would the plan be to remove that overridden javascript file or files (including the hook to alter where these libraries are stored - so it pulls the core facets one from now on) and merge that into the dev-main for this?

[2022-05-11 17:19] #2102 closed, assigned to islandora-community

[2022-05-11 18:53] eldonquijote commented on #2068
Agree with @inikolaidis on linking contributing/readme_template.md from the section contributing/CONTRIBUTING/#contribute-code

[2022-05-12 11:12] nigelgbanks commented on #2100
Ya basically there wouldn't be any need to override the facets module so those bits could be removed.

[2022-05-12 11:42] #2056 closed, assigned to nigelgbanks, islandora-community

[2022-05-12 17:54] wgilling commented on #2100
This should address the issue - and allow the core facets javascript to run. https://github.com/Islandora/islandora/pull/870

[2022-05-17 03:10] Frazer-Nyambe commented on #2098
This issue still remains unresolved, so i decided to restart the whole manual installation process but i'm still getting errors.

[2022-05-17 03:18] Frazer-Nyambe opened #2106 "Islandora manual installation hands"
i am a beginner to islandora, and i have been facing a lot of challenges with the installation process.
so would desperately need some step by step installation assistance to install islandora on Ubuntu 18.04.6

[2022-05-17 14:35] seth-shaw-unlv commented on #2098
Can you save the output of your terminal session and post it so we can see the whole process?

[2022-05-17 14:49] Frazer-Nyambe commented on #2098
***@***.***:/opt/drupal$ cd /opt/drupal/web
bash: cd: /opt/drupal/web: No such file or directory

On Tue, May 17, 2022 at 4:35 PM Seth Shaw ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by respo

[2022-05-17 15:22] seth-shaw-unlv commented on #2098
I meant the _whole_ history. Most terminal tools have an option for saving the terminal session into a text file that you can upload. This will show all the commands and output leading up to this point (well, Windows will have an upper limit on the number of lines it will have saved).

[2022-05-17 15:25] Frazer-Nyambe commented on #2098
I'm running Ubuntu 18.04.6 on virtualbox.
Windows 10 host OS.
I don't know how i would get the history on Ubuntu.

On Tue, May 17, 2022, 17:22 Seth Shaw ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immedia

[2022-05-17 21:56] misilot opened #2107 "Documentation Request: How to generate missing derivative files on backend"
Hello,

I'm hoping I didn't miss it somewhere, but how would go about generating derivative files for objects in the system? For example we ingested >10,000 items, but something went wrong where the thumbnails and other items haven't been generated yet. So we want to just kick it off in the background / foreground would be great as well, so we can watch and check progress.

Thanks!

[2022-05-17 21:59] misilot opened #2108 "Feature Request: New "Documentation" Issue Type"
**Overview of feature request**
 Issue type that covers missing documentation

**What kind of user is the feature intended for?**
(Example user roles: Collections Manager, Developer, Systems Administrator, or User)
All?

**What inspired the request?**
 Trying to submit a how to request because I couldn't find it in the documentation.

**What existing behavior do you want changed?**
 N/A

**Any bra

[2022-05-17 22:01] misilot opened #2109 "[BUG] Failed GitHub Action Workflow"
**What steps does it take to reproduce the issue?**

* When does this issue occur?
When creating a ticket #2107 and #2108 I got a failed Github action run

See: https://github.com/Islandora/documentation/actions/runs/2341619959 and https://github.com/Islandora/documentation/actions/runs/2341629044

* Which page does it occur on?
When submitting issues

* What happens?
Generated a failed job

* To

[2022-05-17 22:36] ajstanley commented on #2107
You can create a view to show the objects in question, add a field for Node operations bulk form and you're pretty much done.

There is no real way to track progress short of tailing the log of whatever microservice is building the derivatives.

You can set the pager to handle as many objects at a time as you like, but the default php.ini setting only allows 1000 variables, so you might want to st

[2022-05-18 13:10] misilot commented on #2107
Thanks @ajstanley, so just want to confirm there is no way to kick this off as a cronjob? :(

[2022-05-18 16:46] whikloj commented on #2109
I believe @islandora-community was playing around with project boards and was trying out an action to move issues on a project board (https://github.com/peter-evans/create-or-update-project-card). It does not appear we have a project board right now, which (I'm guessing) is why it fails.

[2022-05-18 17:23] misilot commented on #2109
Possibly need to add a Token from the organziation to the workflow?

This was from this example: https://github.com/peter-evans/create-or-update-project-card#create-a-card-in-an-organization-or-user-project

[2022-05-18 17:36] misilot commented on #2107
From @seth-shaw-unlv this [gist](https://gist.github.com/seth-shaw-unlv/2b6dc74b4b1b988b4224b12ceac06953)  should work from the Tech Call

[2022-05-18 17:41] misilot commented on #2108
From @ysuarez  "Where do you think should belong"

[2022-05-19 14:52] ysuarez commented on #2108
I wonder if we should ask if this missing documentation is needed because they are using a particular Drupal theme, isladnora_defaults, Drupal install profile, etc. In case that the current docs are generally sufficient besides that.

Another way to approach this to just ask if the missing documentation applies solely for users that are using a particular theme/"defaults"/profile/etc.

This goes b

[2022-05-19 14:54] ysuarez commented on #2108
Added to where should the missing docs should belong, we may want to explicitly ask if it should be a brand new "page/section/part" or should it be part of a particular "page/section/part."

[2022-05-19 15:22] seth-shaw-unlv opened #2110 "[BUG] islandora_entity_view causes WSOD for media without a source file"
## What steps does it take to reproduce the issue?

* Create a media without a source file (this occurred with a broken migration).
  * Create a media via the UI
  * Jump to the command-line and the interactive terminial `drush php:cli`
  * Load the media, e.g. `$m = \Drupal::entityTypeManager()->getStorage('media')->load(1);` (replacing "1" with your test media's ID)
  * Get the source file: `$f

[2022-05-19 15:23] seth-shaw-unlv commented on #2110
Throwing in the following check after the getSourceFile call resolves the issue:
[code]

[2022-05-20 16:03] jordandukart commented on #2110
Resolved in https://github.com/Islandora/islandora/pull/874.

[2022-05-20 16:03] #2110 closed, assigned to nobody

[2022-05-25 17:36] whikloj opened #2113 "Don't emit JMS event on file upload until the associated Media is saved"
#### What steps does it take to reproduce the issue?

Configure an Islandora instance with Fedora, when you upload a file to the media (but before you save the media) look in the Alpaca logs for an exception.

#### When does this issue occur?

File is selected on the media page, it is uploaded in the background.

#### Which page does it occur on?

The media edit page (can't remember the URL)

####

[2022-05-25 18:01] ysuarez opened #2114 "[BUG] Docs are not automatically building with newest MarkDown content"
**What steps does it take to reproduce the issue?**

Visit this official [docs page](https://islandora.github.io/documentation/installation/docker-maintain-drupal/) and see that the changes from this [merged PR](https://github.com/Islandora/documentation/commit/32aa02bcad80814a37571d2ed63140aeb8670f35) are not reflected

Here is a link that displays errors in building docs.
https://github.com/Isla

[2022-05-25 18:23] rosiel commented on #2114
Found the source: `mkdocs-material-insiders`, our theme, requires `pymdown-extensions>=9.4` , but pymdown-extensions dropped python 3.6 support back in 9.2. Our Travis environment runs on python3.6.7, which seems to be a default. We might be able to specify the python version in the Travis file to something more recent.

[2022-05-25 19:43] rosiel commented on #2114
Resolved with #2115

[2022-05-25 19:43] #2114 closed, assigned to nobody

[2022-06-01 13:42] rosiel opened #2117 "Allow use of [edit: 32-bit] GeoTIFF files"
**Overview of feature request**

**What kind of user is the feature intended for?**
Collection managers dealing with geographic files

**What inspired the request?**
I uploaded a sample tiff file (attached, renamed .gif because github) but it failed to create image derivatives. A parallel upload that was a "normal" tiff had the derivatives created just fine.

**Any brand new behavior do you want t

[2022-06-01 17:15] rosiel commented on #2117
Hmm, uploaded file isn't working. Here's a link to the file on dropbox. And as Seth said during today's call, if anyone has another geotiff to share we could see if it's just a problem with this file.
https://www.dropbox.com/s/hvjapxk4jgasdx8/output_srtm.tif?dl=0

[2022-06-01 18:45] ysuarez opened #2118 "Documentation: Audit the contents of CONTRIBUTING.md"
The contents of CONTRIBUTING.md are a bit redundant and out-of-date with some existing pages in the rest of the mkdocs official docs.

This file is also being displayed within the official docs at this path...
https://islandora.github.io/documentation/contributing/CONTRIBUTING/

 It is normal that CONTRIBUTING.md exists in the root directory of the a repo, specially if it was a repo for storing co

[2022-06-02 15:22] seth-shaw-unlv commented on #2117
Odd. I spun up my current instance of Isle this morning and it produced derivatives without complaint.

That said, this particular generated derivatives that are bitonal, as did the Windows viewer and Dropbox image display, instead of the greyscale I got opening it in IrfanView.

Screen capture of image in IrfanView:
![irfanview](https://user-images.githubusercontent.com/29869988/171663840-f3ab429

[2022-06-03 14:03] rosiel commented on #2117
Interesting. I used the playbook, and I think it's my ImageMagick. Here's the output of `identify -version` and of an attempted convert on that file:

[code]

[code]

[2022-06-03 14:05] rosiel commented on #2117
I'll just leave it here that there's a javascript library for viewing Geotiffs in a browser that could potentially become a cool new viewer:

https://geotiffjs.github.io/

[2022-06-03 14:13] alxp commented on #2117
I didn't realize this but it looks like the playbook is using a custom ImageMagick package on CrayFish hosted by Lyrasis. Looks like it's so it has JP2 support.

roles/internal/Islandora-Devops.crayfish/tasks/install.yml

[code]

[2022-06-03 14:25] whikloj commented on #2117
I think @jonathangreen built that package for us waaaaaay back. But I could be getting confused.

[2022-06-03 14:38] alxp commented on #2117
There's documentation about it here. I don't know if it's still needed in ubuntu 20.04

https://islandora.github.io/documentation/technical-documentation/ppa-documentation/

[2022-06-03 15:04] alxp commented on #2117
Just checked and libopenjp2-tools does not confer support into ImageMagick so the custom package is still needed unless we update Crayfish to use a different command line tool for JP2. So perhaps one could re-compile the Lyrasis package with GeoTIFF support.

[2022-06-03 15:10] alxp commented on #2117
So open question:

Does ISLE's ImageMagick support JP2, if so how?

If not, what does Crayfish do to convert JP2 to other formats, and can / does playbook do the same thing in which case the custom package can be dropped?

[2022-06-03 17:57] rosiel commented on #2117
We also have this documentation for "[Updating a deb and uploading it to the Lyrasis PPA](https://islandora.github.io/documentation/technical-documentation/ppa-documentation/)" in the technical documentation for Islandora.

But as far as I can tell, [ISLE compiles their own version of Imagemagick](https://github.com/Islandora-Devops/isle-buildkit/blob/main/imagemagick/build/APKBUILD) but not in a

[2022-06-03 19:16] rosiel commented on #2117
BTW, ISLE processes jp2's fine.
- Inside the houdini container, `identify -version` showed jp2 listed among the built-in "delegates".
- And after 7 minutes that had me convinced something was broken, my JP2's derivatives showed up.
No worries!

[2022-06-06 17:02] rosiel opened #2119 "[BUG] OAI-PMH workaround for Linked Agent fields no longer works."
**What steps does it take to reproduce the issue?**

I spun up a fresh Playbook and added a Book record with some metadata. The author, who I entered in a Linked Agent field, isn't displaying in the OAI-PMH record.

* When does this issue occur?
When looking at records through OAI-PMH

* Which page does it occur on?
http://localhost:8000/oai/request?verb=GetRecord&metadataPrefix=oai_dc&identifier=

[2022-06-07 14:53] rosiel opened #2121 "Facets module installed by playbook (^1.6) is out of date (2.0.2 available)"
**Overview of feature request**

We should update facets and ensure that our out of the box config works for the new 2.x version.

**What kind of user is the feature intended for?**

Sys admin and user

**What inspired the request?**
Going through seeing what old versions we're installing

**What existing behavior do you want changed?**
 not really sure if it'll change behaviour.

**Any brand new

[2022-06-08 15:40] alxp commented on #2121
This should be a dependency in islandora_defaults, which has some facet configs in its 'optional' folder.

[2022-06-08 17:14] rosiel commented on #2119
This should be updated in the plugin in the OAI PMH modle

[2022-06-08 17:33] ysuarez commented on #2108
FYI @inikolaidis I just tried to create a new issues to see the template and it was not listed.

[2022-06-09 06:09] Frazer-Nyambe opened #2122 "Hands on"
i am a beginner, kindly assist me with the challenges i'm facing during the Islandora Manual Installation on Ubuntu 20.04.

Run the Drupal installer with Drush:

when i run the code below:
drush -y site-install standard --db-url="pgsql://drupal:drupal@127.0.0.1:5432/drupal9" --site-name="Islandora 2.0" --account-name=islandora --account-pass=islandora

i get the results below:
You are about to:
 *

[2022-06-09 15:28] inikolaidis commented on #2108
@ysuarez Just fixed this from @islandora-community and it should display now! The default health files placed in the Islandora/.github repo work well for all repositories that now have issue queues open and no existing .github folder within, but islandora/documentation's own .github folder overrides those from the islandora/.github defaults. I've copied the documentation issue template over so as

[2022-06-09 16:15] flummingbird commented on #2122
Hey,

It looks like there is a change missing in one of your configuration files.

I think this will help:

Edit the postgresql.conf file starting at line 642

   - sudo nano +642 /etc/postgresql/12/main/postgresql.conf

(if you don't like nano use a different editor vi/vim/emacs )

change line 642 from

bytea_output 'hex'

change to

bytea_output 'escape'

Then try that step again.

-Will

On Thu

[2022-06-09 16:32] flummingbird commented on #2122
Oh after you change that line you'll need to restart postgresql

   -

   sudo systemctl restart postgresql

-Will

On Thu, Jun 9, 2022 at 11:15 AM Will ***@***.***> wrote:

[2022-06-10 04:40] Frazer-Nyambe commented on #2122
I have tried that, but I'm still getting the same results.

On Thu, Jun 9, 2022 at 6:32 PM Will ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this email and then delete it from

[2022-06-15 17:18] jordandukart commented on #2122
Hey @Frazer-Nyambe, the error message explains what the issue is. You would need to run the following:

```The bytea_output setting is currently set to 'hex', but needs to be 'escape'. Change this by running the following query: ALTER DATABASE "drupal9" SET bytea_output = 'escape';```

That is when logged into your database you would need to run `ALTER DATABASE "drupal9" SET bytea_output = 'escape

[2022-06-15 18:24] islandora-community commented on #2108
See the commit to create docs-request.md in documentation repostory [here](https://github.com/Islandora/documentation/commits/main/.github/ISSUE_TEMPLATE/docs-request.md)

[2022-06-15 20:40] islandora-community commented on #2118
A [doc](https://docs.google.com/document/d/1h2KRHNtmyEf3hV5zeBF1O2AMx_WH1b0NWe3nRo5u3tk/edit?usp=sharing) to discuss CONTRIBUTING.md in future Tech Calls and the upcoming Documentation Sprint.
This reflects revisions made by @inikolaidis to reference the new issue templates. Comments and feedback are appreciated! @Islandora/documentation

[2022-06-21 16:18] Frazer-Nyambe commented on #2122
That worked!
Thank you so much

On Wed, Jun 15, 2022 at 7:18 PM Jordan Dukart ***@***.***>
wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this email and then delete it from your
system._

[2022-06-23 12:59] Frazer-Nyambe opened #2124 "Manual installation Hands on"
i'm now stuck on this step....

Creating a New Solr Core:

Initially, our new Solr core will contain a configuration copied from the example included with the installation, so that we have something to work with when we configure this on the Drupal side. We’ll later update this with generated configurations we create in Drupal.

cd /opt/solr
sudo mkdir -p /var/solr/data/SOLR_CORE/conf
sudo cp -r e

[2022-06-23 13:00] Frazer-Nyambe commented on #2122
i'm now stuck on this step....

Creating a New Solr Core:

Initially, our new Solr core will contain a configuration copied from the example included with the installation, so that we have something to work with when we configure this on the Drupal side. We’ll later update this with generated configurations we create in Drupal.

cd /opt/solr
sudo mkdir -p /var/solr/data/SOLR_CORE/conf
sudo cp -r e

[2022-06-23 15:52] flummingbird commented on #2124
what version of solr did you download when you ran wget?:

what happens when you type:
```ls /opt/solr```
does it list any folder contents?

[2022-06-24 07:57] Frazer-Nyambe commented on #2124
Solr 9.0.0

Yes it has:

frazer@frazer-Islandora:~$ ls /opt/solr
bin          docker  example   LICENSE.txt  NOTICE.txt           README.md
CHANGES.txt  docs    licenses  modules      prometheus-exporter  server

[2022-06-24 13:48] flummingbird commented on #2124
The structure of Solr 9.0.0 is a little different than 8.11
There are some files similar to the ones islandora's build instructions is asking you to move the conf files, but I haven't tried installing with solr 9. The files at  ```server/solr/configsets/_default/``` look similar to the ones at ```example/files/conf/```

I would do one of two things: either try the above directory instead of the on

[2022-06-26 07:57] Frazer-Nyambe commented on #2124
Thanks a lot, this worked just fine..

I'm currently facing a challenge on how to Configure search_api_solr.

How do I navigate to the rupal site ?

On Fri, Jun 24, 2022, 15:48 Will ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in er

[2022-06-26 07:58] Frazer-Nyambe commented on #2124
I'm on this step, but i don't really know how to navigate to the Drupal site.

Configuring search_api_solr

Before we can create configurations to use with Solr, the core we created earlier needs to be referenced in Drupal.

Log in to the Drupal site at /user using the sitewide administrator username and password (if using defaults from previous chapters this should be islandora and islandora), th

[2022-06-27 00:54] Frazer-Nyambe opened #2125 "Installation hands on"
i'm on the step below and the buffer is saying : [ Directory '/opt/karaf/bin' does not exist ]

Creating a setenv.sh Script for Karaf

Similar to Tomcat, our Karaf service is going to rely on a setenv shell script to determine environment variables Karaf needs in place when running. For now, this will simply be the path to JAVA_HOME, but this also accepts many other parameters you can find in the

[2022-06-27 00:56] Frazer-Nyambe commented on #2124
This has been fixed

[2022-06-27 15:28] #2124 closed, assigned to nobody

[2022-06-27 15:45] flummingbird commented on #2125
Frazer-Nyambe, I think this is a similar problem to what you've faced before:

check this path:
```ls /opt/karaf/```
or
``` ls /opt/apache-karaf-*```

if there isn't anything there go back to this step:

[code]

The variables in ALL_CAPS are supplied by you, visit https://karaf.apache.org/download.html for the KARAF_TARBALL_LINK probably (https://dlcdn.apache.org/karaf/4.4.0/apache-karaf-4.4.0.tar

[2022-06-27 15:46] flummingbird commented on #2122
Frazer-Nyambe: Did we resolve this one? If so let's close the issue.

[2022-06-27 15:47] #2106 closed, assigned to nobody

[2022-06-28 19:00] #2122 closed, assigned to nobody

[2022-06-28 19:01] #2098 closed, assigned to nobody

[2022-06-28 19:01] #2075 closed, assigned to nobody

[2022-06-28 19:06] Frazer-Nyambe commented on #2125
The first code outputs:
frazer@frazer-Islandora:~$ ls /opt/karaf/
ls: cannot access '/opt/karaf/': No such file or directory

Then the second code outputs the following content:
frazer@frazer-Islandora:~$ ls /opt/apache-karaf-*
bin          data    etc       lib      NOTICE     RELEASE-NOTES.md
BUILDING.md  deploy  examples  LICENSE  README.md  system

[2022-06-28 19:12] Frazer-Nyambe commented on #2125
is there some code i would run to probably uninstall karaf and restart the whole installation process.

[2022-06-28 19:38] Frazer-Nyambe commented on #2125
So the directory 'opt/karaf' does not exist, where is it created?:

frazer@frazer-Islandora:/opt$ sudo mv /opt/apache-karaf-4.4.0/* opt/karaf
mv: target 'opt/karaf' is not a directory

[2022-06-28 19:55] seth-shaw-unlv commented on #2125
`opt/karaf` is relative because it lacks the leading '/'. Try `sudo mv /opt/apache-karaf-4.4.0/* /opt/karaf`

Although, with Alpaca 2.0, you no longer need Karaf. The installation instructions should be updated to reflect that.

[2022-06-28 20:01] Frazer-Nyambe commented on #2125
@seth-shaw-unlv i'm still getting the below output:

frazer@frazer-Islandora:/opt$ sudo mv /opt/apache-karaf-4.4.0/* /opt/karaf
mv: target '/opt/karaf' is not a directory

[2022-06-28 20:10] seth-shaw-unlv commented on #2125
Well it looks like the step earlier in the instructions, `sudo adduser karaf --ingroup karaf --home /opt/karaf --shell /usr/bin`, wasn't successful in creating the home directory.  I suppose you could try running that again, or simply create the directory manually: `sudo mkdir /opt/karaf`.

Alternatively, you could create a link instead of moving everything over: `sudo ln -s /opt/apache-karaf-4.4.

[2022-06-28 20:27] Frazer-Nyambe commented on #2125
The file path below tells me that...... [ Directory '/opt/karaf/etc' does not exist ] ...... ON the step for Configuring Karaf Logging

frazer@frazer-Islandora:/opt$ sudo nano /opt/karaf/etc/org.pos4j.pax.logging.cfg

[2022-06-28 20:33] Frazer-Nyambe commented on #2125
or maybe help me with the uninstallation instructions so that i can restart the whole process for karaf

[2022-06-29 18:32] flummingbird commented on #2125
Sorry you're having so much trouble.

I think we can get what you have fixed.
```ls /opt/apache-karaf-4.4.0/*```

If it outputs ```bin data etc lib NOTICE RELEASE-NOTES.md```
then you still have the files you need. We just need to get them to a directory.

If you can confirm that ```ls /opt/karaf```
is not a directory try running ```sudo mkdir /opt/karaf```
then ```ls /opt``` you should see karaf

[2022-06-30 21:19] Frazer-Nyambe commented on #2125
This worked thank you

[2022-06-30 21:46] #2125 closed, assigned to nobody

[2022-06-30 21:53] Frazer-Nyambe opened #2126 "Installation Hands on"
I'm on the step for  "Initializing Karaf"  where i seem to have a problem:

what is the correct output for the below codes? and what could be the reason for "Failed to get the session" if at all it's not the right output?

frazer@frazer-Islandora:/opt$ /opt/karaf/bin/client feature:install wrapper
Logging in as karaf
Failed to get the session.
frazer@frazer-Islandora:/opt$ /opt/karaf/bin/client wr

[2022-06-30 21:57] Frazer-Nyambe commented on #2126
when i run: ps aux | grep karaf

i get the output below:

karaf       6032  0.0  0.0   2616  1868 pts/0    S    23:29   0:00 /bin/sh /opt/karaf/bin/karaf server
karaf       6085  0.2  1.2 4629788 65468 pts/0   Sl   23:29   0:02 /usr/lib/jvm/java-11-openjdk-amd64/bin/java -XX:+UnlockDiagnosticVMOptions --add-reads=java.xml=java.logging --add-exports=java.base/org.apache.karaf.specs.locator=java.xml

[2022-07-04 20:32] #2126 closed, assigned to nobody

[2022-07-04 20:37] Frazer-Nyambe opened #2127 "Installation Hands on"
i'm stuck on the step: Adding the Required Karaf Repositories

and when i run the code: /opt/karaf/bin/client repo-add mvn:org.apache.activemq/activemq-karaf/5.15.11-1/xml/features

i get the below output:
Logging in as karaf
/opt/karaf/data/tmp/jansi-2.4.0-dfaba960be2eb5d1-libjansi.so.lck (Permission denied)
Adding feature url mvn:org.apache.activemq/activemq-karaf/5.15.11-1/xml/features
Error ex

[2022-07-04 20:55] Frazer-Nyambe commented on #2127
resolved

[2022-07-04 20:55] #2127 closed, assigned to nobody

[2022-07-04 21:41] Frazer-Nyambe opened #2128 "Installation Hands on"
i'm currently stuck on the step:   Installing the Required Karaf Features

when i run the code below:
frazer@frazer-Islandora:~$ sudo /opt/karaf/bin/client feature:install activemq-blueprint

i get the output below:
Logging in as karaf
Error executing command: Unable to resolve root: missing requirement [root] osgi.identity; osgi.identity=activemq-blueprint; type=karaf.feature; version="[5.15.11,5

[2022-07-05 17:31] alxp opened #2129 "[BUG] Batch Upload Children can't upload any files"
**What steps does it take to reproduce the issue?**

Tested on ISLE and Virtualbox / Playbook with same errors:

1. Go to a Repository Item, then click on the Children tab.
2. Click the '+ Batch Upload Children' button.
3. Click 'Choose file' and select a file or files to upload.

* When does this issue occur?

Always

* Which page does it occur on?

Batch Upload Children

* What happens?

The err

[2022-07-06 13:42] flummingbird commented on #2128
I'm not quite sure what's up here, the build instructions do say to use a version of Karaf 4.2.x so they may be out of date with this Karaf version

but can you check contents.

```cat /opt/karaf/etc/org.pos4j.pax.logging.cfg```

Just want to make sure it matches what's expected.

[2022-07-06 19:55] Frazer-Nyambe commented on #2128
I get the output below:

frazer@frazer-Islandora:~$ cat /opt/karaf/etc/org.pos4j.pax.logging.cfg
# Root logger
log4j.rootLogger=INFO, out, osgi:*
log4j.throwableRenderer=org.apache.log4j.OsgiThrowableRenderer

# File appender
log4j.appender.out=org.apache.log4j.RollingFileAppender
log4j.appender.out.layout=org.apache.log4j.PatternLayout
log4j.appender.out.layout.ConversionPattern=%d{ISO8601} | %-5

[2022-07-07 19:44] flummingbird commented on #2128
Ok that wasn't it. Your file looks fine.

This part of the error I think is the most important now:
```Unable to resolve activemq-blueprint/5.15.11: missing requirement```

When I was last installing activemq I found the documentation a little lacking:
Try checking [this](https://websiteforstudents.com/how-to-install-apache-activemq-on-ubuntu-20-04-18-04/)

I have a few other things to try.

can y

[2022-07-07 22:26] Frazer-Nyambe commented on #2128
The code below outputs:

frazer@frazer-Islandora:~$ cat /etc/systemd/system/activemq.service
cat: /etc/systemd/system/activemq.service: No such file or directory
frazer@frazer-Islandora:~$

[2022-07-07 22:36] Frazer-Nyambe commented on #2128
frazer@frazer-Islandora:~$ cat /etc/systemd/system/activemq.service
cat: /etc/systemd/system/activemq.service: No such file or directory

[2022-07-08 12:42] jordandukart commented on #2129
We're tracking a similar issue with this internally with the `Batch Upload Children` functionality which runs into the similar issues to which you are seeing. Fixing both these forms is work we are willing to undertake and contribute back but it may make sense to align thoughts / direction on the next tech call to ensure everyone is on board for the proposed changes.

[2022-07-08 13:27] Frazer-Nyambe commented on #2128
Using the suggested trying options i'm getting the below output:

frazer@frazer-Islandora:/tmp$ /opt/activemq/bin/activemq status
INFO: Loading '/etc/default/activemq'
INFO: Using java '/usr/bin/java'
ActiveMQ not running

[2022-07-09 04:28] flummingbird commented on #2128
If that's the case I think you need to go back to this step https://islandora.github.io/documentation/installation/manual/installing_karaf_and_alpaca/#activemq-5
If you're able to successfully install activemq I think the step you're on with karaf will resolve.

I think maybe we should ask @seth-shaw-unlv  about how we could update the current documentation to reflect the change he mentioned where

[2022-07-09 23:28] Frazer-Nyambe commented on #2128
I've gone back to the specified step of installing Activemq, but still
facing the same issue.

On Sat, Jul 9, 2022, 06:29 Will ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this

[2022-07-13 06:28] Frazer-Nyambe opened #2132 "Hands on"
I'm getting the below message when i try to access the Manager App and Server Status on localhost:8080...

HTTP Status 404 – Not Found

Type Status Report

Message The requested resource [/manager/html] is not available

Description The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.
Apache Tomcat/9.0.64

What should i do t

[2022-07-13 06:33] Frazer-Nyambe commented on #2128
This issue still remains unresolved....
Kindly assist me with the instructions for installing Alpaca 2, which does not need karaf.

[2022-07-13 12:02] rosiel commented on #2121
Due to the config being "optional", it is designed to load those configs if facets is already present. It would break the model that is currently in place to make it a dependency of defaults - that would require us to move those configs to 'install' instead of 'optional'. It makes sense given the way that defaults is set up that we have facets in the playbook.

But there are a number of other modu

[2022-07-14 12:45] alxp commented on #2121
Resolved by https://github.com/Islandora-Devops/islandora-playbook/pull/222

[2022-07-14 12:45] #2121 closed, assigned to alxp

[2022-07-14 16:09] adam-vessey opened #2134 "[BUG] File access is not ensured before attempting to use them in IIIF/OpenSeadragon"
**What steps does it take to reproduce the issue?**

* When does this issue occur?

This was encountered when setting a "file"-level embargo using the [dgi's fork of the `embargoes` module](https://github.com/discoverygarden/embargoes/); however, any other mechanism to constrain access to particular file entities would similarly cause it to happen.

* Which page does it occur on?

Viewing images/p

[2022-07-14 19:42] alxp opened #2135 "[BUG] 'generate_image_derivative_file' and 'generate_extracted_text_file' actions not working"
There are a couple of Actions that ship with Islandora Defaults built to show Islandora's Multi-file Media approach.

They seem to not be functional at the moment.

Test results on fresh Playbook run which has working thumbnail and extracted text generation using the actions that create new Media entities:

Hypercube log after "Generate Extracted Text for Media Attachment" action invokes Crayfish:

[2022-07-15 13:08] alxp commented on #2135
Tackling the white screen first, this looks like a pretty simple thing,

In AbstractGenerateDerivativeMediaFile.php

[code]

The event is emitted on the parent node called in islandora_file_update() hook. Since the Generate Thumbnail File event doesn't apply to nodes, it's bailing. But it's returning NULL, but the calling code keeps going and tries to construct a Stomp Header with "NULL" for data,

[2022-07-15 17:16] alxp commented on #2135
I think I need some help to understand what is supposed to be going on in the logic to generate derivatives:

Here is the call stack that leads up to the error:

![image](https://user-images.githubusercontent.com/82412/179257620-1e324d02-4d47-4440-a69e-3a38620aefb6.png)

The islandora_file_update() hook grabs a Media's parent and generates derivatives, passing the $node and the $media along:

[cod

[2022-07-15 17:25] rosiel commented on #2135
In that mess of hook_insert()s and hook_updates (for nodes, media, and files) there are a few places where `DerivativeFileReaction` gets called:
- on hook_media_update() when the source file changes
- on hook_media_insert() as a shutdown function cause  the media doesn't exist yet. `drupal_register_shutdown_function('_islandora_fire_media_file_derivative_reaction', $media);`

It doesn't run on fil

[2022-07-15 18:29] #2135 closed, assigned to nobody

[2022-07-15 18:32] ajstanley commented on #2135
Video docs - https://www.youtube.com/watch?v=3U6tBvD8oJY

[2022-07-18 16:09] rosiel commented on #1583
This is still an issue. When Hypercube gets a PDF, it uses pdftotext instead. This was done as part of the RDM work.

We did not realize that you can get text out of most text-containing files (and if you want into the solr index) with https://www.drupal.org/project/file_extractor.

I have a PR coming after I run the tests.

[2022-07-18 17:37] flummingbird commented on #2128
If that's the case I think you need to go back to this step https://islandora.github.io/documentation/installation/manual/installing_karaf_and_alpaca/#activemq-5
If you're able to successfully install activemq I think the step you're on with karaf will resolve.

I think maybe we should ask @seth-shaw-unlv  about how we could update the current documentation to reflect the change he mentioned where

[2022-07-18 17:39] flummingbird commented on #2128
Frazer, Are you aware of the google group? I think we may be better off getting help there.

https://groups.google.com/g/islandora

[2022-07-18 17:46] Frazer-Nyambe commented on #2128
No, I'm not. Kindly assist me on how to go about it.

On Mon, Jul 18, 2022, 19:39 Will ***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this email and then delete it from your
syst

[2022-07-19 19:21] islandora-community commented on #2132
Hi @Frazer-Nyambe , our team has noticed the issues you've filed and suggests [joining a future Tech Call](https://github.com/Islandora/islandora-community/wiki/Tech-Call-Meetings-2022) if you can (the next meeting is [July 20 at 1pm EST](https://github.com/Islandora/islandora-community/wiki/July-20%2C-2022)). We may be able to provide better support over Zoom.

[2022-07-20 00:29] Frazer-Nyambe commented on #2132
Alright thank you. Surely I'll join.

On Tue, Jul 19, 2022, 21:21 Islandora Foundation Community <
***@***.***> wrote:

--
_
_
_CONFIDENTIAL NOTICE: This message (and its attachments) may contain
confidential information. Any unauthorized use or disclosure is prohibited.
If you have received this communication in error, please notify us
immediately by responding to this email and then delete it fr

[2022-07-20 14:43] rosiel commented on #1583
I do not have a PR coming. It turns out Hypercube on its own does not accept PDFs, you need a wrapper like [ocrmypdf](https://github.com/ocrmypdf/OCRmyPDF).

[2022-07-20 17:15] DonRichards commented on #1583
Linked to this as well https://github.com/Islandora/documentation/issues/1012

[2022-07-20 19:20] adam-vessey commented on #1504
I think this has been addressed with the move to pull OpenSeadragon from a CDN in https://github.com/Islandora/openseadragon/pull/26; please feel free to reopen if this is not indeed the case.

[2022-07-20 19:20] #1504 closed, assigned to nobody

[2022-07-20 19:34] ysuarez commented on #2132
FYI, I spoke to Frazer by email and confirmed that he is using the "manual" installation process. I will work with him by email and/or Slack to try another installation approach if possible like ISLE or the newer "[demo install](https://islandora.github.io/documentation/installation/install-a-demo/)" (ISLE + Portainer)

[2022-07-21 19:29] mjordan opened #2138 "[BUG] Installation of Solr in Playbook is failing"
For two consecutive attempts this morning, building the Playbook has failed for me when it attempts to install Solr. Here is the top of the error I am seeing (it goes on for hundreds of lines, mostly reporting the inability to create subcategories):

[code]

**What steps does it take to reproduce the issue?**

Try to build an Islandora Playbook. I  am using code at  311aa2126947869ce20d7765e9689de

[2022-07-22 15:21] BuddyinKC opened #2139 "[DOCS]Links to Audio and Video sections of Behaviours (Models) broken"
Started with https://islandora.github.io/documentation/concepts/collection/ and noticed there was Paged Content, Audio and Video. But the links for Audio and Video generate 404 errors. Links have a different structure:

Audio - https://islandora.github.io/documentation/models/audio.md

Video - https://islandora.github.io/documentation/models/video.md

* **If applicable, link to the [documentation

[2022-07-24 18:53] rosiel commented on #2003
Fixed with https://github.com/Islandora/islandora/pull/860

[2022-07-24 20:25] ajstanley commented on #2003
There was already an Action plugin for this.
[Here](https://github.com/Islandora/islandora/blob/2.x/modules/islandora_image/src/Plugin/Action/GenerateImageDerivativeFile.php).

[2022-07-25 00:43] rosiel commented on #2003
I didn't see it because it's within islandora_image, a submodule that I didn't have enabled. My bad...

Unfortunately, the "Generate an Image Derivative for Media Attachment" option _also_ only lets you select file fields - until islandora/islandora#860.

It appears since this PR hits the parent class, `AbstractGenerateDerivativeMediaFile`, it also applies to all multi-file media derivatives. I'll

[2022-07-26 16:51] rosiel opened #2140 "[DOCS] Multi-File Media"
Multi-file media is a feature that needs to be better documented. This is a stub for that.

* **If applicable, link to the [documentation page](https://islandora.github.io/documentation/) relevant to your issue below.**

* **If this is a request for __new__ documentation, where in the [existing documentation](https://islandora.github.io/documentation/) does this documentation belong?**

* **Descri

[2022-07-26 17:01] rosiel commented on #1541
Islandora Defaults fixes this after all of our in-depth discussion, but the Sandbox and the Install Profile don't. The sandbox looks like this as of today:
<img width="465" alt="Screen Shot 2022-07-26 at 2 00 39 PM" src="https://user-images.githubusercontent.com/1943338/181066625-fb339e88-ef6b-4f29-b7d1-7b05600bdd4a.png">

[2022-07-27 09:13] alxp commented on #2138
Hi @mjordan ,

I was just able to run a full playbook install on to a Vagrant box running Ubuntu 20.04 (recently updated focal64 base box)

Are you deploying to Vagrant or to a remote server?

I did run in to a similar error of tar reporting that it couldn't open a file and I think it ended up being a network error. Perhaps some basic checking of m35 sums of downloaded files would be good practic.

[2022-07-27 17:36] rosiel commented on #2139
Yep - that was a @todo - i'll get on that!

[2022-07-27 18:41] mjordan commented on #2138
Huh, it's building fine now. Sorry for the false report!

[2022-07-27 18:41] #2138 closed, assigned to nobody

[2022-07-27 18:41] mjordan commented on #2138
BTW I was building to Vagrant on my laptop.

[2022-07-27 18:54] rosiel commented on #1942
This can be done, it requires:

* Views Bulk Operations
* Views Bulk Edit (for moving/sharing)

What VBE lets you do is set a field value, and you must select whether to:
* add this value to existing values
* replace existing values

What you are NOT able to do is move nodes _from_ collection A _to_ collection B if they are also members of various other collections.

[2022-07-28 08:12] pieva opened #2141 "[DOCS] Broken link"
* **If applicable, link to the [documentation page](https://islandora.github.io/documentation/) relevant to your issue below.**

* **If this is a request for __new__ documentation, where in the [existing documentation](https://islandora.github.io/documentation/) does this documentation belong?**

* **Describe your documentation request.**

* **Which version of islandora are you using?**

* **What

[2022-07-28 08:16] pieva commented on #2141
The link "(See "[Typed Relation](https://islandora.github.io/documentation/technical-documentation/user-documentation/metadata/#typed-relation)" for more information on the Linked Agent field.)" at the page https://islandora.github.io/documentation/technical-documentation/migrate-csv/ is broken.

[2022-07-28 21:11] jasonhildebrand commented on #1580
I understand that Islandora 8 does not support the ability to highlight search results when using openseadragon.  I'm contributing our use case in the hopes that this feature will be prioritized soon.

In our case, we are digitizing PDF files using Abbyy Finereader, which supports OCR of German Gothic script (fraktur).  It produces PDF files containing the scanned image, as well as the OCR'd text

[2022-07-29 20:54] rosiel commented on #2129
I'm guessing you mean `Batch Upload Media` because I'm finding the same on there, too. I'll put this on the agenda for the tech call following the Conference.

[2022-07-29 21:33] #2139 closed, assigned to rosiel

[2022-07-29 21:33] #2141 closed, assigned to nobody

[2022-07-29 21:35] rosiel commented on #2140
I forgot. We have it, nested under "Media."
https://islandora.github.io/documentation/user-documentation/media/#multi-file-media

[2022-07-29 21:35] #2140 closed, assigned to nobody

[2022-07-31 13:28] rosiel commented on #1439
If I understand, "we're sanitizing file names upon upload" means we're installing [transliterate_filenames](https://www.drupal.org/project/transliterate_filenames) in the Playbook and install profile. And that @seth-shaw-asu did something (maybe under his previous handle) that populated the Original File field. Is it public?

[2022-08-01 17:10] DonRichards opened #2145 "Content > Media tab indicate not Drupal Core"
Change the color of tabs created by Islandora to indicate to the user that this feature isn't core Drupal. There is some overlap in concepts like "media" that adds confusion when working within the UI.

**Overview of feature request**
Change the CSS in the admin UI for areas that are generated by Islandora that should be differentiated from other Drupal areas that could be confusing.

**What kind

[2022-08-02 19:46] ruebot opened #2148 "[BUG] Node Bundle (Deprecated) -- Repository items are not indexed in fcrepo upon creation"
**What steps does it take to reproduce the issue?**

* When does this issue occur?

Nodes being created are not indexed into fcrepo.

* Which page does it occur on?

`admin/structure/context/repository_content`

* What happens?

This is a deprecation issue with Drupal 9.4.x. Node Bundle appears to be Deprecated in 9.3.x, and is completely gone in Drupal 9.4.x. As a result, the repository context (

[2022-08-03 21:10] ysuarez opened #2151 "[DOCS] Create glossary entry for Drupal "contexts""
* **If applicable, link to the [documentation page](https://islandora.github.io/documentation/) relevant to your issue below.**
https://islandora.github.io/documentation/user-documentation/glossary/

* **If this is a request for __new__ documentation, where in the [existing documentation](https://islandora.github.io/documentation/) does this documentation belong?**

* **Describe your documentation

[2022-08-04 11:27] seth-shaw-asu commented on #1439
We populated it with our Migration API configurations. To do this via the Web UI you may be able to do this via some JavaScript that grabs the original name before the transliterate changes it. Workbench could probably also be updated to do this (if it doesn't already).

[2022-08-04 17:01] nigelgbanks commented on #1908
Just to puts some notes here from mucking around.

Depending on the system environment that is used when either creating the first lock file or updating it can change the generated lock files contents.

So for example if the system has PHP 7.4 installed composer will choose the package that supports PHP 7.4 when generating the lock file in the cases where a dependencies supports multiple versions

[2022-08-09 20:04] seth-shaw-asu opened #2152 "[BUG] WSOD when entity passed to AbstractGenerateDerivativeMediaFile::generateData is not a Media"
**What steps does it take to reproduce the issue?**

- Add a Media derivative action that gets triggered in a Node context. (I don't have a sandbox example as our derivative reaction is a local development)
- Be greeted with a WSOD.

See details @ https://github.com/asulibraries/islandora-repo/issues/550

TL;DR: `AbstractGenerateDerivativeMediaFile::generateData` returns nothing if triggered on a

[2022-08-10 17:28] seth-shaw-asu commented on #1908
General consensus from the Tech Call today is that we can remove `composer.lock`.

[2022-08-10 20:43] seth-shaw-asu commented on #1580
The Islandora-Lite folks @ the University of Toronto Scarborough (tagging @kstapelfeldt and @Natkeeran) did[ a demonstration of their setup during IslandoraCon 2022](https://2022.islandora.ca/schedule/#islandora-lite-update) which included improvements in viewer-supported OCR. I believe they were using annotations served via IIIF, but I don't recall details. I look forward to watching their presen

[2022-08-10 23:30] #2148 closed, assigned to ruebot

[2022-08-11 14:09] mjanowiecki opened #2153 "Add section to Documentation Style Guide recommending linking terms to glossary [DOCS]"
* **If applicable, link to the [documentation page](https://islandora.github.io/documentation/) relevant to your issue below.**

    [Documentation Style Guide Do's](https://islandora.github.io/documentation/contributing/docs_style_guide/#dos)

* **Describe your documentation request.**

    As discussed in the Documentation Interest Group on [2022-08-10](https://github.com/islandora-interest-grou

[2022-08-11 14:35] mjanowiecki opened #2154 "Potential idea for discussion: re-arranging *Using Islandora* section [DOCS]"
* **If applicable, link to the [documentation page](https://islandora.github.io/documentation/) relevant to your issue below.**

I'm not sure how to link to it, but I'm looking at the section of documentation that is nested under https://islandora.github.io/documentation/user-documentation/

* **If this is a request for __new__ documentation, where in the [existing documentation](https://islandora

[2022-08-12 16:38] seth-shaw-asu commented on #2152
Resolved with https://github.com/Islandora/islandora/commit/62fbc6d288434cf6b9f2fa6eecf04ad645e4b1b8

[2022-08-12 16:38] #2152 closed, assigned to seth-shaw-asu

[2022-08-17 14:29] Natkeeran commented on #1580
To clarify, it is an early prototype.  Please see additional info here: https://github.com/digitalutsc/islandora_lite_docs/wiki/Mirador-Search-and-Annotations-(Prototype)

@alxp (UPEI) is also looking into this feature.

[2022-08-18 17:47] marc1aj commented on #2129
It's happening with both Batch Upload Children and Media.

[2022-08-22 19:08] mjanowiecki commented on #2154
@rosiel I'm just tagging you Rosie because it seems like you have worked a fair amount on these sections and would love to hear what you think :)

[2022-08-22 21:51] rosiel commented on #2154
I love it! I'd be happy to work with you on this.

[2022-08-23 13:08] mjanowiecki commented on #2154
awesome! maybe I could do a draft and you could review?

[2022-08-24 17:19] wgilling commented on #1580
I'd love to first explore the [Mirador Search and Annotations (Prototype)](https://github.com/digitalutsc/islandora_lite_docs/wiki/Mirador-Search-and-Annotations-(Prototype)) and work with @alxp on this solution since it seems like anybody who is using mirador already would be able to use this.

Jordan Dukart had referenced the mirador-textoverlay code here https://github.com/dbmdz/mirador-textove

[2022-08-24 18:24] #2151 closed, assigned to nobody

[2022-08-31 22:14] seth-shaw-asu commented on #2134
Anything else, @adam-vessey?

[2022-09-01 01:16] rosiel commented on #1523
All of these suggestions to "fix" an individual site do not address the fact that people continue to and will continue to get confused and frustrated by this.

As the feature is presented to the user (make Fedora URI available for these content types), the logical expected behaviour is, as Mark said, for the Fedora URI field to not show up when it's not checked. How much effort would it take to ma

[2022-09-01 14:48] adam-vessey commented on #2134
Nah, that was it... except... I guess, releases of the two things, `islandora` and `openseadragon`? Drafted... sane (assuming they're visible)?:

- ~~https://github.com/Islandora/islandora/releases/tag/untagged-1e1e9e3fd185b3012538~~ https://github.com/Islandora/islandora/releases/tag/2.4.3
- ~~https://github.com/Islandora/openseadragon/releases/tag/untagged-7d244167655e8480fbe0~~ https://github.c

[2022-09-01 14:51] #2134 closed, assigned to nobody

[2022-09-07 18:01] rosiel opened #2161 "[TECH DEBT] Start using migration "tags" instead of relying on migration groups"
**Overview of feature request**

Paraphrase from @adam-vessey:

Drush is starting to [which versions?] include on its own the functionality that we currently get from the `migrate_plus` [wrong; see Adam's comment below] module.

Islandora Core Feature, Islandora Defaults, and potentially others ship migrations that use the "migrate_group" parameter provided by `migrate_plus` [oops, `migrate_tools`

[2022-09-07 18:34] adam-vessey commented on #2161
Looks like Drush rolled its own `migrate:import`, `:rollback`, etc as of 10.4.0 (the commit introducing it: https://github.com/drush-ops/drush/commit/302bda887c8c8d15c01aa730c95baf7cf8a7aa25).

Also, just for reference, the present `migrate:import` is from the [`migrate_tools` module](https://www.drupal.org/project/migrate_tools)... `migrate_tools`' implementation _does_ support `migrate_plus`' co

[2022-09-08 09:32] bibliophileaxe opened #2162 "Allow homarus to use faststart while converting videos"
**Overview of feature request**
The current implementation of ffmpeg conversion does not use faststart, which enables videos to be played instantly. However, faststart does not work on fragmented videos and it also does not work with stdout pipes. In order to do this, we need to remove fragmentation and save the video as a tempfile. The response type would change from StreamedResponse to BinaryFil

[2022-09-08 12:17] rosiel opened #2163 "[TECH DEBT] Break out Mirador into a separate module"
**Overview of feature request**

Mirador functionality is currently bundled in a submodule of Defaults. But there is no reason the code shouldn't be a standalone viewer module like OpenSeadragon.

The only thing that would have to be moved are the configs under config/install _that are not setting default values for the options provided for this module itself_ (contexts, entity view displays, etc)

[2022-09-08 13:56] adam-vessey opened #2164 "[TECH DEBT] Incomplete/undefined config schemas"
**Overview of feature request**

Coming out of the [starter](https://github.com/Islandora/islandora-starter-site) [site](https://github.com/Islandora/islandora-starter-site/issues/2) [project to replace `islandora_defaults`](https://github.com/Islandora/islandora_defaults/issues/74), it was noticed that there's a number of different pieces of config defined by Islandora which are not described by

[2022-09-09 12:53] dannylamb opened #2165 "PDF Image Derivatives could be more efficient"
When an image derivative is made for a PDF, the _entire_ PDF is used to generate the image.  Every page is taken and then flattened into one image, so it takes a while and the resulting image is oversized.  With a small chunk of code, you can say "just use the first page", which yields the exact same derivative, just smaller and faster.

**What steps does it take to reproduce the issue?**
Upload a

[2022-09-13 14:00] rosiel commented on #1993
This has been completed! somewhere around here: https://github.com/Islandora-Devops/islandora-playbook/pull/206

[2022-09-13 14:00] #1993 closed, assigned to alxp

[2022-09-13 14:08] rosiel opened #2166 "[CODE TASK] Playbook takes a very long time."
Every time you spin up the Playbook, you have to wait for almost an hour as various things are downloaded, compiled, and installed.

I would like a faster way to "spin up" the environment for testing, especially for testing
* the installation and configuration of the Islandora Starter Site
* changes to the Islandora Starter Site, such as changes to config and module requirements, that do not impac

[2022-09-14 17:25] rosiel commented on #2166
Notes from Tech Call today:
* The Playbook is like this, that's why ISLE sounds so good!
* an "everything but the drupal" base box might be nice, as we  used to
* there might be instructions to create and load that base box somewhere.
* automate - every merge to the playbook could automatically build a machine (vagrant cloud?)

[2022-09-14 17:29] rosiel commented on #2165
It'd be nice to have the page number extracted as an option in the System Action (often ETDs etc have boilerplate cover pages). This'll be a separate issue.

[2022-09-14 17:37] rosiel opened #2168 "Allow PDF TN page be configurable in the derivative action"
Follow-up to the awesome, time-saving #2165 :

**Overview of feature request**
 Sometimes repo PDFs such as ETDs contain cover pages that make bad thumbnails.

**What kind of user is the feature intended for?**
Collections managers, specifically IR managers

**What inspired the request?**
 #2165

**What existing behavior do you want changed?**
 Right now the behaviour is hard coded to get only the

[2022-09-14 17:44] mjanowiecki commented on #2154
Ok, I did a draft but I somehow pushed it to an old patch of mine? https://github.com/Islandora/documentation/compare/mjanowiecki-patch-1?

[2022-09-14 17:50] jordandukart opened #2169 "[TECH DEBT] Crayfish controllers hardcode parameters"
**Overview of feature request**
 Crayfish controllers hardcode parameters on commands examples: https://github.com/Islandora/Crayfish/blob/0a4e8d2b546f47f33c1a22f1a1ed1a3293e2f838/Houdini/src/Controller/HoudiniController.php#L121-125 and https://github.com/Islandora/Crayfish/blob/0a4e8d2b546f47f33c1a22f1a1ed1a3293e2f838/Homarus/src/Controller/HomarusController.php#L117.

Moving this to be complete

[2022-09-14 17:53] mjanowiecki commented on #2154
How the sidebar looks in patch (approximately):
![Screen Shot 2022-09-14 at 12 14 42 PM](https://user-images.githubusercontent.com/32551917/190227232-6f1ed48b-aacc-4fa5-9b25-b1f8c8f87f41.png)

[2022-09-14 18:04] dannylamb commented on #2165
Closing this and staying tuned to https://github.com/Islandora/documentation/issues/2168

[2022-09-14 18:04] #2165 closed, assigned to nobody

[2022-09-14 18:37] whikloj commented on #2166
Sorry I had a conflicting meeting, but I had a thought that the only issue would be for those that want to use the playbook to provision an actual server. Where they would want Solr/Blazegraph/etc downloaded and Grok compiled as well.

So some alternate playbook for choosing to install those items or assume they are installed would be good.

[2022-09-14 18:49] whikloj commented on #2169
This makes sense. But then so does https://github.com/Islandora/Crayfish/pull/133

[2022-09-14 19:12] adam-vessey commented on #2164
Feel like I should highlight, but [as of Drupal 9.3, the schemas are used to establish the order of properties in exported configurations](https://www.drupal.org/node/3230199), so having things fully defined should (eventually) lead to cleaner diffs with configuration changes.

[2022-09-14 22:40] #2118 closed, assigned to inikolaidis

[2022-09-15 14:46] mjordan opened #2170 "Sort "manage members" View results by field_weight"
**Overview of feature request**

Currently, the "Manage Members" View (which populates the "Members" tab in default repository items) is unsorted. Since we use `field_weight` to determine the sort order of children/members, it would improve UX to have this View present a parent's children sorted using that field.

**What kind of user is the feature intended for?**

Collections Manager

**What insp

[2022-09-15 16:53] alxp commented on #2163
I've added LICENSE and README files to https://github.com/alxp/islandora_mirador. It should be good to move to Islandora organization.

@inikolaidis is there any updated boilerplate I should also add?

[2022-09-15 16:57] whikloj commented on #2164
I'll leave this open for now to see if there are other schemas to be fixed.

But this also is bringing to light other configuration issues where variable type is not matching the configuration.
[code]
and the config shows
[code]

[2022-09-15 21:25] inikolaidis commented on #2163
@alxp Small changes made to the README in this PR: https://github.com/alxp/islandora_mirador/pull/1

[2022-09-16 18:31] whikloj commented on #1224
🥲 resolved with https://github.com/Islandora/Crayfish/commit/82320e5e6c4360b2dfceb658a43c543bff885a04

[2022-09-16 18:31] #1224 closed, assigned to adam-vessey, whikloj

[2022-09-16 18:33] rosiel commented on #2062
Islandora Defaults is being deprecated. The testing instructions for its replacement the [Starter Site](https://github.com/Islandora/islandora-starter-site/), are:

* You must create a fresh new site to test the starter site. That's just how it works. You will destroy your old site.
* ISLE: change the line reading `composer create-project islandora/islandora-starter-site:dev-main` to specify the b

[2022-09-16 18:33] #2062 closed, assigned to rosiel, DonRichards

[2022-09-16 19:18] rosiel commented on #1478
We're deprecating Islandora Defaults. No config in its replacement, the Starter Site, should have ... oh. There are 84 configs in the starter site with `enforced`. This is indeed a problem.

I'd rather we remove the enforcement altogether. Right now, uninstalling the `islandora_core_feature` would remove so much it would make your site useless. For instance, it will remove every media type altoget

[2022-09-16 19:19] #1536 closed, assigned to nobody

[2022-09-16 19:22] #1241 closed, assigned to nobody

[2022-09-16 19:22] #1739 closed, assigned to manez

[2022-09-16 19:25] #2007 closed, assigned to nobody

[2022-09-16 19:37] #1913 closed, assigned to eldonquijote

[2022-09-20 17:13] alxp commented on #2163
@inikolaidis Thanks! Merged in to my islandora_mirador instance.

[2022-09-21 15:13] rosiel commented on #2163
Our LSAP (currently being reworked and I dont know of a public facing document - ping @islandora-community), to be accepted by the Foundation as a module, it should have tests and a Github Workflows integration that runs them (as well as code sniffer and codecov).

I also would like to strip out the Feature module that contains configuration specific to islandora, and include it in the Islandora S

[2022-09-21 15:27] rosiel opened #2175 "[TECH MGMT] Develop release process(es) for Starter Site, Playbook, and ISLE."
**Overview**

We should really be versioning the Playbook, ISLE, and the (new) Islandora Starter Site. Since the first two provide the environment for the third, they form a pretty closely coupled trio.

Can we please use some kind of structured versioning? It would make it much easier in Composer, and could make "what version are you on" something we can talk about.

**What kind of user is the fe

[2022-09-21 15:52] alxp commented on #2163
Tests are a good idea but since the code itself is already in the Islandora project, just under islandora_defaults, I don't think the LSAP applies in this case so perhaps it's not necessarily a blocker. I will look in to making a test regardless.

[2022-09-21 17:02] rosiel commented on #2163
Making this available for everyone to improve sounds like the best plan. The repo has been transferred and is at
https://github.com/Islandora/islandora_mirador

Do not close until documentation repo is updated.

[2022-09-21 17:18] rosiel commented on #2163
Repo needs to be registered with Packagist.
Need to roll a release of Islandora Defaults that doesn't include Mirador.

[2022-09-21 18:32] #2170 closed, assigned to mjordan

[2022-09-21 18:33] whikloj commented on #2169
Looking in to this, I'm wondering about the Houdini example. That one is modifying the STDIN argument for ImageMagick from `-` to `pid:-[0]`.

We don't pass in this type of information for other microservices, so I am wondering if we want to start now?

The Homarus one is fine with me though.

[2022-09-21 18:46] alxp commented on #2163
PR for islandora_defaults without Mirador:

https://github.com/Islandora/islandora_defaults/pull/75

[2022-09-22 13:57] #1478 closed, assigned to nobody

[2022-09-27 19:16] mjanowiecki commented on #2154
This is done now! :)

[2022-09-27 19:16] #2154 closed, assigned to nobody

[2022-10-06 22:44] phette23 opened #2178 "[DOCS] demo Google Drive links on Installation > Install a Demo are broken"
* **If applicable, link to the [documentation page](https://islandora.github.io/documentation/) relevant to your issue below.**

[Docker Demo](https://islandora.github.io/documentation/installation/install-a-demo/)

* **Describe your documentation request.**

The Drive links on this page need to be removed, unfortunately. They lead to a notice saying "We're sorry. You can't access this item becaus

[2022-10-10 12:42] DonRichards opened #2180 "Add mailbag Support"
**Overview of feature request**

**What kind of user is the feature intended for?**
Adds mailbag to the project for digital preservation, retrieval, and presentation for (I assume) research.
[Project Mailbag](https://github.com/UAlbanyArchives/mailbagit)

**What inspired the request?**
 DLF 2022 Forum conference, they come with a simple to implement docker container to start with that should make

[2022-10-12 17:42] ruebot opened #2181 "Add configuration option for Flysystem vs fcrepo urls"
**Overview of feature request**

Currently the URLs passed to the derivative generation services are Flysystem URLs. If an installation is split across multiple machines, this can lead to issues when fcrepo and Crayfish are on one machine, and Drupal is on another. Basically, a derivative for a file might go from machine A to B to A because of this configuration. In this scenario, there really is

[2022-10-12 18:30] rosiel commented on #2162
Merged https://github.com/Islandora/Crayfish/pull/162 but there's a need for a version on Crayfish's 3.x branch.

[2022-10-14 17:50] islandora-community commented on #2178
Thank you for reporting this issue! It should be fixed now with the re-enabled links taking you to Dropbox for the demo file download.

[2022-10-14 17:52] robyj opened #2182 "[DOCS] CRAYFISH_DB_xxx in manual installation documentation for Milliner component"
* **If applicable, link to the [documentation page](https://islandora.github.io/documentation/) relevant to your issue below.**
https://islandora.github.io/documentation/installation/manual/installing_crayfish/

* **If this is a request for __new__ documentation, where in the [existing documentation](https://islandora.github.io/documentation/) does this documentation belong?**

* **Describe your d

[2022-10-14 17:53] phette23 commented on #2178
New links seem to work for me!

[2022-10-14 17:53] #2178 closed, assigned to inikolaidis

[2022-10-14 18:12] rosiel commented on #2182
Oof, that's not a good look. Sorry you ran into that.

I know this is not helpful, but I have an [open PR that adds a warning disclaimer](https://github.com/Islandora/documentation/pull/2176) to all the manual install instructions. We know they're broken, and so thank you for pointing out where.

What might be more useful is the [ansible role that installs Crayfish](https://github.com/Islandora-De

[2022-10-18 22:00] antbrown opened #2185 "[USE CASE] Display large tiled images"
**Overview of Use Case**
Currently when visitors try to view medium/large tiled images we get timeouts from Cantaloupe generating the tiles. The same happens on https://sandbox.islandora.ca/ after uploading a sample image.

**Title (Goal):** Provide instructions to encode TIFFs, configure Cantaloupe, setup caching and warm the cache so that tiled images can be served efficiently.

**Primary Actors

[2022-10-20 20:21] DonRichards commented on #2185
@antbrown The URLs are part of Cantloupe's API. https://cantaloupe-project.github.io/manual/4.1/endpoints.html

But Cantaloupe has "Source Cache" It should "pre-processed source images onto the filesystem" according to the docs. - https://cantaloupe-project.github.io/manual/4.1/caching.html

[2022-10-26 17:58] seth-shaw-asu commented on #2181
To enhance the idea around the GenerateDerivative option, we would be checking if the file's URI is using a flysystem and then use the flysystem API to get the _actual_ URI and then only use it if it is HTTP resolvable (because flysystem supports things like local Zip file URLs, which obviously won't work for sending to Crayfish). Thanks to @rosiel for prompting that consideration.

[2022-10-31 17:38] jasonhildebrand commented on #1580
FYI, we have implemented a solution to our use case which I noted earlier.  Here is our approach at a high-level:
- implemented a microservice which accepts a PDF URL (of a PDF in Fedora) and search terms as input, then extracts text from the PDF file and returns bounding boxes of matching terms.  We implement some fuzziness using in order to match words which don't match 100% (because we SOLR may

[2022-11-03 13:04] rosiel commented on #2163
The PR has been merged. 🎉

[2022-11-03 13:05] rosiel commented on #2163
Oops. 😳

[2022-11-03 20:21] rosiel opened #2186 "[BUG] Upgrade to EVA 3.0.0"
The EVA module [released 3.0.0 today](https://www.drupal.org/project/eva/releases/3.0.0) and correspondingly, Drupal is now displaying a pretty stark message to upgrade (currently on 8.x-2.1)

Release notes say:

So should be an OK drop-in replacement.

Islandora - needs to bump composer.json
Islandora Starter Site - needs to bump composer.lock

[2022-11-07 13:45] rosiel commented on #2129
Closed with https://github.com/Islandora/islandora/pull/896

[2022-11-07 13:45] #2129 closed, assigned to nobody

[2022-11-07 14:26] rosiel commented on #2129
Docs PR: https://github.com/Islandora/documentation/pull/2187

[2022-11-09 16:30] adam-vessey commented on #1583
Popped up in the `islandora/islandora` queue: https://github.com/Islandora/islandora/issues/910

[2022-11-09 19:41] rosiel commented on #1862
Closing this issue as we have replaced Islandora Defaults with the [Islandora Starter Site](https://github.com/Islandora/islandora-starter-site/#usage).

With the Starter Site, the migrations (including the Tags migration) are run by all of our provisioners, and running the migrations is listed as well in the manual install instructions under [# 6: Usage](https://github.com/Islandora/islandora-sta

[2022-11-09 19:41] #1862 closed, assigned to nobody

[2022-11-09 19:42] ysuarez commented on #2182
@robyj I just wanted to give you a non-update to your issue. We now have now added a warning at the top of that page so that people are not trying to use these out of date manual installation docs...

"...
Needs Maintenance

The manual installation documentation is in need of attention. We are aware that some components no longer work as documented here. If you are interested in helping us improve

[2022-11-12 03:42] emilduerme opened #2189 "Paramiko.ssh_exception.SSHException: Error Reading SSH Protocol Banner."
Can anyone help.?

I keep getting Error: Paramiko.ssh_exception.SSHException: Error Reading SSH Protocol Banner.
when i try to disable the SSH on cisco switch. the SSHException is not working..
cisco version: Cisco IOS Software, C2960X Software (C2960X-UNIVERSALK9-M), Version 15.2(2)E6, R
netmiko
VERSION
    4.1.2
paramiko
VERSION
    2.12.0

my python file script:

from netmiko import ConnectHand

[2022-11-15 16:08] alxp opened #2190 "[BUG] Hypercube "Pimple Exception" in ISLE-DC"
**What steps does it take to reproduce the issue?**

Fresh ISLE-DC install.

Create a Page object and File media, upload a TIFF as the media file.

[code]

* When does this issue occur?

Media upload., both File with a TIFF and Image with a PNG produce the same error in the Hypercube logs.

* What happens?

No Extracted Text derivative media are generated. Hypercube seems to be making multiple att

[2022-11-18 13:57] dannylamb commented on #2190
That's easy enough to fix.  We just bumped into this with a project.  The HYPERCUBE_FCREPO_URL default value is on port 80, and you need to set it to port 8080.  I patched my local docker-compose.yml to get around it with `HYPERCUBE_FCREPO_URL: fcrepo:8080/fcrepo/rest` in the `environment` section for hypercube.

I can make a PR to buildkit to change the default to that so no one else has to do th

[2022-11-18 14:13] #2190 closed, assigned to nobody

[2022-11-23 18:30] rosiel commented on #2189
I think you might have posted this in the wrong issue queue. Can you double-check where you intended to post this?

[2022-11-30 18:47] seth-shaw-asu commented on #1461
This issue was probably resolved with https://github.com/Islandora/islandora/pull/868.