[2016-02-22 16:47] ruebot opened #156 ""Hey - don't add relationships that aren't controlled by proxies, bro""

[2016-09-08 20:13] #156 closed, assigned to nobody

[2019-06-04 12:39] ajstanley opened #1142 "Allow multiple Media Use selections on file media"

[2019-06-04 12:41] ajstanley commented on #1142
I've got a working OCR module now to hook up to the Hypercube microservice.  I want all the image stuff that takes place with an original file, but also want to mark the input as an OCR candidate.  If we switch Media Use to allow multiples from a radio select we can pick and choose what sorts of behaviors we want for any given file object.

[2019-06-04 13:56] seth-shaw-unlv commented on #1142
I like this idea. Even though for images we may want a distinct "Original File" and "Service File" (primary access version) there are instances where we want to use an "Original File" as the access copy (e.g. a PDF original that works fine for access). Juggling the display modes between the two can be problematic, but if we simply allow a Media to be *both* an "Original File" AND a "Service File"

[2019-06-04 14:14] dannylamb commented on #1142
As far as the code is concerned, there may be a handful of spots where I'm making the assumption that you have one media_use.  Like i'm just pulling the first instead of iterating over the list of one.

We also could consider amending the REST API to account for this.  Right now, when you PUT a media to a node, you have to provide a media_use term id as a route param.  We could let that be multipl

[2019-06-04 15:39] seth-shaw-unlv commented on #1142
I tested this out. Simply changing `islandora/modules/islandora_core_feature/config/install/field.storage.media.field_media_use.yml`'s cardinality from '1' to '-1' works beautifully.

After adjusting the cardinality I created an image repository item and only selected 'Original File' for the media_use and derivatives still worked as expected. Then I added another image and selected both 'Original

[2019-06-05 15:09] mjordan opened #1143 "Provide a repo's metadata as Linked Data"
We could, if we wanted, dump out all of the Linked Data in a repo and provide the dump as a static file. [Linked Data: Evolving the Web into a Global Data Space](http://linkeddatabook.com/editions/1.0/#htoc61) provides some recipes for doing this sort of thing, but in Islandora's case, since we've already got JSON-LD for each node via simple calls to Drupal's REST interface, we could have an exter

[2019-06-05 17:56] mjordan commented on #1143
@whikloj points out that our JSON-LD currently provides parent relationships but not child relationships.

[2019-06-05 17:58] whikloj commented on #1143
@mjordan suggests that something like https://www.drupal.org/project/rest_entity_recursive might help with above problem.

[2019-06-06 04:41] mjordan opened #1144 "1.0.0 CLAW playbook shows wall of red, error, but it seems to work"
Just installed a shiny new 1.0.0 playbook :smile:. Saw a wall of red and this error:

[code]

But as far as I can tell, all views, contexts, etc. installed by the islandora_defaults module are intact. Not sure if this is new so I thought I'd report it.

[2019-06-06 13:19] whikloj commented on #1144
I believe the ansible line for that should specify that a failure is expected. https://github.com/Islandora-Devops/claw-playbook/blob/master/post-install.yml#L15

[2019-06-06 13:46] mjordan commented on #1144
@whikloj I can confirm that line is present when I built the VM.

[2019-06-06 13:47] whikloj commented on #1144
Then this error will go away with Drupal 8.7

[2019-06-06 13:48] mjordan commented on #1144
Ah. Sorry, I thought we were on 8.7. Should I close this?

[2019-06-06 13:55] jonathangreen commented on #1144
It might not be worth it since 8.7 it maybe around the corner. If we don't want the wall of scary red text, another option would be to use `failed_when` to make the task not fail. That way it won't be red and failed looking.

[code]

https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#controlling-what-defines-failure

[2019-06-06 13:56] whikloj commented on #1144
You can close it or leave it open. Might want to leave it open for now as we also have #873 and #885 that are closed tickets about this. So leaving one open might be a good idea, until it is closed forever.

[2019-06-06 13:58] mjordan commented on #1144
Ok, will do (nothing for now).

[2019-06-06 14:18] Natkeeran commented on #1144
I can confirm that this issue is resolved in 8.7.

[2019-06-06 14:38] mjordan opened #1145 "Migrations from a 7.x still working?"
Running a 1.0.0 vagrant from the GUI, I'm unable to successfully migrate some objects and their collection from a 7.x using https://github.com/Islandora-Devops/migrate_7x_claw. I have migrated from the same 7.x in the past (but it was pretty far back in the past).

I had better luck running the migration using drush, but even then, none of the media came over. Curiously, all of the AUDIT files did

[2019-06-06 14:42] mjordan commented on #1145
Forgot to add, the migration is producing no messages.

Here's a screengrab of the migrations:

![migration](https://user-images.githubusercontent.com/403918/59042024-8ef7fa00-882e-11e9-980d-fc9f460fe835.png)

[2019-06-06 19:53] whikloj commented on #1145
@mjordan I think this is the same problem I was having when getting ready for Fedora Camp. I had to do https://github.com/Islandora-Devops/migrate_7x_claw/pull/15

You'll note in your screen shot that **Islandora Files** and **Islandora Media** report **0 TOTAL**

[2019-06-06 20:03] mjordan commented on #1145
@whikloj thanks, I'll give that a try.

[2019-06-06 21:47] mjordan commented on #1145
@whikloj  you are a wizard. That got me a lot further. All of my objects are now discovered and have migrated intact... but now I've hit a new problem which I will open another issue for.

Any reason that PR you pointed me to shouldn't be merged?

[2019-06-06 21:49] whikloj commented on #1145
@dannylamb had a concern as too why it was working before without this. I'm not clear how it worked without this either. So no real reason, just trying to understand what is going on.

[2019-06-06 21:55] mjordan opened #1147 "A couple of issues with migrating from 7.x"
Not sure if the title of this issue is accurate. Here's what I'm seeing.

Using Islandora 8 1.0.0, I've been able to migrate a collection from an Islandora 7.x (all basic images) after @whikloj helped me solve another issue in #1145. The nodes came over intact with all the expected field values, but the media aren't working. The media did in fact migrate over, as can be seen in this screenshot:

!

[2019-06-06 21:56] mjordan commented on #1145
Maybe it'd be best for someone else to try a migration to see if it's just me.

[2019-06-06 22:12] mjordan commented on #1147
Should https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/src/GeminiLookup.php#L147 use `->warning()` instead of `->warn()`?

[2019-06-06 22:15] mjordan commented on #1147
Just changed it to `->warning()` and the error is gone. When view a file, I now get its Media entry. I'm getting 404s on the actual binary image, but that's another problem I'll dig into.

[2019-06-06 22:33] mjordan commented on #1147
The Gemini entries for image binaries, like this one:

[code]
contain Drupal and Fedora URLs that return 404s. Should the Drupal public filesystem contain this image? `ls` on `/var/www/html/drupal/web/sites/default/files` shows:

[code]

[2019-06-06 22:34] mjordan commented on #1147
When I create a node and add an image binary, everything works as expected, and the image file is available both in Drupal public filesystem and in Fedora.

[2019-06-07 01:13] mjordan commented on #1147
Welp, looks like my media problem is solved by running the drush command as user 1: `drush --userid=1 -y mim --group islandora_7x`. This needs to be added to the https://github.com/Islandora-Devops/migrate_7x_claw README.

[2019-06-07 04:24] mjordan commented on #1145
I mention this issue in #1147 so I'll close this one for now.

[2019-06-07 04:24] #1145 closed, assigned to nobody

[2019-06-07 04:44] mjordan commented on #1147
So a few things out of this testing:

1. running migrations using drush needs the `--userid=1` option, otherwise media don't get persisted; this should be added to the migrate_7x_claw documentation
1. https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/src/GeminiLookup.php#L147 contains a bug: `->warn()` should be `->warning()`

I'm getting on a plane tomorrow morning so can't open PRs for th

[2019-06-07 15:32] dannylamb commented on #1147
@mjordan We also need to add that you want to run drush with `--uri` option properly set.  It will affect how things get put into Gemini.  I ran into that when spinning up `future.islandora.ca`.

[2019-06-07 16:15] dannylamb opened #1148 "Provide site url during post-install migrations"
Hard lesson learned from spinning up http://future.islandora.ca

We bake in `localhost` [here](https://github.com/Islandora-Devops/claw-playbook/blob/master/post-install.yml#L43).  This led to gemini entries with `localhost` instead of `future.islandora.ca`.  We need to allow for a configurable `-l` parameter so folks can add their site name properly.

[2019-06-07 16:18] dannylamb opened #1149 "Matomo role assumes port 8000 for trusted host settings"
Another gem from spinning up http://future.islandora.ca:

We assume port 8000 in the matomo role [here](https://github.com/Islandora-Devops/ansible-role-matomo/blob/8558cf2ca61bc4c0944549414f597ca6c2be6113/templates/config.ini.php.j2#L13).  We should probably just rely on the site url that's already in config.

[2019-06-07 16:56] dannylamb opened #1150 "Update install docs"
I ran into a few snaffus spinning up https://future.islandora.ca and there's a few spots in the README that need to be updated.  We should put more detailed instructions on provisioning a non-development server in the actual docs, too.  And not just in the README.

[2019-06-07 17:50] dannylamb opened #1151 "Update installer to use Carapace 8.x-3.x"
Found this one out by surprise in the middle of the release.  I overreached a bit and tried to get this in, but it was too rushed.  Let's pull this in to dev as soon as possible and include it in the next release.

[2019-06-07 20:53] pc37utn opened #1152 "centos based vagrant fails"
This is a fresh clone after vagrant destroy and only the env for centos changed.
My settings are below and the last couple pages of output from when it starts messing up are below.
OS: Fedora 30

VirtualBox 6.0.8

vagrant version 2.2.4

vagrant plugin list
vagrant-vbguest (0.18.0, global)
  - Version Constraint: > 0

ansible 2.8.0
  config file = /etc/ansible/ansible.cfg
  configured module search

[2019-06-07 21:35] whikloj commented on #1152
I upgraded my ansible from 2.7.6 to 2.8.1 and am trying Centos now

[2019-06-09 04:13] mjordan opened #1153 "field_resource_type is not being populted using migrate_islandora_csv"
Importing the sample images provided in https://github.com/Islandora-CLAW/migrate_islandora_csv do not get their `field_resource_type` populated.

[2019-06-09 04:16] mjordan opened #1154 "Migrations produce warnings about rendered item fields"
Running both the migrate_islandora_csv and  islandora_7x migrations from the command line produces the following warning for each node:

`[warning] Warning: While indexing items on search index Default Solr content index, 1 item(s) did not have a view mode configured for one or more "Rendered item" fields.`

[2019-06-09 06:25] mjordan opened #1155 "Derivatives not being populted using migrate_islandora_csv"
Images imported using the migrate_islandora_csv migration do not get thumbnails generated, despite appearing to meet all the conditions defined in the Image Original File Context. Anyone know why that is the case?

[2019-06-10 01:55] dmoses opened #1156 "cloud storage use cases"

[2019-06-10 13:47] whikloj commented on #1153
There are no fields in the csv or configs for that field, but we do tag `field_model` and if that has the "type" then the context should get called as I don't think it cares which field the taxonomy term is in, just that it exists on the object/media.

[2019-06-10 13:54] whikloj commented on #1156
Hey @dmoses,

Could you flesh this (I'm guessing use case) out a bit more please?

You want to deploy to the cloud? Store your content in the cloud? Who's cloud it is? Etc

[2019-06-10 14:00] whikloj commented on #1149
Looks like trusted host settings don't want the schema, so [matamo_site_url](https://github.com/Islandora-Devops/ansible-role-matomo/blob/8558cf2ca61bc4c0944549414f597ca6c2be6113/defaults/main.yml#L34) might not work.

We could just add the port to the [`matamo_host`](https://github.com/Islandora-Devops/ansible-role-matomo/blob/8558cf2ca61bc4c0944549414f597ca6c2be6113/defaults/main.yml#L3) variabl

[2019-06-10 14:02] whikloj commented on #1148
Would [this](https://github.com/Islandora-Devops/claw-playbook/blob/master/inventory/vagrant/group_vars/webserver/apache.yml#L8) work or do we have (possibly) multiple vhosts?

[2019-06-10 14:13] dannylamb opened #1157 "`ebucore:filename` not populated in Fedora"
![Screenshot from 2019-06-10 11-00-11](https://user-images.githubusercontent.com/20773151/59201379-b1607f00-8b70-11e9-989d-556c09b27d6f.png)
This _should_ get set properly in Fedora if we're doing things right.  This seems to be across the board, so we probably need to inspect how we're calling Fedora's API with Chullo at the lower levels.  I'm thinking it may be down at the flysystem level where

[2019-06-10 14:20] dannylamb commented on #1157
Just confirming things with cURL after following documentation [here](https://wiki.duraspace.org/display/FEDORA5x/RESTful+HTTP+API+-+Containers) and discovered that although it's only documented for `POST`, `PUT` requests will also respect the `Content-Disposition` header.  I'll follow up with the Fedora gang and see if it's ok to rely on this behaviour and if it should be added to the docs.

[cod

[2019-06-10 14:32] dannylamb commented on #1157
https://jira.duraspace.org/projects/FCREPO/issues/FCREPO-3013.

[2019-06-10 14:33] dannylamb commented on #1155
Did you run it with `userid=1`?

[2019-06-10 15:34] dannylamb commented on #1152
It blows up on `rdfui`?  That is strange.  I highly doubt they've had a recent update, but I'll check.  Sometimes when my internet is bad I'll get similar messages when it can't pull from packagist.

FWIW a centos build with Ansible 2.7.5, VBox 5.1.38_Ubuntu r122592, and Vagrant 2.1.2 spins up alright, but that doesn't mean much if you can consistently reproduce this error.  The problem is probabl

[2019-06-10 17:20] whikloj commented on #1152
I just built a Centos box on `1.0.0` and did not receive this error. @pc37utn could you give this another try please?

[2019-06-10 17:57] pc37utn commented on #1152
ok, I did a vagrant destroy and vagrant up and it completed this time.
================

PLAY RECAP *********************************************************************
default                    : ok=412  changed=201  unreachable=0    failed=0    skipped=183  rescued=0    ignored=1

Monday 10 June 2019  13:27:17 -0400 (0:00:00.469)       0:28:31.409 ***********
==================================

[2019-06-10 17:58] pc37utn commented on #1152
Must be network/repo issues?

[2019-06-10 18:08] #1152 closed, assigned to nobody

[2019-06-10 19:35] whikloj commented on #1153
@mjordan I think the `field_resource_type` is the field with the actual "Resource Type" (ie. Image, Interactive Resource, Moving Image), so you could easily add a new field to the CSV if you want.

[2019-06-11 06:00] mjordan commented on #1155
Yessir. I also ran it with the `--uri=http://localhost` option. I notice that the imported nodes' and media's Fedora URI field never gets populated - could that be relevant?

[2019-06-11 12:55] mjordan commented on #1153
@whikloj OK, I've created an additional PR that takes the "Image" resource_type value from the CSV records.

[2019-06-11 13:00] mjordan commented on #1153
I am thinking it might be good to provide examples of both approaches (1 -hard-code taxo term in YAML and 2 - provide term string in CSV) in this module so others can figure out how do both. What do you guys think?

[2019-06-11 14:21] dannylamb opened #1158 "Provide a 'Bleeding Edge' install for use during development"
Now that we're released, everything is pinned to `1.0.0`. As we develop new features, we don't want to have to slice versions and update dependencies for every little thing (that's a release!), so we need a `dev` branch for claw-playbook that we can use to always get the latest.

[2019-06-11 16:06] seth-shaw-unlv commented on #1155
@mjordan note that the uri also needs to have the appropriate port, so on a default claw_playbook it should be `--uri=http://localhost:8000`.

[2019-06-11 19:17] dannylamb commented on #1155
I can confirm thumbnails are ok.  I get some warnings about solr indexing we should look into (https://github.com/Islandora-CLAW/CLAW/issues/1154), but other than that, everything's fine.  Here's what I ran and its output:

[code]

We should definitely update the docs to include the `uri` param.

[2019-06-11 19:43] dannylamb commented on #1155
PR is up ^^

[2019-06-12 06:15] #1155 closed, assigned to nobody

[2019-06-12 07:53] mjordan commented on #1153
We wouldn't want both approaches to be in play in the config file, so maybe should comment out the example of 1 (hard-coded) in the YAML file and include a comment that if you have a value that applies to all records in your CSV, you can use that approach. For example:

[code]

This could also be documented in the README file.

[2019-06-12 12:33] mjordan opened #1159 "Migrating XACML acces control restrictions"
Just added the "Access control" label.

This use case comes out of some discussion of the Islandora track at OpenRepositories 2019.:

Title (Goal) | Migrate access restrictions define using XACML policies
-- | --
Primary Actor | Repository admin
Scope | Drupal
Level | ?
Story | I am the manager of a repository that has a large number of objects (over 5000) that have access controls implemented usi

[2019-06-12 12:37] mjordan commented on #1159
We have a couple of options here. Assuming we use tags to apply access controls to nodes and their media (see #823, #1134, for example), we can:

1. create another migration to bundle with https://github.com/Islandora-Devops/migrate_7x_claw that maps access control expressed in POLICY datastreams to taxonomy terms
1. use Views Bulk Operations to assign tags to nodes and media post migration. This

[2019-06-12 12:52] mjordan opened #1160 "Replacement for Islandora IP Embargo"
We need a way to restrict access to Islandora 8 content (nodes and media) by IP address. This functionality is currently provided within Islandora 7.x sites using [Islandora IP Embargo](https://github.com/Islandora-Labs/islandora_ip_embargo).

[2019-06-12 12:53] mjordan opened #1161 "Replacement for Scholar Embargo (time-based)"
We need a replacement for functionality provided by [Scholar Embargo](https://github.com/Islandora/islandora_scholar/tree/7.x/modules/islandora_scholar_embargo) - time durated access control policies with auto-expiry.

[2019-06-12 13:17] dannylamb commented on #1159
Either of those approaches would work.  For 2) you'd need to add an extra field for 'migration status' or something so you know what's been migrated by not tagged yet.  I think no matter which path is chosen, the hardest part will be translating the XACML, because I'm not sure how 1:1 that translation will be.

[2019-06-12 13:39] dannylamb commented on #1142
Can haz PR?

[2019-06-12 14:31] seth-shaw-unlv commented on #1153
Keeping commented-out content in config files is actually quite annoying in the Features import/export workflow. If you import the config all the comments get stripped out. Then, if you export the feature because you made a change to something unrelated, like a view, then it will overwrite your config with the comments with a version without. This requires you to continually discard changes for th

[2019-06-12 15:07] seth-shaw-unlv commented on #1142
@dannylamb, sure. Just let me test the change on a site with existing content to see if we need an update hook for this.

[2019-06-12 15:55] seth-shaw-unlv commented on #1142
Sweet, it worked without any update hook shenanigan!.

[2019-06-12 16:20] seth-shaw-unlv commented on #1142
![Yes, you can!](https://i.chzbgr.com/full/8772600832/h6BAC0471/)

[2019-06-12 17:04] ajstanley commented on #1150
maybe a note about changing url endpoints in the blueprint.xmls?

[2019-06-12 17:51] seth-shaw-unlv commented on #1151
Is that the theme on futures? It looks good!

[2019-06-13 07:19] mjordan commented on #1153
@seth-shaw-unlv thanks for the heads up. I'll open another PR that adds this to the README and close the existing two.

[2019-06-13 12:31] dannylamb commented on #1151
The sandbox has https://www.drupal.org/project/solid on it.

On Wed, Jun 12, 2019, 14:51 Seth Shaw <notifications@github.com> wrote:

[2019-06-13 13:42] Natkeeran opened #1162 "metadata language field vs system language field"
Currently the language field pulls the languages from the configured languages for the site.  It is a system property and we are using it for metadata as well.  There should be a language field for the metadata independent of the site's configured languages.  This can possibly be a controlled vocabulary: https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes, https://id.loc.gov/

[2019-06-13 15:04] seth-shaw-unlv commented on #1162
Our local content type has a language field to indicate the language of a resource, if that is what you mean:

field.field.node.dc_object.field_language.yml
[code]

field.storage.node.field_language.yml
[code]

[2019-06-13 16:19] Natkeeran opened #1163 "Update search_api_solr drupal module to 8.3"
We are currently using [8.2](https://github.com/Islandora-Devops/claw-playbook/blob/master/inventory/vagrant/group_vars/webserver/drupal.yml#L12) [search_api_solr](https://www.drupal.org/project/search_api_solr).  Changing to 8.3 needs some work.

* They changed the solr-conf folder name to solr-conf-templates, thus a change is needed here:  https://github.com/Islandora-Devops/claw-playbook/blob/m

[2019-06-13 16:22] Natkeeran commented on #1162
@seth-shaw-unlv yes, basically another field to indicate the language of the resource.

[2019-06-17 12:00] dmoses commented on #1156
# Cloud-based storage use cases

## Original File/Preservation Master

| Title (Goal)  | Store a copy of Original File/Preservation Master on an external storage service                   |
--------------- |------------------------------------                           |
| Primary Actor | Repository admin   |
| Scope         | architecture, preservation, storage       |
| Level         | Medium?

[2019-06-17 19:34] dannylamb commented on #1158
`dev` branch of `claw-playbook` appears to be working!

[2019-06-17 19:34] #1158 closed, assigned to nobody

[2019-06-17 19:36] dannylamb commented on #1150
@ajstanley I think ^^ should cover it

[2019-06-18 12:48] mjordan opened #1166 "Alternate Flysystem drivers leave watchdog error, do not work"
At iCamp_EU we've been trying to get the Dropbox, ZIp, and SFTP Flysystem drivers to work. None are, and they all appear to leave the same error in the watchdog:

`Symfony\Component\HttpKernel\Exception\HttpException: The destination directory does not exist, could not be created, or is not writable in Drupal\islandora\MediaSource\MediaSourceService->putToNode() (line 297 of /var/www/html/drupal/w

[2019-06-18 13:06] mjordan commented on #1166
Some initial debugging here by @ibrahimab  is showing that resolving the realpath of the filesystem URIs is returning FALSE.

[2019-06-18 14:25] manez opened #1167 "Use case from Islandora Camp: Semi-Automatic IR Metadata Population"
| Title (Goal)  | Semi-Automatic IR Metadata Population                        |
--------------- |------------------------------------                           |
| Primary Actor | repository admin  |
| Scope         |  Institutional repository (research focus) |
| Level         | Don't know, but this would be really cool |
| Story         | I want to get metadata from external sources, like Scopu

[2019-06-18 14:34] dannylamb commented on #1166
@mjordan I can give it a go with zip and see what pops.

[2019-06-18 15:37] mjordan commented on #1166
Make sure zip is installed on the vagrant.

[2019-06-18 16:12] ppound commented on #1166
We tried it successfully with Amazon S3.  I'll see if I can find our ticket to see what I did but If I remember correctly there were some underlying dependencies that needed to be installed.  Not sure about the sftp or others but for S3 needed to do composer require league/flysystem-aws-s3-v3

[2019-06-18 18:53] seth-shaw-unlv commented on #1154
To fix this manually:
1. before import navigate to the solr index fields configuration page (`http://localhost:8000/admin/config/search/search-api/index/default_solr_index/fields`)
1. Click on the 'Edit' link on the "rendered_item" line
![Screen Shot with a red arrow pointing at the relevant link](https://user-images.githubusercontent.com/29869988/59711019-16deec00-91bf-11e9-9425-d5f635b2ec35.png)

[2019-06-18 19:28] dannylamb opened #1168 "Install JS libs with composer"
Add assets-packagist.org to main composer.json repositories for external javascript libraries.  Then we can install external js using composer. :champagne: :rocket:

[2019-06-18 19:30] dannylamb commented on #1168
Thx for pointing this out @nikathone

[2019-06-19 00:59] kayakr opened #1169 "Propagate original file alt text to service file etc."
It seems to be that it would be useful for accessibility if the alt text on an Original File was propagated to derivative Service File or Thumbnail image. I guess this would have to be an additional parameter passed to Houdini and back to Drupal or, when the service file is sent back to Drupal a lookup to the original file media entity via the repository item node fetches the alt text.

[2019-06-19 04:56] mjordan opened #1170 "Create an "is member of collection" Context condition"
Islandora Context for 7.x offers an 'is member of collection' condition. It would be useful for sites that use that condition to be able to have a similar one in 8. I'm happy to code one up.

[2019-06-19 06:51] mjordan commented on #1161
Could this be a Context? If embargo date has past, release access control?

[2019-06-19 08:47] kayakr opened #1171 "Islandora tokens?"
These are useful in pathauto paths, for default values in embedded entities, in metatag fields, etc.
I've suggested a linked-agent token e.g. `[node:linked-agent:cre]` at https://github.com/Islandora-CLAW/controlled_access_terms/pull/30 but perhaps there needs to be some wider discussion about where such tokens should live; in their own islandora_tokens module, or in some specific modules such as

[2019-06-19 11:03] manez commented on #1167
@lib4ri is building a tool like this for their current 7 site, and the php library may end up self-contained enough to port over a lot of the functionality.

* [Slides](https://drive.google.com/open?id=1MCoEitVs1Ch2K6ZTetYSiaiBACKFdgai) with a workflow diagram.
* [GitHub repo](https://github.com/Lib4RI/pub_db_lib)

[2019-06-19 12:17] dannylamb commented on #1161
Pretty much. If time has lapsed, delete the tag with a Cron job. That's how
I'd attempt it.

On Wed, Jun 19, 2019, 03:51 Mark Jordan <notifications@github.com> wrote:

[2019-06-19 13:37] bryjbrown commented on #1161
Can someone post a quick summary of the work thats been done so far via access control? I have some ideas for how this could be accomplished, but I don't want to suggest X when Y is already the standard way of doing things.

[2019-06-19 13:39] dannylamb commented on #1166
@mjordan I can confirm `zip` is failing.  This is what I'm getting in the logs:

[2019-06-19 14:00] mjordan opened #1172 "Create a desktop application for bulk ingest and editing of Islandora objects"
At iCampEU there was a great discussion of a desktop application for managing Islandora content. This wish has also been expressed in https://github.com/mjordan/claw_rest_ingester/issues/8, and this [Islandora Conference session](https://islandoracon2019.sched.com/event/QPz0/bulk-loading-content-into-islandora-8-panel) will also generate discussion on this.

One of the use cases that came up at th

[2019-06-19 14:04] ibrahimab commented on #1168
Isn't there already a way to install js libraries like npm en yarn? What is the reason for using composer?

[2019-06-19 14:06] ibrahimab commented on #1166
@dannylamb can you confirm that calling `\Drupal::service('file_system')->realpath('zip://')` is also returning false? I got the feeling the resolving of these uri's are the reason it is failing.

[2019-06-19 14:07] bryjbrown commented on #1168
@ibrahimab I'd say the biggest reason for using Composer is that we are already using it to install everything else. It makes more sense to have our primary tool do more than to add additional tools.

[2019-06-19 14:14] dannylamb commented on #1166
@ibrahimab yep

[code]

[2019-06-19 14:14] manez commented on #1172
On behalf of iCamp in Switzerland:

* Can this tool have a task queue? Scheduled jobs?
* With such a queue, can we set a time to wait between transactions?
* Can we set other parameters (don't do 1000 at once, etc)?
* Is this just for field values, or can we edit other things? Thumbnails, original files, etc?

* What's the benefit of doing something like this, versus a Drush script?
    * Gives fr

[2019-06-19 14:31] seth-shaw-unlv commented on #1171
With the caveat that I haven't done much of anything with tokens:

It seems logical to me to have token support added to controlled access terms since we define the LinkedAgent field here. However, the PR as it stands has some hard-coded expectations such as the field's machine name (field_linked_agent, defined in islandora_defaults) using the MARC relators ontology (used in controlled_access_term

[2019-06-19 14:47] seth-shaw-unlv commented on #1169
I'm linking #1134 because we should be able to propagate the access terms the same way we propagate the alt-text if we make it general enough.

[2019-06-19 14:51] jonathangreen commented on #1172
I, too, am interested in this 🙋🏻‍♂️

[2019-06-19 15:12] seth-shaw-unlv commented on #1172
This is essentially how [WWU's Islandora (7) Batch Uploader](https://bitbucket.org/wwulibraries/islandora-batch-uploader/src/master/) (an Electron app) works. After It does a bunch of neat stuff with various web-services it builds the MODS XML then SCPs the images and metadata to the Islandora server and triggers a Drush migration via SSH.

We could do essentially the same, build a spreadsheet or

[2019-06-19 15:16] mjordan commented on #1172
REST all the way. Only drawback would be pushing up files that exceed server's file size limits.

[2019-06-19 15:21] jonathangreen commented on #1172
I agree, REST all the way. I think we probably need a chunked file uploader, so we can load files that exceed the servers limits, but it can be chunked and checksum client side then uploaded. Something like [PLUpload](https://www.plupload.com/). Then we need to test the limits of that, hopefully we can support very large batches that way.

[2019-06-19 15:36] seth-shaw-unlv commented on #1172
Ooooh... PLUpload looks interesting.

Also, I know our staff would like a spreadsheet experience for doing batch metadata editing. I've been looking around and [Handsontable](https://handsontable.com/) looks like the most promising option (it has [auto-fill](https://handsontable.com/docs/7.1.0/demo-auto-fill.html)!). While they are open source, they aren't free for commercial use, but they do have

[2019-06-19 15:41] whikloj commented on #1172
I remember seeing the WWU batch uploader at iCamp San Diego, it was amazing. I would be 👍 to some Python with Electron on top. I'm sure we could pick @davidbasswwu's brain for some lessons learned.

[2019-06-19 16:50] dannylamb commented on #1142
As soon as my next environment spins up, I'll test this.

[2019-06-19 17:11] rangel35 commented on #1162
my project has a separate language field, I just call it field_dcterms_language to differentiate from field_language

[2019-06-19 17:14] davidbasswwu commented on #1172
Happy to help if I can.  The IBU is the first time I've used Electron/Node/Vue, so there was a steep learning curve, but using that environment has been great to work with, so I think it was worth it.  I'll think about lessons learned a bit more and note them here if anything in particular comes to mind, but feel free to ask me anything.

[2019-06-19 17:30] whikloj commented on #1168
@ibrahimab Drupal 8 uses composer to install modules, so this allows us to define external JS libraries and have them installed along with the PHP module. This is not intended to install only JS libraries.

[2019-06-19 17:44] rangel35 commented on #1172
I just recently uploaded the views bulk edit modules on my local vm so maybe I just haven't found it...but a search function to filter the objects to be "bulk edited" would be nice

[2019-06-19 17:47] rosiel commented on #1172
Notes from today's call: @alxp suggested an Open Refine plugin

[2019-06-19 20:07] manez commented on #1172
@rangel35 I think you can do what you want in Views Bulk Edit by exposing the filters on the view, so the results can be altered on the fly. Then check "all" and have at it!

[2019-06-19 21:08] manez opened #1173 "Normalize CONTRIBUTING.md and add it where it's missing"
While working on updating readmes for https://github.com/Islandora-CLAW/CLAW/issues/1082 I discovered a few different versions of CONTRIBUTING.md floating around, and a few repos that don't have one at all.

They should all be the same, and every repo should have one.

Examples:

* Needs a light update for Islandora 8, but otherwise good: https://github.com/Islandora-CLAW/CLAW/blob/master/CONTRIBU

[2019-06-19 21:30] rangel35 commented on #1172
thanks @manez, I'll give that a try

[2019-06-20 06:31] mjordan opened #1174 "Create URL alias from 7.x object to 8.x object on migration"
This blog post describes how to use the 'url_alias' plugin to create aliases on migration: https://evolvingweb.ca/blog/migrating-aliases-and-redirects-drupal-8. Creating URL aliases from the source to the target object should be optional, however.

Related issue: #822 .

[2019-06-20 10:37] ibrahimab commented on #1168
I get that, but I don't think this is the way to go. There is a reason npm/yarn exists. They do a lot more than just fetching code and saving to disk. They do a lot of optimization like walking the tree to just include the code that the application uses.

I have looked at assets-packagist and it just allows you to download assets into the vendor folder. This also deviates from standards (requiring

[2019-06-20 11:16] ibrahimab commented on #1166
I have installed a fresh Drupal 8 project and installed flysystem. The same problem occurs, so it seems this has nothing to do with islandora, but the project itself. I also took a look at the flysystem repository and the last commit was 2 years ago. It would be wise to use another project. The other option would be taking over maintaining flysystem.

[2019-06-20 14:01] dannylamb commented on #1168
Yeah, but we're not doing front end work here.  This is just so that when people install our viewer modules with composer they don't have to manually deploy the library to the /libraries folder.  That's it.  If we were making a theme or doing a headless frontend I wouldn't use composer either.

[2019-06-20 14:14] ibrahimab commented on #1168
Why wouldn't you use the default drupal 8 method, defining "*.libraries.yml" file(s) then?

[2019-06-20 14:35] nikathone commented on #1168
Hi Ibrahim, defining `*. libraries.yml` doesn't download/deploy the files unless you use an external url. This approach of using composer have been adopted by widely known Drupal contribution like https://github.com/acquia/lightning-project/blob/6423cabdb4b5a300a34c8e48e141c83275bcb0ae/composer.json#L52, https://github.com/BurdaMagazinOrg/thunder-project/blob/7d543bca5dd4b202a3003e9da36e26e3fbef14

[2019-06-20 15:28] whikloj opened #1175 "Fix all the traviss"
Now that we have a `master` and a `dev` branch we need to add `dev` as an allowed branch for travis builds.

Much like I mentioned [here](https://github.com/Islandora-CLAW/chullo/pull/75#issuecomment-504068810) but for all the repositories.

[2019-06-20 16:07] ibrahimab commented on #1172
The best approach (imo) would be creating a REST API. The Electron app can then use this API and it leaves the door open for other developers to implement their own input (e.g. command/mobile).

[2019-06-20 16:12] ibrahimab commented on #1168
@nikathone Isn't OP talking about external projects? And other projects doing it too is not a good enough reason for me. If it was up to me, I would use npm, setup webpacker and use libraries.yml to include the compiled result.

[2019-06-20 17:24] nikathone commented on #1168
I think we are not compiling anything right? It's just a way to download a javascript dependency using composer. What is OP? by the way.

The reason I gave those projects as an example is that most of the people maintaining them are also drupal core maintainers. Another example is the [slick module](https://www.drupal.org/project/slick), in [slick.libraries.yml](https://git.drupalcode.org/project/

[2019-06-21 16:49] whikloj commented on #1172
@ibrahimab there are existing REST endpoints in Drupal to allow for the creation of nodes/media/files we use those and we have created...one (I think) but will keep making/exposing those as needed.

In my mind this would be a separate program that would use those various REST API endpoints to do these ingest/edit/delete actions

So when you say creating a REST API, you mean define these endpoints

[2019-06-21 16:59] akuckartz commented on #1172
Why a "desktop application" instead of a web application?

[2019-06-21 18:53] jonathangreen opened #1177 "Add PR Template to Islandora-Devops Ansible Roles"
@dbernstein noticed when submitting https://github.com/Islandora-Devops/ansible-role-tomcat8/pull/8 that the Ansible roles don't have our PR template. Might be good to ad them. Figured I'd make a ticket so we don't forget about it.

[2019-06-21 18:57] jonathangreen commented on #1177
PR template file is here:
https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/.github/PULL_REQUEST_TEMPLATE.md

[2019-06-21 19:34] whikloj commented on #1172
@akuckartz I think because there are/will be further Drupal development which will fill the gaps for web application, whereas (IMHO) this is something that staff who's primary job is to prepare and ingest data would use.

You could certainly also make a web application that does this. Personally, I would want to understand what the web application would do that we can't do in Drupal.

[2019-06-21 21:28] mjordan commented on #1172
@akuckartz main advantage of a desktop app is that the binary files to be ingested can sit on the user's computer instead of having to be on the Islandora server's filesystem.

[2019-06-21 23:29] mjordan opened #1178 "Regenerating cache in vagrant produces missing hash_salt error"
Just rebuilt a vagrant (at 2aa45758aaf4f1718e9ad616e9385ea811994f47) and am getting the following when I run `drush cr` in the 8.x-1.x and release branch (haven't tried others):

[code]

preventing the cache rebuild. This issue has been known to the Drupal community for about 3 years now, but it's new to Islandora. Anybody know why it's happening now?

[2019-06-22 00:44] mjordan opened #1179 "A new wall of red while vagrant upping"
I have attempted to `vagrant up` a couple of times this evening (at 2aa45758aaf4f1718e9ad616e9385ea811994f47) and am getting a new wall of red, at first glance because some pinned versions of Drupal modules are 404ing:

`
failed: [default] (item=drupal/search_api_solr:^2.0) => {"changed": false, "item": "drupal/search_api_solr:^2.0", "msg": "./composer.json has been updated > DrupalProject\\compos

[2019-06-22 13:33] mjordan commented on #1179
Some additional poking around. From what I can tell, composer thinks these two files can't be downloaded. Copying the errors from the wall of red:

* https://packages.drupal.org/8/drupal/search_api%241bf6eca8d63c1a9d0b7a0d1ce34402b27500fa9df288af0c28dc8282b6a3bfc1.json\" file could not be downloaded  (HTTP/1.1 404 Unknown site!)
* https://cgit.drupalcode.org/project/drupal/raw/8.6.10/.ht.router.ph

[2019-06-22 19:31] ibrahimab commented on #1168
Original Poster

This is why I oppose getting assets through composer, I just think islandora should use standards (npm). Why would we deviate from how everyone else does it because "It makes more sense to have our primary tool do more than to add additional tools. (@bryjbrown)". Using the best tool for the job should be the rule (referring back to the optimizations npm does behind the scenes).

[2019-06-22 22:26] DigitLib opened #1180 "claw-playbook: geerlingguy roles updated - new list"
**geerlingguy.php-mysql 2.0.2**

Fix broken behavior under Ansible 2.7 due to yum module change.

**geerlingguy.apache  3.0.3**

Add fedora to listed platforms.

on Oct 8, 2018
3.0.2
Fix broken behavior under Ansible 2.7 due to yum module change.

on Oct 4, 2018
3.0.1
Prevent failures on Ansible 2.7 when no repo is set on RedHat.

**geerlingguy.php-versions 3.1.0**

follow-up: Touch up the variabl

[2019-06-22 23:07] mjordan opened #1181 "Expressing sequence in complex object children"
I couldn't find any discussion of this in the CLAW issues, so I thought I'd create one. Now that we will need to start thinking about modeling complex objects, we need to decide how we're going to express sequence/order of children.

I've looked at all of the ontologies listed in the list of [ontologies we're already using](https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/islandora.module#

[2019-06-23 06:22] kayakr commented on #1163
@Natkeeran FYI, we are using Search API Solr 8.x-3.1 having installed the `config.zip` files downloaded from the Drupal search admin pages (shows as Schema `drupal-8.3.3-solr-7.x`).
We needed to override the config to handle ASCII folding for macrons, but apparently the way to do this is via a 'domain'-specific config, see comment at support chat https://drupalchat.me/channel/search?msg=sWxOYxACSA

[2019-06-23 15:14] mjordan opened #1182 "Running phpcs on the Vagrant is undocumented"
`phpcs` is absent from the Vagrant. Looks like it was provided [pre-Ansible](https://github.com/Islandora-CLAW/CLAW/issues/32).

Running the following shell script from within the drupal install directory, cribbed from the [travis setup](https://github.com/Islandora-CLAW/CLAW/blob/master/.scripts/travis_setup_drupal.sh#L6), works:

[code]

Not sure if using shell like this is cool within the Playb

[2019-06-23 15:51] dannylamb commented on #1182
It's available in the ansible environment at
/var/www/html/drupal/vendor/bin/phpcs. Same goes for phpcbf and phpunit.
Although making those globally available isn't a terrible idea.

On Sun, Jun 23, 2019, 11:14 Mark Jordan <notifications@github.com> wrote:

[2019-06-23 15:57] mjordan commented on #1182
OK, cool. I think we should add a page the developer docs that explains how to use it. I can open a PR.

[2019-06-23 16:43] mjordan commented on #1182
In `/var/www/html/drupal`, running `./vendor/bin/phpcs --standard=Drupal web/modules/contrib/islandora/src/Plugin/Condition/MediaHasMimetype.php` results in the following:

`ERROR: the "Drupal" coding standard is not installed. The installed coding standards are MySource, PSR1, Squiz, PSR12, PEAR, Zend and PSR2`

Is there another step I should be taking?

[2019-06-23 17:06] dannylamb commented on #1182
You have to provide the full path to the Drupal sniff.

/var/www/html/drupal/vendor/drupal/coder/coder_sniffer/Drupal

Definitely a documentation gap. I have phpcs and phpunit invocations burned
into my brain, which isn't terribly helpful for everyone else.

On Sun, Jun 23, 2019, 12:43 Mark Jordan <notifications@github.com> wrote:

[2019-06-23 17:18] mjordan commented on #1182
OK, in /var/www/html/drupal, running `./vendor/bin/phpcs --standard=/var/www/html/drupal/vendor/drupal/coder/coder_sniffer/Drupal  web/modules/contrib/islandora/src/Plugin/Condition/MediaHasMimetype.php` works as expected. Want me to open a PR to add that docs page?

[2019-06-23 18:26] mjordan commented on #1179
Running it again now and am getting a failure on a different file:

`The \"https://packages.drupal.org/8/drupal/provider-2015-1%24c1623402db8671e8b06cd74684ee87a0bf45639d0f230cd335548e58fbe35af0.json\" file could not be downloaded (HTTP/1.1 404 Not Found)`

I suspect there are issues on d.o. that are causing this.

[2019-06-24 00:34] mjordan commented on #1161
@bryjbrown there has been little done on access control, but one method discussed a bit so far, in #823, #826, #1134, and elsewhere,  is using taxonomies.

Islandora does nothing special, you should use the most applicable Drupal node, field, and media access control modules/strategies. Perhaps this is an areas that could be documented in several recipes in the cookbook @manez is planning.

[2019-06-24 04:19] mjordan commented on #1179
... and just now I was able to `vagrant up` without any problems. So, I'll close this and attribute the problems to gremlins for now.

[2019-06-24 04:19] #1179 closed, assigned to nobody

[2019-06-24 04:24] mjordan commented on #1178
Now that #1179 has seemed to resolve itself, this problem has also disappeared. So, I'm closing it.

[2019-06-24 04:24] #1178 closed, assigned to nobody

[2019-06-24 05:01] mjordan opened #1184 "To what extent do we want to implement IIIF?"
#337 started this discussion during the 2016 MVP sprint, but now that we have an IIIF image server and viewer, maybe we can think about compliance with other aspect of the spec. For example, what is our compliance with the [Image API](https://iiif.io/api/image/2.1/#status-of-this-document)? Do we care at all about implementing the [Presentation API](https://iiif.io/api/presentation/2.1/)?

I am no

[2019-06-24 12:27] mjordan opened #1185 "Create a Context Condition that detects the namespace in the PID field"
[Migrate 7x CLAW](https://github.com/Islandora-Devops/migrate_7x_claw) allows us to migrate each object's PID and populate the `field_pid` field in the target Islandora 8 nodes. It would be useful to have a Context Condition that detected the namespace of the PID in this field. A couple of uses for this capability:

* Primarily, to allow 7.x Islandoras that currently use the "Object namespace" Con

[2019-06-24 13:02] mjordan opened #1186 "Some UX tweaks for content managers"
I'd like to suggest a couple of tweaks that I think would improve the UX for people adding and editing content. These are just suggestions, counter arguments are welcome.

## Move the "System" field group in the repository item add/edit form to the top

This field group contains the only required field (besides the title) for that content type. I think it should go at the top of the form, not be b

[2019-06-24 13:07] mjordan commented on #1172
I've been thinking of the advantages of having a command-line tool  do the actual interaction with islandora, and the GUI an optional app that sits on top of this CLI tool. Apparently Electron is very happy to interact with Python scripts (user only ever interacts with the GUI), and I've heard they bundle up nicely for distribution. I'd be happy to port https://github.com/mjordan/claw_rest_ingeste

[2019-06-24 14:15] seth-shaw-unlv commented on #1181
I haven't found an ontology to go along with it, but I've been relying on the [Weight module](https://www.drupal.org/project/weight) for storing sequence values. See my local [field](https://github.com/UNLV-Libraries/islandora_unlv/blob/master/config/install/field.field.node.dc_object.field_weight.yml) and [field storage](https://github.com/UNLV-Libraries/islandora_unlv/blob/master/config/install/

[2019-06-24 14:34] manez commented on #1173
Proposed CONTRIBUTING.md to be applied across the board: https://gist.github.com/manez/74b7fdda05cd01186c1d9b471c61b9dc

This is basically the CONTRIBUTING.md from the core CLAW repo, de-CLAWed, with some extra bits about our Code of Conduct, irc channel, and a link to the list of CLAs.

If it looks good, I'll start pull requests to update or add this wording on al our 8 and dev-ops repos.

[2019-06-24 14:36] whikloj commented on #1181
Multi-parent scenarios always seem to be the cause of bloat and complexity. We use compound now but I am hoping to possibly dump it or I'd vote for pursuing a single parent and multi-parent path. Then we can let people deal with the complexity if they need to. But I would stick to single-parent scenarios as we currently don't have any multi-parent scenarios outside of collection membership. @jonat

[2019-06-24 14:45] seth-shaw-unlv commented on #1181
Yeah, I'm happy with the single parent solution, myself. After building a few custom fields, I'm happy to avoid making another.

Anyway, I did some more poking around this morning and found the [Collections Ontology](collections-ontology) that supports a few different ways of ordering a collection, but more importantly, [the "index" predicate](https://github.com/collections-ontology/collections-on

[2019-06-24 14:52] jonathangreen commented on #1181
I am happy with a single parent solution, especially for compound. We extensively use compound, but restrict that to items only having a single compound parent. I agree that multi-parent is difficult to deal with in many ways and I would rather avoid the complexity.

I also agree that belonging to multiple collections is a multi-parent situation that we would need.

[2019-06-24 15:13] mjordan commented on #1181
I'd like to confirm that no one is currently using Compound to manage children that have multiple parents. If we find that no one is, I'd be 👍 to not address that need now. I'll post to the email list.

[2019-06-24 15:16] seth-shaw-unlv commented on #1181
Looking at this a bit more, I'm wondering if we should be using two separate fields (both predicates come from [the W3C SimplePartWhole](https://www.w3.org/2001/sw/BestPractices/OEP/SimplePartWhole/)):
- One reference field would be multi-parent partOf where we can add the item to any number of unordered sets.
- Another reference field would be a single parent partOf_directly field to show it is p

[2019-06-24 15:16] whikloj commented on #1173
The above git of the CONTRIBUTING.md looks good, I am wondering if we should be looking at a repository rename for CLAW -> Islandora_8 (or something) sooner rather than later. I am wondering if people expected Islandora 8 will be confused by CLAW or am I overthinking this.

[2019-06-24 15:17] akuckartz commented on #1172
How is that a significant advantage? (Still trying to understand this issue.)

[2019-06-24 15:24] mjordan commented on #1181
Post to islandora and islandora-dev lists is at https://groups.google.com/d/msg/islandora/n0_d72aPeiQ/4QJtRUAvCQAJ. I've asked for feedback by July 5.

[2019-06-24 15:28] mjordan commented on #1172
I guess it depends on workflows and tooling at specific sites, but at my institution, the staff that scan the content and prepare the metadata don't have direct access to the Islandora server, so to get the content up to the server to perform a batch load, we need to get someone from Systems involved. Skipping that last step would be a significant gain for us.

Prior to adopting Islandora we were

[2019-06-24 15:28] seth-shaw-unlv commented on #1172
@akuckartz, for us it partly a resource load distribution. We can have 10+ students or staff working with large collections of materials at one time adding metadata to hundreds of items. That puts a lot of load on a single machine. If they are all continuously sending updates and retrieving updated records.

Sure, we could add more servers and place them behind a load balancer OR we can leverage t

[2019-06-24 15:29] seth-shaw-unlv commented on #1172
Ninja'd by @mjordan.

[2019-06-24 15:31] manez commented on #1173
The repo name issue is on the agenda for the TAG's next meeting https://github.com/Islandora/islandora/wiki/TAG-Meeting---June-28 hoopefully with reccomendations soon to follow.

[2019-06-24 16:12] bryjbrown commented on #1181
What about using [`rdf:Seq`](https://www.w3.org/TR/rdf-schema/#ch_seq)? It can be used not only to group a compound's references to its children, but also express the sequence. You could have a compound parent with an `rdf:Seq` ordered list of its children, and this would still allow for multiple compound parents to reference the same child since the reference is stored on the parent and not the c

[2019-06-24 16:33] seth-shaw-unlv commented on #1181
@bryjbrown possibly; although I'm not seeing an elegant implementation because the sequence value is expressed as a predicate or the parent, rather than as property of the child.

It looks like, to me, implementation would probably require a 'child/order' pair property on the parent object with a hook_jsonld_alter_normalized_array implementation to transform it into the sequence property and child

[2019-06-24 16:33] t4k commented on #1181
I agree that multiple parents is too complex for basic functionality.

I was starting to look into this topic a couple of weeks ago, and one of the bits I found was this part of the PCDM: https://github.com/duraspace/pcdm/wiki#ordering-extension

The way ordering is laid out might be overly complex, though, with only "previous" and "next" being linked on children to other children…

[2019-06-24 16:41] mjordan commented on #1181
@seth-shaw-unlv makes a good point - the property we're discussing is of the child, not of the parent. In Islandora, parents of all sorts do not know directly about their children; children however know about their parents. We should be careful to preserve the directionality of this relationship and not become susceptible to the "many members" issue.

[2019-06-24 20:11] akuckartz commented on #1172
@mjordan @seth-shaw-unlv Thanks, now I understand. I was not aware of the resource load distribution issue.

[2019-06-25 00:29] kayakr opened #1187 "EVA 8.x-1.3 no longer supported"
https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/composer.json refers to `"drupal/eva" : "^1.3"` but that version is no longer supported and `8.x-2.0-rc3` is recommended.

[2019-06-25 02:44] mjordan commented on #1161
@bryjbrown this blog post from today might be of interest as well: https://wishdesk.com/blog/drupal8-user-access-modules.

[2019-06-25 19:26] manez commented on #1186
- **Move the "System" field group in the repository item add/edit form to the top** - No strong feelings. It's a bit awkward at the end, but I'm used to scrolling all the way down for save/publish options in Drupal, so this one hasn't bothered me.

- **When adding Media, on form submission, Drupal should redirect to the node edit form, not to the list of media.** - Yes please!

- **Default value o

[2019-06-25 19:28] mjordan commented on #1186
Good point. Might be more of a personal preference, and I can see where some people might not like it at the top.

[2019-06-25 20:15] dannylamb commented on #1186
@manez Default value can be set on a per bundle basis.  For example, for Image media: http://localhost:8000/admin/structure/media/manage/image/fields/media.image.field_media_use

You'd have to set that to Original File for all the other media types too, but it's not too onerous.

Awesome suggestions, btw @mjordan.

[2019-06-25 20:36] dannylamb commented on #1181
:fire: multi-parent membership :fire:

Won't somebody please think of the breadcrumbs!
<image src="https://i.ytimg.com/vi/3jFqhjaGh30/hqdefault.jpg" />

[2019-06-26 03:58] mjordan commented on #1186
Another one: an action that combines "Delete content", "Delete Node from Fedora", and "Delete Node from Triplestore". It's a PITA to have to do all three if you want to purge all aspects of an object.

[2019-06-26 14:30] seth-shaw-unlv commented on #1177
This must have auto-closed when I merged the referenced PR. Reopening as we should make sure the other roles also have the template.

[2019-06-26 15:20] mjordan commented on #1172
I've ported the CLAW REST Ingester to Python so it can be wrapped in an Electron app: https://github.com/mjordan/islandora_workbench.

[2019-06-26 15:21] dannylamb commented on #1186
If you just delete content, the others will trigger in response to the
delete event. Or at least they should. The one I would add is 'Delete
object and all media'.

On Wed, Jun 26, 2019, 00:58 Mark Jordan <notifications@github.com> wrote:

[2019-06-26 15:23] manez commented on #1186
@dannylamb I'm clear on how to change it in the front end (Drupal Form GUI :heart_eyes:) but I'm not sure how to put it into a pull request so that it builds that way from now on

[2019-06-26 17:06] dbernstein commented on #1177
There are template PRs for all the other roles.

[2019-06-26 17:36] mjordan commented on #1184
@jonathangreen suspects (June 26 2019 Tech Call) that the Cantaloupe image server endpoints provides the Image API, but that we'd need to do some work to implement the Presentation API.

[2019-06-26 17:41] #1177 closed, assigned to nobody

[2019-06-26 17:55] manez commented on #1173
Note to self: address #1175 and tweak #1177 to update Committers group, as long as I'm doing pull requests all over the place.

[2019-06-26 18:32] seth-shaw-unlv opened #1188 "Updating PR templates with correct committers tags"
As highlighted by @whikloj on [another issue](https://github.com/Islandora-Devops/ansible-role-fits/pull/1#issuecomment-505491080), and discussed in [today's meeting](https://github.com/Islandora-CLAW/CLAW/wiki/June-26%2C-2019), some of the PR templates in the Islandora-Devops community repos (e.g. [claw-playbook](https://github.com/Islandora-Devops/claw-playbook/blob/dev/.github/PULL_REQUEST_TEMP

[2019-06-26 18:34] mjordan commented on #1142
PRs merged.

[2019-06-26 18:34] #1142 closed, assigned to nobody

[2019-06-26 20:48] whikloj commented on #1181
I'd note that the many-members issue is related to Fedora, so I am not sure that it has any impact here.

I'd also note that if you place the references to children and their order in the parent, then for different parents you can easily have different orderings.

Just a thought.

[2019-06-26 21:07] mjordan commented on #1181
True, I didn't mean to introduce a red herring, but it seemed relevant  at the time I wrote it.

[2019-06-26 21:24] dannylamb opened #1192 "Can we just use rest_oai_pmh ?"
Seriously, https://www.drupal.org/project/rest_oai_pmh looks like it's made for Islandora 8.  Is there anything preventing us from using it?  Has anyone tried it?

@joecorall?  You wrote it.  Any thoughts about this being a generic oai solution for Islandora 8?

[2019-06-26 21:32] dannylamb commented on #1181
So the PCDM approach looks solid to me except for one thing.  It makes you use proxies.  It's for mutliple orderings, and I get that, but I would be cool just to put prev/next links on the children themselves instead of a proxy if you only have one ordering.  We could easily alter all that stuff into the jsonld (and link headers for the REST API!), and only resort to proxies if you wanted multiple

[2019-06-26 21:33] seth-shaw-unlv commented on #1192
I've tested it and seems to work well. I'm working on an [islandora_defaults submodule](https://github.com/seth-shaw-unlv/islandora_defaults/tree/issue-498/modules/islandora_oaipmh) using it right now.

[2019-06-26 21:35] seth-shaw-unlv commented on #1192
It won't be much, just configs for now; but it is a good jumping off point to include some of the twig-based metadata serializations you mentioned a while ago.

[2019-06-26 21:40] dannylamb commented on #1192
Yep, that part definitely caught my eye.  I'd love to be able to render out things like MODS on the fly.

[2019-06-26 21:47] rangel35 commented on #1181
iana has first, last, prev, next if that helps

[2019-06-26 22:18] seth-shaw-unlv commented on #1192
It just took a few minutes, but the branch I linked earlier, if you check it out and enable the new islandora_oaipmh submodule it will give you an OAI-PMH endpoint at /oai/request with a set called oai_pmh:all_repository_items with all the repository items you have (sans Collections, because no one expects those as objects in their OAI-PMH feed). Documentation and PR to come.

_Note:_ the rest_oai

[2019-06-26 22:26] jonathangreen commented on #1192
@dbernstein and I were talking this week about him getting `rest_oai_pmh` setup in the Islandora playbook so it ships with Islandora. Seems like a good way to satisfy the OAI need in Islandora.

It sounds like your already most of the way there @seth-shaw-unlv. Do you want / need any help pulling things into the playbook or should we leave this one to you?

[2019-06-26 23:19] mjordan commented on #1174
Following up on the June 26 call, it might be good to define some use cases here for this since there are a number of variations of this functionality. I'll provide a couple.

| Title (Goal)  | Keep 7.x-style cannonical URLs to objects in place                         |
--------------- |------------------------------------                           |
| Primary Actor | Repo Admin  |
| Scope

[2019-06-26 23:22] mjordan commented on #1174
A variation on the previous use case:

| Title (Goal)  | Keep URL aliases to objects in place                         |
--------------- |------------------------------------                           |
| Primary Actor | Repo Admin  |
| Scope         |   URLs to objects |
| Level         | Normal  |
| Story         |  As an admin of an Islandora 8 repo migrated from a 7.x repo, I want all URL alias

[2019-06-27 00:35] mjordan opened #1193 "Deprecate display hints in favor of Contexts?"
With the "Media Has Mime type" Context Condition [now in Islandora](https://github.com/Islandora-CLAW/islandora/pull/145), we can now create Contexts that determine if a PDF is rendered using PDFjs or if a JP2 is rendered using OpenSeadragon. Those contexts would eliminate the need for the person creating/editing the node to select a Display Hint manually in the node create/edit form:

![display_h

[2019-06-27 00:38] mjordan commented on #1170
Closing, since this PR has been merged. The Condition is named "Node has Parent", and the parent can be a collection or any other type of object.

[2019-06-27 00:38] #1170 closed, assigned to mjordan

[2019-06-27 00:41] mjordan commented on #1185
Closing since https://github.com/Islandora-CLAW/islandora/pull/147 has been merged.

[2019-06-27 00:41] #1185 closed, assigned to mjordan

[2019-06-27 00:44] mjordan commented on #1161
https://www.drupal.org/project/moderation_scheduler might be able to provide embargos similar to those provided by Scholar.

[2019-06-27 13:57] dannylamb commented on #1193
:+1: I think setting it once at a higher scope is better UX than checking each individual thing.  We sacrifice some granularity for that, but it's not like you can't just do it the old way if you want.  _It's just configuration._ If you really have the use case for it, we can document how to do this on a per-object basis.

[2019-06-27 14:05] dannylamb commented on #1161
Of course somebody's already done it...

[2019-06-27 14:11] dannylamb opened #1194 "Make Islandora a Drupal distribution"
We've talked about this a lot, and it seems like a great way to package up all of our Drupal modules for people.  Let's make an Islandora distribution with a curated list of features you can get from our code + third party modules.  We can even do things like [make sub-profiles](https://horizontalintegration.blog/2019/06/20/customize-distributions-with-sub-profiles/) and create IR or RDM or other

[2019-06-27 14:19] dannylamb opened #1195 "Automatically mirror code to drupal.org"
We should make a Github webhook to mirror code from Github to drupal.org.

[2019-06-27 14:31] bryjbrown commented on #1194
I think Drupal distributions and installation profiles are pretty similar, and I recently ran into some issues with building a D8 installation profile with the project I'm currently working on. An installation profile (and a distribution as well) defines what modules are installed and holds extra configuration states for the site, but you don't specify the version number in the installation profil

[2019-06-27 14:33] seth-shaw-unlv commented on #1192
At its most basic, adding rest_oai_pmh support includes two configs, a dependency on rest_oai_pmh (of course), plus some README documentation. So, how do we want to go about including them?

1. Adding the configs straight into islandora_defaults/config/install adds another dependency that someone might not want and could consider bloat. (Although I think this sentiment is unlikely, given the targe

[2019-06-27 14:34] Natkeeran commented on #1163
@kayakr

Can you pls share the url for the config.zip?

I kind of get what they are saying.  But, not sure how exactly to separate the domain specific config out.  Were you able to find out?

[2019-06-27 14:36] seth-shaw-unlv commented on #1192
@jonathangreen, to your point on the playbook, if we do make this enabled by default, I think adding this to the playbook only requires updating two variables. Not really any trouble at all.

[2019-06-27 14:50] mjordan commented on #1160
I couldn't find anything in the Drupal contrib world that provides IP-based access to content, so I've started a simple module to do that. It uses Context, so site builders can combine IP access with collection membership, migrated 7.x namespaces, tags, etc.

https://github.com/mjordan/ip_range_access

Would love some testing and feedback!

[2019-06-27 14:55] dannylamb commented on #1194
Awesome, thanks for the heads up @bryjbrown .  That's definitely a bear trap to consider.

[2019-06-27 15:02] bryjbrown commented on #1161
@mjordan This could work for some folks, but the most common types of required embargoes for IR users has to do with blocking access to folks outside of a specified IP range, or providing access to a node but blocking download of the node's attached file. https://www.drupal.org/project/moderation_scheduler allows you to schedule a date for publishing a node, but since that leaves the node unpublis

[2019-06-27 15:04] manez commented on #1161
I'm normally a big fan of just doing the Drupal thing, but @bryjbrown that was pretty convincing.

[2019-06-27 15:24] dannylamb opened #1196 "Test fcrepo 5.1.0 RC2"
Drop it into claw-playbook and spin up an environment.  Go through our basic checks.  Make nodes/media, etc... and confirm indexing and multi-lingual content.

[2019-06-27 15:25] bryjbrown commented on #1161
Cross-referencing https://github.com/Islandora-CLAW/CLAW/issues/1160 and https://github.com/mjordan/ip_range_access here since they are very relevant.

[2019-06-27 15:28] seth-shaw-unlv commented on #1192
Okay, another wrinkle. Because we use a Linked Agent field and a hook alter to modify the JSON-LD, we took out the Dublin Core mapping for that field. This means, by default, we have _no_ agents appearing in the OAI-PMH metadata. The first step is to simply add the mapping back in as contributor, but then we have all our creators listed simply as contributors, which isn't good enough.

Two possibl

[2019-06-27 15:44] mjordan commented on #1161
@bryjbrown thanks for the comment. I was going to point out IP Range Access (posted on Github just a couple of hours ago) since it is relevant to what you're saying.

[2019-06-27 16:15] mjordan commented on #1192
@seth-shaw-unlv my $0.02 is go with Twig templates, but ideally we'd provide a UI for allowing the site admin to select a default template. Also.... it would be so awesome to allow for Context Reactions to make a give template used by a request. I can come up with use cases if you want. Not sure where that feature would fit into what you're doing, maybe it's best part of the main REST OAI module.

[2019-06-27 16:27] seth-shaw-unlv commented on #1192
@mjordan, currently you only have three options: metatag, RDF mapping, or custom Twig. There aren't any hooks for Contexts unless we want to hook them in ourselves. That would probably be better done as part of the rest_oai_module though because part of the OAI-PMH spec is being able to reply with what metadata schemas are available.

[2019-06-27 16:28] mjordan commented on #1192
Yes, I think rest_oai_module is the place for Contexts. I'll follow up.

[2019-06-27 16:28] seth-shaw-unlv commented on #1192
Correction, I meant to type rest_oai_pmh module... sometimes my fingers can't keep up with me.

[2019-06-27 16:35] rosiel commented on #1192
I don't really know what I think re "fields -> twig -> DC",  vs. "fields -> RDF -> something -> DC". On one hand, the idea of a "creator" linked agent field maybe makes sense, in a case where 'photographer' could mean a creator or a contributor depending on the context (photograph vs. book containing photographs).

Know that there is a 'relator' called 'creator [cre]' so that is one way to identif

[2019-06-27 16:37] seth-shaw-unlv commented on #1192
Although, I'm still not sure Contexts is the way to go here. Contexts implies that we are able to make a decision based on some pre-set condition of the record. With OAI-PMH, the metadata profile used is either a default one OR one specified by a URL parameter. That is something probably better done with a config file and module code.

[2019-06-27 16:44] manez commented on #1186
After some advice from @seth-shaw-unlv on the last tech call, I think I've got the right place to make changes, and the right changes in place. Now, can anyone help me figure out how to test them? Can I point claw-playbook at my fork of islanodra_defaults to make sure the form edits show up as their supposed to? How?

[2019-06-27 16:52] seth-shaw-unlv commented on #1192
@rosiel, the rest_oai_pmh RDF mapping option uses the Dublin Core predicates and filters out the others, so even if we add other predicates, as long as we leave the Dublin Core ones alongside (RDF mappings can have multiple predicates for a single field), it still works. That means that fields would be duplicated in our RDF as it would have our more specific predicates and the generic Dublin Core.

[2019-06-27 16:55] joecorall commented on #1192
I'm glad to hear you all are considering adding rest_oai_pmh to Islandora 8. Though there is [one major issue](https://www.drupal.org/project/rest_oai_pmh/issues/3062642) that I'm working to resolve before moving the project from "alpha" to "beta". The issue is essentially  to ensure the OAI endpoint is always up to date with the records assigned to be exposed to OAI via Views.

FWIW for the Linke

[2019-06-27 17:10] seth-shaw-unlv commented on #1186
If you take a box that is already setup you can vagrant ssh in, change to the relevant module directory,  pull in your branch’s changes, then do a feature import.

Doing it from the playbook is best done on a branch of the official repos, rather than forks.

[2019-06-27 17:12] davidbasswwu commented on #1172
@mjordan I'll take a swing at integrating that into Electron.  Working on getting Claw up and running now...

[2019-06-27 17:48] Natkeeran opened #1197 "How does multi server deployment work?"
Theoretically, it should be possible to specify different machines [here](https://github.com/Islandora-Devops/claw-playbook/blob/dev/inventory/vagrant/hosts), and deploy the claw components to different machines.  They should be able to talk to each other!

For instance, it seems that database.yml needs to be in the same machine as webserver.yml.

[code]

[code]

[2019-06-27 17:56] manez commented on #1186
"vagrant ssh in, change to the relevant module directory, pull in your branch’s changes" this is kind of where I wander into the woods and get lost, but I'll keep at it.

Edit: Success! Shenanigans involved to use a GUI to SSH into my VM, but success!

[2019-06-27 18:37] mjordan commented on #1172
@davidbasswwu awesome! Workbench is a work in progress and I plan on adding a bunch more CRUD functionality, but what's there should be good enough to get you going. I'm happy to test on Windows and Linux if you want.

[2019-06-27 18:39] seth-shaw-unlv commented on #1172
@davidbasswwu and @mjordan, I'm happy to test OS X and Windows.

[2019-06-27 18:40] DiegoPino commented on #1192
Interesting to read you planning on integrating the same or similar [Archipelago](https://github.com/esmero/format_strawberryfield/commit/26a6ed42b969d4e91b9634c1fde441ae132b5ab6#diff-2fcfa9ba9e0d74206c028ad7e3d8ff1a) architectural feature, Dynamic Twig based Metadata Shaping into Islandora 8. I guess some of you are already aware of this, but in our implementation they work on every aspect of the

[2019-06-27 18:54] mjordan commented on #1192
@seth-shaw-unlv I agree with

but some OAI consumers want specific flavor of DC/MODS, etc. Context will let us do things like "when the request is from SFU's Alma library platform for oai_dc, use this template to generate the DC". The request would still be for oai_dc, but the exact flavor of DC returned would be specific to the Context.

[2019-06-27 18:56] dannylamb commented on #1161
In the end, it's not really _that much_ coursework @bryjbrown.  Still sounds pretty drupal-y to me and in line with how we're doing everything else.  Just put it into plugins and use `context` :+1:

[2019-06-27 19:09] rosiel commented on #1192
Considering all the work that went into making "the RDF representation" cohesive, I don't think it makes good sense to throw DCE into that as well. In addition, DCE do not have ranges, so a "creator" could be a URI (hypothetically - and in our case it's a locally minted one) but I assume (@mjordan  please correct me if I'm wrong) OAI-PMH wants a literal for all its DCE?

[2019-06-27 19:11] mjordan commented on #1192
OAI-PMH just wants DC, so I assume the values are expected to be literal strings (I assume by 'DCE' you mean DC elements).

[2019-06-27 19:12] seth-shaw-unlv commented on #1192
I don't think so. (Granted, I did come to the game after the Drupal->JSON-LD->Fedora chain was established.) Once we do the initial Drupal to RDF mapping, most of that stack is simply working with serializations of RDF.

However, not everyone wants RDF and many other metadata schemas tightly bind their fields to their structure, which means that in many cases a map to another schema is going to re

[2019-06-27 19:33] dannylamb opened #1198 "Ship with Google Scholar friendly config in islandora_defaults"
We can ship with default configuration to aid in Google Scholar indexing, which would amount to two things:

1. Ship with the `sitemap` module, or provide a view that lists articles by year (with NO PAGER, GIVE US ALL THE CONTENTS)
1. Ship with `metatag` configuration to provide the basics using Highwire Press tags.

[2019-06-27 19:36] bryjbrown commented on #1198
Here's a link to the inclusion documentation that has lots of info on appropriate metatags: https://scholar.google.com/intl/en/scholar/inclusion.html#indexing

[2019-06-27 19:38] seth-shaw-unlv commented on #1192
It sounds like we may want to keep our RDF "pure" (not adding in close-enough DC predicates to field mappings) while also providing other harvesters what they want. In that case we should make an oai_dc specific mapping separate from the RDF mapping.

We would still need to somehow distinguish which relators are creators and which are contributors (in the case that the a specific relator, such as

[2019-06-27 19:39] bryjbrown commented on #1198
One of the ideas we've had in the IR IG for finding a use for the name "Scholar" without necessarily recreating all the functionality and structure of 7.x Scholar is to make 8.x Scholar more of a meta module that uses the [Checklist API](https://www.drupal.org/project/checklistapi) and [Tour](https://www.drupal.org/docs/8/core/modules/tour) modules to ensure that someone who wants to use Islandora

[2019-06-27 19:45] seth-shaw-unlv commented on #1192
Yeah, add [Google-scholar specific metatags](https://scholar.google.com/intl/en/scholar/inclusion.html#indexing) to that list....

[2019-06-27 19:53] seth-shaw-unlv commented on #1192
@DiegoPino, I was just looking over the Archipelago code you linked. I see you are storing Twig templates in the database as part of a custom entity. Are you still able to add template preprocessing? Or do we need to keep them as module or theme templates for that?

[2019-06-27 19:57] rosiel commented on #1192
@mjordan I'm using "DCE" to refer to the [Dublin Core Element Set](http://www.dublincore.org/specifications/dublin-core/dces/1999-07-02/), yes. It seems commonplace nowadays to use "DC" to mean the [DCMI Metadata Terms](http://www.dublincore.org/specifications/dublin-core/dcmi-terms/), a much more nuanced collection of terms and the successor to the now defunct "Qualified Dublin Core". But while a

[2019-06-27 20:03] mjordan commented on #1192
@rosiel right, *that* DCE. Been so long since I used it, it fell out of my instantly accessible vocabulary. (See, there is a use for URIs in normal human dialogue!)

I understand what you're saying, but I think that most OAI-PMH consumers would be expecting literals. But, being able to include anything else (like a URI) would support the idea of using Context to optionally allow for returning cons

[2019-06-27 20:18] seth-shaw-unlv commented on #1192
So, strictly speaking, if OAI-PMH feeds are only expressing literals, we need to convert DC terms that aren't ranged literals into their DC Elements correlarries. I don't think I had noticed that they weren't also ranged for literals. Good to know.

[2019-06-27 20:36] kayakr commented on #1163
@Natkeeran The config.zip comes from the Drupal Search API module config on your local install, e.g. http://localhost:8000/admin/config/search/search-api/server/default_solr_server

I haven't found any docs re the domain-specific config.

[2019-06-27 20:37] seth-shaw-unlv commented on #1192
Attempt to summarize some of this conversation:

In the short term using the RDF mapping is reasonable because all of our existing mappings are RDF. The one hitch is the linked agent, but that can be accounted for by implementing hook_preprocess_rest_oai_pmh_record (as @joecorall [indicated](https://github.com/Islandora-CLAW/CLAW/issues/1192#issuecomment-506427459)). However, we should still make

[2019-06-27 20:43] mjordan commented on #1192
@seth-shaw-unlv thanks that's useful. Just to clarify the bit about Contexts, I'm saying that they could determine which template to use within a particular schema, not that they should replace the `metadataPrefix` request parameter. I can provide some specific use cases later.

[2019-06-27 20:52] Natkeeran commented on #1197
I have the following setup.  For some reason, it is trying to install solr in both machines, even though I only added it to be installed on the "other_stack" machine.

[code]

[2019-06-28 13:19] dannylamb commented on #1160
Couple of things I noticed just checking the code (no testing yet... would have to think through how to set up the testing scenario):

1. Schema entries for the plugins \o/
1. Does the context reaction for blocking access even need a form?  Seems like it should just do it, and doesn't really require the checkbox.

[2019-06-28 14:06] mjordan commented on #1160
@dannylamb thanks. I have an [issue](https://github.com/mjordan/ip_range_access/issues/4), and a fix, for 1, just haven't pushed it up yet.

For 2, you're right, it doesn't, I have that there in anticipation of https://github.com/mjordan/ip_range_access/issues/2.

I'm still making sure that the "Negate the condition" logic works. I'll try for a bit more, but I'd appreciate a second set of eyes on

[2019-06-28 14:36] mjordan opened #1199 "NodeHadNamespace condition uses hard-coded field, should use configured field"
https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/src/Plugin/Condition/NodeHadNamespace.php#L148 uses `$entity->hasField('field_pid'))`, should use `$entity->hasField($pid_field))`. My apologies, I'll open a PR.

[2019-06-28 14:38] seth-shaw-unlv commented on #1199
No worries, I should have caught that during the review before merging it. I'll be more careful.

[2019-06-28 14:51] mjordan commented on #1199
Me too!

[2019-06-28 15:15] dannylamb commented on #1196
I just gave this a basic smoke test and everything looks ok.  I can confirm basic functionality, fcrepo indexing, derivatives, content translation, external content, etc... all play nice.  :+1:

[2019-06-28 15:17] dannylamb commented on #1196
FYI, to test:

[code]

[2019-06-28 15:30] dannylamb commented on #1197
@Natkeeran There's probably going to be all kinds of spots where we run into localhost assumptions here, glad you are attempting this.  There may be a lot of config we have to set to use IPs in all the roles, even those we don't maintain.

As for Solr, I have no idea.  Somehow that role's getting applied to both hosts.

[2019-06-28 15:53] jonathangreen commented on #1197
@Natkeeran yah I always wanted this to be able to work with multiple hosts, but I never got that far during development, so there is probably going to be some work to make sure all the correct things end up in the correct places with the correct IPs.

[2019-06-28 17:18] dannylamb opened #1200 "Ansible vs. Travis: Sniffs out of alignment"
Travis has `drupal/coder` version `8.3.5` vs. `8.3.3` for `claw-playbook`.  We should line those up, as the sniffs have gotten better and are detecting new violations.

[2019-06-29 00:11] davidbasswwu commented on #1172
I'm taking next week off, but I did make some good progress today, so I'll let you know when I have something ready.

[2019-07-01 13:18] DiegoPino commented on #1192
@seth-shaw-unlv sorry for the delayed response: You can add template preprocessing since its part of the rendering chain, but we have no use for that right now since we pass JSON data + whole Node too to the template engine.I think i pointed you to our first public commit but code has of course evolved in the meantime. [Twig D8 best practices](https://www.drupal.org/docs/8/theming/twig/twig-best-p

[2019-07-01 16:00] rosiel commented on #1181
@whikloj 's approach is 100% _what the user should interact with._ You go to a parent to order its children. Store this in Drupal however the heck you want.

But it is impossible to say "'Purple Rain' is on 'My Mixtape' and is track 4" in RDF without some sort of proxy structure. That's why PCDM does its proxyIn/proxyFor thing.

However, it makes a choice (and I don't know why, but it's probably e

[2019-07-01 21:45] mjordan commented on #1172
@davidbasswwu I've added delete, update, and add_media ability to workbench. If you pull in the latest version, you will need to add `task: create` to your config.yml file.

[2019-07-02 14:07] dannylamb opened #1201 "Investigate ansible-bender to build docker containers from our existing ansible roles"
Check it out and see if it even works: https://github.com/ansible-community/ansible-bender

[2019-07-02 14:15] manez opened #1202 "Add license files to Devops repos"
Most of the repos in https://github.com/Islandora-Devops don't have an actual license file, although they do have a license listed in their readmes. I'm going to be doing a bunch of prs for [CONTRIBUTING.md](https://github.com/Islandora-CLAW/CLAW/issues/1173) and the [pull request template](https://github.com/Islandora-CLAW/CLAW/issues/1188), so I'll include fixing this as well.

[2019-07-02 15:52] manez commented on #1202
There's one odd one out: https://github.com/Islandora-Devops/ansible-role-matomo has a GPLv3 license already attached. As noted in [this pr](https://github.com/Islandora-Devops/ansible-role-matomo/pull/4) should this be MIT?

[2019-07-02 16:26] mjordan opened #1203 "PATCHing overwrites exsiting values in a field"
Issuing a [`PATCH`](https://github.com/Islandora-CLAW/CLAW/blob/master/docs/technical-documentation/rest-patch.md) overwrites the value of the specified field. This is expected behavior, but should be documented. In order to retain the existing values, you need to `GET`  (or otherwise know) the existing node and pick out the target field value, and then append the new value to it.

[2019-07-02 16:48] dannylamb commented on #1202
All non-drupal code is supposed to MIT.  I'm not sure what the implications of just changing the license are... but we can do that.

[2019-07-02 16:48] mjordan commented on #1199
Resolved with a956f5a4a9be9ed428073d509492f0f1685d7993.

[2019-07-02 16:48] #1199 closed, assigned to mjordan

[2019-07-03 07:35] kayakr commented on #1163
@Natkeeran The search_api maintainer has pointed me at https://www.drupal.org/docs/8/modules/search-api-solr/howtos-3064550/howto-define-a-new-content-domain and `config/optional` folder, see https://drupalchat.me/channel/search?msg=EwreJpbykjpq8vKKG

[2019-07-03 14:04] rosiel commented on #1198
From what I can see, metatag (contrib) and rdf (core) both do very similar things, i.e. configuring mappings between Drupal fields and RDF predicates.

Do we know how well they'd work "together" (in the sense of: how similar are the things that they're doing, do we need both, and can we "synchronize" mappings between them? Or does it make sense to maintain duplicate mappings because they have diff

[2019-07-03 16:17] rosiel commented on #1198
After talking with Danny, it sounds like yes, we need Metatag.

It would be good to open the door to more (to overload a word) _contextual_ mappings, whether that's with templates or different endpoints or whatnot. But that should probably not get in the way of shipping with metatag, which is out-of-the-box and makes the Alphabet Overlords happy.

[2019-07-03 16:29] dannylamb commented on #1196
Think we're good here.  Closing.

[2019-07-03 16:29] #1196 closed, assigned to whikloj

[2019-07-03 18:00] alxp commented on #1194
Acquia lightning sub-profiles: https://docs.acquia.com/lightning/subprofile/

[2019-07-03 18:10] alxp commented on #1194
And here's how Lightning packages up their distort so that it is controlled by composer, which handles the version updates: https://github.com/acquia/lightning-project

[2019-07-03 19:09] ppound commented on #1166
The SFTP driver seems to work if you paste the contents of the key instead of a file path for the privateKey config and comment out the port (or change it to 22 unless ssh really is running on port 21 on your SFTP server, I also commented out the timeout and cache for our tests ).  I tried this on a remote build not a vagrant virtualbox install (I'm not sure if networking would cause issues when u

[2019-07-03 19:15] dannylamb commented on #1198
Heads up: https://www.drupal.org/project/metatag_google_scholar

Looks like it could work for us.

[2019-07-03 20:50] mjordan commented on #1186
PR merged in fef6b30eab3b0c365e82c902122f67f2da152ca7.

[2019-07-03 20:50] #1186 closed, assigned to nobody

[2019-07-03 20:54] mjordan opened #1205 "Update Datastreams docs to reflect multiple Media Use tags"
Now that we have #1142 and https://github.com/Islandora-CLAW/islandora/pull/150,  we should update https://github.com/Islandora-CLAW/CLAW/blob/master/docs/user-documentation/datastreams.md accordingly

[2019-07-04 14:13] #1182 closed, assigned to nobody

[2019-07-04 15:29] rosiel commented on #1198
It'd be great to reuse something, even though it's beta1 and hasn't been updated in 2 years. Assuming it does what it claims to, does that jive with what the IRIG knows from interacting with actual humans at Google?

[2019-07-04 16:44] mjordan commented on #1172
Over in https://github.com/mjordan/islandora_workbench/issues/8, @seth-shaw-unlv has created a proof of concept implementation of [jExcel](https://bossanova.uk/jexcel/v3/) that can be integrated into the Electron desktop app, providing a GUI CSV editor for end users. His implementation queries Islandora to get taxonomy terms (in the screenshot below, the vocabulary is "Access Terms") which are imp

[2019-07-04 16:47] mjordan commented on #1172
@manez you like this?

[2019-07-04 16:52] manez commented on #1172
I could toss a few more emoji on there to be clear 😄

I'm imagining being able to add this to the Admin track at iCamps.

[2019-07-04 16:54] seth-shaw-unlv commented on #1172
Keep in mind that it is _just_ a proof of concept so far. There is a lot of potential here.  Validation can happen on a cell value change so you know there is a problem immediately.

Also, you could probably build this directly into your Drupal as a mass editor.

[2019-07-04 16:56] mjordan commented on #1172
@seth-shaw-unlv yes, that is another option... interesting.

[2019-07-04 16:58] dannylamb commented on #1172
@mjordan I believe what you meant to shout was <img src="https://media0.giphy.com/media/Qh6NZWsFx1G1O/giphy.gif"/>

[2019-07-04 17:02] dannylamb commented on #1172
Yeah... just wait till it can load rows from views results :rocket:

[2019-07-04 18:04] dannylamb commented on #1173
Awesome, thx @manez

[2019-07-04 18:04] #1173 closed, assigned to nobody

[2019-07-04 18:04] dannylamb commented on #1188
Done!

[2019-07-04 18:04] #1188 closed, assigned to nobody

[2019-07-04 18:05] dannylamb commented on #1202
Done.  Again, thx @manez.

[2019-07-04 18:05] #1202 closed, assigned to manez

[2019-07-04 18:17] #1200 closed, assigned to nobody

[2019-07-05 02:28] mjordan opened #1208 "Document how to replace a media"
In Islandora 7.x we have the ability to replace a datastream:

![replace_datastream](https://user-images.githubusercontent.com/403918/60693806-837d0a80-9e90-11e9-8774-45fd2a49a512.png)

In Islandora 8, you must "Remove" the file and replace it with another:

![media](https://user-images.githubusercontent.com/403918/60693866-baebb700-9e90-11e9-8d0a-fcc5054b47e8.png)

This should be documented at ht

[2019-07-05 13:37] dannylamb commented on #1208
You should link out to https://islandora-claw.github.io/CLAW/technical-documentation/rest-create/#files-and-media as well to point out that there's ways to do this headlessly.

[2019-07-05 14:50] mjordan commented on #1205
PR is merged, closing.

[2019-07-05 14:50] #1205 closed, assigned to nobody

[2019-07-08 18:26] dannylamb opened #1209 "Moving files wrecks things"
Drupal doesn't really let you move files through the UI, but if an automated process or some other code moves a file, things get funky.  Gemini and media metadata will get out of sync because the file's uri changes, which is something we've generally considered to be immutable.

[2019-07-08 18:30] dannylamb commented on #1171
Adding tokens for the results of our various EVAs would be super useful.  For example, if we want to do schema.org metatags, then we need to be able to get at the thumbnail using a token for the node.  Something like `[node:media_thumbnail:url]` to get the thumbnail url is how we could easily do that.

[2019-07-08 20:47] kayakr commented on #1171
@dannylamb We're using something like this for dcterms & og & twitter metatags.
[code]
I can share more code in a week.

[2019-07-10 14:30] dannylamb commented on #1175
@whikloj @manez Are we good to close this one?

[2019-07-10 15:01] manez commented on #1175
I did all the ones I could find, but I'd rather have some one else sign off on whether that was enough.

[2019-07-10 16:36] mjordan opened #1210 "Create a Delete object and all media action"
Over in #1186 (now closed), @dannylamb sez:

[2019-07-10 16:44] mjordan commented on #1210
But keep #1032 in mind if we allow one media to be used by multiple nodes.

[2019-07-10 17:25] mjordan commented on #1193
July 10, 2019 tech call: maybe just document this so people know it's an option. I am happy to do so if I can be told where to document it.

[2019-07-10 17:28] manez opened #1211 "Display Hints should not allow more than one option selected"
Tried this out in the sandbox on an image object; if you check both options, it defaults to just displaying the image. No OpenSeadragon viewer. Order of turning the options on doesn't matter. Should be a pretty easy fix.

![image](https://user-images.githubusercontent.com/2371345/60990471-db978f00-a31e-11e9-8e46-ab62689ecf90.png)

[2019-07-10 17:46] mjordan commented on #1210
July 10, 2019 tech call: @dannylamb recommends not worrying about #1032 now but deal with it later as required.

[2019-07-10 17:47] mjordan commented on #1210
Delete everything: node, media, and associated files.

[2019-07-10 17:48] dannylamb opened #1212 "There's two 'Delete Media' actions"
We provide one, but since Drupal 8.6 there's one in core.  So we can get rid of our custom Delete Media action.

[2019-07-10 18:15] manez commented on #1193
"Where to document it" is a challenge, isn't it? Browsing through the docs for related concepts, I think the best place to make it most findable for front-end users would be to add a section to https://islandora-claw.github.io/CLAW/user-documentation/objects/ about display hints, make a note that they can be set globally with contexts, and include those four steps.

[2019-07-10 20:07] seth-shaw-unlv opened #1213 "Can't reindex a Node after it is deleted from Fedora"
It appears that once a node has been deleted from Fedora it cannot be added back:

1. Create an islandora_object node
1. Ensure it is in Fedora
1. From the Drupal 8 Content Page, select the node and run the 'Delete Node from Fedora' action (do the triplestore one too if you want).
1. Verify the node is no longer in Fedora (you will see a tombstone page).
1. From the Drupal 8 Content Page, select t

[2019-07-10 20:15] seth-shaw-unlv opened #1214 "Is Published Condition"
I would like to enable my repository to only index published nodes in Fedora. The easiest way to do this is adding a NodeIsPublished condition that I can add to the "Content" context conditions. I don't think this needs to be the default, but I think it is a good capability to have.

I'm not doing one for Media (yet) because I'm not sure about the Flysystem implications of doing so.

PR incoming.

[2019-07-10 20:17] DiegoPino commented on #1213
1.- You need to kill the tombstone with an additional HTTP request (see the API docs), but then, what is the purpose of a tombstone if its going to be removed?
2.- Yes you can, UUID is user(code) updatable, but then, if anything else is pointing/referring to that UUID (as it will eventually be) you need to change if Drupal wide.
3.- To put it back you need to delete the tombstone anyway

[2019-07-10 20:39] seth-shaw-unlv commented on #1213
Usually, yeah, when we kill something we intend for it to be gone for good. However, there are occasionally those "my bad" moments where "I didn't mean to do that" and you want to put it back.

This is certainly an edge-case and not a day-to-day workflow thing, but my guess is _someone_ will eventually accidentally delete something (the Delete from Fedora action is _second_ on the action dropdown

[2019-07-10 23:48] dannylamb commented on #1213
Could've sworn we were deleting tombstones. This has come up before. I'll
have to take a deeper look to see what's really happening vs. my
expectations.

On Wed, Jul 10, 2019, 17:39 Seth Shaw <notifications@github.com> wrote:

[2019-07-11 14:07] mjordan opened #1215 "Drupal reassigns node IDs"
I have narrowed down circumstances in which Drupal reassigns node IDs. The conditions for this to happen are that that no nodes exist (in other words, the highest node ID value at the time is 0), and it only happens just after you boot the Vagrant. You can replicate this behavior by doing the following:

1. delete all nodes from your Vagrant and `vagrant halt` it.
1. `vagrant up` it.
1. create a n

[2019-07-11 14:15] wrandtkeflvc commented on #1213
So, I may be way off here, if tombstones is a Fedora term of art rather than the generic term.

A use case where you would want a tombstone for a while, but not forever, is when working with a harvester where the harvester uses tombstones to remove records from the last harvest.  The OAI-PMH standard version 2 (the current version) was released in 2002, when downloading a video clip was an all day

[2019-07-11 14:19] dannylamb commented on #1215
Wow...

Artifact of mysql peculiarities plus virtualization subtleties...

That's a scary one.

[2019-07-11 14:22] mjordan commented on #1215
Could also explain things @manez was describing, since orphaned media would be associated with a node ID that was reused.

[2019-07-12 16:49] mjordan commented on #1192
As a test of how this module can respond with non-DC metadata, I'd like to nominate ETDMS as the second format.

[2019-07-12 19:05] joecorall commented on #1192
I created a feature branch on rest_oai_pmh for a submodule that provides etdms format. It's only a very rough start since I am not familiar with the ETDMS metadata format. It basically acts identical to oai_dc, but instead of wrapping the record metadata in `<oai_dc:dc>` tags, it's wrapped in a `<thesis>` tag. You can take a look at the submodule here >>> https://github.com/kent-state-university-l

[2019-07-12 19:25] mjordan commented on #1192
@joecorall sounds good. I like the hook approach! I know a lot of Islandora sites will be very interested in early ETDMS support.

[2019-07-15 14:41] whikloj commented on #1213
Doesn't look like we are deleting tombstones, I feel like we might have thought this should be optional/configurable.

The only reason you should re-use a URI is for the same content, but then why would we allow you to DELETE and then PUT. Seems better to just PUT the updated content over-top.

That being said, Milliner does the delete [here](https://github.com/Islandora-CLAW/Crayfish/blob/dev/Mil

[2019-07-15 15:17] manez commented on #1211
Fixed!

[2019-07-15 15:17] #1211 closed, assigned to nobody

[2019-07-16 01:28] mjordan commented on #1214
Merged.

[2019-07-16 01:28] #1214 closed, assigned to nobody

[2019-07-16 13:44] mjordan opened #1218 "Declaw migrate_7x_claw?"
As part of the general phasing out of the "CLAW" brand, should we rename https://github.com/Islandora-Devops/migrate_7x_claw to something like https://github.com/Islandora-Devops/migrate_7x ?

[2019-07-16 13:52] bryjbrown commented on #1218
This may be extremely nitpicky, but `migrate_7x_claw` gives a user an immediate clue as to what the thing does. It migrates from 7.x to CLAW. Id say instead of just dropping the CLAW bit, it should instead be something like `migrate_7x_to_8x`, or in the spirit of the Python "2to3" module, `migrate_7to8`.

[2019-07-16 14:07] mjordan commented on #1218
Agreed, I shouldn`t have suggested migrate_7x.

[2019-07-17 15:02] mjordan opened #1219 "Round tripping nodes"
As an experiment I retrieved a node using `curl -v -o node.json  "http://admin:islandora@localhost:8000/node/399?_format=json"` and then tried to POST it back using the contents of `node.json` as my payload. Drupal responded with a 403 indicating `{"message":"Access denied on creating field \u0027nid\u0027."}`. I then removed the `nid` field from my JSON and tried again, and was successively told

[2019-07-17 15:42] DiegoPino commented on #1219
Yes, we do that at archipelago. See discussion here. https://groups.google.com/forum/#!topic/archipelago-commons/tamyrbqsmnk

[2019-07-17 16:42] dannylamb commented on #1219
Is that code available on Github @DiegoPino?  I took a cursory look and couldn't find anything.  Any insight you could provide would be helpful if @mjordan pursues this feature.

@mjordan Would it help to try this out with `jsonapi` instead of the regular `json` format?  It works off of UUID so things _might_ be a little easier when POSTing the back in?  Total speculation, but might be worth tryin

[2019-07-17 17:29] mjordan commented on #1215
Closed during July 17 tech call.

[2019-07-17 17:29] #1215 closed, assigned to nobody

[2019-07-17 17:50] DiegoPino commented on #1219
We are close to a beta release. Will make sure to share our code publicly here once that happens so @mjordan can give it a look. `jsonapi` is the lowest hanging fruit but it requires a multi step ingest, first upload files or media? then ingest the the json. I had some mixed issues with having normal rest and jsonapi at the same type when using the most basic authentication but it can be just us s

[2019-07-17 19:13] mjordan commented on #1219
@DiegoPino  we discussed this capability at today's Islandora 8 tech call and the consensus was that preserving a less Drupal-version-specific representation of nodes and media (which would then be converted into whatever the specific target representation of the current day is) is worth investigating before we spend any more effort on development. That approach would be more complicated than slup

[2019-07-18 19:09] dannylamb opened #1223 "Document and enforce that terms need field_external_uri to work with our context conditions"
From https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/islandora/dND3KsqQT4w/V_AnFSTEDwAJ

We should at least give people a heads up in documentation or, even better, through the UI.  We should also require this field, just to prevent more confusion.

[2019-07-18 20:36] whikloj opened #1224 "Move microservices from Silex to Symfony 4"
This ticket is to alter the existing microservices from the now deprecated Silex framework to symfony-flex.

[2019-07-18 21:23] mjordan commented on #1224
FWIW, [Riprap](https://github.com/mjordan/riprap), while not a core microservice, is in Symfony 4, as is [Islandora Bagger](https://github.com/mjordan/islandora_bagger). I think UPEI's FITS microservice is Symfony 4 as well.

[2019-07-19 02:53] #1212 closed, assigned to nobody

[2019-07-19 02:54] mjordan commented on #1208
PR merged.

[2019-07-19 13:33] dannylamb commented on #1224
Yep, it's called [Crayfits](https://github.com/roblib/CrayFits)

[2019-07-19 14:40] whikloj commented on #1224
@mjordan then you should be able to depend on `"islandora/crayfish-commons:dev-symfony-flex"` and configure it to use the JWT token authentication like in https://github.com/Islandora-CLAW/Crayfish/pull/73

[2019-07-19 19:25] dannylamb opened #1225 "Drupal.org hates our release tags"
Although at some point I read that you could name a tag anything, it's looking like if I want the release to show up on Drupal.org, it has to be renamed to 8.x-1.0 (no 1.0.0) and be based off of a  non-master branch (I specifically chose master as the stable branch).

I'm not sure how best to proceed.  Those tags must remain for packagist and our current install.  I'm thinking i'll splice off bran

[2019-07-19 19:26] Natkeeran opened #1226 "OpenSeaDragon fails to load image on translated nodes"
## Summary
OpenSeaDraogn fails to load image on translated nodes

## Steps to reproduce
* Enable a second language
* Create an image with display tag openseadragon
* (The image is displayed in the openseadragon)
* Translate the node
* The image is not displayed in the openseadragon
* It gets a 404 error

[2019-07-19 19:26] dannylamb commented on #1225
https://www.drupal.org/node/1015226 for reference

[2019-07-19 19:31] alxp commented on #1225
If something is on Drupal.org, composer can find it with the 'Drupal/' prefix so packages is no longer necessary unless I'm missing another use for it

[2019-07-19 20:22] whikloj commented on #1225
Looks like we need to have our 1.0.0 release tag called 6.1.0
https://www.drupal.org/docs/8/distributions/degov/semantic-versioning-model

[2019-07-19 20:23] whikloj commented on #1225
Oh no, sorry that is for the deGov distribution. Mea culpa

[2019-07-20 14:35] rosiel commented on #1208
I don't know if this is in scope. But does this process still leave the original file and its metadata floating around in Fedora? @dannylamb

[2019-07-20 22:19] mjordan opened #1227 "Federated search"
Came across Palantir.net’s [Federated Search](https://www.palantir.net/blog/introducing-federated-search) project ([accompanying Drupal module](https://www.drupal.org/project/search_api_federated_solr)). Would be interesting to give their [demo Vagrant](https://github.com/palantirnet/federated-search-demo) a go with Islandora-configured Drupal instances.

[2019-07-21 10:12] kayakr commented on #1172
I'm interested in seeing where this goes. Two projects that may be relevant:
* DataCurator - Electron-based data-wrangling app with a spreadsheet UI and backed by data packages and table schema. The idea is that data entry staff can focus on entering & validating data, then download a data package and/or upload/push to repository. https://github.com/ODIQueensland/data-curator
* TUS protocol for ch

[2019-07-21 16:16] mjordan commented on #1172
@kayakr excellent pointers. tus certainly looks like it would be useful, and I've already noted it over at the workbench repo,

[2019-07-21 21:44] kayakr opened #1228 "Update OpenSeadragon to 2.4.1"
Open Seadragon in default Islandora 8 is v=2.2.1
2.4.1 is available https://github.com/openseadragon/openseadragon/releases/tag/v2.4.1, and may fix some issues we've encountered in efficient IIIF Image API v2.1. tiling.

[2019-07-24 05:29] kayakr commented on #1228
We've updated to v2.4.1 locally and no issues detected.

[2019-07-29 17:26] Natkeeran opened #1229 "Support installing claw-playbook behind proxies"
When running claw-playbook behind proxies, it runs into two issue:

* apt_repository does not respect proxy settings.  Thus, it fails in installing repos for [php](https://github.com/geerlingguy/ansible-role-php/blob/61c2ba824508dc4b14e76475f520f8e60e2c78a1/molecule/default/playbook.yml#L26, ) and [imagemagick](https://github.com/Islandora-Devops/ansible-role-crayfish/blob/35b46fed046f7b0d8f43df8c

[2019-07-29 17:50] Natkeeran opened #1230 "Enable Matoma to be optionally installed and configured"
Not all users would want Matoma server to be installed.  Some users may already have an existing Matoma server.

Relevant playbook links:
Matoma gets installed here: https://github.com/Islandora-Devops/claw-playbook/blob/dev/webserver.yml#L23

Matoma gets configured here:  https://github.com/Islandora-Devops/claw-playbook/blob/dev/roles/internal/webserver-app/tasks/drupal.yml#L85

There is another

[2019-07-29 19:24] Natkeeran opened #1231 "Use service name instead of localhost"
Claw-playbook and related roles use quite a number localhost as endpoints.  When deploying to multiple machines, the user has to carefully configure the many places it appears. To help improve this, we can use service_name or host_name configured in `/etc/hosts`.  Thus, instead of `http://localhost:8080/fcrepo/rest`, it can be `http://fedora:8080/fcrepo/rest`.

In addition to helping simplify conf

[2019-07-30 01:41] kayakr opened #1232 "Move away from RSASSA-PKCS1-v1_5 using SHA-256 (RS256) as JWT default"
http://future.islandora.ca/admin/config/system/jwt defaults to RSASSA-PKCS1-v1_5 using SHA-256 (RS256). Security review of an Islandora 8 instance pointed out that https://tools.ietf.org/html/rfc3447#page-28 says "RSASSA-PKCS1-v1_5 is included for compatibility with existing applications, and while still appropriate for new applications, a gradual transition to RSASSA-PSS is encouraged." Perhaps H

[2019-07-30 15:39] Natkeeran opened #1233 "Upload/display multiple formats of a Repository Item"
Title (Goal) | Allow user to upload and display multiple formats of a repository item
-- | --
Primary Actor | user
Scope | Drupal
Level | Medium !
Story | I want to create a repository item for a book.  It is available in multiple formats such as pdf, epub, audio book, plain text etc.  I want to choose one format for default display.  And when the user clicks on another format, display that work i

[2019-07-30 16:07] dannylamb commented on #1233
This feels like an exercise in finding the right taxonomy terms so we can keep things neatly organized.  Good one, I like it!

[2019-07-30 18:11] seth-shaw-unlv commented on #1172
@kayakr thanks for the pointers! Both of these look interesting. I will certainly take inspiration from DataCurator.

It looks like DataCurator is tagging an older version of the JavaScript spreadsheet library Handsontable (^3.0.0). I was initially planning on using Handsontable until they switched their licensing model as of version 7 and I wasn't confident on relying on forked versions from vers

[2019-07-30 19:26] dannylamb commented on #1228
@kayakr https://github.com/Islandora-Devops/ansible-role-drupal-openseadragon/pull/8

Yours to merge :)

[2019-07-31 15:49] Natkeeran commented on #1233
@dannylamb
Probably a view with various formats, ability to dynamically load a viewer based on what the user selects based on additional or hierarchy of contexts/reactions.

[2019-08-01 14:09] mjordan opened #1234 "Creative Commons licenses"
Looks like the Creative Commons contrib module for Drupal 8 [is stalled](https://www.drupal.org/project/creative_commons/issues/2938260). CC licenses are something SFU needs to have before we can migrate out IR to Islandora 8, since we used the D6 version of the module extensively (our IR is a D6 site).

I am thinking it would be possible to implement the ability to use CC licenses (and maybe othe

[2019-08-01 14:18] alxp commented on #1234
I made this module for another project outside of Islandora but it might be something we can adapt for our needs here. One thing is that it attaches to media directly and not to nodes, which might be something we'd want to change

https://www.drupal.org/project/media_attribution

[2019-08-01 14:22] mjordan commented on #1234
@alxp heh, great minds think alike. I agree, the node is the preferred entity, but it would be very useful to allow both types of entity to have licenses. I'll give the module a spin before next week (at a conference now and may not have net access over the next few eays).

[2019-08-01 15:26] Natkeeran opened #1235 "Thumbnails for controlled_access_terms"
Islandora 7.x Entities Solution Pack supports thumbnails for entities.  Those entities are implemented via controlled access terms/taxonomies.  Taxonomies do not support thumbnails yet.

Related ticket:
https://github.com/Islandora-CLAW/CLAW/issues/1111

[2019-08-01 15:28] Natkeeran commented on #1234
We can extend that to any type of right statement.  However, we may need a way to qualify the type or source: https://rightsstatements.org/en/

[2019-08-01 19:00] Natkeeran commented on #1162
@dannylamb

Can we load this list http://id.loc.gov/vocabulary/languages.html as a taxonomy and create a reference field to point to it!

Or, we can create it as a taxonomy and leave it to the end user to populate the vocabulary.

[2019-08-01 19:08] seth-shaw-unlv commented on #1162
@Natkeeran, @dannylamb  Once the vocabulary is setup it would be easy to create a CSV migration of [the tabbed version](http://id.loc.gov/vocabulary/languages.tsv); although that would slurp in _all_ of the terms. I imagine most repositories won't have a diverse enough content set to warrant all of them. (Having a lot of unused taxonomy terms isn't the best UX.)

[2019-08-01 19:11] alxp commented on #1234
@mjordan I can make you a co-maintainer if you like, it was specifically made to let you print an attribution below a media as it's used in e.g. an article, but it does a nice job of populating a taxonomy with the CC licenses with appropriate images which can be added to with other licenses.

[2019-08-01 19:11] seth-shaw-unlv commented on #1162
We could build the framework and recipe though. Build the taxonomy and a migration aimed at a local path, then tell repository admins to download the TSV and remove the unwanted entries before migrating...

[2019-08-01 19:34] rangel35 commented on #1162
any thoughts on pre-populating with some of the more common languages for our out of the box users

there must be a list of the most common languages we can use...

[2019-08-01 19:59] seth-shaw-unlv commented on #1162
Considering the global use of the software, I don't know that there is. Sure, on the North American continent we can generally assume English, French, and Spanish; the only other collection material we have here I belive is in Korean (so says my quick database search). But that is going to be very different for other areas such as Europe. I don't think we can make any assumptions here.

[2019-08-01 20:06] rangel35 commented on #1162
that's true...I didn't think it all the way through :) maybe we can provide a step by step guide to how to import taxonomies in general (or do we already have that and I just haven't checked)

[2019-08-02 17:07] Natkeeran opened #1236 "What is the difference between field_external_authority_link and field_authority_link"
In the taxonomy fields, there are field_external_authority_link and field_authority_link fields.  What is the difference between field_external_authority_link and field_authority_link?

[2019-08-02 17:14] seth-shaw-unlv commented on #1236
If I recall correctly: field_external_authority_link is the old version of field_authority_link. It should be removed since nothing uses it.

[2019-08-02 17:35] Natkeeran commented on #1236
@seth-shaw-unlv thank you for the info.

It is disabled Resource Type.  Lets keep this ticket to remove it.  Need to add the authority_link field to the Resource Type as well.

[2019-08-02 17:47] Natkeeran opened #1237 "EVA: OpenSeadragon Media EVAs - Original File enabled for binary view display mode"
"EVA: OpenSeadragon Media EVAs - Original File"  view is enabled for binary view display mode.  I suppose there are no side effects to this.  But, should it be?

[2019-08-02 17:51] seth-shaw-unlv commented on #1236
References to field_external_authority_link should simply be replaced with field_authority_link and then we can add the field to the form and display settings to make it consistent with the other vocabularies provided by the module.

[2019-08-02 22:06] elizoller opened #1238 "Media View Breaks with Islandora Breadcrumbs"
When I have Islandora Breadcrumbs enabled and go to view the media tab for a Repository Item node, I receive an error ```Error: Call to a member function hasField() on string in Drupal\islandora_breadcrumbs\IslandoraBreadcrumbBuilder->applies() (line 39 of ...web/modules/contrib/islandora/modules/islandora_breadcrumbs/src/IslandoraBreadcrumbBuilder.php)```

[2019-08-02 22:08] seth-shaw-unlv commented on #1238
I can look at it Monday.

[2019-08-02 22:14] elizoller commented on #1238
cool, thanks

[2019-08-05 14:57] seth-shaw-unlv commented on #1197
Another note on this, tomcat.yml presumes java is already installed. We should probably bring in the same [java bits the solr.yml has](https://github.com/Islandora-Devops/claw-playbook/blob/dev/solr.yml#L7-L14) into the tomcat.yml one.

[2019-08-06 14:21] rosiel opened #1239 "Creating a new Islandora Content Type, and UI woes with the media_of field"
Say I wanted to make a new Drupal content type for Islandora content. This was a closed documentation ticket, https://github.com/Islandora-CLAW/CLAW/issues/85, and there is a "Create a Content Type" section at https://islandora-claw.github.io/CLAW/user-documentation/content_types/. It is good because it walks you through configuring that new content type to get indexed by Fedora and the triplestor

[2019-08-06 14:28] seth-shaw-unlv commented on #1239
We could also add a little form that provides a drop-down list of the content types and a button, labeled something like "Islandora-ize," that slots the new content type into all the configs Rosie mentioned.

[2019-08-06 14:29] dannylamb commented on #1239
...and that's the friggin' link between islandora_core_feature and islandora_defaults that's been thwarting me forever.  Ima gonna verify that once my latest box spins up.

[2019-08-06 17:05] dannylamb commented on #1239
Nope.  Dangit.  By default, that field is set up to reference any node type.  :sob: Good to know it'll work with new content types, but I was really hoping I found the missing link between those two features.

Anyhow, sorry to sidetrack this thread.  :+1: to the improvement.

[2019-08-06 18:55] rosiel opened #1240 "Really Large Files (potential use case for External Content)"
How can we deal with files that are too large to add to Islandora "the usual way" (which is uploading files to Media using a web browser)? We're thinking Terabyte-sized files, that we want to preserve using Fedora (or, at least, Islandora).

Currently (after https://github.com/Islandora-CLAW/CLAW/issues/564) the workflow for using Fedora with external content is to add a file to a Media type that

[2019-08-06 19:02] ajstanley commented on #1239
I've got a small change I'll put in as a pull request if folks think it's a good idea.  It just filters through the media types (which are already filtered to show only those types with a media_of field) and only shows those media types which are legal for that content type.  I've grandfathered in the semi-legal media types which we get by default with no content type selected yet.

[2019-08-06 19:29] seth-shaw-unlv commented on #1240
I don't know about TB (they mention several GB), but the [plupload_widget](https://www.drupal.org/project/plupload_widget) Drupal module can let us upload things bigger than the PHP max file size limit.

Of course, if you already have the large file where you want it on the web, then we will probably need to build something. Perhaps a file select widget that uses a configured Flysystem? Or perhaps

[2019-08-06 20:24] rosiel commented on #1239
Wait, @dannylamb , whaddya mean it's "set up to reference any node type"? That sounds like it's in direct opposition to what Alan experienced, where a newly created node type was _not_ enabled by default.

@ajstanley,

Sounds cool, but to ask a question that demonstrates I don't actually get it: in what part of the interface would you put this filter?

[2019-08-07 00:51] ajstanley commented on #1239
@rosiel - The media tab on any object allows you to add a new media (trying SO hard not to say datastream). Currently you can select any media type that has a field_media_of field.  The filter I've got ready for a pull only shows you media types with field_media_of field  that allows whatever content type you're currently on the media tab of.
To slightly complicate matters it's not actually legal

[2019-08-07 13:17] dannylamb commented on #1240
If you have a hard drive with TB sized files, you can "mount" it with flysystem, and then traverse the filesystem and make File+Media entities with a little loop script.  I've done it in the past to prove "migrating in place" when you don't want to actually transfer the files.

[2019-08-07 13:30] dannylamb commented on #1239
lol, pretty much.  When you very first attach an entity reference field to a node, it doesn't restrict what types you can reference.  As long as you never ever save those field settings again, it can live like that indefinitely.  Go change a single field setting and try to save, and it'll force you to choose a type.

The reason why we don't lock things down to 'Repository Item' by default is becau

[2019-08-07 15:58] mjordan opened #1241 "Audit code for Drupal 9 compatibility"
Should we be periodically auditing our code to make sure that it is compatible with Drupal 9? There are a couple of contrib module to help with this, e.g.,

* https://github.com/mglaman/drupal-check
* http://drupal.org/project/upgrade_status

[2019-08-07 16:00] mjordan commented on #1234
@alxp thanks for the offer but I am overextended as it is.

[2019-08-08 14:09] sarah-lippincott commented on #1198
Yes, this module's functionality would be appropriate. Google Scholar expects repositories to expose meta tags in High Wire Press format. (The full guidelines are at https://scholar.google.com/intl/en/scholar/inclusion.html#indexing, and confirmed by Monica Westin of Google Scholar at a recent IRIG meeting.) The module appears to be missing at least one of the meta tags recognized by Google (e.g.,

[2019-08-08 14:39] mjordan opened #1242 "Media EVA not rendering all media"
I'm playing with EVA settings to see if I can get all media with a specific tag (in this case, "Service file") to show up within the node display. In other words, the user should see not just one image, but all images tagged as "Service file".

I have two "Service files" on an Image node. When I change the pager in the Media EVA View -> Service File display from the default " Display a specified n

[2019-08-08 15:31] dannylamb opened #1243 "Update to Fedora 5.1.0"
It's been released!  We should use it.  You can do that by bumping the number here: https://github.com/Islandora-Devops/ansible-role-fcrepo/blob/master/defaults/main.yml#L1 to make it the new default, and here: https://github.com/Islandora-Devops/claw-playbook/blob/dev/inventory/vagrant/group_vars/tomcat.yml#L45 where the default is overridden in our playbook.

[2019-08-08 15:34] dannylamb opened #1244 "Configure Fedora to use the SQL database instead of simple file persistence"
By default, we ship with 'file' persistence, which isn't really meant for production.  We should switch it over to use the SQL database being used (`claw_db` is the variable to check), either MySQL or Postgres, because it's better, faster, and more reliable.  You can configure it in our `repository.json` that we template out here: https://github.com/Islandora-Devops/ansible-role-fcrepo/blob/master

[2019-08-08 15:36] whikloj commented on #1244
How to do the configuring : https://wiki.duraspace.org/display/FEDORA5X/Configuring+JDBC+Object+Store

[2019-08-12 03:41] Parathantl opened #1245 "Ansible version problem"
I cloned the claw git repository first and then installed ansible using these following commands

[code]
but I got the error while doing vagrant up. It was related to ansible compilation error of import_module problem.

![Screenshot from 2019-08-12 14-22-48](https://user-images.githubusercontent.com/5859130/62855826-ddcf7d80-bd10-11e9-9fdb-2991880ef362.png)

The
ansible version is 2.3.0
vagrant ve

[2019-08-12 12:48] whikloj commented on #1238
Resolved with https://github.com/Islandora-CLAW/islandora/commit/5888d45b4153411941c07228cbba1de8bf270a32

[2019-08-12 12:48] #1238 closed, assigned to seth-shaw-unlv

[2019-08-12 14:47] whikloj commented on #1245
I think we need to require an Ansible version now too.

Seems trivial if the information on the following page is still valid.
https://www.jeffgeerling.com/blog/2018/require-minimum-ansible-version-your-playbook

[2019-08-13 03:53] Parathantl commented on #1245
After updating to new version I could able to install the modules. But after they installed, ensuring process ran and finally it gave an error as in the article you mentioned.

"Ansible failed to complete successfully"

![20190812_195025 1](https://user-images.githubusercontent.com/5859130/62913909-a4981b80-bdab-11e9-90b6-0c2910f02dfb.jpg)

[2019-08-13 13:14] whikloj commented on #1245
Are you running the `ansible-playbook` command manually or just running `vagrant up`?

I ask because I tried to run the `ansible-playbook` command yesterday and seemed to hit a problem with the MySQL roles as well.

[2019-08-13 14:31] mjordan opened #1246 "Index TECHMD datastreams coming from 7.x"
Since CrayFITS and the accompanying Islandora module are soon to be bundled with Islandora, I thought I'd ask this question here.

Sites migrating from 7.x will already have a TECHMD datastream, which is attached to the destination 8.x node as a media, like all 7.x datastreams. It would be great to be able to avoid regenerating FITS for objects migrated into 8.x and reuse the incoming TECHMD datas

[2019-08-13 15:04] Parathantl commented on #1245
I just tried with `vagrant up`. Before updating the ansible version I got MySQL problem which related to ansible **import_task module** while downloading.
After updating to ansible 2.8 I got the above problem (2nd one)

[2019-08-13 21:59] seth-shaw-unlv opened #1247 "Claw Playbook won't build with CentOS 7 target (cmake3 missing from main repos)"
Not sure when this happened, but cmake3 (used to build grok) is not available in the default repos. It looks like we need to use EPEL to get it in.

[2019-08-14 17:02] elizoller opened #1248 "Solr Core Name"
I think it would be helpful to be able to configure (in the playbook) the default name of the Solr Core - to something not "CLAW". Is this a thing other people are interested in?

[2019-08-14 17:23] DonRichards commented on #1245
I'm having the exact same issue.

![Screen Shot](https://user-images.githubusercontent.com/2738244/63041699-6fb4c300-be96-11e9-9611-7bcbfc55da75.jpg)

[code]

I'm not sure if this is a "me" issue or not but this is what I'm seeing. I'm running on osx

This is what localhost looks like for me.

![Screen Shot 2019-08-14 at 1 05 05 PM](https://user-images.githubusercontent.com/2738244/63040761-28c5ce

[2019-08-14 18:48] manez opened #1249 "Islandora 8 Webinar Topics"
We've done a couple of webinars on Islandora 8:

* [June 2019](https://www.youtube.com/watch?v=ZaEQccS_9fY&t=17s)
* [August 2019](https://www.youtube.com/watch?v=XqYyvR8SW_Y&t=2508s)

We'd like to make this a monthly thing whenever we can manage it. This issue to to gather topic suggestions for future webinars.

Some suggestions we've received so far:

* Islandora 8 Cookbooks (demo and describe us

[2019-08-14 18:51] mjordan commented on #1249
👍 to both of those topics! Here's another that might be of interest:

* access control / embargoes (not just for IRs, but also for IP-restricted collections, etc.)

[2019-08-14 22:19] elizoller opened #1250 "Playbook provisioning fails - issues with Karaf/Alpaca"
We discovered one issue with the playbook not having python (@whikloj addressed with https://github.com/whikloj/claw-playbook/tree/fix-python) but Karaf and Alpaca are still not provisioning. Initially Karaf would not start, on running vagrant provision subsequent times that stepped is skipped and it fails on 'add Alpaca Repos' (possibly because it isn't started correctly?)

[2019-08-14 22:20] elizoller commented on #1250
<img width="934" alt="Screen Shot 2019-08-14 at 2 57 16 PM" src="https://user-images.githubusercontent.com/5439169/63060392-f6719c00-bea6-11e9-8621-9e3e97f793ae.png">
<img width="1057" alt="Screen Shot 2019-08-14 at 2 51 20 PM" src="https://user-images.githubusercontent.com/5439169/63060398-fbcee680-bea6-11e9-98b3-ddf412a12c7f.png">

[2019-08-15 15:50] dannylamb commented on #1246
If you have `islandora_fits` module enabled, and you tag the FITS file with the correct media use term on the way in, it'll automatically get sliced up into fields like something coming from Crayfits.  It would be good to install `islandora_fits` and then run our migrate tools to verify, but it should be automagic.

[2019-08-15 15:53] mjordan commented on #1246
Yeah, that was more or less the conclusion we came to yesterday during the call. I can test that, eventually.

[2019-08-15 15:57] dannylamb commented on #1248
Definitely sounds like a good idea to me.  @elizoller++

[2019-08-15 18:54] elizoller commented on #1250
Mentioned Python fixes in place with https://github.com/Islandora-Devops/claw-playbook/pull/134 and Karaf/Alpaca issues are probably a fluke. I think this can be closed.

[2019-08-15 18:54] #1250 closed, assigned to nobody

[2019-08-16 16:38] ruebot opened #1251 "Islandora-Devops.grok - deprecations"
Noting these deprecation notices that pop up during a build:

[code]

[code]

[2019-08-19 14:33] mjordan commented on #1181
In prep for the upcoming sprint, I am linking to the discussion about this, including a use case for multiple parents, on the islandora-dev email list: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/islandora-dev/YnLtvFjBINo/DxjYjaBlAgAJ .

[2019-08-21 17:37] whikloj commented on #1248
Just noting that due to the way the ansible-role-solr is setup, we could define more than one core. We might want to test with more than one core and see if our internal Solr handling works with multiple cores.

[2019-08-22 03:14] kayakr commented on #1249
I'd like to know more about registering & running custom microservices.

[2019-08-22 16:08] Natkeeran opened #1252 "carspace div with id leaderboard is left aligned"
Latest carspace theme (a12ff72f3bc9e0d98683df0aeb2fcdc2b39a3551) login div/region is left aligned.  It should be centered!.

The issue seem to be [here](https://github.com/Islandora-CLAW/carapace/blob/8.x-3.x/styles/css/components/menu.css#L74).  Removing `display: inherit;` seem to address the issue.

![carspace_theme_issue_1](https://user-images.githubusercontent.com/1827166/63531021-9e095280-c4

[2019-08-22 18:19] Natkeeran opened #1253 "carspace colour scheme settings don't seem to take effect"
Carspace colour scheme settings don't seem to take effect.  For instance, setting
`Navbar background` or `Leaderboard background` or `Header background` does not seem to work.

[2019-08-23 16:54] #1247 closed, assigned to nobody

[2019-08-26 17:24] dannylamb commented on #1249
@kayakr That would be a good opportunity for collaboration with @ajstanley.  He just wired up the OCR service and made a FITS service.

[2019-08-26 18:07] whikloj commented on #1226
Checking this (and possibly #1121) out.

It appears that when I view `http://localhost:8000/node/9` the `tileSources` passed to OpenSeadragon is `http://127.0.0.1:8080/cantaloupe/iiif/2/_flysystem%2Ffedora%2F2019-08%2F0066.tif`

But when I go to `http://localhost:8000/fr/node/9` then the `tileSources` passed to OpenSeadragon is `http://127.0.0.1:8080/cantaloupe/iiif/2/http%3A%2F%2Flocalhost%3A8000

[2019-08-26 18:12] whikloj opened #1254 "Separate IIIF configuration from OpenSeadragon configuration."
After dealing with consolidating image server settings in 7.x (https://jira.duraspace.org/browse/ISLANDORA-2469) and assuming that someone will want the Internet Archive BookReader.

I think it might make sense to move the configuration of the IIIF to a small module that can be depended on by the OpenSeadragon module. Then other viewer can share the settings.

[2019-08-26 18:42] whikloj commented on #1226
Right [here](https://github.com/Islandora-CLAW/openseadragon/blob/8.x-1.x/openseadragon.module#L87), when accessing a translated node the base URI has the language code but the full path to the file does not.

ie.

`base_path = http://localhost:8000/fr`

`resource.full_path = http://localhost:8000/_flysystem/fedora/2019-08/0066.tif`

It appears that we don't currently support tile sources not on t

[2019-08-26 18:49] whikloj commented on #1226
Ok, this is self inflicted. We have configured cantaloupe to look at a specific URL as the HttpResolver prefix.

https://github.com/Islandora-Devops/claw-playbook/blob/dev/inventory/vagrant/group_vars/tomcat.yml#L66

We should set the prefix to "" and set `$base = "";` ([here](https://github.com/Islandora-CLAW/openseadragon/blob/8.x-1.x/openseadragon.module#L87)) instead of the assumed base URI. T

[2019-08-27 18:56] #1251 closed, assigned to nobody

[2019-08-28 13:25] dannylamb opened #1255 "Cleary identify 'Islandora' content types in the UI"
Since a user can make any content type, and that content type need not be "Islandora compatible", then it would be beneficial to highlight what content types / media types / taxonomy vocabularies are meant to work with Islandora.

[2019-08-28 14:05] mjordan commented on #1255
Related issue: [Members and Media tabs appear on non-Repository Item pages](https://github.com/Islandora-CLAW/CLAW/issues/1057)

[2019-08-28 23:42] elizoller opened #1256 "Module for Managing Persistent Identifiers (Handle, EZID, etc...)"
We have a use case where we need to mint handles on a locally running handle server for handle.net http://handle.net/
The idea was briefly mentioned here: https://github.com/Islandora-CLAW/CLAW/issues/1042

The idea would be that
- when a repository node is created, it would mint a handle (via REST API) (this could be controlled via context)
- the handle would be returned and stored as part of the

[2019-08-29 07:35] pautri commented on #1256
We are running a local Handle server currently with an Islandora 7.x instance, but we have a custom ingest pipeline that also takes care of the Handle issuing. We may want to stick to such a setup when migrating to Islandora 8, I'm not sure yet, we do not have any concrete plans for migrating.

Regarding destroying Handles when nodes are deleted, I think a better option would be to keep the Handle

[2019-08-29 13:44] dannylamb commented on #1255
Here's some mock ups from @rosiel

![mockup-content_types](https://user-images.githubusercontent.com/20773151/63945546-df57b000-ca49-11e9-8486-178815c2047a.png)

![mockup-add_content](https://user-images.githubusercontent.com/20773151/63945553-e2eb3700-ca49-11e9-84a1-a7e3fabfc3a3.png)

[2019-08-29 14:03] dannylamb opened #1257 "Report background job success/failure"
If a background job fails, there's no immediate indication in the UI to tip off the end user.  You'll not experience the behaviour that you're expecting, and you can always go and check the various logs, but that's not ideal for those without systems access.

When we push a message onto the queue for a background job, we should make a db record, and then update it appropriately at the end of the o

[2019-08-29 14:03] dannylamb commented on #1257
Linking to https://github.com/Islandora-CLAW/CLAW/issues/942

[2019-08-29 14:24] dannylamb opened #1258 "Indexed content dashboard"
Create a dashboard to give totals of content indexed in various other services (Fedora, triplestore, Solr), so that end users can compare and make basic sanity checks.  E.g. "I have 100 nodes in Drupal, but do I have 100 nodes in Fedora?".

[2019-08-29 14:24] dannylamb commented on #1258
Since all of these pieces are optional, we'll have to use a plugin like system to ensure we aren't trying to query a triplestore that doesn't exist.

[2019-08-29 14:26] dannylamb commented on #1258
@rosiel @ajstanley Is there any work towards something like this with the RDM project at UPEI?

[2019-08-29 14:49] rosiel commented on #1255
At the moment, the following fields are "necessary":
Nodes:
- `field_member_of`
- `field_model`
Media:
- `field_media_of`
- `field_media_use`
Taxonomy:
- `field_external_uri`

Do we want to bake this in? Create a function that checks whether these exact fields are present? (seems very do-able, and/but hard-codey)

To make it less hard-codey, should that function include an alter or some other way

[2019-08-29 15:09] dannylamb commented on #1255
I would just have the function check for those fields and then use that function everywhere.  If people need additional conditions we can add the hook but that's not necessary at this point in time. People already can choose when/how things go to Fedora using checkboxes, and there's clearly been backlash against that flexibility, so let's not provide more checkboxes.

[2019-08-29 15:37] elizoller commented on #1256
@pautri good thinking on the tombstoning - i have updated the issue

[2019-08-29 15:38] seth-shaw-unlv commented on #1255
What makes something an "Islandora" content type or media is dependent on the enabled contexts; that is where the "flush this to Fedora" checkbox for a content type resides.  So, perhaps the check is to see whether or not that content type has the relevant contexts configured/enabled.

That said, it would be useful to have an "Islandora-ize" operation in the content type operations dropdown to aut

[2019-08-29 15:51] dannylamb commented on #1255
Maybe I didn't give the best example, as 'being in Fedora' does not necessarily make 'Islandora content'.  So I'd definitely scope this to checking for those fields, since that's what makes content compatible with our derivative and collection management methodologies.  I guess that's what Islandora content really is.

Islandora-izing would _definitely_ be useful.  There's lot of utility there.  Y

[2019-08-29 15:55] seth-shaw-unlv commented on #1257
Well, Drupal 8 has an okay log interface. We could make a simple REST endpoint that Karaf could post Success and Failure events to.

The endpoint could be something simple like:
[code]

(Spitballing here, this is completely untested...)

[2019-08-29 16:02] seth-shaw-unlv commented on #1256
This is on my (very long) task list; with the exception that we use the EZID service ([their API](https://ezid.cdlib.org/doc/apidoc.html)) to mint ARKs.

I'm thinking we could make a stand-alone module that builds the framework (the necessary hooks) for minting and updating persistent identifiers but make the actual minting/updating logic plugin-based. We would have an IdentifierManagerPluginBase

[2019-08-29 16:07] mjordan commented on #1256
👍 to @seth-shaw-unlv 's suggestion. The identifier-specific minting could be handled by submodules that could have their own configuration for DOIs (and there are multiple DOI providers), Handles, ARKs, etc.

[2019-08-29 16:15] elizoller commented on #1256
Thanks @seth-shaw-unlv and @mjordan. This sounds like a great approach! I'll see if I can get something started and then we can work more on it together later on. 👍

[2019-08-29 16:17] mjordan commented on #1256
We'll definitely want to be able to mint DOIs, so count me in.

[2019-08-29 16:18] mjordan commented on #1256
Tagging @bryjbrown and @DonRichards since this will be of interest to the IR Interest Group.

[2019-08-29 17:43] rosiel commented on #1255
Yes! But I agree with Danny - fields yes, contexts have to remain configurable. (there is no specific behaviour that makes something "Islandora".)

A future ... thing? could be making a Context condition that uses this function. Imagine a context that said: IF (node type is islandora) THEN (flush to fedora)... which (for the things we want to do to ALL islandora stuff) would be easier than having

[2019-08-29 18:36] seth-shaw-unlv opened #1259 "AuthorityLink Field produces incorrect JSON-LD"
The controlled_access_terms authority_link field type, when serialized into JSON-LD includes a language when it shouldn't:
[code]
We didn't catch this earlier because Fedora was forgiving of this mistake until version 5.1.

Not exactly sure how to fix this... It may be
1. changing the FieldType so the serializer understands it better,
2. creating an CommonDataConverter to use in the rdf mapping, o

[2019-08-29 21:21] seth-shaw-unlv commented on #1259
Turns out there was a fourth option: tell the jsonld module that authority_links are `xsd:anyURI`. PR available for testing.

[2019-08-30 14:02] mjordan commented on #1255
A Context Condition that checked whether a node is islandora would be very useful. :+1:

[2019-08-30 19:03] alexkent0 commented on #1255
Hi all, after reading Rosie's post and the thread, my mind went to using
Context somehow to automatically tag if that media type is Islandora vs
Drupal. This would help make the workflow smooth. Thought I would just
confirm that this seems like a great idea and improvement. It's been really
interesting reading the thread today.

On Fri, Aug 30, 2019 at 9:02 AM Mark Jordan <notifications@github.com

[2019-08-30 19:12] dannylamb commented on #1259
Resolved via https://github.com/Islandora-CLAW/controlled_access_terms/commit/f2cae854ae140c50ac88a9e59d6325a3287fc80a

[2019-08-30 19:12] #1259 closed, assigned to seth-shaw-unlv

[2019-09-01 22:32] kayakr commented on #1171
@dannylamb I've made a start at https://github.com/kayakr/islandora_tokens

[2019-09-01 22:45] kayakr opened #1260 "PDF thumbnails should be PNG for transparency"
In my experience, JPEG thumbnails from PDFs often end up with black backgrounds.
Compare
![2-Thumbnail Image](https://user-images.githubusercontent.com/208184/64083176-01fe0780-cd6f-11e9-8f0d-1759249e1709.jpg)
to
![ead3_output_thumbnail-0](https://user-images.githubusercontent.com/208184/64083179-15a96e00-cd6f-11e9-993a-a20879a3cf0d.png)

The latter .png was generated on the command line in the VM

[2019-09-02 21:24] mjordan commented on #1241
This is also relevant: http://hojtsy.hu/blog/2019-sep-02/drupal-877-will-support-extensions-compatible-both-drupal-8-and-9

[2019-09-03 11:38] dannylamb commented on #1260
Yep, that's totally how it would work. And I can also attest that I've seen
black backgrounds from generated jpegs in the past. :+1: Good suggestion.

On Sun, Sep 1, 2019, 19:45 J Hunt <notifications@github.com> wrote:

[2019-09-03 18:40] dannylamb opened #1261 "Add a 'weight' field to the Repository Item content type"
We'll be using the weight module to add page ordering for paged content.  We should go ahead and add that to the Repository Item content type provided by `islandora_defaults`.

1. Add the `weight` module to the `islandora_defaults` info file:
1. Add a weight field to the Repository Item content type
1. Remove the weight field from display
1. Add the weight field to the form under the `System` sect

[2019-09-03 18:53] dannylamb opened #1262 "Add re-ordering support to our existing 'Members' admin view"
If you go to the 'Members' tab for an object, you get an admin view with all of the members belonging to an object.  According to [this issue for the weight module](https://www.drupal.org/project/weight/issues/2844791), you can configure the view to become a drag 'n drop interface for re-ordering children.  Add this to our view so we can re-order pages.

[2019-09-03 18:53] dannylamb commented on #1262
Depends on https://github.com/Islandora-CLAW/CLAW/issues/1261

[2019-09-03 18:58] dannylamb opened #1263 "Generate a IIIF manifest from views results"
Create a plugin for generating an IIIF manifest from views results.  If a view queries for all children and orders it by our weight field, we can translate that into a IIIF manifest for compatibility with all types of viewers.

[2019-09-03 18:59] mjordan commented on #1263
Related to #1184 .

[2019-09-03 18:59] dannylamb commented on #1263
I believe this is called a `Style` plugin for views from looking at the `geolocation` module.

[2019-09-03 19:01] dannylamb commented on #1263
@joecorall Trying to assign this to you, but I think you need to be a member of our organization.  I'm sending you an invite.

[2019-09-03 19:04] dannylamb opened #1264 "Adapt `openseadragon` to support IIIF manifests"
In order to render multiple pages using the openseadragon viewer, it needs to be adapted to accept a IIIF manifest.

Depends on https://github.com/Islandora-CLAW/CLAW/issues/1263

See [this documentation from Openseadragon](https://openseadragon.github.io/examples/tilesource-iiif/) for examples.  I think we'd just use the first 'inline' method, but that's pure speculation until we get into the thi

[2019-09-03 19:13] dannylamb commented on #1261
Linking to https://github.com/Islandora-CLAW/CLAW/issues/932

[2019-09-03 19:14] dannylamb commented on #1262
Linking to https://github.com/Islandora-CLAW/CLAW/issues/932

[2019-09-03 19:14] dannylamb commented on #1263
Linking to https://github.com/Islandora-CLAW/CLAW/issues/932

[2019-09-03 19:14] dannylamb commented on #1264
Linking to https://github.com/Islandora-CLAW/CLAW/issues/932

[2019-09-03 19:34] whikloj commented on #1264
Currently I think we are using more of the _XMLHTTPRequest for IIIF info.json_ method, which would also open us up to using the multiple request method for paged content.

[2019-09-03 20:22] joecorall commented on #1263
Invitation accepted. Thanks!

[2019-09-04 16:37] dannylamb opened #1265 "Add 'Paged Content' and 'Page' terms to the Models vocabulary"
Just example names, of course.  Could be 'Book' and 'Book Page'.  Just trying to be generic.  But we need these terms so we know to trigger OCR, etc...

[2019-09-04 16:37] dannylamb commented on #1265
Linking to https://github.com/Islandora-CLAW/CLAW/issues/932

[2019-09-05 02:50] kayakr opened #1266 "PHP Warning: Invalid argument supplied for foreach() in islandora_entity_extra_field_info()"
Warning: Invalid argument supplied for foreach() in islandora_entity_extra_field_info() (line 361 of modules/contrib/islandora/islandora.module).
islandora_entity_extra_field_info()

[2019-09-05 09:26] kayakr commented on #1260
`web/modules/contrib/islandora_defaults/config/install/system.action.digital_document_generate_a_thumbnail_from_an_original_file.yml`

[code]
This is working for me, manually via admin/content. Next we need to tweak contexts.

[2019-09-05 13:31] dannylamb commented on #1171
@kayakr Can haz PR?  That looks like a great start.  I'd go ahead and stick it straight into `islandora.module`.

[2019-09-05 15:29] manez commented on #1265
Do we want separate terms for different kinds of paged content? Book, Newspaper, Serial, etc? Or does that get divided up elsewhere?

[2019-09-05 17:13] manez commented on #1261
Playing with this a bit to test for the sprint.

I'm wondering what we should set for a default range, and can we set a default to auto-increment by assigning the heaviest weight? In other words, make it so that each new page gets added to the end of the book by default, if using the GUI. I tried a range of 1000, and nothing choked, but I assume that anyone building books page-by-page from the fro

[2019-09-05 17:18] dannylamb commented on #1265
If you need to handle newspapers and books differently you'll probably want those terms.  Seems like a good idea to me.

[2019-09-05 17:21] dannylamb commented on #1261
@manez We use the `prepopulate` module to give the member of field a default based on the parent.  No reason why we couldn't use the same trick and query for the highest weight of the parent and bump that by one for a default value.

[2019-09-05 18:17] seth-shaw-unlv commented on #1261
I've used 1000 as a range with no issues.

[2019-09-05 18:25] dannylamb commented on #1265
Any ideas for external URIs for these things?

Right now I'm using `http://example.org/page` until I can find something appropriate, lol.

[2019-09-06 19:15] manez opened #1267 "Audit all GitHub repos for 1.1.0"
This is something we've been doing for Islandora 7 for ages now, and I think there's value in bringing it over. I think each release should come with an audit/update of:

* Maintainers (good to refresh this regularly so we know that the people listed have recently volunteered)
* README files (we need a template; I'll make another issue)
* LICENSE files

I think this will also help to get things li

[2019-09-06 19:17] manez commented on #1267
Maybe this could be tied on to #950 - or is that one tied directly to the first release, and now done?

[2019-09-06 19:20] manez opened #1268 "Standardise READMEs with Template"
These would be a part of the audit proposed in #1267. We should have some standard/expected headings, formatting, etc, so that our README files are more consistent.

[2019-09-06 19:32] Natkeeran opened #1269 "Openseadragon fails to load"
In the drupal log msg:

[code]

[2019-09-06 19:37] manez commented on #1268
Maybe like this:

`# ![Alt text](Mascot Image) Repository Name `

`[![Minimum PHP Version](link)](link)`
`[![Build Status](link)](link)`
`[![Contribution Guidelines](http://img.shields.io/badge/CONTRIBUTING-Guidelines-blue.svg)](./CONTRIBUTING.md)`
`[![LICENSE](https://img.shields.io/badge/license-MIT-blue.svg?style=flat-square)](./LICENSE)`
`[![codecov](link)](link)`

`## Introduction`

`A brief

[2019-09-06 19:37] whikloj commented on #1269
@Natkeeran this looks like it is related to the changes implemented for https://github.com/Islandora-CLAW/CLAW/issues/1226

[2019-09-09 21:00] mjordan commented on #1192
@dannylamb https://github.com/Islandora-CLAW/islandora_defaults/pull/4 has been merged. OK to close?

[2019-09-09 21:41] #1192 closed, assigned to seth-shaw-unlv

[2019-09-10 03:32] mjordan opened #1270 "Create a Context Condition that checks whether a node is an Islandora object"
Coming out of #1255, we want a Condition that checks to see if the node has the two following fields:

* `field_model`
* `field_member_of`

[2019-09-10 18:44] seth-shaw-unlv commented on #1265
Are we good to close this, @manez and @dannylamb?

[2019-09-10 18:52] manez commented on #1265
👍

[2019-09-10 18:57] seth-shaw-unlv commented on #1265
Closed via https://github.com/Islandora-CLAW/islandora/commit/7bd9ca17b53fc4eee5695e3934d9faadd4149c61

[2019-09-10 18:57] #1265 closed, assigned to nobody

[2019-09-10 19:30] seth-shaw-unlv commented on #1261
I don't know if this is just me, but the field_weight settings aren't sticking. I updated my test site to the current master and did the feature import, but it is still showing the active config settings as only the default `range: 20` with the min settings as only in the module config:
<img width="515" alt="Screen Shot 2019-09-10 at 12 22 51 PM" src="https://user-images.githubusercontent.com/2986

[2019-09-10 19:35] seth-shaw-unlv commented on #1261
Alright, I checked my other test site that was already using the weight module and it isn't throwing any errors on the edit form, but it also doesn't have all the same form fields (despite the modules both reporting the same version).

[2019-09-10 20:02] seth-shaw-unlv commented on #1261
Okay, I see what's going on here... the new field_weight is using the integer field type, **not** the weight field type. My dev box got confused because it already had a field_weight using the weight field type and so the settings didn't apply.

[2019-09-10 20:16] seth-shaw-unlv commented on #1262
We have a complication. Our new weight_field uses the 'integer' field type instead of the weight module's 'weight' field type. This is good in that we can force it to conform to the semantic requirements of `http:purl.org/co/index` but this blocks us from using the weight module's drag-n-drop functionality.

Two possible resolutions:

1. Change the field_weight to use the weight field type. **Pros

[2019-09-10 20:36] dannylamb commented on #1262
I'd make it a weight field. I always opt for the least code solution.

[2019-09-10 22:03] seth-shaw-unlv commented on #1262
We have three UI options for creating a re-order page:

- We can add it to the existing Members Tab so that you would have a top area for bulk actions and a bottom area for re-ordering (we can create a label for it, it just isn't shown here):
<img width="677" alt="Screen Shot 2019-09-10 at 2 49 33 PM" src="https://user-images.githubusercontent.com/29869988/64653129-81788000-d3da-11e9-9fef-c8af9831

[2019-09-10 22:22] seth-shaw-unlv commented on #1262
So I think this is our best option:
<img width="960" alt="Screen Shot 2019-09-10 at 3 19 55 PM" src="https://user-images.githubusercontent.com/29869988/64654556-77f11700-d3de-11e9-835d-69c39c478481.png">

HOWEVER, it adds a dependency on islandora_defaults because that is where field_weight is defined. 🙄 So, it looks like I will need to create this as a separate view in islandora_defaults. The que

[2019-09-11 13:47] dannylamb commented on #1269
I replicated this @Natkeeran, turns out I didn't have the latest claw-playbook changes from https://github.com/Islandora-Devops/claw-playbook/pull/139

[2019-09-11 13:55] dannylamb commented on #1269
I'm rebuilding to try again.  There's probably more to it than just that.

[2019-09-11 17:04] seth-shaw-unlv commented on #1262
I've updated the PR to just create another tab. It makes the PR much cleaner.

[2019-09-11 17:57] dannylamb commented on #1269
Rebuild worked for me.  I'm not able to replicate after updating my playbook.

@Natkeeran is it happening because you've got a multi-box setup?

[2019-09-11 18:29] dannylamb opened #1272 "Rename "Members" tab to "Children""
Maybe that's a bit more obvious.

[2019-09-11 18:30] dannylamb commented on #1272
FYI, you can do this all through the views ui, edit the title of the view, and it should roll through to the tab name.  Please re-export the view yml and put it in `islandora_core_feature`.

[2019-09-12 16:00] ajstanley opened #1273 "Enhancement - changes needed for remote files."
Here are Robib we're working on using the remote_files media type with Islandora objects.  The media type is unique in that it contains a reference to a binary file, but does not contain the file itself.

Islandora and its microservices (reasonably) expect a file to be attached to a media, and bad things happen when there isn't.  A few methods in the Islandora module need some changes, and a few o

[2019-09-12 20:02] Natkeeran commented on #1269
@dannylamb
Unfortunately I can consistently reproduce this issue with a deployment to DO VM: http://68.183.207.33:8000/node/1

[2019-09-12 20:06] dannylamb commented on #1269
hrm... a non-localhost issue then

[2019-09-13 05:43] #1244 closed, assigned to seth-shaw-unlv

[2019-09-15 17:18] mjordan commented on #1270
As discussed in the PR, I've added a separate Condition to test whether a media is an Islandora media, testing for the presence of `field_media_use` and `field_media_of`.

[2019-09-15 17:31] mjordan opened #1274 "Remove deprecated keyword "context" from Conditions"
This is related to #1241.

As @whikloj points out over at https://github.com/Islandora-CLAW/islandora/pull/164#pullrequestreview-286885125, annotations for Context Conditions that contain the `context` keyword, like this:

[code]
should be updated to use `context_definitions` [https://api.drupal.org/api/drupal/core!lib!Drupal!Core!Condition!Annotation!Condition.php/property/Condition%3A%3Acontext/

[2019-09-16 14:21] mjordan opened #1275 "Search within a collection"
| Title (Goal)  | Search within a collection                         |
--------------- |------------------------------------                           |
| Primary Actor | End user  |
| Scope         |   Search |
| Story         |  As a user I want to be able to search within a collection, like I can do in Islandora 7 using https://github.com/discoverygarden/islandora_collection_search.

[2019-09-16 17:06] seth-shaw-unlv opened #1276 "Record File's Original Name"
| Title (Goal)  | Record Born-digital File's Original Name |
--------------- |------------------------------------|
| Primary Actor | Repository Manager  |
| Scope         |    |
| Story         |  As a repository manager I want to record a file's original path as a PREMIS "originalName" property. |

[2019-09-16 17:08] seth-shaw-unlv commented on #1276
Some of our repository materials are born-digital items where we want to record the original full path of the file. E.g. `2016-2018 photographs/neo000093-013.TIF`. I propose we add a field to the various Media entities to record this.

[2019-09-16 17:45] mjordan commented on #1276
I agree with this proposal. However, we haven't discussed what approach to take to replace 7.x's [Islandora PREMIS](https://github.com/Islandora/islandora_premis), but as part of the Islandora Riprap module, I started work (didn't get far) on providing PREMIS fixity event data at https://github.com/mjordan/islandora_riprap/issues/5.

This is probably related to our meta issue on auditing (https://

[2019-09-16 17:57] seth-shaw-unlv commented on #1276
We also need to pick which version of PREMIS we are using. [Fedora 5 uses a PREMIS 1 namespace built-in](https://wiki.duraspace.org/display/FEDORA5x/Best+Practices+-+RDF+Namespaces) (`http://www.loc.gov/premis/rdf/v1#`); the module @mjordan cites [appears to serialize PREMIS 2 XML](https://gist.github.com/mjordan/8256978#file-premis_with_agents-xml-L2); but LOC appears to only recognize PREMIS 3 a

[2019-09-16 17:58] mjordan commented on #1276
PREMIS 3 is the one to go with.

[2019-09-16 18:01] seth-shaw-unlv commented on #1276
So, for this usecase we can use `http://www.loc.gov/premis/rdf/v3/originalName` which we can shorten to `premis3:originalName`.

[2019-09-16 20:38] seth-shaw-unlv commented on #1248
Closed by https://github.com/Islandora-Devops/claw-playbook/commit/b1cffba0a8a49dadab0cc1684264716a1bbfdbb0. If we decide to add multiple cores later we can make a new ticket.

[2019-09-16 20:38] #1248 closed, assigned to nobody

[2019-09-17 00:37] kayakr commented on #1275
@mjordan We are doing this via Collection as a facet. Does that suffice, or do you have something else in mind?

[2019-09-17 02:20] mjordan commented on #1275
It suffices for me, but since a lot of other Islandora 7 sites use the collection search module, it might be good to hear from some them. I'll ask on the email list.

[2019-09-17 02:30] rangel35 commented on #1275
I think facets are fine...but some might just want a search when landing on a collection page not after a search...so how about making a view block that uses  the id for a filter

[2019-09-17 13:22] chDay commented on #1275
Facets are great, and I love how easy Islandora makes to search my entire repository at once. But almost all of my collections have a use case where the user is visiting just a single, unique collection and would like to search the contents of that collection without having to eliminate all other collections by facet. For a user, it would seem to be best to allow the searching of a single collecti

[2019-09-17 16:09] alexkent0 commented on #1275
Not sure how, but I agree that this would be quite useful for Islandora 8.

[2019-09-18 14:43] seth-shaw-unlv commented on #1272
So, how drastic do we want to go in changing "Members" to "Children"? Are we:
1. just updating the UI,
1. also updating the views machine names,
1. or going all the way and changing field_member_of to something like field_parent?

[2019-09-18 15:04] whikloj commented on #1272
I'd opt for choice 1 and then just create some documentation so people can change "Children" to "Vampires" or whatever they might desire.

[2019-09-18 15:48] whikloj commented on #1263
Resolved with https://github.com/Islandora-CLAW/islandora/commit/d16e49748a9f849288d4d294229d2f61fc26c34a

[2019-09-18 15:48] #1263 closed, assigned to joecorall

[2019-09-18 19:00] dannylamb commented on #1272
Resolved via https://github.com/Islandora-CLAW/islandora/commit/38a13c179f9a115c44cd1da2f085873d312a770e

[2019-09-18 19:00] #1272 closed, assigned to nobody

[2019-09-19 01:34] antbrown opened #1278 "Bug: Unable to generate service file from large (~900MB) video file."
I'll preface this by saying sub-100MB videos work fine. Service file and thumbnail is generated correctly and added back as media to the original islandora_object.

Before we get to the big video I should note we were also having trouble with video files at around the 400MB size.

I managed to solve it by adding `-loglevel error` to the ffmpeg command in [HomarusController::convert](https://github

[2019-09-19 01:57] kayakr commented on #1278
I'm working with @antbrown on this.

We see no POST (via Apache) to Drupal when the video Service File is returned from Homarus. The messaging layer is falling over when handling the Homarus output.

It would be good to understand more about the architecture around Karaf/Camel/ActiveMQ especially when it comes to handling larger binaries. Is the output of homarus being accumulated somewhere before

[2019-09-19 03:22] kayakr commented on #1278
@dannylamb Do we need to look at different handling in
https://github.com/Islandora-CLAW/Alpaca/blob/24c3450eefef9a68430ec5ba75da4324fa786ea8/islandora-connector-derivative/src/main/java/ca/islandora/alpaca/connector/derivative/DerivativeConnector.java#L68
for large files via https://activemq.apache.org/blob-messages or similar? This unfamiliar territory for me.

[2019-09-19 12:40] dannylamb commented on #1278
@antbrown @kayakr This is good stuff.  Thanks for being the first to tackle large video files.

I'll have to dig deeper here, since it sounds like we've got sneaky issues going on in different layers.  Both `CmdExecuteService` and the `DerivativeConnector` will have to be inspected more thoroughly.

[2019-09-19 14:57] seth-shaw-unlv opened #1279 "Enable islandora_core_feature in islandora Travis build script"
We recently had a bad config get committed to islandora that caused Travis to fail on builds of islandora_defaults. The islandora_defaults Travis build enables and imports islandora_core_feature while the islandora Travis build does not.

We should add enabling islandora_core_feature on the islandora builds (i.e. `  - (drush -y --uri=127.0.0.1:8282 en islandora_core_feature; drush -y --uri=127.0.0

[2019-09-19 16:59] dannylamb commented on #1278
Sounds based on what you're describing it never gets here: https://github.com/Islandora-CLAW/Alpaca/blob/dev/islandora-connector-derivative/src/main/java/ca/islandora/alpaca/connector/derivative/DerivativeConnector.java#L69-L72

_IN THEORY_ its all streamed around.  The microservice will request the video, stream it to ffmpeg, and then stream the results back to camel, which then PUTs them into Dr

[2019-09-19 19:14] seth-shaw-unlv commented on #1279
Closed with https://github.com/Islandora-CLAW/islandora/commit/1fbda7b4ce7b9a558f66c128f3cb6df6b54e43f5

[2019-09-19 19:14] #1279 closed, assigned to nobody

[2019-09-20 20:26] dannylamb commented on #1262
Resolved via https://github.com/Islandora-CLAW/islandora/commit/d45f94801739aa7b0bf22796084a93ffd5ed0b36

[2019-09-20 20:26] #1262 closed, assigned to nobody

[2019-09-23 17:51] mjanowiecki opened #1280 "Document field types in Islandora for users/librarians"
When creating or editing fields in Islandora 8 for content types or taxonomies, there are a wide varieties of "Field Types" available for you to select as the basis of your field. There is some information on Drupal about Field Types (https://www.drupal.org/docs/8/api/entity-api/fieldtypes-fieldwidgets-and-fieldformatters), but it is not super helpful for the layperson and does not include all Fie

[2019-09-23 17:52] bstrakosova commented on #1275
I believe you can do this with views and context.

-  Create a View and its Page that contains items of your collection. You can just filter the objects that belong to the collection (in Filter criteria), or if you don't want to search through everything else, you can create index just for your collection and using that (when creating the View, in View settings, select Show: Index [name-of-the-ind

[2019-09-23 18:02] rangel35 commented on #1275
I did a view/block that I only added on collection pages to list all the members of that collection using the Advanced "Contextual filters" filtering on the member_of field

I didn't open it up for searching but you can add that by exposing the form like @bstrakosova  mentioned above and adding fulltext or other filter criteria in the regular view

[2019-09-23 18:12] bstrakosova commented on #1275
Great advice! I totally forgot about the Contextual filters. This way we don't have to create View and Context for every collection and just do it all at once.

[2019-09-24 15:26] DonRichards opened #1281 "FFV1 Support Request"
FF video codec 1 (FFV1) suport is needed for our upcoming oral history collection. Is it possible to get Islandora 8 video to play nicely with this codec?

[2019-09-24 15:29] dannylamb commented on #1281
@DonRichards Do you need to encode files using this or play files encoded with this or both?

[2019-09-24 15:40] DonRichards commented on #1281
Accept a FFV1 file for preservation and produce an 2nd video for playback. It should be easy enough to convert. Fairly basic, audio codec might be special. Simple solution with ffmpeg is telling it to copy the audio as-is `ffmpeg ...... -c:a copy ..... `

[2019-09-24 15:44] DonRichards commented on #1281
That was part of instructions I found to "maintain" losslessness, so it is probably unnecessary.

[2019-09-24 19:36] Natkeeran opened #1282 "Database dependency in for tomcat playbook"
I am wondering if the following is a documentation to ansible ticket.

Recent [changes](https://github.com/Islandora-Devops/claw-playbook/commit/1a7754450ea8521ae0b117a5858b4cb17984cc81) necessitate that database be installed for tomcat playbook.

If you are installing tomcat into a separate server, then [database.yml](https://github.com/Islandora-Devops/claw-playbook/blob/dev/database.yml) or the

[2019-09-24 19:48] seth-shaw-unlv commented on #1282
This gets at a larger restructuring question. Tomcat doesn't need a database, but Fedora does. However, our playbook assumes that the Tomcat hosts will house Fedora and it's database.

In our local production setup we split the tomcat.yml into both a cantaloupe.yml and fedora.yml and redefined our hosts so that the host getting Drupal and Cantaloupe _don't_ get the database role (because our Drupa

[2019-09-25 03:26] elizoller commented on #1275
How would a member_of contextual filter work if you have multiple layers nested? Ie. a collection with items that have items nested within (such as paged content with pages)?

[2019-09-25 14:41] rangel35 commented on #1275
good question, can you not give your nested pages two member_of tags, one for the book level and one for the collection level?

since they have different models "Paged Content" vs "Page" you can still display only the top level but search all levels

I haven't tried that but it should work

[2019-09-25 14:55] seth-shaw-unlv commented on #1275
Using multiple member_of tags usually breaks breadcrumbs, so I would advise against it. Another possible option (brain-storming here, this is untested) but I wonder if you can get search_api_solr to index the breadcrumbs as a SOLR field and then build a search with a hidden filter for all items where the root node in question appears in that field.

[2019-09-25 15:04] rangel35 commented on #1275
we don't have page level metadata and haven't yet implemented ocr so that is why we haven't run across this issue...can another tag be used in place of member_of....we have several tags that have similar functions..because of granularity...we use member_of for direct level up but we also have a "Partner Repository" tag because some of our "Partners" have multiple collections and we would like to b

[2019-09-25 16:15] elizoller commented on #1275
I guess one way around the issue is to assume that you only want to surface direct children of a collection as opposed to items which are children of children.

[2019-09-25 16:38] rangel35 commented on #1275
once OCR comes into the picture, I see the need for targeting children of children especially the child pages of books.

[2019-09-25 16:40] rangel35 commented on #1275
you can also decide how important breadcrumbs are to you....that would make using multiple member_of more feasible, not an ideal situation but still a workable option

[2019-09-25 16:54] elizoller commented on #1275
Regardless of breadcrumbs, I think multiple member_of relationships to represent both child and grandchild relationships wouldn't follow with the concept of graph representation.

[2019-09-25 18:54] dannylamb commented on #1278
After reading the docs and getting some tentative confirmation from @birkland, I think the issue (or at least part of it is) we need to set `&disableStreamCache=true` for all our http calls in Camel.  For reference: https://camel.apache.org/components/latest/http-component.html#_query_parameters_50_parameters

We had to go through this a short while ago with `&connectionClose=true`.  I can issue t

[2019-09-25 19:25] bstrakosova commented on #1275
You don't have to use the member_of field, you can create new entity
reference field that would point to the collection and use that field in
the View.

Dňa st 25. 9. 2019, 18:54 Eli Zoller <notifications@github.com> napísal(a):

[2019-09-25 20:07] rangel35 commented on #1275
@bstrakosova  that is what we did for another reason but it would work here too....

[2019-09-25 21:53] antbrown commented on #1278
Awesome! Thanks @dannylamb

If you get a chance to post the pull request I am _more_ than happy to test it out.

I will try find my way through re-deploying Alpaca, any help you can provide here will be greatly appreciated.

[2019-09-26 02:06] antbrown commented on #1278
Just an update from me.

I made the following changes...

https://github.com/Islandora-CLAW/Alpaca/compare/dev...antbrown:antbrown/disable-stream-cache

I thought it is only relevant to derivatives and not indexing, which is why I've only changed the DerivativeConnector and its test. Please correct me if I'm wrong!

I also split the line because gradle didn't like lines longer than 120 chars, fair

[2019-09-26 10:39] mjordan opened #1284 ""Reorder Children" tab showing up on non-Islandora objects"
The newly renamed "Reorder Children" tab should probably not be showing up on non-Islandora nodes:

![reorderchildren](https://user-images.githubusercontent.com/403918/65682074-0edce680-e00f-11e9-8d89-01bd6ab9ceb3.png)

@whikloj's fix in https://github.com/Islandora-CLAW/islandora/pull/160 should be applied to that tab too.

[2019-09-26 10:45] mjordan commented on #1275
@seth-shaw-unlv the https://github.com/discoverygarden/islandora_collection_search module indexes 'ancestors' by walking up the parental chain. Drupal 8 ships with an "Index Hierarchy" search processor already that applies to taxonomies, which we could probably use as a basis for `member_of` hierarchies (class file is /var/www/html/drupal/web/modules/contrib/search_api/src/Plugin/search_api/proces

[2019-09-26 11:01] dannylamb commented on #1284
I actually shuffled that around and am about to push up a PR to put the
reorder children tab as an action link on the manage members view.

On Thu, Sep 26, 2019, 07:39 Mark Jordan <notifications@github.com> wrote:

[2019-09-26 12:42] mjordan commented on #1284
:+1: closing.

[2019-09-26 12:42] #1284 closed, assigned to nobody

[2019-09-26 13:49] dannylamb commented on #1278
@antbrown Eventually we'll hit all the spots in Alpaca, but for now sticking to just the DerivativeConnector is totally fine.

If you want to deploy it, it goes to `/opt/karaf/deploy`.  Putting it there will trigger karaf to load the jar.  Deal is though, you gotta disable the original.  So before you do that, log into the karaf console and `bundle:uninstall` it.  Here's a copy of what I did in my

[2019-09-26 17:14] dannylamb commented on #1261
Resolved via https://github.com/Islandora-CLAW/islandora_defaults/commit/09355d90eb3ba604faec8e0cd3ea30ec219b2e07

[2019-09-26 17:14] #1261 closed, assigned to nobody

[2019-09-26 17:16] dannylamb commented on #1264
Resolved via https://github.com/Islandora-CLAW/openseadragon/commit/1a37e48206fc539c6b1494c320f000f45369ccc4

[2019-09-26 17:16] #1264 closed, assigned to nobody

[2019-09-26 23:51] antbrown commented on #1278
Hi @dannylamb thank you for the very thorough instructions :)

Here's what I did:

[code]

Back on my host:

[code]

Back inside VM:

[code]

From the camel.log

[code]

Then I went back to http://localhost:8000/node/add/islandora_object to create a simple Video repository item, then added/uploaded a new media/video item (930MB), crossed my fingers and watched the logs.

Oh, I also needed to make

[2019-09-27 12:49] dannylamb opened #1285 "Cannot convert to images to jp2"
Although jp2 support in imagemagick is advertised, it always appears to end in a core dump, resulting in a file of size 0.

[code]

This is just for Ubuntu 18.04, btw.  Centos 7 may very well be fine, I haven't tried it yet.

[2019-09-27 13:25] dannylamb commented on #1278
PRs against Alpaca and Crayfish would be _much appreciated_.  Bonus points if you throw `disableStreamCache=true` on the other Alpaca routes, but I can do that in a follow up PR if you don't have time.

[2019-09-27 13:33] dannylamb opened #1286 "Rename `External URI` to `Preferred URI`"
You can change it through the UI and re-export `islandora_core_feature`, or you can just edit these lines using a text editor:

- https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/modules/islandora_core_feature/config/install/field.field.taxonomy_term.islandora_models.field_external_uri.yml#L13
- https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/modules/islandora_core_feature/config/

[2019-09-27 14:34] seth-shaw-unlv commented on #1285
On CentOS 7:
[code]

It threw a few warnings (it was probably quirks with that particular Tiff) but I was able to open and view the Jp2 file just fine.

[2019-09-27 18:24] dannylamb opened #1287 "Investigate Java 11 with Alpaca"
Add java 11 to the Alpaca testing matrix and watch the fireworks :boom: :boom: :boom:

[2019-09-29 19:44] rosiel commented on #1286
No, I don't think this is a good solution. Changing the label doesn't change the machine name, `field_external_uri`, which is present in 51 places in the `islandora` module. The machine name gets exposed to the user, when they're  doing "add an existing field" which is a behaviour (especially with _this_ field!) that we want to encourage. When re-using this field, it seems to default the field lab

[2019-09-29 20:41] rosiel opened #1288 "Fedora URI pseudofield doesn't work on Taxonomy Terms"
The Fedora URI (or Gemini URI, depending on which part of the interface you're in) can be configured to show up on Taxonomy Terms. However, it does not display.

I am looking, for example, at the built-in terms that come with the playbook, e.g. Software (part of Resource Types), which in my box is at /taxonomy/term/12.

In Gemini, via SQL, i can verify that it has a Fedora URI.

However, despite
-

[2019-09-30 14:10] seth-shaw-unlv commented on #1286
Sidebar: we should probably advertise the VirtualBox snapshot capability more for dev work. Whenever I spin up a fresh box via the playbook I always login as admin and then take a snapshot. This allows me to roll back any changes should I destroy my install somehow; which means I'm up and running again in seconds rather than waiting the 30+ minutes for a fresh vagrant up.

[2019-09-30 14:16] seth-shaw-unlv commented on #1288
(Going off the top of my head, need to verify this theory.) This is *probably* due to how we use field_external_uri. Taxonomy terms that use that field would be known by their external URI rather than the Drupal URI which is what we use to query Gemini; thus Gemini is just shrugging. We probably need the bit of code that does the Gemini lookup to check for the presence of external_uri and use that

[2019-09-30 14:18] seth-shaw-unlv commented on #1288
Nope. Scratch that theory; and I should have read your ticket description more carefully.

[2019-09-30 15:01] dannylamb commented on #1288
I recreated this and from the Gemini logs it looks like an authentication issue:

[code]

Not entirely sure why taxonomy terms are different than media/nodes in this situation, TBH.  But that's what's happening.

[2019-09-30 15:31] seth-shaw-unlv commented on #1288
Not sure how you even got that far @dannylamb. Mine doesn't even get past [this line](https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/islandora.module#L386) to verify entity type. Changing the line to `if ($entity->getEntityTypeId() === $current_entity) {` allows both taxonomy terms and nodes to pass through.

[2019-09-30 15:40] seth-shaw-unlv commented on #1288
Nope, actually that edit only works for taxonomy terms. Nodes start failing there (which I didn't realize because I hadn't cleared my cache for the node I checked 🤦‍♂️).

I feel like we've hit something like this before.... where was that? Breadcrumbs, maybe? Grumble, grumble, flipping through random stacks of papers, grumble, grumble...

[2019-09-30 16:39] dannylamb commented on #1288
Did a quick dive and am now thinking that log entry is a red herring.  Turns out, its because the taxonomy term display is actually a view.  The route parameters are handled _slightly_ differently, and we just need to account for that.

For a node/media, the route match returns parameters nested in an array and keyed by their name.  For the view, the entity that matches the contextual filter is re

[2019-09-30 16:40] seth-shaw-unlv commented on #1288
PR incoming..

[2019-09-30 16:40] dannylamb commented on #1288
by the time i've figured it out @seth-shaw-unlv already has a PR lol

[2019-09-30 16:50] dannylamb commented on #1286
@rosiel I had issues with dl'ing Solr this weekend.  Killed three builds on me.

Well so we can rename it, I guess.  If it's really that big of a deal.  We don't really mention `islandora_object` by name anywhere, which is why it works if you make your own.  And `islandora_defaults` is yours once you enable it.  We don't carry it forward for you because we assume you're going to change it.  So tha

[2019-09-30 17:08] dannylamb opened #1290 "`field_external_uri` is a magic string in a handful of places"
We've got a constant for it in `IslandoraUtils`: https://github.com/Islandora-CLAW/islandora/blob/8.x-1.x/src/IslandoraUtils.php#L31

So we shouldn't be hardcoding it in `JsonldTypeAlterReaction`, `NodeLinkHeaderSubscriber`, and `LinkHeaderSubscriber`.

Super easy newbie ticket if there are any takers.

[2019-09-30 17:35] ajstanley opened #1291 "File upload fails if user doesn't have fedoraAdmin role assigned"
A user without the fedoraAdmin role will be shown the Add Media button, but uploads will fail in odd ways.  PDFs appear to load, but they aren't there when you try to see them.  Images won't load, you'll see a message saying the alternate text is of the wrong primitive type.

This button should be hidden if the user hasn't the privilege to add media.

I was unable to find any privilege assigned to

[2019-09-30 17:37] dannylamb commented on #1286
*EDITED BECAUSE I MISSED ONE*

So here's where we use `field_external_uri`:

1. The external uri is used to do lookups so that our Condition plugins don't rely on taxonomy term ID's.  This happens in `NodeHasTerm`, `MediaHasTerm`, and `ParentNodeHasTerm`.
1. In `JsonldTypeAlterReaction`, the external uri is used if present when adding `rdf:type`s to RDF.  We do this using Context.
1. In `NodeLinkH

[2019-09-30 17:40] dannylamb commented on #1286
And in the default config, we only utilize `JsonldTypeAlterReaction` in the 'All Media' and 'Content' contexts.

[2019-10-01 19:38] mjordan commented on #1242
Over at https://github.com/Islandora-CLAW/openseadragon/pull/16 @dannylamb suggested I try making multi-valued file field on a media. I set the cardinality of `field_media_image` on Image media to 2, and it let me upload two images:

![multiple1](https://user-images.githubusercontent.com/403918/65994020-40a6e080-e447-11e9-97f3-b4f8a28f3e20.png)

But the technical metadata (width, size, etc.) only

[2019-10-01 20:29] seth-shaw-unlv commented on #1242
I don't know that they are overkill, but the UI is certainly awkward for them. We are using compound objects for things like oral histories and postcard recto/verso; but we are also bulk loading everything and avoiding the web UI at the moment anyway.

It seems like the Paragraphs module would be some useful inspiration for making "lightweight compound objects". I know @alxp has [a session next we

[2019-10-02 15:21] whikloj commented on #1286
So if we change the field name (which is what I think we are discussing) then it is a non-backwards compatible change, correct? We will have to cut a 2.0 release and have people (whom have a repository running) do a migration.

[2019-10-02 15:24] seth-shaw-unlv commented on #1286
Well, you could do an update hook to manage it and keep it a 1.1 minor release; but it does seem rather extreme at this point.

[2019-10-02 15:44] whikloj commented on #1286
Can you rename a field once it has data in it? Imma gonna look. 👀

[2019-10-02 16:53] seth-shaw-unlv commented on #1286
It is a _pain_ to do so, but can be done.

[2019-10-02 16:54] seth-shaw-unlv commented on #1286
You have to create the new field, populate it, then purge the original.

[2019-10-02 17:44] rosiel commented on #1286
Not worth a breaking change! Let's not!
(Danny wrote this ticket based on my suggestion)

[2019-10-02 17:44] #1286 closed, assigned to nobody

[2019-10-02 17:45] dannylamb commented on #1287
Resolved via https://github.com/Islandora-CLAW/Alpaca/commit/34ef9e6d484cafa51917b60ee2c4968e25186a48

[2019-10-02 17:45] #1287 closed, assigned to whikloj

[2019-10-02 17:46] manez commented on #1268
Resolved with https://github.com/Islandora-CLAW/CLAW/pull/1271

[2019-10-02 17:47] manez commented on #1268
@dannylamb I'm not sure if I can close this or if that's just a Committers thing. I mean, I *can* close it, but I don't want to stomp on workflows with my secret Owner powers 😅

[2019-10-02 17:53] whikloj commented on #1288
Resolved with https://github.com/Islandora-CLAW/islandora/commit/0d18931b073bb728bce562ce1dc26aa3d2beba96

Is this good to close @rosiel?

[2019-10-02 21:29] dflitner commented on #1290
I am on this!

[2019-10-03 13:08] dannylamb commented on #1268
@manez You can totally close this

[2019-10-03 13:22] manez commented on #1268
Done!

[2019-10-03 13:22] #1268 closed, assigned to manez

[2019-10-03 14:55] mjordan commented on #1280
External documentation for field types would suffice, but if we want context-sensitive documentation, the Search API Solr module (http://localhost:8000/admin/config/search/search-api/index/default_solr_index/fields) provides an example of how we might document field types at the "Add Field" page itself (`http://localhost:8000/admin/structure/types/manage/islandora_object/fields/add-field`). Here i

[2019-10-05 01:23] rosiel commented on #1288
yup yup yup! i can attest that it works! (of course, _it only works on vocabularies that you configure to have the gemini URI_ in the Islandora config. Just a reminder, because... i was confused for a second. 😅)

[2019-10-05 01:23] #1288 closed, assigned to nobody

[2019-10-07 20:43] t4k opened #1293 "claw-playbook: ERROR! 'debugger' is not a valid attribute for a Play"
Vagrant 2.2.3
Ansible 2.4.2.0

`vagrant up`

I was able to get past the error by commenting out line 5 in `solr.yaml`:
[code]

[2019-10-07 22:44] elizoller commented on #1293
i had the same error on vagrant 2.2.4 and ansible 2.8.3

[2019-10-08 17:42] Natkeeran opened #1294 "openseadragon does not display Paged Content"
openseadragon does not display Paged Content.

Claw-playbook version: 1d1ffc2f1ff8f712992916320dc2196fc930dfb9

## Steps to reproduce
* Create a Repository Item with model Paged Content
* Add a Child with model Page
* Add a media to that child (File - Tiff) with  Media Use being Original
* Go to the Paged Content node

### Expected
* The content is shown in the openseadragon viewer

### Actual
* T

[2019-10-08 17:57] seth-shaw-unlv commented on #1294
This would be a cantaloupe error. What does Tomcat error log say caused the 500?

[2019-10-08 20:01] ysuarez opened #1295 "Create Github issue templates to guide users between submitting "bug reports" v.s. "feature request""
I wanted to suggest that we set up/create Github issue templates.

They can be used to guide users between submitting "bug reports" v.s. "feature request"

Here are the instructions, but I need access to the I8 repo settings menu.
https://help.github.com/en/articles/creating-issue-templates-for-your-repository

This is what the default templates look like, may not need a lot of customizing....

![

[2019-10-08 20:26] DonRichards commented on #1293
@t4k @elizoller Just looking at the [documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_debugger.html) for Ansible 2.2 and I see it does support the debugger parameter so it should work. I wonder if it's failing because of something else failing. If you remove the line does it finish building?

[2019-10-08 20:34] t4k commented on #1293
Yes, everything worked perfectly with that single line commented out.

[2019-10-08 20:39] t4k commented on #1293
Looks like it requires Ansible 2.5 _and_ a name attribute. There is no name attribute in this section of the file.

[2019-10-08 20:51] t4k commented on #1293
Maybe an Ansible `compatibility_mode` needs to be set in the Vagrantfile: https://www.vagrantup.com/docs/provisioning/ansible_common.html#compatibility_mode

[2019-10-08 22:59] whikloj opened #1296 "Views Blocks placed by Context throw exception on missing UUID"
This error seems to appear on collections when caching is disabled and relates to the fact that views blocks placed by context don't end up with a UUID.
[code]

[2019-10-08 23:03] whikloj commented on #1296
Hmm deleting the context reaction to place the block and then re-adding the same reaction cleared this up...so I'm going to close this.

[2019-10-08 23:03] #1296 closed, assigned to nobody

[2019-10-09 17:01] mjanowiecki commented on #1280
I think that's a good idea @mjordan. How would we go about implementing this?

[2019-10-09 17:10] mjordan commented on #1280
Not entirely sure without further investigation but something like modifying the view of `/admin/structure/types/manage/islandora_object/fields/add-field` might do it. Let me poke around to see how far I can get.

[2019-10-09 21:10] DonRichards commented on #1293
Interesting. I just created a PR for this.

[2019-10-09 22:21] elizoller commented on #1293
Sorry, this might be a dumb question but why would we want to force it to behave like a previous version of vagrant? Isn't that what compatibility mode does?

[2019-10-10 16:51] manez commented on #1295
YES. This is a great idea. Once I'm back in the real world next week, I'll make this a priority. Thank you @ysuarez 👍 👍 👍

[2019-10-10 17:51] seth-shaw-unlv opened #1297 "Move NormalizerAlterReaction and JsonldTypeAlterReaction to jsonld module"
In a hypothetical world where someone uses the jsonld module _without islandora_ they may want to leverage the JsonldTypeAlterReaction.

E.g. controlled access terms' corporate body type should use this reaction but currently doesn't because it creates a dependency on the islandora module.

[2019-10-10 18:01] seth-shaw-unlv commented on #1297
Clarification: we could add the necessary context config to make corporate_bodies work by placing it in `install/optional/` as a stop-gap; but then it would only work as expected when used with islandora. Installing jsonld and controlled_access_terms _without islandora_ would cause it to silently fail.

[2019-10-11 04:15] mjordan commented on #1280
I've figured out how to add a table to `admin/structure/types/manage/islandora_object/fields/add-field`. Here's what it looks like, with placeholder text in the right-hand column for now:

![fields_descriptions](https://user-images.githubusercontent.com/403918/66623915-bf67f000-eba2-11e9-8433-64f588a67f9e.png)

Any volunteers for some desctiptions?

[2019-10-11 16:44] whikloj commented on #1275
As part of the IslandoraCon 2019 use-a-thon a capable team of Islandorians (@alxp, @birkland, [Katie Gucer](https://github.com/isithere) and myself) generated this.
https://docs.google.com/document/d/14a2nsMCojl2aIFBlHac6Npb3LXprBFqbddwfyOcXz28/edit?usp=sharing

It is a work in progress, please review and give us any feedback.

[2019-10-11 17:35] kayakr opened #1298 "Use-a-Thon: Waveform thumbnails for audio files"
As a designer I want to see distinct thumbnails for each audio file so I can distinguish repository items at a glance (not so easy if they all have a default thumbnail, see screenshot).
<img width="1477" alt="audio-png-thumbnails-before-after" src="https://user-images.githubusercontent.com/208184/66672258-bdd61080-ec12-11e9-979d-c7c55f62c128.png">

This can be achieved by:
* changing Homarus confi

[2019-10-11 18:32] bondjimbond opened #1300 "Cookbook: Multi-Tenancy with Aggregated Search & Browse"
This configuration will allow multiple Islandora 8 sites to share single installations of Fedora and Solr, replicating the multi-site capabilities of Islandora 7. Each site's repository objects are segregated within Fedora, use their own Solr cores, and are indexed by a "parent" site that can search and display content from all of the child sites together, without duplicating media.

Addresses or

[2019-10-11 18:56] dwk2 opened #1301 "Islandora 8 Exhibitions and TimeLineJS"
# Exhibitions and TimeLine JS

## Why Do We Need an Exhibitions Module?
Exhibits, unlike digital collections, expect to guide a user through the material in a particular linear order. This order is often not the same as the alphabetic or date order used to programmatically organize a digital collection of related materials. Exhibits also generally require the ability to tell a story about the reso

[2019-10-11 19:42] rosiel opened #1303 "What the heck does "Map URI to Predicate" mean?"
The interface contains a context reaction with:

* "Map URI to predicate" as the name of the Reaction,
* "Drupal URI predicate" as the name of the configured variable
* "The Drupal object's URI will be added to the resource with this predicate. Must use a defined prefix." as the description.

![Screen Shot 2019-10-11 at 12 39 45 PM](https://user-images.githubusercontent.com/1943338/66679916-3abdb6

[2019-10-11 19:55] kayakr opened #1304 "Tracing for debugging and performance management"
As a developer seeking to debug Islandora 8, or a system administrator wanting to understand performance, I want to have easy access to logs across all of the components involved.

It is currently very challenging to diagnose issues such as failed derivative generation in Islandora 8, due to the numerous components involved, especially if some requests succeed and others fail, e.g. due to size, or

[2019-10-11 20:13] seth-shaw-unlv opened #1305 "Use-a-thon: Oral History Transcriptions"
Use-a-thon lesson 1: check the issue queue (https://github.com/Islandora-CLAW/CLAW/issues/1003) _before_ you start digging into the issue.

This issue has the attention of the Drupal 8 community; there is an open ticket for adding [WebVTT](https://www.w3.org/TR/webvtt1/) support to core (https://www.drupal.org/project/drupal/issues/3057144), but it needs work. Ideally we would contribute to these

[2019-10-11 21:16] kayakr commented on #1298
Work in progress action for generating an animated gif thumbnail for a video file such as the What Changes You instance at https://thisvancouver.vpl.ca/

Works on command line:
`sudo ffmpeg -i http://localhost:8000/_flysystem/fedora/2019-10/small.mp4 -ss 3 -t 2 -f gif -loop 0 /var/www/html/drupal/web/sites/default/files/output2.gif`
but when run via Homarus the resulting gif doesn't animate...
[co

[2019-10-11 21:19] isithere commented on #1275
Here are the work products for the Islandora 8 Collectioneers' submission to the Use-a-Thon:

1. Documentation (which is both full and points in many interesting directions): https://docs.google.com/document/d/14a2nsMCojl2aIFBlHac6Npb3LXprBFqbddwfyOcXz28/edit?usp=sharing
2. The presentation (wherein the lobster goes from tears to joy in a mere five slides):
https://docs.google.com/presentation/d/1

[2019-10-11 23:50] DonRichards opened #1306 "Remove IRC from from code"
IRC is in code and documentation and needs to be removed.

<img width="753" alt="Screen Shot 2019-10-11 at 4 18 27 PM" src="https://user-images.githubusercontent.com/2738244/66690766-16270580-ec47-11e9-9b7d-75d613f5b9fc.png">

[2019-10-11 23:52] DonRichards opened #1307 "Midia tab behavior"
Align the media tab behavior to Islandora 7's datastream tab.
Limit the content found in the tab to just the children and not the grandchildren.

<img width="1069" alt="Screen Shot 2019-10-11 at 3 49 28 PM" src="https://user-images.githubusercontent.com/2738244/66690811-5f775500-ec47-11e9-9bfd-c8b2cd61ae72.png">

[2019-10-12 03:12] elizoller commented on #1300
^correction to above, you probably wouldn't want to change crayfish_fedora_base_url and rather rely on the minter to handle fedora urls including a root

[2019-10-12 21:49] mjordan commented on #1280
I've created a small module, https://github.com/mjordan/islandora8_issue_1280,  to stuff my code into for now since I'm rebuilding my Islandora 8 vagrant. We can decide later if we want to add this to the Islandora module or to keep it in its own separate module.

[2019-10-14 14:37] mjanowiecki commented on #1280
This looks great! As for writing descriptions, if we don't get individual volunteers, I can see if the Metadata Interest Group would be interested in taking this on.

(I would volunteer myself, but I don't think I know quite enough just yet)

[2019-10-14 15:15] rosiel commented on #1303
Oh... Here's a further complication. This reaction, when executed, will also:
- test whether the entity in question (the subject of the RDF) is a Media
- if so, gets the URL of the file.
- it does this by asking for the media's "Source Field" (apparently this is a drupal config thing - while Media objects can and do use different names for the field that contains "the file this media is about", an

[2019-10-14 16:39] whikloj commented on #1303
@rosiel it does that weird behaviour for media so that we properly store the subject of the RDF for a binary as the binary. Instead of the media.

This is a weirdness of Fedora too. If you goto a file in Fedora and look at the RDF (easier using curl) though the URL is `http://localhost:808/fcrepo/rest/path/to/file.tiff/fcr:metadata` the subject of the RDF is `http://localhost:808/fcrepo/rest/path/

[2019-10-14 16:41] whikloj commented on #1280
@mjanowiecki if you want to try we can all provide context of that is helpful.

[2019-10-14 17:02] seth-shaw-unlv opened #1308 "GeminiLookup RequestException throws 500 error"
Created a new Audio Media which crashed when attempting to view it:
[code]

[2019-10-14 17:09] seth-shaw-unlv commented on #1308
This error is simple to fix:
[code]

But it also masked another problem: the audio file never made it to Fedora in the first place. It looks like a file-name issue. I'll test some more.

[2019-10-14 17:25] seth-shaw-unlv opened #1309 "Files with square brackets in their file names don't persist to Fedora"
I attempted to create a new media using a file with brackets in the filename `test [with brackets].mp3`. The Media upload form didn't complain and Drupal stated that the Media was created. Drupal will show the media page (once you fix #1308); however the Fedora binary resource does not exist.

I'm not seeing any messages that the file failed to be loaded into Fedora (I've checked Drupal's logs and

[2019-10-14 17:30] seth-shaw-unlv commented on #1309
Ah, I didn't look far enough back in catalina.out:
[code]

Unfortunately, the error message doesn't help much. So, an error was reported, but I'm not sure who dropped the ball. Perhaps the flysystem adapter...

[2019-10-14 17:45] seth-shaw-unlv commented on #1309
Looks like the form (`http://localhost:8000/media/add/audio?_wrapper_format=drupal_ajax&ajax_form=1&element_parents=field_media_audio_file%2Fwidget%2F0`) _is_ getting an error:
[code]

Just ignoring it.

[2019-10-14 18:01] seth-shaw-unlv commented on #1309
Flysystem is passing the namespaced path to Chullo (e.g. 'fedora://2019-10/test [with brackets].mp3'). Chullo is trying to use the same URI when POSTing the new resource.

So, who's job is it to check valid file naming? Flysystem or Chullo? Chullo seems to be just a fairly thin API wrapper. I guess we need the Flysystem Adapter to enforce the file-naming business logic...

[2019-10-14 18:45] seth-shaw-unlv commented on #1309
Huh, Gemini seems to have a URL-encoded version of the Drupal URI, but not the Fedora one:
[code]

[2019-10-14 18:54] mjanowiecki commented on #1280
@whikloj  Sure, I'd be up for that!

[2019-10-15 11:36] mjordan commented on #1280
I'll start with "Typed Relation":

A specialized type of taxonomy field that allows users to specify the "type" of the relationship between the Islandora object and the taxonomy terms. For example, if people's names are listed in a taxonomy, a typed relation field using that taxonomy will allow for a person to be a 'creator', 'photographer', or 'editor' of the work described in the object node.

[2019-10-15 12:59] whikloj commented on #1307
That is the Drupal "Files" tab. It displays all the files on the site and is core Drupal. That "Media" tav will also display all the media on the site.

You'll want the "Media" tab of a node. Which is at `http://localhost:8000/node/X/media`.
<img width="645" alt="Screen Shot 2019-10-15 at 7 56 48 AM" src="https://user-images.githubusercontent.com/2857697/66833536-9daf9580-ef21-11e9-9f48-c2008c6310

[2019-10-15 13:05] whikloj commented on #1300
My suggestion is that we accept the Fedora base URI as part of the request to Milliner. Then a configuration change on the Drupal side would affect the URIs minted and where (i.e. the URI of Fedora) Milliner pushes to.

[2019-10-15 13:16] whikloj commented on #1309
I think Flysystem should acknowledge that the save failed and report back why it failed. It shouldn't need to know about the underlying issues but it shouldn't mask them.

[2019-10-15 13:25] bondjimbond commented on #1300
@whikloj I don't know what Milliner is, but your suggestion sounds good.

[2019-10-15 13:27] whikloj commented on #1300
Milliner is the Crayfish microservice that `PUT`s RDF into Fedora.
https://github.com/Islandora-CLAW/Crayfish/tree/dev/Milliner

[2019-10-15 13:35] bondjimbond commented on #1300
Then that sounds excellent. The more configuration we can make part of the Drupal UI, the better.

[2019-10-15 14:31] Natkeeran commented on #1294
I am not seeing any issues in Tomcat:

cantaloupe is throwing errors:

[code]

[2019-10-15 14:36] dannylamb commented on #1303
@rosiel++ I totally forgot about that little twist.

[2019-10-15 14:56] whikloj commented on #1294
Does that file exist and is it retrievable?
[code]

[2019-10-15 16:04] seth-shaw-unlv commented on #1309
It appears that Flysystem is reporting back an error. It is the file upload form that is ignoring the error, so this may have to be a core issue/patch. Unfortunately, I need to turn my attention to some other work tasks but I'll hopefully circle back to this sooner rather than later.

[2019-10-16 17:11] DonRichards commented on #1293
I believe so, that's how I read it.

[2019-10-16 17:32] bseeger commented on #1303
My .02 (which is somewhat of an aside, as it sounds like this is complicated to change given the above) -- JSON-LD is just a serialization, but the predicate is part of RDF.  So naming it JSON-LD is misleading, as it's not JSON-LD, it's an RDF predicate that I8 _serializes_ as JSON-LD (versus, say, turtle, or rdfxml)

[2019-10-16 18:50] seth-shaw-unlv commented on #1303
@bseeger, that is true, but (currently) the RDF module doesn't support any of these alters, so we rely on the JSON-LD module for these tasks. So, while the _concept_ is RDF centric, the _implementation_ is JSON-LD centric. I think using JSON-LD in the name is necessary because it emphasizes where this magic happens.

[2019-10-16 19:04] seth-shaw-unlv commented on #1181
Noting here that islandora_defaults now includes `field_weight` with a mapping to `co:index` as of https://github.com/Islandora/islandora_defaults/commit/b8c4d5165b6a39cd9a699c25ec0d737e73537fab which is used in conjunction with `field_member_of`.

However, we may want to keep this issue open for reference should someone want to implement multi-orders using proxy ordering as suggested above.

[2019-10-16 19:22] seth-shaw-unlv opened #1310 "Provide links to download all the child objects' original files"
Currently, we can display an original file download link as part of the repository item page. We can now display an OpenSeadragon viewer of a node's children. However, **the parent page doesn't allow users to download the original files of the children**, nor are there links to the child pages to access each one's download link.

Two options:
1. Provide a list of child links, possibly as an expand

[2019-10-17 00:51] mjordan opened #1311 "We should expose taxonomy terms' external URIs to Views"
There's a chance I'm not using Views correctly, but I'd like to create a View with a REST endpoint that allows me to get all the nodes that have a tag with a specific external URI, e.g. for the Binary model:

`curl -vi "http://localhost:8000/islandora_model?_format=json&model=http://purl.org/coar/resource_type/c_1843"`

I want to be able to query a bunch of Islandoras using the same parameter rath