[2019-10-17 06:17] rosiel commented on #1303
Hmm, there's a good point here. I'm not sure if this alter happens before or after "turning the rdf into jsonld" (if such a thing occurs). But I think that distinction is important, if we've designed this to be flexible, the name should say what it actually does. Thanks @bseeger .

[2019-10-17 12:44] dannylamb commented on #1311
@mjordan I had to do just the same thing recently.  You use a 'relationship' to make the fields of the taxonomy term available, and then you can make a filter based on `field_external_uri`.  Here's an example of how we get Preservation Master files.  It's for Media, but the same technique would apply to Nodes: http://localhost:8000/admin/structure/views/view/display_media?destination=/admin/struct

[2019-10-17 12:59] mjordan commented on #1311
@dannylamb sweet, I'll give this a whirl. My spidy sense tells me that we should have a whole section of our cookbook devoted to advanced Views.....

[2019-10-17 13:36] mjordan commented on #1311
Or to accompany a set of cookbook entries, we could create a set of gists/wiki pages/etc. collecting YAML configs so people could paste in preconfigured Views.

[2019-10-17 14:08] seth-shaw-unlv commented on #1303
First, the JSON-LD module serializes the entity based on the RDF mapping; i.e. 'turning the rdf into jsonld'. Afterwards the JSON-LD module executes any implementations of `hook_jsonld_alter_normalized_array()` and it is the `islandora_jsonld_alter_normalized_array()` that finds and executes any active NormalizerAlterReactions such as the one we are currently discussing. So, yeah, this is very muc

[2019-10-17 14:46] mjordan commented on #1311
Got this to work. Thanks @dannylamb for revealing the magician's secret: registering the target taxonomy as a Relationship, which exposes the uri for use in the filter. Now the following request returns objects that are tagged with the "Binary" model:

`http://localhost:8000/islandora_model?_format=json&uri=http://purl.org/coar/resource_type/c_1843`

and this request returns objects that are tagge

[2019-10-17 14:49] mjordan commented on #1311
I will add that part of the value of sharing configurations for this sort of View is that if we all use the same REST endpoints (defined in shared Views), we don't need to worry about figuring out how to query each other's repositories. We'd have a network of linked (as in Linked Open Data) discovery mechanisms out of the box.

[2019-10-17 15:59] seth-shaw-unlv commented on #1297
I looked through what would be necessary to do this again today. **Most** of it could move over cleanly.

The blocker is [NormalizerAlterReaction's use of IslandoraUtils' getRestUrl](https://github.com/Islandora/islandora/blob/8.x-1.x/src/ContextReaction/NormalizerAlterReaction.php#L89) which we use to get a consistent URL. We _could_ move this helper function to the JSONLD module; but the helper

[2019-10-17 16:58] dannylamb commented on #1297
I find option 2 the least objectionable, FWIW.

[2019-10-17 17:10] seth-shaw-unlv commented on #1297
Ok, @dannylamb. I'll go with that if nobody objects; but I'll give the other @Islandora/8-x-committers a chance to weigh in before I move forward.

[2019-10-17 17:37] manez commented on #1249
We're introducing a new kind of webinar, collaborating with early adopters to put a spotlight on their sites and the stuff they've built for 8. UPEI will kick this off with a session on [November 7](https://zoom.us/meeting/register/1d80057ac0ca83a0c5b9141539e44ee6).

Following some feedback from Islandoracon, we're also going to do another standard webinar, on the topic of migrating from 7 to 8. D

[2019-10-17 18:33] dannylamb opened #1312 "Packagist hates Symfony/Security, expects symfony/security"
Crayfish commons uses a capitalized Symfony/Security, when it should be all lower-case.  This happens in a few branches that need to be updated or deleted.

[2019-10-17 19:59] DonRichards opened #1313 "Grouping Context Page"
Group the context by category.
Example. I'd like to turn off all derivative generation only. It isn't clear which ones to disable while I import. This might be useful to other to have a couple of grouping or color coded items.

![screenshot-localhost_8000-2019 10 17-15_56_43](https://user-images.githubusercontent.com/2738244/67042927-e3718700-f0f6-11e9-8e5f-79090d97cbf1.png)

[2019-10-18 13:01] bondjimbond commented on #1300
Another thought on browse mode: we need to sort out a recommended Matomo configuration for tracking the usage of objects across both the individual sites and the aggregator site.

[2019-10-18 13:58] manez opened #1314 "deCLAW CONTRIBUTING.md"
Making an issue to hang on pull requests.

Now that we've made the big move, one of the most common sources of CLAW-based urls in the Islandora 8 repos is the CONTRIBUTING.md file. I've done an update on the file for islandora_defaults here: https://github.com/Islandora/islandora_defaults/pull/15 that can be used as a model to copy+paste the others to CLAWlessness once it's approved.

Great newbie

[2019-10-18 14:41] dannylamb commented on #1312
Resolved via https://github.com/Islandora/Crayfish-Commons/commit/3d6e549c9ca0af08a053631694fe7ea04848fce9

[2019-10-18 14:41] #1312 closed, assigned to nobody

[2019-10-18 16:02] rosiel commented on #1276
Hey, sorry if I missed the discussion elsewhere, but why is the field storage in islandora instead of islandora defaults?

[2019-10-18 16:19] whikloj commented on #1297
Because the `getRestUrl()` method relies on a [rest endpoint for entities](https://github.com/Islandora/islandora/blob/8.x-1.x/src/IslandoraUtils.php#L563), I think that means we also need to add a dependency on `rest` to jsonld.

I'd like present another option of having controlled_access_terms implement its own abstract class and a context setup for the json-ld hook, which could be completely se

[2019-10-18 16:46] seth-shaw-unlv commented on #1276
I don't recall the original reason, but the pattern of placing the field storage configs for media fields in core feature and the field definitions in islandora_defaults was established by @dannylamb a while ago.

[2019-10-18 16:48] seth-shaw-unlv commented on #1276
You can see the existing field storage configs @ https://github.com/Islandora/islandora/tree/8.x-1.x/modules/islandora_core_feature/config/install. Now that I think about this, I seem to recall it has something to do with setting up views we can keep in core regardless of the field definition...

[2019-10-18 17:23] dannylamb commented on #1276
^^ That plus things like making a field multi-valued are locked down by the core feature and don't change unless we explicitly do so and then provide an update hook for.

[2019-10-22 13:14] dannylamb commented on #1290
Resolved via https://github.com/Islandora-CLAW/islandora/commit/2a3b556a9ef7356a9980884e8d4ec8c5776e0bf0

[2019-10-22 13:14] #1290 closed, assigned to dflitner

[2019-10-23 13:52] mjordan commented on #1276
https://github.com/Islandora/islandora/pull/735 and https://github.com/Islandora/islandora_defaults/pull/13 merged.

[2019-10-23 13:52] #1276 closed, assigned to nobody

[2019-10-23 17:18] ysuarez commented on #1295
@manez because of de-CLAWing project and the separation of the documentation repo, this type of issue UI customization may be even more useful. I am sure you thought of this already.

For example, there is a need to make it clear that one repo should get documentation issues and not code issues, though of course we will get a mix of issues in the future.

FYI: @dannylamb

[2019-10-24 17:19] dannylamb commented on #1306
Think that's all of 'em.

[2019-10-24 17:19] #1306 closed, assigned to nobody

[2019-10-24 17:21] dannylamb opened #1317 "Add Slack notifications to Travis"
IRC is dying, and everyone loves them some slack, so add that to Travis instead.

[2019-10-24 18:54] dannylamb commented on #1278
@antbrown @kayakr I've gone ahead and tossed up PRs for Crayfish and Alpaca to address this issue.  Can you two confirm these fix the issue with large files?

[2019-10-26 21:39] mjordan opened #1318 "Document RDF properties in the http://islandora.ca/islandora8 namespace"
We are using RDF properties within the `http://islandora.ca/islandora8` namespace, For example, at https://github.com/Islandora/Crayfish/blob/dev/Homarus/static/convert.ttl#L5 and https://github.com/Islandora/Crayfish/blob/dev/Homarus/static/convert.ttl#L5. We should document these properties in a central location.

For Islandora 7, we have https://github.com/Islandora/islandora_ontology.

[2019-10-27 18:48] mjordan commented on #1184
I've added IIIF to the 1.1.0 documentation sprint list of topics and signed up as documenter.

Also, once we can point to this documentation, we should add Islandora to the IIIF Awesome list at https://github.com/IIIF/awesome-iiif/blob/master/implementations.md.

[2019-10-28 14:48] mradamcox opened #1319 "Documentation: Bad link to docs in repo homepage"
The repo front page (README.md) has a bad link to the Islandora 8 documentation (it links to https://islandora-claw.github.io/CLAW/ but the correct url seems to be https://islandora.github.io/documentation/).

[2019-10-28 15:00] manez commented on #1319
@whikloj is auditing this repo as part of our efforts #1267  to clean up those broken links and CLAW-based urls. Tagging him so this gets on the radar 😄

[2019-10-28 15:09] mradamcox commented on #1319
Aha, I see, this is a trees and forest thing :)

[2019-10-29 14:34] dannylamb opened #1322 "`--userid` option for migrations doesn't work on rollback"
The `--userid` option that's needed so we can pass around JWT tokens isn't available for the other migration operations, most notably rollbacks.  If the user id isn't known, then files can't be deleted from Fedora, resulting in this weird message:

`[error] Failed to unlink file fedora://some/file/path`

[2019-10-29 14:37] seth-shaw-unlv commented on #1322
Makes sense; although rollback is the only other one that really needs it because it modifies entities while the others (status and reset) are only doing migration state.

[2019-10-29 20:17] DonRichards opened #1323 "migrate 7.x settings"
![Screen Shot 2019-10-29 at 4 13 37 PM](https://user-images.githubusercontent.com/2738244/67805321-2d4b5d00-fa67-11e9-895b-1fcbcba9d2f2.png)
Create a page to use for setting the configuration values for the migration instead of changing files from terminal.
This is a simple process. This is an example of the interface. I'm about done with the input fields (I think) but  I'm still working on integr

[2019-10-29 20:34] DonRichards commented on #1323
![Screen Shot 2019-10-30 at 9 59 50 AM](https://user-images.githubusercontent.com/2738244/67864567-30dcf380-fafc-11e9-89b2-f3b161ea864f.png)

[2019-10-30 14:36] mjordan commented on #1256
Picking up conversation on this again... is the goal of such a service simply to mint an identifier on object ingest (or in addition, on demand from within the user interface by a suitably privileged user, which is what we do now with Datacite DOIs) and insert the new identifier into a specific field on the object? If so, a couple of functional requirements would be:

1. "mint an identifier" can b

[2019-10-30 17:16] manez commented on #1314
Completed, mostly by #1267

[2019-10-30 17:16] #1314 closed, assigned to nobody

[2019-10-30 17:21] elizoller commented on #1256
Yes, that aligns with my thinking as well.

[2019-10-30 17:33] mjordan commented on #1318
After some references to Star Wars and Futurama during the 2019-10-30 tech call we decided that we should see what best/common practice is for versioning ontologies is and discuss whether we should do that.....

[2019-10-30 17:33] dannylamb commented on #1318
We are also blindly using non-real namespaces in https://github.com/Islandora-Devops/migrate_7x_claw/blob/master/migrate/tags.csv for the purposes of moving datastreams from 7 to 8.

[2019-10-30 17:36] dannylamb commented on #1319
Resolved via https://github.com/Islandora/documentation/commit/6941603f8aa203f363e548bf85f5a09172dd9d8c

Thanks again for reporting @mradamcox

[2019-10-30 17:36] #1319 closed, assigned to nobody

[2019-10-31 13:10] dannylamb commented on #1303
Resolved via https://github.com/Islandora/islandora/commit/1e0b98e50afbc72553d3fc096eda2c73e9bb858c

[2019-10-31 13:10] #1303 closed, assigned to nobody

[2019-10-31 13:11] dannylamb commented on #1294
Any updates on this one?

[2019-11-04 19:31] seth-shaw-unlv opened #1324 "Use Case: Index to Secondary Public Triplestore"
Title (Goal) | Secondary Public Triplestore
-- | --
Primary Actor | Repository implementer
Scope | Architecture & access
Level | ?
Story | The default triplestore contains metadata that should be only be accessible to staff (e.g. restricted fields). Consequently this primary triplestore is kept behind a firewall but this prevents external users from querying it. The repository implementer wants to

[2019-11-05 19:14] qadan opened #1325 "Condition plugins are sometimes being double-negated"
Looking through the various plugins in [`\Drupal\islandora\Plugin\Condition`](https://github.com/Islandora/islandora/tree/8.x-1.x/src/Plugin/Condition) - occasionally, `$this->isNegated()` is being referenced somewhere during the `evaluate()` process to feed a ternary returning either `TRUE` or `FALSE`, thereby handling the negation as part of the evaluation.

The problem is, [Drupal core runs `is

[2019-11-05 23:33] antbrown commented on #1232
I've forked the ansible-role-keymaster to generate hmac keys here:

* https://github.com/antbrown/ansible-role-keymaster/commit/7d7ad98214c7ba45ccc103785a1505e2428029c8

It would be good to get some advice from the core contributors on whether this is the right place to be doing this kind of stuff and whether there are plans already in place on how to transition to JWT HMAC keys.

[2019-11-08 20:13] DonRichards commented on #1323
https://github.com/Islandora-Devops/migrate_7x_claw/pull/27

[2019-11-08 23:20] elizoller opened #1326 "Filemime constant mapping"
I am wondering if the filemime should be mapped to constants/mime instead of constants/mimetype in migrate_plus.migration.file.yml
`  filemime: constants/mimetype`
because I only see `mime: image/jpeg` in the constants section of that file, not `mimetype: image/jpeg`

[2019-11-12 14:45] dannylamb opened #1327 "Auto-publish docs?"
Can we just get Travis to do that on every successful build of the documentation?   The command to run is `mkdocs gh-deploy --clean` if we can manage to get `mkdocs` into the Travis environment.

[2019-11-12 15:22] seth-shaw-unlv commented on #1326
@elizoller, you are correct.

[2019-11-12 19:17] dannylamb opened #1328 "Openseadragon view mode sets the viewer to a small fixed width"
![image](https://user-images.githubusercontent.com/20773151/68702349-0b6dd200-055f-11ea-8523-5fe588a8fe8a.png)

This is for just when using the Openseadragon view mode for a single image or page, not a full paged content object.

[2019-11-12 19:46] alxp opened #1329 "Islandora.tomcat8 Ansible role has deprecated 'sudo:' directives"
Updated the Tomcat8 role to remove 'sudo' directives that cause Ansible 2.9 to fail.

PR: https://github.com/Islandora-Devops/ansible-role-tomcat8/pull/12

[2019-11-13 15:09] elizoller commented on #1326
can i put in a PR for this?

[2019-11-14 05:13] mjordan commented on #1328
Just confirming this behavior. Running carapace at commit 515b9194641a1798c549ce8eb9253b7713fca86d.

![carapice](https://user-images.githubusercontent.com/403918/68828395-5fa9ac80-065a-11ea-9aa6-0df839fb216d.png)

[2019-11-14 15:39] mjordan opened #1335 "Playbook is failing"
Just replicated this twice, building the playbook in master branch at234642d94ad8c3c5601e6c643d403793937c6835 :

`
mark@mark-XPS-13-9343:~/Documents/hacking/vagrants/islandora-playbook$ screen -r                                                                                 pts-0.mark-XPS-13-9343
landora 1.0.0 -> no matching package found.\n\nPotential causes:\n - A typo in the package name\n - T

[2019-11-14 17:42] dannylamb commented on #1335
'landora is the new 'murican? :rofl:

[2019-11-15 18:20] dannylamb opened #1336 "Add a 'Manage Collections' page"
Use views to make a 'manage collections' page that shows useful info about your collections and gives you a shortcut action link to make a new collection.

[2019-11-15 18:28] dannylamb commented on #1336
PR up for a first pass at this

[2019-11-15 18:32] dannylamb opened #1337 "Add OR logic to NodeHasTerm and kin"
Right now it allows multiple and assumes AND, you want all of the terms or fail.  You should be able to select AND or OR and have it evaluate appropriately.  For example, maybe I want to show openseadragon viewer for all nodes who have the Image _OR_ Paged Content term using context.

[2019-11-15 18:54] dannylamb commented on #1337
^^ PR up for that

[2019-11-15 20:34] dflitner commented on #1328
.node .field-type-image__item is set to inline_block. Removing this makes the viewer go full screen width. Is that the desired behavior?
<img width="1067" alt="Screen Shot 2019-11-15 at 1 18 10 PM" src="https://user-images.githubusercontent.com/6807228/68973031-73fcbf00-07aa-11ea-948a-2b6e6e944847.png">

At any rate, that rule is set in node.css and rather than remove it and perhaps upset other im

[2019-11-16 02:53] mjordan commented on #1337
I'm probably missing something, but....

In the UI, how do you add multiples?

![Capture](https://user-images.githubusercontent.com/403918/68986902-00be7180-07d9-11ea-8a75-e051bf9f7b9b.PNG)

Clicking on "Add condition" shows a list that doesn't include "Node has term". Also, the autocomplete doesn't allow multiple entries.

[2019-11-17 01:10] mjordan opened #1339 "Should TIFFs be converted to JP2s for display?"
I'm probably missing something (it's happened, you know), but I was expecting a TIFF media I created to be converted to a JP2 for rendering in OpenSeadragon. The only derivatives created for the TIFF are   service file JPEG and thumbnail JPEG. I also don't see any actions to generate a JP2.

I'm running a very recent (last few days) build of the playbook.

[2019-11-17 19:19] mjordan commented on #1339
Poking through the issue queue, I suspect this one is related to #1294.

[2019-11-18 14:39] dannylamb commented on #1339
Probably due to the fact that we're having issues with generating JP2s on Ubuntu.  CENTOS is fine.  https://github.com/Islandora/documentation/issues/1285

[2019-11-18 15:01] mjordan commented on #1339
Ah, thanks for confirming I *was* missing something. Closing.

[2019-11-18 15:01] #1339 closed, assigned to nobody

[2019-11-18 15:41] dannylamb commented on #1329
Resolved via https://github.com/Islandora-Devops/ansible-role-tomcat8/commit/712540525e4f31a60915e6305c4c602136a717c5

[2019-11-18 15:41] #1329 closed, assigned to nobody

[2019-11-18 16:20] dannylamb commented on #1337
After the first one autocompletes, typing `,` _should_ trigger it to start auto completing another.  This PR came from me untangling a bunch of tweaks I made working on quicker upload forms, and I may not have extracted it out correctly.  I'll circle back to this soon.

[2019-11-18 16:44] mjordan commented on #1337
Awesome, thanks, I'll give this a test this evening.

[2019-11-18 19:20] g7morris opened #1343 "Playbook is failing on mysql role"
Hello everyone,

I was able to replicate this issue on both a local vagrant and remote deploy several times.

I am using Ansible 2.9.1

The current playbook fails during this mysql task with:

[code]

When I comment out the last line in `roles/external/geerlingguy.mysql/tasks/main.yml` i.e.
  `#- include_tasks: replication.yml`, this role no longer fails. Given I'm not running any type of MySQL cl

[2019-11-18 20:32] #1151 closed, assigned to nobody

[2019-11-19 16:43] whikloj opened #1352 "Documentation not linked to menu"
Part of #1040

When serving mkdocs locally
[code]
It lists files in the `/docs` directory that are not linked from the menu. These are
[code]
They need to be linked or could be deleted.

Additionally it warned about a missing file being referenced.
[code]

[2019-11-20 13:06] #1323 closed, assigned to nobody

[2019-11-20 16:46] mjordan opened #1356 "What will be the UI for browsing newspapers?"
Are we interested in replicating 7.x's beloved newspaper issue browse interface:

![newspaper_browser](https://user-images.githubusercontent.com/403918/69258879-31ecc800-0b72-11ea-9150-5ac4e26dabca.PNG)

[2019-11-20 16:49] mjordan commented on #1294
@seth-shaw-unlv over at https://github.com/Islandora/documentation/pull/1355 you say you can't replicate this error. I wonder if you are running a different OS than @Natkeeran ?

[2019-11-20 16:59] seth-shaw-unlv commented on #1294
I've tested both Ubuntu and CentOS.

[2019-11-20 17:02] seth-shaw-unlv commented on #1294
As I mentioned on the other thread, I think this is a bad derivative. We need confirmation that the JPEG is good (as @whikloj [requested above](https://github.com/Islandora/documentation/issues/1294#issuecomment-542254943)) to continue debugging this.

[2019-11-20 17:03] mjordan commented on #1294
It's happening for me too, one of the reasons the IIIF docs came in this late. I'll check my logs to confirm.

[2019-11-20 17:03] dannylamb commented on #1356
Views.  We'll use views.

[2019-11-20 17:04] seth-shaw-unlv commented on #1356
If you build it I'll probably use it.

(Newspapers is on our local TODO for this Spring but we haven't discussed UI for it at all.)

[2019-11-20 17:07] mjordan commented on #1294
Where is the tomcat log located on Ubuntu?

[2019-11-20 17:10] mjordan commented on #1356
Views are a gimme, but it's more the UI I'm wondering about. If SFU redoes it, it probably won't be by Spring but will need to be part of our larger migration project, which will not likely come to a close until near end of life for 7.x. No project plans so far, only discussion about cleaning up metadata in prep for migration.

[2019-11-20 17:12] seth-shaw-unlv commented on #1294
Not sure off the top of my head (I play in CentOS more often than not) but according to ansible-role-tomcat8 it is probably in `/var/lib/tomcat8` somewhere.

[2019-11-20 17:13] seth-shaw-unlv commented on #1294
Cantaloupe also has their own application-specific log file @ `/var/log/cantaloupe/application.log` on CentOS.

[2019-11-20 17:15] seth-shaw-unlv commented on #1294
Actually, we may drop Tomcat logs in the same place for both CentOS and Ubuntu: `/opt/tomcat/logs/`, but I'd have to spin up a new box to check.

[2019-11-20 17:16] mjordan commented on #1294
Thanks! Then this is _not_ happening to me, tailing that log shows nothing when I view my paged content object. OTOH, `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://127.0.0.1:8080/cantaloupe/iiif/2/http%3A%2F%2Flocalhost%3A8000%2F_flysystem%2Ffedora%2F2019-11%2Frungh_01.jpg. (Reason: CORS request did not succeed).` is still showing up in the w

[2019-11-20 17:19] seth-shaw-unlv commented on #1294
You know, I don't think I've tried using OpenSeadragon with CORS enabled.... this is probably a separate ticket, though.

[2019-11-20 17:25] mjordan commented on #1294
Yes, I agree, I haven't figured it out to my satisfaction, and I think we are missing potential issues by running vagrants on localhost (and accessing them from localhost). We need to test a variety of server/client combinations. The OSD github issue queue has lots of [references to CORS](https://github.com/openseadragon/openseadragon/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+cors).

[2019-11-20 17:26] mjordan commented on #1294
I can open it, but not at the moment, I've reached my multiasking limit.

[2019-11-21 02:59] mjordan opened #1358 "Test OpenSeadragon and Mirador to make sure CORS configuration is not necessary"
Coming out of a discussion over at #1294 between me and @seth-shaw-unlv, we should test OpenSeadragon in a variety of client/server IP address combinations to make sure that we don't need to configure Drupal's CORS settings. I have been seeing some inconsistent behaviors testing Islandora on my home network using 192.168. addresses and public IP addresses. The OpenSeadragon github issue queue has

[2019-11-21 03:26] mjordan commented on #1358
We should test Mirador too when https://github.com/Islandora/islandora_defaults/pull/10 gets merged (or even prior to that).

[2019-11-21 15:48] mjordan opened #1359 "Replicating 7.x's collapsable "Details" display"
Islandora 7.x's metadata display was wrapped in a collapsable div that allowed the user to expand/collapse:

Collapsed:

![lasers1](https://user-images.githubusercontent.com/403918/69353292-20b7c000-0c33-11ea-8e81-646a318836ea.png)

Expanded:

![lasers2](https://user-images.githubusercontent.com/403918/69353328-3200cc80-0c33-11ea-8be5-c666cc26c404.png)

In Islandora 8, the metadata fields are alwa

[2019-11-21 15:52] mjordan commented on #1359
I'll check out https://www.drupal.org/project/field_group to see if this does the trick.

[2019-11-21 16:02] seth-shaw-unlv commented on #1359
I was just about to recommend field_group for doing this. However, perhaps this should be a recipe instead of a default (to limit the default install weight)?

[2019-11-21 16:04] mjordan commented on #1359
Agreed. I'm trying to test it now but the composer install failed. Will resume testing/troubleshooting later.

[2019-11-21 17:33] seth-shaw-unlv opened #1360 "Update islandora_oaipmh for rest_oai_pmh alpha-10"
In the [alpha-10 release of rest_oai_pmh](https://www.drupal.org/project/rest_oai_pmh/releases/8.x-1.0-alpha10) the metadata schema selection was changed to using Plugins instead of theme hooks (don't worry, you can still create custom metadata profiles using twig templating). However, it also means we need to update our default configuration.

PR incoming.

[2019-11-21 21:02] qadan opened #1361 "Spots where dependency injection is impossible because type hinting expects implementations, not interfaces"
This originally cropped up when enabling the `webprofiler` submodule of the [Devel](https://www.drupal.org/project/devel) module. `webprofiler` implements a whole bunch of interfaces to inject, including an `EntityManagerWrapper` which is put in place of the standard `EntityTypeManager`. It doesn't extend the `EntityTypeManager` however, it only implements `EntityTypeManagerInterface`.

There's a

[2019-11-21 21:37] whikloj commented on #1356
We also have an interest in this, and unless the new UI has an improvement I can sell I imagine we'd want to maintain the existing.

Though in our case the existing UI is customized so that it uses Ajax to pull the issues of all newspapers except the first year when you click the tab.

[2019-11-22 16:57] rosiel opened #1364 "ETDF field widget, when it allows ranges, incidentally forbids times."
From the [EDTF spec](https://www.loc.gov/standards/datetime/),

There are some features defined within Level 0 that we do not support:

## Date and Time
[dateI][“T”][time][shiftHour]
Date and time with timeshift in hours (only)
Example 3       ‘1985-04-12T23:20:30-04’ refers to the date 1985 April 12th time of day 23:20:30 with time shift of 4 hours behind UTC.

[oops, edited. it seems we do suppo

[2019-11-22 18:42] seth-shaw-unlv commented on #1364
Um, we _do_ support time interval. _However_, Islandora Defaults has date intervals turned off by default. These can easily be enabled using the Manage Form Display configuration (`/admin/structure/types/manage/islandora_object/form-display`):

<img width="1194" alt="Screen Shot 2019-11-22 at 10 41 17 AM" src="https://user-images.githubusercontent.com/29869988/69451655-c2630e00-0d14-11ea-82f7-4ee3

[2019-11-22 19:57] rosiel commented on #1364
Oooh ooh ooh! Good to know! thanks. I think we're really starting to need a separate page just for EDTF, because I want to mention that as well. I'm going to go re-verify this, because that takes care of most of the things missing.

There was one more non-range limitation under Level 0 - this format:
`[dateI][“T”][time][shiftHour]`
where it's shiftHour expressed as an hour only. Am I missing anyth

[2019-11-22 20:06] seth-shaw-unlv commented on #1364
No, the shiftHour failure is probably a legit oversight/bug. I probably missed it in my test-suite.

[2019-11-22 20:17] rosiel commented on #1364
Hmmm. I'm testing and having good luck with ranges now. But is it expected behaviour that if the widget _can allow ranges_, it _forbids times_?

[2019-11-22 20:19] alxp opened #1366 "Filenames with commas break entity display"
## Steps to Reproduce

1. Navigate to a node of an Islandora object
1. Go to the Media tab and click Add Media
1. Find a file to upload, but before uploading, put a comma in the file name somewhere. E.g. "Test,file.txt"
1. Save the new media
1. Go back to the media list page and click on the media to display the entity.

## Expected Behaviour

You see the entity

## Actual Behaviour

Page shows "T

[2019-11-22 20:24] seth-shaw-unlv commented on #1364
EDTF does not allow times in ranges. **However**, the widget _should_ allow you to _either_ enter a single date with time OR use range operator without times.

If the "allow intervals" setting is enabled, you should _ be able to add a single date with time. If not, we need to file a bug report.

[2019-11-22 20:28] seth-shaw-unlv commented on #1366
Tagging related issue #1309.

[2019-11-22 21:11] qadan opened #1367 "cases where islandora_breadcrumbs caches aren't invalidated"
Generally adding member relationships and members seems to generate breadcrumbs okay, but there's some edge cases where they're not showing due to the breadcrumb cache not becoming invalidated when one would expect it to.

## STR:

- Create a collection repository item; we'll call it B
- Add a member to that collection - I created an image item; we'll call it A
- Create another collection reposito

[2019-11-23 18:04] mjordan commented on #1359
Field Group works well. Here is my field group (lower left, it's circled in red to make it more visible) closed by default:

![closed](https://user-images.githubusercontent.com/403918/69483037-6d3c0080-0dd7-11ea-8b78-b2e5a22b59ed.png)

Clicking on the "Metadata" label opens it:

![open](https://user-images.githubusercontent.com/403918/69483049-7dec7680-0dd7-11ea-9c1f-952e5c515fa2.png)

It a bit cl

[2019-11-23 18:05] mjordan commented on #1359
Tagging @manez as this would be good candidate for a recipe.

[2019-11-23 21:39] alxp commented on #1366
The Psr7::parse_header() function is splitting the string over the comma characters. It seems like filenames should be uURL-encoded when they are sent to and from Gemini - if not having it fully encoded going in to Fedora.

[2019-11-25 21:57] antbrown commented on #1278
Hi @dannylamb sorry for the delay,

I'm not sure what I'm doing differently, the first time when I got this working I just dropped the jar file into the karaf deploy directory, karaf slurped it up and was happy, but now doing the same with the 1.0.2 jars from the 1278 pull request (built with gradlew) doesn't seem to update the features/bundles within karaf (even after a tomcat restart).

Karaf re

[2019-11-26 05:10] mjordan commented on #1358
Some useful examples at https://www.drupal.org/node/2715637.

[2019-11-27 00:13] mjordan opened #1369 "Comment module is a dependency of a bunch of Islandora modules"
Looks like the core Comment module is a dependency for the following modules:

![comments](https://user-images.githubusercontent.com/403918/69682492-6676ed00-1066-11ea-85a7-f062b4f214b6.PNG)

Which makes it difficult to uninstall it. Looking at the .info.yml files for the modules listed above, it's there for Islandora Defaults and ... Solr Search Defaults (not one of ours).

So I guess the only wa

[2019-11-27 15:36] dannylamb opened #1372 "Show/hide 'Children' tab using Context"
Right now we check for certain `field_member_of` and `field_model`, but really what determines if a resource can have children is something else (e.g. tagged as a collection or a collection content type).  Users will probably do their own thing, so it's best we let them control when the 'Children' tab appears.

[2019-11-27 15:44] dannylamb opened #1373 "Restrict `field_member_of` in `islandora_defaults`."
Right now its wide open and you can assign something to be a child of a basic page and other such tomfoolery.  It's not perfect, but we can define an entity reference view that restricts the autocomplete to only collections and paged content.  If we want to go further and restrict pages to paged content and everything else to collections, we'd have to break those out into their own content types t

[2019-11-27 15:57] mjordan commented on #1373
I agree that's tomfoolery but we are in the middle of loading (into 7.x) some scrapbooks that have pages.... and foldouts on some pages, which we are modeling as children of pages. So some crazy people do want to do crazy things. Maybe what is filtered out or in could be a configurable option?

[2019-11-27 16:11] dannylamb commented on #1373
It's all config @mjordan.  What I'm suggesting is to update the field config to use a view instead of leaving it wide open.  You can always edit that view or configure the field to restrict by content type or not at all.

However, I'm still looking for the line between giving implementors freedom and providing a more guided experience out of the box.  It's a tricky balance.  So if this sounds tota

[2019-11-27 16:34] mjordan commented on #1373
Using a View to constrain what shows up as allowable types, that can be tweaked for local needs, sounds optimal.

[2019-11-27 16:49] dannylamb commented on #1369
I think if we want to avoid that then we're saddled with maintaining our own solr config and not using anything from `search_api_solr_default` (which may not be a bad thing?).

[2019-11-27 17:07] mjordan commented on #1369
Since defaults provides standard fields on repository objects, it might be nice to provide a corresponding set of search configs. As it is, admins still need to configure all the "islandora" fields at `admin/config/search/search-api/index/default_solr_index/fields`.

[2019-11-28 14:01] dannylamb commented on #1369
Totally.  And facets.  We should provide reasonable defaults for those, too.

[2019-12-02 20:13] qadan opened #1374 "Media sources are assumed to be entities"
Title mostly says it; there appear to be some spots in Islandora functionality working with media which assume that the `source_field` references an entity of some kind, which isn't necessarily the case (i.e. for those sourced remotely).

### STR

* Create a new media type
* As its 'Media source', use 'Remote video'
* Create a media of that media type, using a YouTube video or some other valid sou

[2019-12-03 14:37] dannylamb commented on #1374
@ajstanley opened up https://github.com/Islandora/documentation/issues/1273 about this recently.  Can we close one of the two?

And did you get far into this @ajstanley?

[2019-12-03 14:40] qadan commented on #1374
Heck I'm sorry, I completely missed the other one. My github-search-fu is pretty terrible? I mean we can just close this and reference as a comment on "some investigation was done"

[2019-12-03 16:31] ajstanley commented on #1374
This was fixed here
<https://github.com/Islandora/islandora/blob/8.x-1.x/src/EventSubscriber/MediaLinkHeaderSubscriber.php#L73-L77>
- way back in the olden days.

This only got the remote object into the system, didn't touch anything that happened after that.

On Tue, Dec 3, 2019 at 10:40 AM Daniel Aitken <notifications@github.com>
wrote:

--
Alan Stanley
Developer and Training Specialist
Agile Hu

[2019-12-03 18:14] #1327 closed, assigned to nobody

[2019-12-03 18:16] dannylamb commented on #1374
Ok, so I'll close out the old ticket and we'll keep this one to track work to hit up all the other spots where we assume.

[2019-12-03 18:16] #1273 closed, assigned to nobody

[2019-12-03 18:17] dannylamb commented on #1273
Superseded by https://github.com/Islandora/documentation/issues/1374

[2019-12-03 19:02] dannylamb opened #1379 "Need to set proper cache tags when altering jsonld"
Right now tests are failing because of this.  If you go update context config that alters jsonld, you have to clear the cache in order to get it to take effect.  Our test, which used to pass, is doing just that.  Make a context, check the jsonld, then update it and check the jsonld again for results.

You can put `drupal_cache_rebuild()` between every step of the test, but ideally we'd have the ca

[2019-12-03 20:01] dannylamb commented on #1343
I updated from 16.04 to 18.04 on my machine, and now I'm hitting this.  I was able to build after you made this issue while I was still on 16.04, but now no longer. :tada:

[2019-12-03 20:17] dannylamb commented on #1343
I can confirm I'm on 2.9.1 as well.  I'm bumping the version of the role in galaxy to get the latest and seeing if that fixes anything.

[2019-12-03 20:43] dannylamb commented on #1343
Nope, even with the latest geerlingguy mysql role, it fails :cry:

[2019-12-04 00:23] mjordan commented on #1256
I've started an implementation of some ideas around how we might have pluggable minters (and persisters) at https://github.com/mjordan/persistent_identifier_framework, e.g.:

- minter a persistent identifier, and saving it to a node's field, are done via services
- third-party, or submodules, can invoke these services
- three possible workflows:
   - GUI, as illustrated in the README
   - Drush co

[2019-12-04 20:32] seth-shaw-unlv commented on #1352
Update: the current docs have a slightly different list:
[code]

[2019-12-04 21:34] seth-shaw-unlv commented on #1256
Interesting. I was thinking we would use a plugin model, but it looks like the services model could work just as well. Either way we probably want to include a Minter Interface class that our minters can implement. We may also want an update function in case we need to update a PIDs record. (E.g. telling EZID that the URL of a node changed because the path was updated.)

[2019-12-04 21:38] mjordan commented on #1256
Yes, I called the updating the "persister" service above but now don't like that lingo since it competes with "persistent" identifier. "Updater" is better. One reason that service should be swappable is that some instances would want to store the DOI, etc. in a text field, others in a typed relation field,  etc.

[2019-12-04 21:45] seth-shaw-unlv commented on #1256
Also, you can probably drop "_framework" from the module name; or you can swap it with "_api" to mirror the search_api module.

[2019-12-04 21:48] mjordan commented on #1256
I'm not attached to "_framework", I was emulating the 7.x version. I haven't had a chance to look at any work that @elizoller has done and don't want to duplicate it. I suggest we all get together early in the new year and maybe have a call to decide how to move forward. Or, join the IR Interest Group call to get wider use cases.

[2019-12-04 22:34] elizoller commented on #1256
I started a plugin style approach, but it's hard-coded to ASU things right now while I try to get it working. I would definitely be keen to join a combined effort for this. We can ping @DonRichards about getting it an IR Interest Group call.

[2019-12-05 03:59] mjordan opened #1381 "Expose usage stats at the object/node level"
https://github.com/Islandora-Labs/islandora_usage_stats_charts provides usage stats for a single Islandora 7 object. We should create a block that does the same for usage data for Islandora 8 objects collected by Matomo.

https://www.drupal.org/project/matomo_reporting_api will be useful for this.

Related issues:

- https://github.com/Islandora/documentation/issues/792
- https://github.com/Island

[2019-12-05 18:21] ajstanley opened #1382 "Filtering out irrelevant choices from Context"
I've always (well, not always, I used to have a real life) been troubled by the choices we're given under the Derivative Reaction in Contexts - we're given many many illegal or illogical choices.

I've got a filter that only shows actions that are in the family of AbstractGenerateDerivative which takes us from around twenty-two choices (remove content from front page as a derivative??) to about se

[2019-12-05 19:00] dannylamb commented on #1343
By downgrading to Ansible 2.8.7 I've managed to build successfully.

I guess at least it's narrowed down to just Ubuntu 18.04 hosts and Ansible 2.9.x and the mysql role...  I can live with 2.8.7 but we at least need to warn in the readme, docs, etc if we can't enforce it even: https://adamj.eu/tech/2016/08/19/restricting-the-ansible-version-in-use/ (suggested by @whikloj in Slack)

[2019-12-06 13:06] whikloj commented on #1382
Does this affect all Contexts or just specific ones as I'm not sure we'd want to restrict the normal use of Context for other things on someone's site. However being able to add a filter to a Context seems like great extension to Drupal regardless of Islandora.

[2019-12-06 13:39] ajstanley commented on #1382
All this affects is what Actions can be selected when you've chosen Derivative as a Reaction.
![image](https://user-images.githubusercontent.com/494887/70326963-310f9380-180c-11ea-83bb-6c67d743af56.png)

[2019-12-09 18:33] dannylamb commented on #1379
So, fun fact, Drupal puts `CacheableMetadata` into the `$context` array that gets passed around in hooks.  You can get at it as `$context['cacheability']` and then add cache tags to it, etc...

In the alter that executes the context reactions for jsonld, I get all contexts (as in the `context` module context) that had reactions that fired and add their cache tags to the CacheableMetadata in the `$

[2019-12-09 18:55] dannylamb commented on #1379
Ah noooo... Looks like that doesn't cover the case of adding content, then adding the reaction, then viewing the content to see if the alter happened.  Because the content pre-existed the context and reaction, you still gotta clear your cache.

[2019-12-09 19:47] dannylamb commented on #1379
Well... little bit of column A and a little bit of column B I guess.  I had to update the tests to add manual cache clears, but also updated the hook to add cache tags where appropriate.  Now Drupal automatically invalidates JSONLD REST responses when contexts that have those alters get saved.

Unfortunately, if content pre-dates the context, it will not get the right cache tags because it doesn't

[2019-12-11 18:18] manez commented on #1359
Finally got to this one on the tech call today, with a resounding "yes" for doing it as a recipe and not as a default.

[2019-12-11 18:38] rosiel opened #1386 "Add (islandora) breadcrumbs to Media"
Editing to be more of a "Use Case"

As a repository manager, I want my users to be able to navigate onto Media pages (/media/MID). The link to the parent currently shows up as the "Media Of" field in the field list. However this is a structural relationship.  Right now we have breadcrumbs working (some cache invalidation issues) on Nodes, but breadcrumbs don't show up on Media.

I think it'd be go

[2019-12-11 18:50] dannylamb commented on #1374
@qadan Are you looking at `1.0.0` or are you running from HEAD?

[2019-12-11 19:10] elizoller opened #1387 "Updating Drupal Core to 8.8.1"
I experimented with updating Drupal Core to 8.8.0 using composer.
I tested some basic things like pushing content to Fedora and it seems to be ok. Not sure what kind of testing needs to run to evaluate it more thoroughly.
PR here: https://github.com/Islandora/drupal-project/pull/34

[2019-12-13 18:25] Natkeeran commented on #1294
The issue persists in the latest playbook (Dec 13).

localhost:8000/sites/default/files/2019-12/2-Service File.jpg exists and retrievable.

[2019-12-16 14:19] whikloj commented on #1294
This seems to be something with the `convert` generation of the Service File or the Cantaloupe configuration. Using the same Tiff from @Natkeeran's system I was able to ingest it into my vagrant and generate a Jpeg that is accurately displayed in Cantaloupe. It's a weird one.

[2019-12-16 18:55] antbrown commented on #1278
@dannylamb we’ve managed to push the 1.0.2 jars out to staging and UAT, and coupled with the`-loglevel error` change in Crayfish we can now generate service files for large videos 😄

Thanks very much for your work on this!

[2019-12-16 18:55] #1278 closed, assigned to nobody

[2019-12-16 20:43] dannylamb commented on #1278
@antbrown Thank you so much for testing.  Sounds like https://github.com/Islandora/Crayfish/pull/82 is good, then.  Can you confirm that https://github.com/Islandora/Alpaca/pull/66 is good as well?  Or is it no longer neccessary?  It's not part of `1.0.2` unfortunately.

Either way, these have sat for a bit and I'd like to get them taken care of.  So let me know and I'll make a plea to get one or

[2019-12-17 22:05] Natkeeran commented on #1294
Seems like jpgs generated from some tiff files don't seem to load properly. Attaching some example of those tiff files.  OBJ Datastream-3.tiff is from an existing book object in islandora 7.x.

Thus, the issue seems to be with the imagemagick conversion!  @whikloj suggested that we should use jpeg2000 anyway.

[OBJ Datastream-3.tiff.txt](https://github.com/Islandora/documentation/files/3975679/OBJ

[2019-12-18 01:40] dannylamb commented on #1294
I think it has something to do with our specially compiled version of imagemagick in Ubuntu.  We do it to include jp2 support, but something just seems up with it. Folks with CENTOS don't seem to have these issues and can use an official package to install imagemagick with jp2 support.  So that _appears_ to support my theory at least.

[2019-12-18 14:45] dannylamb opened #1390 "We aren't testing all of `islandora`'s submodules"
We're only running tests for breadcrumbs.  We need to run them for all the derivative submodules as well.  I bumped into this making a test for `islandora_video` and turns out they're failing (at least for that submodule), so there'll have to be some cleanup on those tests too once we turn them on.

[2019-12-18 15:22] Natkeeran commented on #1298
@dannylamb

This is a nice feature.  It seemed to works (I got a black TN with a waveform).  Should we included it in the islandora-playbook build?

[2019-12-18 16:53] whikloj commented on #1379
Resolved with https://github.com/Islandora/islandora/commit/b553f2cd2b1869639819b1d2298f80a42fbd1432

[2019-12-18 16:53] #1379 closed, assigned to nobody

[2019-12-18 19:29] seth-shaw-unlv commented on #1163
Instead of using the config download path there is a drush command we can use to get the zip, so getting that working in the playbook shouldn't be too bad.

The additional domain config seems like it should be a recipe rather than a config we ship with. That stated, if you have a config we can use as a reasonable default, @kayakr, we can look at including it in the playbook.

Any reason why we sho

[2019-12-19 14:17] whikloj commented on #1387
Due to multiple critical vulnerabilities in 8.8.0, Drupal is now recommending 8.8.1. So I'd vote to relax on this push for now, but if not then jump straight to 8.8.1
https://www.drupal.org/sa-core-2019-012

[2019-12-19 14:28] whikloj commented on #1390
Resolved with https://github.com/Islandora/islandora/commit/20477e814af6dcb6da78f3cd986b0132f1735ad2

[2019-12-19 14:28] #1390 closed, assigned to nobody

[2019-12-19 16:04] whikloj opened #1391 "Ghostscript not installed in Centos"
Currently creating thumbnails from PDFs is not working in Centos
[code]

This is because ghostscript is not installed.

[code]

[2019-12-19 16:36] elizoller commented on #1387
Updated PR to 8.8.1

[2019-12-30 18:08] dannylamb commented on #1361
I did a quick audit and it looks like we are injecting the `EntityTypeManager`, `EntityFieldManager`, and `FileSystem` services without using their interfaces.  Some vim -> grep -> %s action should take care of this...

[2020-01-01 17:45] mjordan commented on #1256
I've moved my repo to https://github.com/mjordan/persistent_identifiers, reflecting @seth-shaw-unlv 's suggestion to remove _framework from the name.

[2020-01-02 17:13] dannylamb commented on #1387
Testing 8.8.1 now.  It may potentially fix a bug with stuff that I'm working on for https://github.com/Islandora/islandora/pull/745.

[2020-01-02 17:22] dannylamb commented on #1387
Well, doesn't fix my issue with https://github.com/Islandora/islandora/pull/745... but doesn't appear to break anything either.  I just ran a quick sanity test and everything worked out.  Derivatives, indexing, etc... all seem ok.

[2020-01-02 20:14] dannylamb commented on #1382
@ajstanley Can haz PR?

[2020-01-03 20:46] mjordan commented on #1337
https://github.com/Islandora/islandora/pull/745 merged. Nice work @dannylamb !

[2020-01-03 20:46] #1337 closed, assigned to mjordan

[2020-01-07 20:16] dannylamb commented on #1343
O hai @ruebot

[2020-01-07 20:16] dannylamb commented on #1343
@dwilcox just hit this too... I'll go update the documentation

[2020-01-07 20:29] dannylamb commented on #1343
^^ documentation PR

[2020-01-09 15:46] seth-shaw-unlv opened #1395 "Milliner createResource breaks when '_format=jsonld' is not removed"
I happened to be installing the Islandora modules on a Drupal site and forgot to enable the 'Remove jsonld parameter' checkbox @ `/admin/config/search/jsonld`. When I migrated the islandora tags I saw entries show up in Fedora, so I wasn't concerned. It wasn't until I tried to update them and saw errors pop up in the Karaf log that I discovered something was wrong.

Milliner was creating an empty

[2020-01-09 19:55] seth-shaw-unlv opened #1396 "Configuration page WSOD when Tomcat is down"
If Tomcat is down when visiting the general configuration page '/admin/config' will WSOD and report to the log `GuzzleHttp\Exception\ConnectException: cURL error 7: Failed connect to 127.0.0.1:8080; Connection refused (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) in GuzzleHttp\Handler\CurlFactory::createRejection() (line 185 of /var/www/html/drupal/vendor/guzzlehttp/guzzle/src/Handler/Cu

[2020-01-09 21:27] Natkeeran opened #1397 "Is it possible to migrate files of different media types using the same migration config?"
The migration example is hard coding the file type or the mime type: https://github.com/Islandora/migrate_islandora_csv/blob/dev/config/install/migrate_plus.migration.file.yml#L75

Is it possible to migrate set of files with different media or mime types?

[2020-01-09 22:01] seth-shaw-unlv commented on #1397
Short answer is yes. Your source data needs to have something your config can use to identify which media type it should be, but it can be done.

E.g. I have one migration that includes JPGs, TIFFs, and PDFs; I migrate them all using the same config. I can share examples, but I need to head to a meeting right now.

[2020-01-09 22:04] Natkeeran commented on #1397
@seth-shaw-unlv thanks

[2020-01-09 22:05] Natkeeran commented on #1397
Do file names need to be unique?  Otherwise, it seems to be overwritting!

[2020-01-09 23:33] seth-shaw-unlv commented on #1397
Here is a trimmed down version of what we are doing with some added comments sprinkled in...
[code]

As for the file names question, which comes into play with the file migration; file names themselves do not need to be unique, but the paths do. We use the file's original path (sans any common mount-point directories) with a collection prefix to keep it unique.

[2020-01-10 14:09] whikloj commented on #1395
Did you switch the configuration param?
https://github.com/Islandora/Crayfish/blob/dev/Milliner/cfg/config.example.yaml#L11

[2020-01-10 15:12] Natkeeran commented on #1397
@seth-shaw-unlv  Thank you for sharing this.

[2020-01-10 15:12] #1397 closed, assigned to nobody

[2020-01-10 15:36] seth-shaw-unlv commented on #1395
Ah, that is probably the quirky bit in my setup! Crayfish was setup by the playbook but the Drupal site wasn't; causing those two configuration settings to not align properly.

Still, it seems like there should have been some sort of warning, if not an error, pop up in the Milliner log if it tries to PUT an empty JSONLD. We either need to abort the whole resource creation OR ensure that we at leas

[2020-01-11 05:38] whikloj opened #1398 "Allow Syn to be disabled on the Tomcat valve"
Allow people to easily disable the Syn Valve without having to remove the jar file and configuration.

[2020-01-13 03:55] kayakr opened #1399 "Controlled Access Terms requires unsupported Auto Entity Label version"
Currently requires requires drupal/auto_entitylabel ^2.1@beta but this is no longer supported and 8.x-3.0-beta2 (2019-Oct-11) is recommended instead.

[2020-01-13 22:02] kayakr commented on #1187
Current version of EVA is 8.x-2.0.

[2020-01-13 22:32] seth-shaw-unlv opened #1400 "Controlled Access Terms requires unnecessary Field Permissions module"
As a follow-on to @kayakr's issue (#1399) I noted that field_permissions is required but not needed either. Lets remove that, too.

[2020-01-13 23:01] seth-shaw-unlv commented on #1399
Resolved with https://github.com/Islandora/controlled_access_terms/commit/51ed83a581c5b2677856ed1babbdcce29b197bdb

[2020-01-13 23:01] #1399 closed, assigned to nobody

[2020-01-14 06:37] kayakr commented on #1399
@seth-shaw-unlv fwiw, I've applied this as a patch on on our Staging and UAT instances and all is ok.

[2020-01-14 16:46] seth-shaw-unlv commented on #1400
Resolved by https://github.com/Islandora/controlled_access_terms/commit/4c4315610bc8da511c52b4d6d0e04dd105887f1d

[2020-01-14 16:46] #1400 closed, assigned to nobody

[2020-01-15 20:41] Natkeeran commented on #1396
Yes, I've noted this issue as well.

I think this has something to do with Islandora config's trying to look up fedora, but as Seth noted, not sure what on that screen.

[2020-01-17 16:23] wgilling commented on #1343
How do I downgrade from ansible 2.9.3 to ansible 2.8.7????

Every step of this playbook has not worked due to problems with backward or forward compatibility.  It's very frustrating.

[2020-01-20 17:19] dannylamb opened #1403 "We no longer need to install python on Ubuntu 18.04"
Ubuntu 18.04 ships with python 3, so instead of installing python 2, we can set `ansible_python_interpreter=/usr/bin/python3` in our host file if using Ubuntu.

[2020-01-20 19:10] whikloj commented on #1403
We still allow people to specify other versions so we should either restrict the base boxes allowed or make the check of ubuntu versions decide on this action.

[2020-01-21 14:39] dannylamb opened #1404 "Set Islandora roles to 'master' in requirements.yml for dev branch"
The dev branch of islandora-playbook needs to be able to keep up with changing roles without us having to slice new releases of the roles every time we make a change.  Case in point, islandora-playbook fails as of now unless we set the blazegraph and alpaca roles to pull from master.

[2020-01-21 14:42] dannylamb opened #1405 "`islandora_fits` is out of sync with the rest of the codebase"
`islandora_fits` currently resides in roblib's github organization, and is being developed for features that aren't mainline yet.  We need to pin it down so it doesn't keep drifting on us. Right now, on a fresh install, I'm getting this:

[code]

This has indexing for multiple files for media, but none of that has been contributed to us yet.  If we can't reasonably pin it down, then we need to mai

[2020-01-21 14:49] dannylamb commented on #1405
Reverting to `b8a126ebaa896402c6ba341047363a05857d0a60` worked out alright.

[2020-01-21 14:50] dannylamb commented on #1405
@alxp @ajstanley @rosiel ^^ Any chance we can get a version sliced at that commit?

[2020-01-21 15:08] seth-shaw-unlv commented on #1404
Ergo, https://github.com/Islandora-Devops/islandora-playbook/pull/150

[2020-01-21 15:17] GilNovacomm commented on #1343
@wgilling
You can use pip:
`pip install -I ansible==2.8.7
`

[2020-01-21 15:44] dannylamb opened #1406 "OAI-PMH endpoint not wolrking on new install"
I just vagrant up'd a new box and built the sets for OAI-PMH.  I got this error from http://localhost:8000/oai/request?verb=ListRecords&metadataPrefix=oai_dc

[code]

I kicked off the queue to build the sets so I'm not sure what's up.  If I visit http://localhost:8000/oai/request?verb=ListMetadataFormats I get an empty document, which I'm sure is part of the problem.

[code]

[2020-01-21 15:46] seth-shaw-unlv commented on #1406
Yeah, you need https://github.com/Islandora/islandora_defaults/pull/20

[2020-01-21 16:00] dannylamb commented on #1360
Resolved via https://github.com/Islandora/islandora_defaults/commit/05846783242f042236ecc17024d0bf46ee7788a1

[2020-01-21 16:00] #1360 closed, assigned to nobody

[2020-01-21 16:00] dannylamb commented on #1406
Resolved via https://github.com/Islandora/islandora_defaults/commit/05846783242f042236ecc17024d0bf46ee7788a1

[2020-01-21 16:00] #1406 closed, assigned to nobody

[2020-01-21 16:05] dannylamb commented on #1404
I was going to toss master onto all of 'em, but those are enough to keep us going.

[2020-01-21 16:07] seth-shaw-unlv commented on #1404
Wouldn't take me more than a minute to do the rest.

[2020-01-21 16:07] seth-shaw-unlv commented on #1404
Whelp, never mind! 🤷‍♂️

[2020-01-21 16:08] dannylamb commented on #1404
alas... there is no ninja emoji in github

[2020-01-21 16:08] dannylamb commented on #1404
if you toss up a PR for the rest I can merge.  I've already tested it with all islandora roles at master and everything is fine.

[2020-01-21 16:16] dannylamb commented on #1404
Resolved via https://github.com/Islandora-Devops/islandora-playbook/commit/db20b40f8f5ca4ce508e3a2208c265e99052a305

[2020-01-21 16:16] #1404 closed, assigned to nobody

[2020-01-21 21:07] wgilling opened #1407 "VagrantFile makes 4GB machine by default, README.md states it is 3GB"
In my attempts to run the islandora_playbook using an older MacBook laptop that has 4 GB 1600 MHz DDR3, the process never completed due to insufficient memory or timed-out processes.

Either the README.md should reflect that a VM is created with the default size of 4GB (and thereby, the user should have a machine that is capable of running that) or the VagrantFile should set up the default value t

[2020-01-21 23:09] ajstanley commented on #1405
Absolutely - I'll get it first thing in the morning.

[2020-01-21 23:38] ajstanley commented on #1405
Branch 8.x-1.x is good to go - anyone who wants the new model can go to newFileModel
(Sorry about that, I'd kept the changes in a new branch but merged prematurely)
Also copied it back to master, so old playbooks will still run.

[2020-01-22 14:09] dannylamb commented on #1407
@wgilling Pretty sure I did that.  I was having boxes fail to come up b/c of OOM errors when composer runs.  But that was June 2018 and we have done [this](https://github.com/Islandora-Devops/islandora-playbook/commit/94091f0a898fea06044e0ca6826faabe1f30de9c) since, which optimizes composer.  Maybe it can make through provisioning on just 3GB?  If you can confirm we can dial it back down in the va

[2020-01-22 17:48] mjordan opened #1408 "Handwritten Text Recognition"
Islandora has long had built-in OCR, but [Handwritten Text Recognition](https://en.wikipedia.org/wiki/Handwriting_recognition) is becoming real. Some proprietary competitors to Islandora are starting to call it a feature (https://www.quartexcollections.com/htr-in-quartex), and some open source implementations exist (https://github.com/vimal1083/handwritten-character-recognition) along with SaaS op

[2020-01-22 19:35] dannylamb commented on #1403
Eureka:

In `bootstrap.yml` we do this to ensure python
[code]
which leads to it being skipped when the playbook is run
[code]
because I'm running `ansible-playbook` manually and not using Vagrant, so `islandora_distro` is not defined :sweat_smile:

I'll confirm by adding that in with `-e` next time I cycle these boxes.

[2020-01-22 19:50] dannylamb commented on #1403
This is indeed user error :cold_sweat: I mean, we still have `python3` by default and aren't using it, but i'm content to live with the consistency of `python` between ubuntu and centos.

[2020-01-22 20:03] whikloj commented on #1403
No this is still an issue. This is the reason that when I tried to build a playbook it froze at this step. Changing this step from
[code]
to
[code]
fixed it. So I personally need this fixed.

[2020-01-23 14:07] dannylamb opened #1409 "Inventory cleanup"
I'm going through testing all of @dbernstein's PRs for our roles, and I'm noticing lots of small things doing all of this on droplets instead of locally through vagrant.  I'm making this ticket as a bucket for cleanup PRs to our roles/inventory.

My goal here is to shrink the number of variables you have to edit when provisioning a remote server.  There's big chunks I can eliminate by pushing thin

[2020-01-24 15:11] attiks commented on #1245
You need to use another ansible version

[code]

PS: I'm using https://github.com/Islandora-Devops/islandora-playbook/pull/127

[2020-01-24 16:12] dannylamb commented on #1405
Neither 8.x-1.x or master are working :cry:  You're referencing some fields we don't have.  Can you tag `b8a126ebaa896402c6ba341047363a05857d0a60` while we sort out how to move forward with all the content modeling changes?

[2020-01-24 16:45] dannylamb commented on #1405
Turns out I can just reference it like so

`islandora-rdm/islandora_fits:dev-master#b8a126ebaa896402c6ba341047363a05857d0a60`

for the time being.  A tag would be nicer but that'll keep us going until we manage to pull everything into the islandora org.

[2020-01-28 16:21] dannylamb commented on #1405
`dev-master` works fine for now.  Closing!

[2020-01-28 16:21] #1405 closed, assigned to nobody

[2020-01-29 02:36] mjordan opened #1411 "Enhancement: FITS should make PUID a field"
The new FITS integration is awesome - excellent work @ajstanley ! I'd like to see it create a field for PUID, which is the PRONOM format ID generated by Droid. The XML snippet in the FITS output is:

[code]
Anyone have any objections to my opening a PR to make this into a field like the rest of the values from the FITS output?

[2020-01-29 04:04] mjordan commented on #1411
Went ahead and added it anyway! PR is at https://github.com/roblib/islandora_fits/pull/1.

[2020-01-29 15:42] dannylamb commented on #1387
Resolved via https://github.com/Islandora-Devops/islandora-playbook/commit/cc97929d58c2669fed58e5ab463cae599d9e9036

[2020-01-29 15:42] #1387 closed, assigned to nobody

[2020-01-29 18:23] mjordan commented on #1335
Let me try to see if this is still the case. Will report back here.

[2020-01-29 18:33] wgilling commented on #1407
During the Islandora 8 call, some suggestions were:
 - simply update the README to reflect the memory allocation in the VagrantFile
 - @DonRichards suggested that it is possible to configure the VagrantFile to allow for a percentage of host machine's memory https://drupal.psu.edu/blog/post/dynamic-memory-allocation-vagrant-virtual-machines-windows-hosts
 - Gavin suggested that it would be helpful

[2020-01-29 18:42] wgilling commented on #1396
I thought that this was traced to the fly system

[2020-01-29 18:43] seth-shaw-unlv commented on #1396
@wgilling, that is what @dannylamb was postulating last meeting, but we haven't followed up on it yet.

[2020-01-29 18:47] dannylamb commented on #1391
Resolved via https://github.com/Islandora-Devops/ansible-role-crayfish/commit/ac704d032a3547b224470cc526fa987ec9ff5300

[2020-01-29 18:47] #1391 closed, assigned to nobody

[2020-01-29 19:02] seth-shaw-unlv commented on #1322
Resolved with https://github.com/Islandora/islandora/commit/31faef884130c871582e77e1fe21a87b3e7cadf7

[2020-01-29 19:02] #1322 closed, assigned to nobody

[2020-01-29 19:02] dannylamb commented on #1328
@dflitner can haz PR?

[2020-01-29 19:05] whikloj commented on #1361
Resolved with https://github.com/Islandora/islandora/commit/0d9019bb6dc6f9bacfc6047cf0e8bc0db7511cdb

[2020-01-29 19:05] #1361 closed, assigned to nobody

[2020-01-29 19:19] bseeger opened #1412 "dcterms prefixed used but not defined"
The `dcterms` prefix is used in the islandora_defaults for the rdf mapping, but the prefix name itself is never explicitly defined.  This results in fedora thinking that things like "dcterms:spacial" is a full URL:

[code]

Notice the `<` and `>` around some of the `dcterms` predicates - they should not be there.  Fedora thinks that `<dcterms:temporal>` is a full URL versus a prefix.

When I add `

[2020-01-29 19:21] dflitner commented on #1328
Sorry thought I had already made this a PR. It was sitting on my local machine.

[2020-01-29 19:26] seth-shaw-unlv commented on #1412
Admittedly, I should have caught those particular "dcterms" mappings when reviewing the PR that added them before merging it. That stated, I think the idea of explicitly adding the "dcterms" namespace (along with updating our existing mappings to use "dcterms" instead of "dc") is appropriate.

[2020-01-29 19:32] seth-shaw-unlv commented on #1412
Tagging MIG folks: @mbolam,@rtilla1, and @rosiel... Would there be any objections to us explicitly adding the 'dcterms' namespace and using them in our RDF Mappings? (Drupal core uses 'dc' to represent Dublin Core Terms and we've simply followed along.) We would keep 'dc11' for Elements.

[2020-01-29 20:41] DonRichards opened #1413 "Make vagrantfile dynamic for allocation"
Example info: https://drupal.psu.edu/blog/post/dynamic-memory-allocation-vagrant-virtual-machines-windows-hosts

Idea for improving the VM performance. This is samples of the code.
1. See how much ram is available
1. If "ISLANDORA_VAGRANT_MEMORY" is set use it. Otherwise If "ISLANDORA_VAGRANT_MEMORY" is blank use whichever is larger, 1/2 the RAM or 4GB.
1. If "ISLANDORA_VAGRANT_CPUS" is set use it

[2020-01-30 13:50] dannylamb commented on #1293
Are we good to close this one?

[2020-01-30 14:01] dannylamb commented on #1243
Resolved via https://github.com/Islandora-Devops/islandora-playbook/commit/6ad5d341ba20c98193ad82342cd76314923f9db6 and https://github.com/Islandora-Devops/ansible-role-fcrepo/commit/7ada50e0f2328bde9e654deccc5996c285f38e74

[2020-01-30 14:01] #1243 closed, assigned to nobody

[2020-01-30 14:07] dannylamb commented on #1153
Ok to close this one?

[2020-01-30 14:11] dannylamb opened #1414 "Add URL aliases to RDF"
From https://github.com/Islandora/documentation/issues/1095

Now that we can create nodes with aliases, we should include those URL aliases in the RDF so they are persisted in Fedora and the Triplestore.  `schema:url`?

[2020-01-30 14:58] mjordan commented on #1246
I will test this.

[2020-01-30 16:05] whikloj commented on #1412
I think the path of least resistance is to duplicate the existing URL with the new or more correct "dcterms". So I am 👍 on this

[2020-01-30 19:17] jhujasonw commented on #1335
Just hit something that looks almost exactly the same but has no spelling error...

`TASK [geerlingguy.drupal : Install dependencies with composer require (this may take a while).] **********************************************
changed: [default] => (item=zaporylie/composer-drupal-optimizations:^1.0)
ok: [default] => (item=drupal/console:~1.0)
changed: [default] => (item=drupal/devel:^2.0)
changed

[2020-01-30 19:27] jhujasonw commented on #1335
FWIW, https://packagist.org/packages/islandora/islandora does not contain the 1.0.0 version of "islandora/islandora"  which appears to possibly be why this is failing.... atleast, right now.

@DiegoPino and @jonathangreen  are the maintainers listed on the package page for islandora/islandora and @seth-shaw-unlv  is the maintainer for islandora/islandora_defaults

[2020-01-30 19:29] dannylamb commented on #1335
it's all starting to come together.  we migrated the repo over from another org, and the main islandora module got moved over as a branch.  that tag didn't make it over.

[2020-01-30 19:30] dannylamb commented on #1335
aha, because our tags are on master and i didn't move the master branch over

[2020-01-30 19:54] dannylamb commented on #1335
i pushed the master branch and the 1.0.0 tag over from Islandora-CLAW/islandora to Islandora/islandora.  it should work now :tm:

[2020-01-30 19:56] jhujasonw commented on #1335
Thanks for the super quick reply @dannylamb.  I am re-running my playbook now.  I'll post back if it is successful or not.

[2020-01-30 20:03] jhujasonw commented on #1335
The install go past the composer issue.  Now I'm at another issue, but I'll dig into that and won't pollute this ticket with it.  Thanks again for the quick reply.

[2020-01-30 20:10] dannylamb commented on #1335
Awesome.  Thanks for testing @jhujasonw.  Feel free to open another issue if you can't get past your next hurdle.

[2020-01-30 20:10] #1335 closed, assigned to nobody

[2020-01-30 20:32] bseeger opened #1415 "Syn: maven url needs to be https now"
The [maven URL](https://github.com/Islandora/Syn/blob/dev/build.gradle#L23) needs to be HTTPS or the project won't build.

[code]

[2020-01-30 21:04] #1415 closed, assigned to nobody

[2020-01-31 20:35] bseeger opened #1417 "Changes to taxonomy terms not propagating to fedora"
Changes to taxonomy terms are not propagating to fedora.   Terms are added successfully, but if you modify them, they are not successfully updated in fedora.

Milliner error:
2020-01-31 14:19:53] app.ERROR:  {"Exception":"[object] (RuntimeException(code: 500): Could not parse http://schema.org/dateModified from [{\"@id\":\"http:\\/\\/127.0.0.1:8080\\/fcrepo\\/rest\\/af\\/92\\/8a\\/06\\/af928a06-d2

[2020-01-31 20:37] seth-shaw-unlv commented on #1417
We made a silly mistake and neglected to add the `changed` field mappings for RDF mappings in controlled_access_terms!

[code]

[2020-01-31 21:01] bseeger commented on #1412
I'll add another PR for the islandora_defaults changing the `dc` prefixes to `dcterms` for consistency.

[2020-01-31 21:08] bseeger commented on #1412
PR changing dc to dcterms in config files: https://github.com/Islandora/islandora_defaults/pull/22

[2020-01-31 21:27] seth-shaw-unlv commented on #1417
Resolved with https://github.com/Islandora/controlled_access_terms/compare/968298e45f89...ea3897ffdc7a

[2020-01-31 21:27] #1417 closed, assigned to seth-shaw-unlv

[2020-02-01 22:56] rosiel commented on #1412
Great catch @bseeger, this sounds awesome. So to be clear, we will in practice use `dc11` as the prefix for dc elements, and `dcterms` for, well, dcterms. Disambiguation ftw.

[2020-02-02 18:34] mjordan opened #1418 "Drupal URIs for files migrated from 7.x are not being populated correctly"
Files migrated from 7.x are not getting the correct Drupal or Fedora URIs in Gemini. I'm migrating to an 8.x Islandora at 192.168.50.111:8000 from a 7.x whose Fedora is at 192.168.50.128:8080. Here is the Gemini record for a file that is 404ing when I view its migrated media in 8.x at http://192.168.50.111:8000/media/289 (404ing URL to file is http://192.168.50.111:8000/_flysystem/fedora/sundaytes

[2020-02-03 13:33] manez commented on #1352
I'll work on this today

[2020-02-03 14:02] dannylamb commented on #1285
I can't get imagemagick with jp2 support going on Ubuntu using the `lyrasis:imagemagick-jp2` PPA.  In desperation, I tried using GraphicsMagick instead of ImageMagick, and it works right out of the box with no extra compilation steps.  Supposedly GraphicsMagick has less in terms of features than ImageMagick, so I'm wondering if anyone out there knows of a must-have feature we'd be missing if we ma

[2020-02-03 14:30] bseeger opened #1420 "Docs Testing Notes page has Solr core as CLAW"
On this page, it has the Solr core listed as `CLAW` when it should be `ISLANDORA`.

https://islandora.github.io/documentation/technical-documentation/testing-notes/#how-do-i-search-for-a-object-in-the-solr

[2020-02-03 16:05] mjordan commented on #1153
Yup.

[2020-02-03 16:05] #1153 closed, assigned to nobody

[2020-02-03 16:51] seth-shaw-unlv commented on #1285
Thinking of the few use cases I can think of (size control, auto-orientation, profile stripping, and watermarking) all appear available with GraphicsMagick. 👍

[2020-02-03 17:00] seth-shaw-unlv commented on #1418
Did you trigger the migration using Drush or the WebUI? If using Drush, did you include the `-l http://192.168.50.111:8000` flag? Leaving off that flag will result in the Drupal URI using 'default' for the host. _Suuuupper annoying_ but it's what we have to do.

[2020-02-03 17:01] mjordan commented on #1418
Same behavior with both, but I'll try the `-l http://192.168.50.111:8000` flag this evening.

[2020-02-03 17:10] elizoller commented on #1256
I submitted a PR to @mjordan 's persistent_identifiers to add a Handle minter: https://github.com/mjordan/persistent_identifiers/pull/2

[2020-02-03 17:15] seth-shaw-unlv commented on #1256
I'll eventually get an EZID one going, but I need to get the Islandora Workbench Desktop to a distributable beta first.

[2020-02-03 18:37] seth-shaw-unlv commented on #1412
Fixed with https://github.com/Islandora/islandora/commit/82097d5307156e599334bd28b5dc51a06a816e90 and https://github.com/Islandora/islandora_defaults/commit/589bf5043bbcbcb7caea3f011b8bee753040b627.

[2020-02-03 18:37] #1412 closed, assigned to nobody

[2020-02-03 21:17] seth-shaw-unlv commented on #1412
I neglected to check OAI-PMH before merging.... 🤦‍♂️. It assumes we are using the old DC namespace.

[2020-02-03 21:23] seth-shaw-unlv opened #1422 "Need to fix OAI-PMH"
I neglected to check OAI-PMH before merging the PRs for https://github.com/Islandora/documentation/issues/1412... 🤦‍♂️.

So, two choices that I can see:

1. Revert the dcterms merge on islandora_deraults
1. I quickly implement a metadata plugin to fix this (it is quick to do).
1. Ask @joecorall to quickly fix the default metadata plugin (or merge a PR from me) on rest_oai_pmh itself and issue a ne

[2020-02-03 22:36] joecorall commented on #1422
I'd be happy to update the `rest_oai_pmh` module if that's the best resolution.

[2020-02-03 22:52] seth-shaw-unlv commented on #1422
I think we can get away with just editing https://git.drupalcode.org/project/rest_oai_pmh/blob/8.x-1.x/src/Plugin/OaiMetadataMap/DublinCoreRdf.php#L147-179. I'm about to test.

[2020-02-03 23:02] seth-shaw-unlv commented on #1422
That didn't work. We'll need to poke at this some more.

[2020-02-03 23:21] seth-shaw-unlv commented on #1422
This patch will do it, @joecorall: [oai_dc.patch.txt](https://github.com/Islandora/documentation/files/4150674/oai_dc.patch.txt)

[2020-02-03 23:38] joecorall commented on #1422
I'll take a look at this early EST time and get it merged in // released✨🌴✨

[2020-02-04 03:57] mjordan commented on #1418
@seth-shaw-unlv that appears to have fixed the 'default' (full command: `drush -y mim --group islandora_7x  --uri=http://192.168.50.111:8000 --userid=1`):

[code]

and things aren't 404ing any more. It's right there in the docs, sorry I didn't read them more carefully :smile:

Is there a way to add that option if initiating a migration via the GUI?

[2020-02-04 04:33] mjordan commented on #1256
@elizoller thanks! Your Handle minter has been merged into the master branch. It works as expected in the config and user UIs, but I don't have an account on a Handle minting service, so couldn't test that part.

[2020-02-04 13:24] joecorall commented on #1422
Hey @seth-shaw-unlv ,

To provide support for anyone using the namespace

- dc
- dcterms
- dc11

In RDF, I thought maybe it'd be easier to transform the namespace instead of editing the mapping array. Does this patch work for you?
[oai_dc.tranform_namesapces.txt](https://github.com/Islandora/documentation/files/4153488/oai_dc.tranform_namesapces.txt)

[2020-02-04 15:17] seth-shaw-unlv commented on #1418
🤷‍♂️. I stopped using the WebUI long ago. I _thought_ it did it for you automatically but maybe there is a Drupal config thing going on.

[2020-02-04 15:41] seth-shaw-unlv commented on #1422
@joecorall, much better solution. Works for me. 👍

[2020-02-04 16:25] mjordan commented on #1418
I'll confirm that.

[2020-02-04 16:39] mjordan commented on #1246
TECHMD datastreams migrated from 7.x are not getting indexed. I notice that the Media Type of the migrated file is "File", not "METS Technical Metadata". Would that make a difference?

![migrated_media](https://user-images.githubusercontent.com/403918/73765961-2dc05780-472a-11ea-864c-7ad95ad58faf.png)

Also, I notice that there are now two separate "FITS File" Media Use tags (TID 1 and 34 on my Va

[2020-02-04 16:50] mjordan opened #1425 "Render children of complex objects that are not paged or images"
| Title (Goal) | Render complex objects that are not paged or images |
| --- | --- |
| Primary Actor | Site Builder |
| Scope | Islandora Site Architecture |
| Level | Medium? |
| Story | As a site builder, I want to provide a way to indicate to users that an object has children. OpenSeadragon provides a few slick options for doing this for Paged or Image children, but I also have thesis (one PDF

[2020-02-04 16:51] mjordan commented on #1425
7.x provides two different (but related) block options that show all the thumbnails of each child. I wonder if that is a place to start for 8.x?

[2020-02-04 16:53] mjordan commented on #1425
There is also the behavior in 7.x of assigning the thumbnail of the first child to a compound object that doesn't have its own OBJ. Would we want the same behavior in 8.x?

There's also an open [JIRA ticket](https://jira.lyrasis.org/browse/ISLANDORA-2266) documenting that objects that do not have the "islandora:compoundCModel" cmodel get their first child's TN. In other words, if an object does ha

[2020-02-04 17:12] seth-shaw-unlv commented on #1425
Displaying a list of child teasers is easy to do; it is essentially the same as the Collection view block.

That stated, we are currently considering using a multi-media carousel viewer, which would also be a very similar view with some additional rendering magic.

[2020-02-04 18:24] mjordan commented on #1418
OK, I'm losing it. Running the Islandora Media migration from the GUI is not triggering the other migrations, as it's supposed to (and as it did on this VM two days ago). I'll look into why that's not working.

[2020-02-04 19:29] dannylamb commented on #1246
@mjordan Yes, that needs to come over as the FITS media type and not file.  And one of those FITS terms comes from migrate_7x_claw: https://github.com/Islandora-Devops/migrate_7x_claw/blob/master/migrate/tags.csv and we can axe it.

[2020-02-04 20:32] joecorall commented on #1422
I wanted to get this released today, but I also wanted to fix [a recent, unrelated issue](https://www.drupal.org/project/rest_oai_pmh/issues/3110145) with the module, but am having trouble implementing that functionality. If I can't get that separate, unrelated issue implemented by tomorrow morning I can just create a new release with just this new namespace mapping functionality.

[2020-02-04 22:02] jonathangreen commented on #1285
I know a little bit about this:

GraphicsMagick uses the [jasper](https://www.ece.uvic.ca/~frodo/jasper/) library to do its jp2 conversions. Imagemagick used to use jasper, but now uses [OpenJpeg](https://github.com/uclouvain/openjpeg) to do so. A side effect of this change of library means jp2 support is [no longer included in ubuntu](https://bugs.launchpad.net/ubuntu/+source/imagemagick/+bug/144

[2020-02-04 22:14] dflitner commented on #1328
Per Seth's suggestion, I'm looking at changing the CSS in Open Seadragon instead of Carapace. However I'm not sure what the desired behavior actually is. We have a manual height set of 640px because otherwise OSD shrinks down to tiny for some reason. It's supposed to match the size of the containing element, which is why changing .field-type-image__item was working. (P.S. adding width:100% to this

[2020-02-05 14:43] bseeger opened #1427 "PHP error seen when rendering a collection page"
When I view a collection page, I see an error in the Reports log:

![Screen Shot 2020-02-05 at 9 01 10 AM](https://user-images.githubusercontent.com/7966375/73851535-a5aa8280-47fb-11ea-82e6-cf5a09baaf4c.png)

Overall, it seems pretty innocuous, as it doesn't seem to affect anything.

Full messages:

[code]

[code]

@dannylamb Thinks this is related to Contexts.

[2020-02-05 15:17] dannylamb commented on #1427
I managed to fix it with this:

[code]

Blocks generated by views don't get uuids, so that param was getting set wrong.  By minting a new uuid, the rest of the downstream code is satisfied.  Not sure how clean that is, but it was quick and easy enough.  I'll be making an issue and patch to the context module with this.

[2020-02-05 16:24] bseeger commented on #1427
Just confirming that this works nicely for me as well.

[2020-02-05 19:54] jonathangreen commented on #1285
@dannylamb so I just gave this a test since I was going to build a new package to see if it would fix things, but it seems like its just working for me. Heres what I did to test. It would be nice if someone else could give this a try and make sure it works for them.

[code]

Since this isn't working on a fully provisioned box and it does seem to be working here, maybe we are doing something that b

[2020-02-05 20:39] joecorall commented on #1422
Released 8.x-1.0-alpha12 with just this fix in it. Will get another alpha out for the other issue I wanted to roll into this one SOON.

[2020-02-05 20:39] #1422 closed, assigned to nobody

[2020-02-05 22:07] seth-shaw-unlv commented on #1328
Resolved with https://github.com/Islandora/openseadragon/commit/ad2d2d1691a2c1c05b0bb56185faf699b8d563ed. Thanks @dflitner!

[2020-02-05 22:07] #1328 closed, assigned to nobody

[2020-02-06 14:17] dannylamb opened #1429 "ansible-role-fits does crayfish and drupal things"
The [build-fits-site.yml](https://github.com/Islandora-Devops/ansible-role-fits/blob/master/tasks/build-fits-site.yml) file deploys Crayfits to apache and also installs the islandora_fits drupal module.  We should move these tasks into the crayfish and webserver roles to decouple them.

[2020-02-06 14:31] ajstanley commented on #1429
Totally agree - now that FITS is a part of the playbook I can pull it into the CrayFish directory instead of having it out there on its own.

[2020-02-06 15:11] dannylamb commented on #1285
I can replicate what you've done on a clean ubuntu box. I'm diving in again to see what we're doing wrong :man_mechanic:

[2020-02-06 17:03] dannylamb commented on #1285
I can't see how what we do is messing with this, other than at this point, anotehr package must be pulling in a dependency that messes with this?  I'll try with a fresh box and start installing suspects and see if I can find one.

[2020-02-06 18:40] dannylamb commented on #1429
IIRC there were timing issues with installing islandora_fits last time around?  If that's still true, we can  just pull it in with composer in the drupal role, and then configure/enable islandora_fits in post-install.yml

[2020-02-06 21:03] dannylamb commented on #1285
So if i run it up to the crayfish role, and then install from the lyrasis:ppa, it's broken.  This means we're installing something before we even get to Crayfish that conflicts.  It is not any of the Crayfish packages or after in the installer that's the problem.  I'm going to build it play by play until I find where it breaks and hopefully I can whittle it down to particular package.

[2020-02-06 22:49] dflitner commented on #1309
This is a core issue. There are a couple of workarounds but they will require a bunch of testing.
See: https://www.drupal.org/project/imagemagick/issues/1502924#comment-13222054

[2020-02-06 23:40] jonathangreen commented on #1285
Was just thinking about this. If I had to bet its probably the [grok role](https://github.com/Islandora-Devops/ansible-role-grok) breaking this. Since grok is based on OpenJpeg maybe its messing with the shared libraries somehow? I didn't get a chance to test though.

If that is the case maybe it makes sense to just drop grok and used normal openjpeg.

[2020-02-07 15:44] DigitLib commented on #1343
It is a geerlingguy.mysql version 2.9.0 and it is solved on 2.9.5
Tested both on CentOS and Ubuntu and work well
Ansible 3.8.1
Vagrant 2.2.7

[2020-02-07 17:00] dannylamb commented on #1343
That's awesome news.  Thanks for reporting @DigitLib !

[2020-02-07 17:04] DigitLib commented on #1343
@dannylamb There are many geerligguy roles updated, tested now on Ubuntu...PASSED...check for CentOS...
Should we update requirements?

[2020-02-07 17:42] DigitLib commented on #1343
@dannylamb Here is a list of updated roles

geerlingguy.php-mysql 2.0.1 > 2.0.2

geerlingguy.apache 3.0.0 > 3.1.0

geerlingguy.php-versions 2.1.5 > 4.0.2

geerlingguy.php 3.6.0 > 3.7.0

geerlingguy.composer 1.7.0 > 1.7.6

geerlingguy.git 2.0.2 > 2.1.0

geerlingguy.mysql 2.9.0 > 2.9.5

geerlingguy.postgresql 1.4.3 > 2.0.1

geerlingguy.solr 4.2.1 > 4.2.2

geerlingguy.java 1.8.1 > 1.9.7

geerlingguy.

[2020-02-07 18:31] dannylamb commented on #1285
Looks like there's been a lot of progress in the grok project, including linux artifacts.  Looks like we won't even have to build anymore, which may fix this.

[2020-02-07 18:55] dannylamb commented on #1285
I've just confirmed that building v2.3.0 is the culprit.  I up'd a new box with --no-provision and installed imagemagick from the ppa.  Convert worked fine.  The I build grok and tried convert again... no :game_die:

Not entirely sure what's up with the artifacts they supply from their github releases.  Is it possible to just use those @jonathangreen or do we really have to build from source?

I'l

[2020-02-07 20:04] dannylamb commented on #1285
3.1.0 works!  I'll make a PR.

[2020-02-07 20:20] dannylamb commented on #1285
I made two.  One for the playbook and another on the role to update the default to 3.1.0.

[2020-02-07 20:37] dannylamb commented on #1308
Resolved via https://github.com/Islandora/islandora/commit/6d54ff9d0c303f96ca78a1ef0d5847d365a11c22

[2020-02-07 20:37] #1308 closed, assigned to nobody

[2020-02-07 23:28] wgilling opened #1430 "islandora_breadcrumbs seems to not include Home"
If the current theme is configured to not always hide the "Home" in breadcrumbs, I would expect that this module would include the site Home link as well.

Is this due to the initialization of $breadcrumbs in the build() function as
`  $breadcrumbs = new Breadcrumb();`

instead of something like this:
`    $breadcrumbs = parent::build($route_match);`

[2020-02-10 14:19] bseeger opened #1431 "change user in ubuntu to `vagrant`?"
This is not an issue, so much as a question/request.  I'm wondering if we can change the main user in ubuntu to `vagrant`.

The user `ubuntu` is the one with the synced home dir, but since you can't log in as them it's not easy for a novice user to find the `/islandora` dir unless they are comfortable on the command line.   It might make more sense to make the `user` be `vagrant` so that the synce

[2020-02-10 14:34] bseeger commented on #1431
@dannylamb, @seth-shaw-unlv   - my underlying goal here is to make accessing the syn-disabling script easy for novice users at the workshop.

Right now they'd have to:

- copy the script into their shared dir on their machine.
- vagrant ssh into vm
- `cd /home/ubuntu/islandora`  or `cp /home/ubuntu/islandora/the_script.sh .`
- then run script.

I'd like to eliminate the one step of grabbing things

[2020-02-10 15:57] seth-shaw-unlv commented on #1430
Thanks for reporting this @wgilling.

[2020-02-10 16:45] Natkeeran opened #1432 "two server deployments - databases"
Databases are needed by Drupal, Crayfish, Fedora and Matomo.

If you are separating the deployments, then you need to setup mysql and postgresql for all.  There is some confusion as to what exactly is needed.

Webserver - Drupal - drupal_db_name   (needs islandora_db_root_password)
It is not clear which task creates the [drupal_db_name](https://github.com/Islandora-Devops/islandora-playbook/blob/d

[2020-02-10 16:50] elizoller commented on #1432
Not sure if this is in scope for this issue but I believe matomo needs to a mysql database as well that could also be potentially external.

[2020-02-10 16:57] seth-shaw-unlv commented on #1432
@elizoller, that is certainly in scope for this issue.

[2020-02-10 16:58] dannylamb commented on #1431
I'm fine with removing the `ubuntu` user and just using `vagrant`.  It's just cruft that needs to get removed.

Maybe not everyone would want it, but we could run a "shell" provisioner in the Vagrantfile that curls down your gist and runs it, so folks don't have to do it for the workshop.  I find it best to wrap up this stuff as much as possible for folks.  The more steps, the more likely you are

[2020-02-10 17:08] bseeger commented on #1431
Yeah, that would be great. Just note that I think we will be turning the Syn Valve off for the fedora sessions and then back on again afterwards - so I imagine we will be running it a few times.   But it would be great if the script were "just there" via some magic.

[2020-02-10 17:57] Natkeeran opened #1433 "ansible fails to delete files it created with root ownership"
When deploying islandora-playbook, ansible creates some files and assignes root ownership.  When ansible is re provisioned, for some tasks it tries to delete some of those files and recreate it.  If the ansible user is not root, then it fails even when run with sudo users.  Notably the following files:

[code]

[2020-02-10 18:05] Natkeeran opened #1434 "variables shared by groups"
What is the best practice to define variables such as solr_cores needed by multiple groups?  For instance, solr_cores is needed by solr to setup the core and webserver to configure the drupal module.

Can we define it here https://github.com/Islandora-Devops/islandora-playbook/blob/dev/inventory/vagrant/group_vars/all/main.yml ?

Shared Variable List
* solr_cores:
* apache_listen_port: 8000

[2020-02-10 18:09] Natkeeran commented on #1429
@ajstanley @dannylamb

https://github.com/Islandora-Devops/islandora-playbook/pull/162

I've separated it.  Works in the vagrant single server deployment.  Having some issues with multi-server deployment.

[2020-02-10 18:10] Natkeeran commented on #1409
@dannylamb

Perhaps, related issue: https://github.com/Islandora/documentation/issues/1434

[2020-02-10 18:34] Natkeeran opened #1435 "re running ansible - crayfish - "Local modifications exist in repository""
re running ansible  runs into the following issue:

[code]

Setting force: yes works, but not sure if that is the right thing to do here.

[2020-02-10 19:08] dannylamb commented on #1432
Check out my branch that has what is needed to get @dbernstein 's PRs to work (I've successfully deployed two boxes, one a db, and the other everything else).  I had to workaround a lot of that stuff.  Including making a new islandora mysql user because the root user is blocked from anything other than localhost.

As we go, we're going to see a lot of stuff get pushed into the `all` directory of t

[2020-02-10 19:33] dannylamb commented on #1433
Seems very similar to the issues @elizoller and I were running into when working on https://github.com/Islandora-Devops/islandora-playbook/pull/147

[2020-02-10 19:37] dannylamb commented on #1434
Yes.  Any file in the `all` directory is applied to all ansible groups.

[2020-02-10 19:39] elizoller commented on #1433
Indeed, I can replicate.

[2020-02-10 21:20] dflitner opened #1436 "Large video file can't be moved to Fedora (test case #23)"
I found an [old closed issue](https://github.com/Islandora/documentation/issues/1278) which I'm not sure is related.

I tried uploading a 2.5GB mp4 file during the test sprint on both my local machine and one that Eli had set up on his computer. We of course had to adjust the Drupal settings to allow large files to be uploaded in the first place.

Multiple attempts gave the same results.

It sat s

[2020-02-11 12:35] dannylamb commented on #1436
I'm surprised you're even allowed to upload it.  Isn't 2GB the PHP upload limit?

[2020-02-11 14:27] whikloj commented on #1435
Resolved we just need to cut a new version of the role.
https://github.com/Islandora-Devops/ansible-role-crayfish/pull/33

[2020-02-11 15:45] bseeger commented on #1431
I've changed this in the playbook as well as in the fits ansible role (as that referenced vagrantUser - let me know if that's unnecessary).

[2020-02-11 16:34] elizoller commented on #1436
Locally, I upped the php_memory_limit to 8GB. In your test VM it looked it was still set to 32MB I believe (which is why we turned to my local install).

[2020-02-11 17:11] dannylamb commented on #1436
@elizoller I was thinking of `upload_max_filesize`.  I did some quick googling to confirm my previous statements, and maybe I'm showing my age.  The sneaky 2GB max size may have been just a 32-bit thing :older_man:

Regardless, I'm adding this to the milestone.  I'll play around with some large files on my end and report back.

[2020-02-11 17:17] elizoller commented on #1436
locally i have upload_max_filesize set to 8GB as well

[2020-02-11 17:24] seth-shaw-unlv commented on #1430
I looked at this a bit more, and I don't think `parent::build($route_match)` will work because we are implementing an interface, not extending a base class.

All of the examples of custom breadcrumbs I've found use the `$breadcrumbs = new Breadcrumb();` convention but also add `$breadcrumb->addLink(Link::createFromRoute($this->t('Home'), '<front>'));` right after it; which will do what you suggest

[2020-02-11 20:08] Natkeeran opened #1437 "Drupal Site based access to Fedora containers (WebAC?)"
Need a way to restrict a particular site from only writing and reading from its own specified container.  This can possibly be implemented with passing drupal users/roles as Web ACL policies to Fedora.

Notes from Eli:
* Fedora supports webAC but we’d need a piece that maps from Drupal
* Like a drupal role that a user has permission to write a particular Fedora tree
* Would need a piece that updat

[2020-02-11 20:12] Natkeeran opened #1438 "Document basic multi-site setup"
Currently Supported
* How to setup different containers
* How to setup different solr cores

Under Development
* How to setup different shared solr core and display into a common site
* Applying WebACL policies

[2020-02-12 15:11] wgilling commented on #1430
I am not entirely sure that you need to have a separate configuration for suppressing the Home in the breadcrumb.  The theme should take care of removing the Home breadcrumb (as in at_core and other theme code does in the preprocess_breadcrumb function based on the $config['breadcrumb_home'] being checked.

[2020-02-12 15:25] dannylamb commented on #1436
After bumping my upload and post max sizes and php memory, I run into this as well with a 2.4 GB binary.

[2020-02-12 15:26] seth-shaw-unlv commented on #1430
I'll run with that. 👍

[2020-02-12 15:32] dannylamb commented on #1436
@ajstanley You did some work on uploading large binaries for UPEI, do you recall what the limits were before needing to use something like tus or plupload?

[2020-02-12 17:03] #1313 closed, assigned to nobody

[2020-02-12 17:04] mjordan commented on #1436
Could PHP's max execution time setting have anything to do with this? In other words, the file is so large, PHP is timing out.

[2020-02-12 17:19] dflitner commented on #1436
I wondered that too but wasn't sure if that would throw a time out error rather than couldn't transfer.
________________________________
From: Mark Jordan <notifications@github.com>
Sent: Wednesday, February 12, 2020 10:04:43 AM
To: Islandora/documentation <documentation@noreply.github.com>
Cc: Debbie Flitner <Debbie.Flitner@asu.edu>; Author <author@noreply.github.com>
Subject: Re: [Islandora/docu

[2020-02-12 17:29] elizoller commented on #1161
Do the embargo policy apply at the media level or the node level?
Our use case at ASU is that our embargo limits download/access to the media files but that the node's metadata is still accessible. @wgilling and I are conceptualizing adding a field for embargo date on the media object(s) and then filtering the media object(s) views (EVAs) by that date. We tested this config out locally and it seem

[2020-02-12 17:29] elizoller commented on #1436
I'll try it.

[2020-02-12 17:48] elizoller commented on #1436
I upped the max execution time to 12000 and then tried a 3.88GB file and got "The file could not be saved. An unknown error has occurred." with no further message in the recent logs.

[2020-02-12 18:45] dannylamb commented on #1228
Resolved via https://github.com/Islandora-Devops/ansible-role-drupal-openseadragon/commit/0bda879f38d9bbf00ede070677ef5e9be1f29db7

[2020-02-12 18:45] #1228 closed, assigned to nobody

[2020-02-12 18:47] manez commented on #1352
One more merge and this one is addressed 😄

[2020-02-12 18:53] manez commented on #1352
resolved by #1419 and #1421

[2020-02-13 16:18] dflitner commented on #1436
Could it be a problem with the available memory for tmp files? I'm not sure if Islandora has tweaked the process but, generally, a file will upload completely to the local Drupal tmp folder and then transfer to the endpoint. Is it just that our VBs don't have space for big files?

I fixed the problem on another site by making sure the Drupal directory/partition had a lot of available space and usi

[2020-02-13 17:15] elizoller commented on #1436
^ That idea came up in the tech call yesterday. I think @dannylamb was going to try one on a hosted VM instead of the Vagrant VM to hopefully surpass issues like that

[2020-02-13 18:08] dannylamb commented on #1366
This module takes care of it by sanitizing filenames as they come in: https://www.drupal.org/project/transliterate_filenames

I've tested it and it works for this and #1309

[2020-02-13 18:10] dannylamb commented on #1309
A third party module does the trick! https://www.drupal.org/project/transliterate_filenames

It's a fix to use while we wait for it to be adopted into core (may take a while).

I've tested it and it totally works and does exactly what we want.  Sanitizes filenames on the way in and doesn't let you put in crazy characters, etc...  Good stuff!

[2020-02-13 18:27] dannylamb commented on #1309
https://github.com/Islandora-Devops/islandora-playbook/pull/166 is ready to test with the fix.  If you like it, merge https://github.com/Islandora/islandora/pull/761 and delete the issue-1309 branches of islandora_defaults and islandora-playbook.

[2020-02-13 18:28] dannylamb commented on #1436
I've tried three times to upload a big file to http://138.197.139.139 and it just results in an indefinitely spinning wheel :(

[2020-02-13 19:47] dannylamb opened #1439 "Auto-populate Original Name based on uploaded file"
Now that we're sanitizing file names upon upload, it would be nice if we could auto-populate the Original Name for a media based on the name before it gets sanitizied.  I'm not sure how possible this is, and we may have to wait for the fix to be in core to really do this (it works on symfony events, so it should be easy to manipulate).  See: https://www.drupal.org/node/2492171

[2020-02-13 19:48] dannylamb commented on #1309
Resolved via https://github.com/Islandora-Devops/islandora-playbook/commit/d4c416727c86c2439ae41d3fcb30bf9184ca1d7f

[2020-02-13 19:48] #1309 closed, assigned to nobody

[2020-02-13 19:49] dannylamb commented on #1366
Resolved via https://github.com/Islandora-Devops/islandora-playbook/commit/d4c416727c86c2439ae41d3fcb30bf9184ca1d7f

[2020-02-13 19:49] #1366 closed, assigned to nobody

[2020-02-13 19:51] dannylamb commented on #1430
Resolved via https://github.com/Islandora/islandora/commit/f5d98ab709b90327eae18898cc512dfc5fa9a798

[2020-02-13 19:52] #1430 closed, assigned to nobody

[2020-02-14 14:45] Natkeeran opened #1440 "palybook should specify broker_url"
For a multi-server or multi-site setup, it is possible that activemq would be on a different server than drupal.  Currently, broker_url is hard coded here: https://github.com/Islandora/islandora/blob/8.x-1.x/config/install/islandora.settings.yml#L1.

Need to provide a way to overwrite this, perhaps in /post-install.yml.

[2020-02-14 15:18] #1260 closed, assigned to bseeger

[2020-02-14 17:15] wgilling commented on #1336
We took a similar, yet slightly different approach to this where we define a new drupal content type and set up the contexts and define some (fewer) fields.  We could make a feature branch so that it can be tested out as well.  One benefit is that the "Collection content type" approach is controllable for access to different roles through drupal core permissions already.  There are other pros & co

[2020-02-14 23:02] seth-shaw-unlv opened #1441 "Fedora URI displaying on nodes even after disabled in config"
Fedora URIs are displaying on nodes even after disabled in config.

Reproduce:
- Fresh playbook
- run the [migrate_islandora_csv](https://github.com/Islandora/migrate_islandora_csv) migrations
- view an islandora_object and see the Fedora URI pseudo field at the bottom.
- Go to the Islandora config page `/admin/config/islandora/core`
    - Un-check 'Repository Item (node)'
    - Click 'Save config

[2020-02-14 23:16] seth-shaw-unlv commented on #1441
Ok. Un-checking the field removes it as an option in the Entity View configuration pages, but doesn't actually remove it from the configuration. (You can't see it, but it is still there.)

You need to disable the field in each of your display mode configs _first_ and then you can un-check it in the Islandora config page.

[2020-02-14 23:19] seth-shaw-unlv commented on #1441
This is partly a documentation issue and partly an annoying quirk.

So, this is really a feature request to have the Islandora Core config form actually remove `field_gemini_uri` from the display modes associated with entities un-checked in the form.

[2020-02-19 02:11] dannylamb commented on #1187
resolved via https://github.com/Islandora/islandora/commit/26bfd76a38f87cbda4110f1cfd048ef909e766e9

[2020-02-19 02:11] #1187 closed, assigned to nobody

[2020-02-19 02:29] dannylamb commented on #1436
Yeah, still doing this.  Tried again today and ended with another endlessly spinning wheel.  Maybe someone with something better than my country internets can try.

[2020-02-19 04:36] dflitner commented on #1436
I tried uploading to your sure and also got a spinning wheel for a long time and then the upload silently failed.
________________________________
From: dannylamb <notifications@github.com>
Sent: Tuesday, February 18, 2020 7:29:52 PM
To: Islandora/documentation <documentation@noreply.github.com>
Cc: Debbie Flitner <Debbie.Flitner@asu.edu>; Author <author@noreply.github.com>
Subject: Re: [Islandora

[2020-02-19 17:32] #1293 closed, assigned to nobody

[2020-02-19 18:59] elizoller commented on #1436
Do you mean another tester that is pointing your VM or a different VM?

[2020-02-19 19:18] manez opened #1442 "Cloning/Duplicating Content Types"
| Title (Goal)  | Duplicate content types                            |
--------------- |------------------------------------                           |
| Primary Actor | Repository architect   |
| Scope         | Content types & fields    |
| Level         | Medium  |
| Story         | The Islandora equivaliant of “Copy” in XML forms. I am a site builder. I want to make my own content types, but

[2020-02-19 20:00] elizoller opened #1443 "Pax Exam IT does not use https for Maven Central"
When building Alpaca with`.gradlew clean build` an HTTPSRequired error occurs.
[code]

[2020-02-20 01:22] dannylamb commented on #1436
I think @dflitner just recreated what I've been experiencing.  I was hoping for  better behaviour from a remote environment, but it's worse :sob:

At this point in the very least we should confirm the max size before it starts to crap out so we can state it as a known issue.  E.g. "If you're uploading a file bigger than 2GB, consider using plupload or migrate_islandora_csv" in the release notes/do

[2020-02-20 13:34] whikloj commented on #1443
After all my work I final just asked on the listserv....and apparently this is a known issue that was just resolved. I'll update our Pax-Exam dependency and hopefully we are back on track.

https://groups.google.com/d/topic/ops4j/pJ98QaBVPfE/discussion

[2020-02-20 13:49] whikloj commented on #1443
Actually, we'll need to wait for 4.14.0 to be released. So I am going `@Ignore` this test for the time being.

[2020-02-21 04:22] elizoller commented on #1443
I proposed in the PR keeping a ticket open as a reminder that Pax Exam will need to be updated - is it ok to keep this ticket open or would it be better to close this one and open a new one related specifically to pax exam?

[2020-02-21 14:28] dannylamb commented on #1443
It's ok to keep this one. Maybe rename it to "Pax Exam IT does not use
https for Maven Central" just so it's obvious.

On Fri, Feb 21, 2020, 00:22 Eli Zoller <notifications@github.com> wrote:

[2020-02-21 23:33] whikloj commented on #1443
4.13.2 was released today. I'll give it a try on Monday (if I remember).

[2020-02-21 23:34] elizoller commented on #1443
thats convenient

[2020-02-25 19:11] alxp opened #1444 "Islandora_7x_migrate: Make source PID available to default (MODS) row type."
PR: https://github.com/Islandora-Devops/migrate_7x_claw/pull/31

We are creating a migration that includes paragraphs types in the destination content model.

Reference documentation for migrating in to paragraphs is here: https://www.fourkitchens.com/blog/development/migrating-paragraphs-drupal-8/

What it requires is to have dependent migrations that import in to the paragraph directly, then the

[2020-02-25 23:02] dannylamb opened #1445 "Paged Content doesn't display Openseadragon on remote installs"
There's a hard coded reference to `localhost:8000` in the Openseadragon block configuration: https://github.com/Islandora/islandora_defaults/blob/8.x-1.x/config/install/context.context.openseadragon_block.yml#L30

Because of this, the openseadragon block can't request the manifest in order to render, so it's being skipped :(  `localhost:80` would probabaly work, but we need that `8000` for vagrant

[2020-02-25 23:08] mjordan commented on #1445
Related to #1358?

[2020-02-25 23:47] manez opened #1446 "Get the detailed stack diagram into the official docs"
Just making an issue so this doesn't get overlooked. @bseeger made the most comprehensive stack diagram of Islandora 8 to date:

![image](https://user-images.githubusercontent.com/2371345/75297918-7342e280-5807-11ea-8a30-87799b52f0ec.png)

We really should get a nice high-resolution version of this into our docs!

[2020-02-25 23:49] manez commented on #1446
@bseeger I just grabbed a screenshot from your Islandora/Fedora camp slides, for a visual reference. Can you share the original?

[2020-02-26 00:01] seth-shaw-unlv commented on #1445
@mjordan No, we were able to fix it with a simple config update unrelated to CORS.

[2020-02-26 17:23] bseeger commented on #1446
Here's where the original file is located:  https://docs.google.com/drawings/d/1crnifK_4zpP102rIUR2Kc0Ekz91ln2fq4_YjQ9_ziwE/edit

[2020-02-26 20:29] ajstanley opened #1447 "Homarus FFMpeg fails on filepaths requiring authentication."
Homarus gets the filepath of the asset requesting a derivative from the Apix-Ldp-Resource header, then takes that filepath as the source argument for FFMpeg.

If that file is not available to an anonymous user the command will fail with a 403, causing the command to fail.  FFMpeg file request will have to be qualified somehow.

[2020-02-27 21:17] DonRichards opened #1448 "File Permissions issues"
On a fresh build `$ composer require islandora/migrate_7x_claw` fails because of file permissions issues. This isn't referencing migrate_7x_claw as the problem, it's just a simple way to trigger the error. running `$ composer update` will cause it as well.

[code]

This needs to be fixed in the playbook.  I'm hoping by posting this here it will become obvious on what needs to change.

[2020-02-28 14:25] bseeger opened #1449 "Hypercube: in test code the APIX header is incorrect"
There is some test code that has the APIX LDP Resource header as `ApixLdpResource` when it should be `Apix-Ldp-Resource`.  Doesn't seem to effect the test, but probably should be fixed.

It's in this file:
https://github.com/Islandora/Crayfish/blob/dev/Hypercube/tests/Islandora/Hypercube/Tests/HypercubeControllerTest.php

[2020-02-28 18:13] whikloj commented on #1449
![Unit test vs Integration test](https://cdn-images-1.medium.com/max/1600/1*UtZzMT32fRMnSN-HmgiSVQ.gif)

[2020-02-28 18:56] DonRichards commented on #1448
@dannylamb

[2020-03-02 18:02] whikloj commented on #1396
Resolved with https://github.com/Islandora/islandora/commit/2a1024c19a4b495c64fb88d4260e8d7ebea1f9b5

[2020-03-02 18:02] #1396 closed, assigned to whikloj

[2020-03-04 17:11] #1352 closed, assigned to nobody

[2020-03-04 17:22] dannylamb commented on #1443
I'm giving this a whirl right now.  I'll report back.

[2020-03-04 19:28] ajstanley commented on #1257
A super simple way of tracking derivative creation would be to add an additional parameter to the route used when we set file_upload_uri in the generateData method.
We'd start by creating a database table with fields for Job ID, Entity type, Entity_id, and status.  When a derivative is requested a line would be added to the table with a status of 'started'.  If we stuck the Job ID in the file_uplo

[2020-03-04 21:34] dannylamb commented on #1436
After a recent conversation, it seems most likely that this is due to running small vagrant evnironments on our laptops.  @dflitner's done it on D8 sites and @alxp has done it on an I8 site, but those are both properly configured production environments.  Chances are the vagrant environment just doesn't have the resources to do something in the GB range of file size.  So maybe the best we can do i

[2020-03-05 02:12] dannylamb commented on #1443
4.13.2 results in

[code]

I have no idea what that means beyond the fact that karaf couldn't spin up.  How would I be able to diagnose this further?  The HTML report generated just gives me the rest of the stacktrace, and that's it.

[2020-03-05 15:28] dannylamb commented on #1325
PR up for the rest of the conditions ^^

[2020-03-05 15:39] dannylamb commented on #1274
PR up for this one ^^

[2020-03-05 16:01] dannylamb opened #1451 "Intermittent WSOD when generating first FITS derivative"
After uploading an Original File, when going back to view another page, you can intermittently get a whitescreen with something along the lines of

[code]

This _seems_ to be from auto generating all the fields for FITS technical metadata, but further analysis is required.  Since this is potentially due to one of the new features in the upcoming 1.1.0 release, I'm adding this to the milestone.

[2020-03-05 16:02] dannylamb commented on #1451
Linking to https://github.com/Islandora-Devops/islandora-playbook/pull/159, which is where this was first discovered.

[2020-03-05 16:44] seth-shaw-unlv commented on #1446
Resolved with 536dec9

[2020-03-05 16:44] #1446 closed, assigned to manez

[2020-03-05 19:05] whikloj commented on #1443
Here is discussion thread with the OPS4J mailing list.

https://groups.google.com/d/topic/ops4j/pJ98QaBVPfE/discussion

[2020-03-09 12:29] pejuko opened #1452 "Islandora 8 solr search does not work"
Steps to reproduce:
[code]
With browser go to localhost:8000 log in and create collection, create image in the collection and upload media. Then go to home page and try to search for title of the created collection or the image. There are no results but when you look into solar server both are indexed.

[2020-03-09 17:19] seth-shaw-unlv opened #1453 "Grok fails to build on CentOS 7"
Tried to build a fresh CentOS 7 instance this morning and failed on Making Grok:
[code]

I wondered if the recent PR bumping us to 3.1.0 would resolve this, but no 🎲:
[code]

[2020-03-09 21:10] kayakr commented on #1452
I'm seeing the same issue. Fresh Islandora 8 VM, new content is indexed in Solr, but search `/solr-search/content?search_api_fulltext=test` returns no results. Even entering a blank search returns no results.

[2020-03-09 22:01] seth-shaw-unlv commented on #1452
An empty search, in my experience with search_api, always returns no results.

That said, it should pull up your item if you searched for the item's title and it is in the index. I'll see about verifying tomorrow. I was going to today but my fresh CentOS build died.

[2020-03-09 22:48] kayakr commented on #1163
A fresh playbook VM (as of last week) builds with:
* Search API 8.x-1.13
* Search API Solr 8.x-2.7
* solarium/solarium 4.20

but these should be updated to:
* Search API 8.x-1.15
* Search API Solr 8.x-3.9
* solarium/solarium 5.1.x see https://www.drupal.org/project/search_api_solr/issues/3085196

[2020-03-10 00:10] kayakr commented on #1452
* Disabling facets, e.g. `drush pm:uninstall facets` caused the Search to start returning results.
* Results are returned, even when the search filter is empty, e.g. `/solr-search/content?search_api_fulltext=`
* The default search is set to sort by Relevance ASC, but this should be Relevance DESC (e.g. most relevant first)

[2020-03-10 01:16] dannylamb opened #1454 "Add activemq user/pass to core config form"
Right now we assume you're using activemq anonymously.  We should let the user enter a user/pass, and if supplied, use them to authenticate with activemq for those who choose to do so.

[2020-03-10 16:49] manez opened #1456 "Various documentation improvements for 1.1.0"
A catch-all Issue for linking pull requests to gussy up the docs ahead of the upcoming release, since I couldn't find any existing issues that seemed relevant to hang recent work on. Our last documentation sprint already got us most of the way there, but there are bits and pieces that can still be improved.

Please comment to suggest pages that could use some attention.

[2020-03-10 17:22] seth-shaw-unlv commented on #1452
Found the issue. We aren't importing all the provided configs on install.

To reproduce:
1. Provision a fresh box
1. Create one or more searchable items (collections, items, subjects, etc.)
1. Search: _finds no results_

To fix:
1. Import the search feature by importing differences @ `http://localhost:8000/admin/config/development/features/diff/islandora_search`
1. Re-index your site @ `http://loc

[2020-03-10 17:24] dannylamb commented on #1452
I betcha I sorted this out in the iCampAZ branch of the playbook.  Searching worked for us then.

[2020-03-10 17:26] dannylamb commented on #1452
Yeah, I sure did: https://github.com/Islandora-Devops/islandora-playbook/compare/iCampAZ
I reworked things in the last ~two~ three files to shuffle around what we enabled and import.

[2020-03-10 17:28] dannylamb commented on #1452
I'm knee deep in something for ISLE right now, but I'll issue a PR for this.

[2020-03-10 18:06] seth-shaw-unlv opened #1459 "Add fields and RDF mapping to Document media type"
Drupal added a new "Document" media type. We should add our usual Islandora-specific fields and an RDF mapping.

[Slack conversation](https://islandora.slack.com/archives/CM5PPAV28/p1583863415255000)

[2020-03-10 18:08] seth-shaw-unlv commented on #1459
This PR is just some configs if someone wants a relatively simple PR to do.

[2020-03-11 01:47] kayakr opened #1460 "Update Migrate Source CSV to 8.x-3.2"
Islandora's composer.json refers to `"drupal/migrate_source_csv" : "^2.1"` allowing 8.x-2.2 but that version dates from 30 May 2018 and a more recent version 8.x-3.2 from 13 December 2019 is available.

[2020-03-11 15:26] dannylamb commented on #1453
Can we not revert to the old Grok version?  2.X something or other.  I'm sure it's still compatible.  We should be able to massage this with inventory changes.

[2020-03-11 15:50] seth-shaw-unlv commented on #1453
~~It is already on 2.x. (I tested 3.1 after the existing 2.x failed). Something else is going on.~~

[2020-03-11 16:44] seth-shaw-unlv commented on #1453
Scratch that, I missed that we had bumped the version in the playbook but not in the role. 🤦‍♂️

I'll test with the version reverted to 2.x.

[2020-03-11 17:37] bseeger commented on #1460
here's another spot: https://github.com/Islandora/migrate_islandora_csv/blob/dev/composer.json#L13

[2020-03-11 17:38] bseeger commented on #1460
and another: https://github.com/Islandora/islandora/blob/8.x-1.x/composer.json#L28

[2020-03-11 18:04] seth-shaw-unlv commented on #1453
As discussed during [the Tech Call](https://github.com/Islandora/documentation/wiki/March-11%2C-2020), 2.x does still work on CentOS 7. So, the easy solution is to drop the grok version in the distro-specific vars files.

However, there is a 4.x version of grok. I'm currently spinning up a CentOS 7 box with grok 4.2.0 to see if that works. If it passes I'll test Ubuntu.

[2020-03-11 18:07] jordandukart commented on #1460
There's a change record for the major version bump which will require some re-writing: https://www.drupal.org/node/3060246.

[2020-03-11 18:33] seth-shaw-unlv commented on #1453
Linking relevant items https://github.com/Islandora/documentation/issues/1285 and https://github.com/Islandora-Devops/ansible-role-grok/pull/8.

[2020-03-11 18:34] seth-shaw-unlv commented on #1453
The build failed, but it appears to be that the Jpeg libraries aren't available??? Trying again with an added yum package to see if this resolves the issue on CentOS.

[2020-03-11 20:46] seth-shaw-unlv opened #1461 "WSOD when adding a term if ActiveMQ is down"
To reproduce:
1. Using a working Islandora 8 site...
1. Disable ActiveMQ
    1. `vagrant ssh`
    1.  `sudo systemctl stop activemq`
1. Try to add a new taxonomy term:
    - WSOD: "The website encountered an unexpected error. Please try again later."
    - Watchdog reports two errors:
        - "Error publishing message: Could not connect to a broker (Host: localhost)"
        - "Error: Call to a

[2020-03-11 21:02] seth-shaw-unlv commented on #1453
So, adding 'libjpeg-turbo-devel' got us further... but not far enough. As far as I can tell we need a newer gcc so we can use c++14 to make this build.

Resorting to distro-specific versions for now.

[2020-03-11 23:30] kayakr commented on #1163
Some note on doing this on a working instance using versions above. I found composer would not simply update `search_api` and `search_api_solr` in place, e.g.
[code]
I ended up disabling search_api_solr
* `pm:uninstall drupal/search_api_solr` brings down islandora_search etc.
* removing `search_api` and `search_api_solr` and `solarium` from composer.lock and `search_api_solr` from filesystem.
Upda

[2020-03-11 23:47] elizoller commented on #1163
I put in a PR for this last month here https://github.com/Islandora-Devops/islandora-playbook/pull/157
I'd appreciate another set of eyes if you want

[2020-03-12 16:07] bpalme opened #1462 "playbook crayfish task has absolute file path"
I hope this is the right place for playbook issues. If not, I apologize...
Running the playbook fails on this task:
https://github.com/Islandora-Devops/ansible-role-crayfish/blob/master/tasks/install.yml#L62

I changed the filepath to remove the "./tasks/" and I was able to proceed.

Centos 7, Ansible 2.4.2.0

[2020-03-12 16:35] seth-shaw-unlv opened #1463 "Update search_api_solr to 3.8 breaks islandora_search"
@elizoller's search_api_solr PR (https://github.com/Islandora-Devops/islandora-playbook/pull/157) will be merged soon, but the updated version has a small incompatibility in the config that drops the connection to the server. See [this comment on the PR](https://github.com/Islandora-Devops/islandora-playbook/pull/157#issuecomment-598279624).

I'll create a PR to address the compatibility that we c

[2020-03-12 17:34] seth-shaw-unlv commented on #1325
Resolved with https://github.com/Islandora/islandora/commit/c89ff9f16db4ae677abf5e77593fc606ccfce662

[2020-03-12 17:34] #1325 closed, assigned to nobody

[2020-03-12 20:11] dannylamb opened #1464 "Lock down CrayFits"
Right now, CrayFits is wide open.  It speaks to a FITS server, which can be locked down, but we should have every endpoint covered with JWT authentication.

[2020-03-12 20:13] elizoller commented on #1463
Closed with https://github.com/Islandora/islandora_defaults/pull/25 c1af384a28e0dafe1519d0b30a263c14a9da96b7

[2020-03-12 20:13] #1463 closed, assigned to nobody

[2020-03-12 20:15] dannylamb opened #1465 "Call FITS directly in CrayFits"
Currently, CrayFits proxies a running FITS server, which is actually cleaner/easier than streaming to/from the command line and dealing with STDIN/OUT in PHP.  But this introduces an operations complexity because now there's two servers running when could be just one.  We have code to do the streaming in Crayfish Commons, so we could adapt Crayfits to use that.  Then we can ditch the FITS server f

[2020-03-13 18:30] dannylamb opened #1466 "PHP Warning using 7.3"
Getting this nagging warning on ISLE for Islandora 8.  We're using PHP 7.3 and are getting this:

```Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /var/www/html/web/modules/contrib/islandora/src/EventSubscriber/LinkHeaderSubscriber.php on line 286```

[2020-03-13 18:36] dannylamb opened #1467 "WSOD viewing content if Gemini is down"
If Gemini isn't up, we aren't handling errors correctly when looking for the Fedora URI and are getting a WSOD when viewing content.

[code]

[2020-03-13 19:07] seth-shaw-unlv commented on #1467
Resolved with https://github.com/Islandora/Crayfish-Commons/commit/f45f666a2b656b5683ab8e62fa0389cf342f9c87.

[2020-03-13 19:07] #1467 closed, assigned to nobody

[2020-03-14 01:13] whikloj commented on #1466
I think we discussed this before, but for reference. https://wiki.php.net/rfc/continue_on_switch_deprecation

[2020-03-16 12:50] dannylamb commented on #1466
It's eerily similar to another 7.3 warning I fixed recently.

[2020-03-16 13:34] akuckartz commented on #1466
Wait what will happen with 7.4 ;-)

[2020-03-17 18:15] dannylamb commented on #1252
Spinning up a new box now to confirm, but I don't think this is an issue any longer.

[2020-03-17 18:36] dannylamb commented on #1443
Resolved via https://github.com/Islandora/Alpaca/commit/8c6bc55a7fc3656894d5a8be82f8552e005f1281

[2020-03-17 18:36] #1443 closed, assigned to nobody

[2020-03-17 19:15] #1452 closed, assigned to nobody

[2020-03-17 20:48] #1436 closed, assigned to nobody

[2020-03-17 23:32] bryjbrown commented on #1300
@bondjimbond You could do that by setting up Matomo to send a unique identifier (UUID?) as part of the tracking, and then set up a Matomo custom API where you can request data for that specific unique identifier aggregated from all the sites.

[2020-03-18 14:44] dannylamb commented on #1252
The current build is not exhibiting this behaviour now.  I'm tenatively closing this.  Feel free to re-open if this re-appears in different browsers/builds.

[2020-03-18 14:44] #1252 closed, assigned to nobody

[2020-03-18 14:45] dannylamb commented on #1453
Resolved via https://github.com/Islandora-Devops/islandora-playbook/commit/5a0e2b13bef2f5d64cba831e29171e08489a748f

[2020-03-18 14:45] #1453 closed, assigned to nobody

[2020-03-18 14:46] dannylamb commented on #1285
Practically speaking, this is resolved via https://github.com/Islandora-Devops/islandora-playbook/commit/5a0e2b13bef2f5d64cba831e29171e08489a748f, although there still is a nagging issue of tests failing on https://github.com/Islandora-Devops/ansible-role-grok/pull/8, which i'm going to split into a separate issue.

[2020-03-18 14:46] #1285 closed, assigned to nobody

[2020-03-18 14:48] dannylamb opened #1469 "Tests failing on ansible-role-grok"
See https://github.com/Islandora-Devops/ansible-role-grok/pull/8

Tests are failing and I'm not enough of an ansible test wizard to sort it out so I'm making this issue.  See the above PR for specifics.

[2020-03-18 15:00] dannylamb commented on #1226
This appears to be working based on @whikloj's two PRs.  I could translate a TIFF and openseadragon worked on both languages.

![image](https://user-images.githubusercontent.com/20773151/76974429-f55a8e80-690f-11ea-8456-94f3c9707edf.png)

[2020-03-18 15:01] dannylamb commented on #1226
Resolved via https://github.com/Islandora/openseadragon/commit/db23c1c66c0bf0234724e159adb76a58be8c0813 and https://github.com/Islandora-Devops/islandora-playbook/commit/f23aa2f294d78f8417bc8f0b233803eb2b1992e3

[2020-03-18 15:01] #1226 closed, assigned to nobody

[2020-03-18 16:37] dannylamb commented on #1294
We've sorted out the issue with Imagemagick and JP2s in Ubuntu.  We need to re-evaluate this to see if it's still an issue.

[2020-03-18 17:35] seth-shaw-unlv commented on #1237
Islandora defaults currently has those EVAs hidden for the binary display mode: https://github.com/Islandora/islandora_defaults/blob/8.x-1.x/config/install/core.entity_view_display.node.islandora_object.binary.yml#L330-L332

[2020-03-18 17:35] #1237 closed, assigned to nobody

[2020-03-18 19:22] dannylamb commented on #1294
Looks ok on latest build.

![image](https://user-images.githubusercontent.com/20773151/76998743-55fbc280-6934-11ea-8a59-ee597baf78f9.png)

@Natkeeran You got a bad image you can share to see if we're still making bad derivatives?  Wouldn't mind testing with that to double check here.

[2020-03-18 19:42] dannylamb commented on #1269
Single box deployment or something more complicated?  I've managed to get openseadragon working on remote installs at the Islandora/Fedora camp in Arizona.

[2020-03-18 19:49] dannylamb commented on #1451
I'm vagrant up'ing to get a fresh box.  I'll snapshot it and see if i can reproduce/debug.

[2020-03-18 19:55] dannylamb commented on #1246
Looks like we decide what media type to make based on mimetype alone, which is a bit problematic here https://github.com/Islandora-Devops/migrate_7x_claw/blob/master/modules/islandora_migrate_7x_claw_feature/config/install/migrate_plus.migration.islandora_media.yml#L150

We'll need to take the DSID/tag into consideration too.

[2020-03-18 20:02] dannylamb commented on #1246
I think it can just be chained with another static map. Might have to declare a temp variable but I'm sure it can be done.  I'll give it a shot when I get a fresh environment up.

[2020-03-18 23:47] kayakr opened #1470 "Bug: Can't specify pathauto pattern for corporate body terms"
With a reasonably fresh playbook instance, if I visit `/admin/config/search/path/patterns/add` and try and specify a pathauto pattern for a `corporate_body` term, e.g. pattern=`/agent/[term:name]`, when I submit the form I get "The website encountered an unexpected error. Please try again later." and dblog shows:
"Drupal\Component\Plugin\Exception\PluginNotFoundException: The "entity_bundle:taxono

[2020-03-18 23:57] kayakr commented on #1470
Also occurs on a different instance running Drupal 8.7.12. It also occurs if you try to apply a pathauto pattern to tags vocabulary.

[2020-03-19 00:44] kayakr commented on #1470
Doing some digging via xdebug on `Drupal\Core\Plugin\DefaultPluginManager->doGetDefinition()`, when `DiscoveryTrait` is `Drupal\Core\Entity\EntityTypeManager` `doGetDefinition()` is invoked with 69 $definitions items, but when the exception occurs `DiscoveryTrait` is applied to `Drupal\Core\Condition\ConditionManager` the number of definitions has dropped to 20 and $plugin_id `entity_bundle:taxono

[2020-03-19 01:07] kayakr commented on #1470
Just stood up a test instance on simplytest.me with pathauto and context and can add patterns to tags vocab plus a vocab I added to the site.

[2020-03-19 18:59] dannylamb commented on #1451
I've spent the better part of my day trying to reproduce this and can't.  I have run into it before, so I don't  believe this is gone.  I just can't get it to (mis)behave right now :man_shrugging:

[2020-03-19 19:36] elizoller opened #1471 "Concern about drupal-project support"
https://www.drupal.org/docs/8/update/update-core-via-composer#known-issues has a message that drupal-project is no longer the recommended way to build Drupal 8.
"As of January 2020 drupal-composer/drupal-project Composer template for Drupal projects is no longer the recommended template for Drupal 8.8 and above."
https://github.com/drupal-composer/drupal-project has not been updated since Dec 2019

[2020-03-19 19:57] #1407 closed, assigned to nobody

[2020-03-19 20:01] dannylamb commented on #1471
Yeah, this has popped up in ISLE.  There's a [drupal/recommended-project](https://github.com/drupal/recommended-project) instead.

[2020-03-19 20:02] dannylamb commented on #1471
All we use drupal-project for is to pin down the drupal version on new installs.  If we can do that with the other project, then that's easy enough.

[2020-03-19 22:02] kayakr opened #1472 "Update drupal/jwt to 8.x-1.0-beta1"
Islandora `composer.json` pins drupal/jwt to 1.0.0-alpha6

[2020-03-23 12:46] #1459 closed, assigned to nobody

[2020-03-23 16:57] #1420 closed, assigned to nobody

[2020-03-23 18:11] #1456 closed, assigned to nobody

[2020-03-24 20:09] mjordan commented on #1369
Now that we're not relying on `search_api_solr_default` can we remove the dependency on the comment module?

[2020-03-25 18:04] seth-shaw-unlv commented on #1274
Resolved with https://github.com/Islandora/islandora/commit/e9bea0d697000d6f6f2a6a2d8d672ca0e49f134a

[2020-03-25 18:04] #1274 closed, assigned to nobody

[2020-03-26 03:02] kayakr opened #1475 "Could not locate derivative term with urihttps://projects.iq.harvard.edu/fits"
I'm investigate an issue that initially presented as `Error: Call to a member function id() on null in Drupal\islandora\Plugin\Action\AbstractGenerateDerivative->generateData() (line 170 of /var/www/drupal/arccen-isl/releases/archivescentral-20200326-2/web/modules/contrib/islandora/src/Plugin/Action/AbstractGenerateDerivative.php)` when submitting a media file (Media Use=Original File).

On invest

[2020-03-26 04:54] kayakr commented on #1475
For some reason FITS File term had no External URI defined, so I've manually added https://projects.iq.harvard.edu/fits

[2020-03-26 14:04] dannylamb commented on #1475
And that means we're missing a row in a migration csv... :man_facepalming:

[2020-03-26 14:29] dannylamb commented on #1475
Strange, it's supposed to come from https://github.com/roblib/islandora_fits/blob/master/islandora_fits.install#L25.  Did you make the term yourself initially?

[2020-03-27 00:08] kayakr commented on #1475
@dannylamb no, just the standard migration of islandora tags
[code]

[2020-03-30 13:50] dannylamb commented on #1451
...and just ran into this when testing master of islandora-playbook :sob:

[code]

[2020-03-30 14:05] dannylamb commented on #1451
After reloading the page, everything comes up fine.  One thing I'm noticing just now from the error message is that the referrer is media 1.  The FITS file, media 4, totally has field_fits_jhove_size.

![image](https://user-images.githubusercontent.com/20773151/77920460-e4e1d680-7274-11ea-8def-42d21a3f1dcd.png)

But media 1 is the original file _and a different media type_.  So it looks like somew

[2020-03-30 16:18] dannylamb opened #1476 "Extracted text is not indexed unless you manually reindex"
Stumbled into this when testing [the build for 1.1.0](https://github.com/Islandora-Devops/islandora-playbook/tree/master).

## To recreate

- Ingest some paged content
- Go to a page and look at its extracted text file
- Search for something in the text
- Should get no results
- Go to Configuration > Search and Metadata > Search API and click on the "Default Solr content index" link next to "Index

[2020-03-31 01:31] dannylamb opened #1477 "JSONLD Endpoint for Extracted Text is Failing"
Getting a lot of these as the various camel bits are trying to get things done:

`Message | Error: [] operator not supported for strings in Drupal\islandora\Plugin\ContextReaction\JsonldTypeAlterReaction->execute() (line 59 of /var/www/html/drupal/web/modules/contrib/islandora/src/Plugin/ContextReaction/JsonldTypeAlterReaction.php)
-- | --`

Did some digging and it turns out to always be for Extra

[2020-03-31 08:50] kayakr commented on #1475
I'm going to close this. Can reopen if it arises again.

[2020-03-31 08:50] #1475 closed, assigned to nobody

[2020-03-31 08:57] kayakr commented on #1470
A bit more digging. Submitting the pathauto pattern for taxonomy term flows via `web/core/lib/Drupal/Component/Plugin/Discovery/DiscoveryTrait.php` -> `doGetDefinition()` with plugin_id=`entity_bundle:taxonomy_term` and errors with `PluginNotFoundException`. If I hack this to be just `entity_bundle` the form submission completes and I can save corporate_body terms and get an automatic alias.

But

[2020-03-31 09:50] kayakr commented on #1470
Ok, I think I might know the problem. Islandora defines an entity bundle condition in `web/modules/contrib/islandora/src/Plugin/Condition/EntityBundle.php` using id=`entity_bundle` but this has a naming collision with `entity_bundle` as used by ctools, see https://git.drupalcode.org/project/ctools/-/blob/8.x-3.x/src/Plugin/Condition/EntityBundle.php#L17

This causes weirdness, e.g. Islandora condi

[2020-03-31 14:04] dannylamb opened #1478 "Config in `islandora_defaults` has enforced dependency on `islandora_core_feature`"
All the config has

[code]

which would make it uninstall if you uninstall `islandora_core_feature`.  Feels like we should be removing this config when `islandora_defaults` is uninstalled.

[2020-04-01 20:08] seth-shaw-unlv commented on #1477
resolved with https://github.com/Islandora/islandora/commit/8b7caa9e8c0b4eac54cdb8c8365eec453e36f369

[2020-04-01 20:08] #1477 closed, assigned to nobody

[2020-04-01 20:09] seth-shaw-unlv commented on #1476
Resolved with https://github.com/Islandora/islandora/commit/029bbcfe5dd6abe510bcda8717ed36d4fc61269e

[2020-04-01 20:09] #1476 closed, assigned to nobody

[2020-04-01 20:12] seth-shaw-unlv opened #1479 "Stale `field_edited_text` when the associated file is replaced"
A follow-up to #1476, if you run the extract text action again because the original file was replaced the new Extracted Text _file_ will be replaced but it will not update the `field_edited_text` value with the new content. This is a significant issue because that is the field the full-text search is based on.

PR ~~incomming~~ _linked below_.

[2020-04-02 14:04] dannylamb commented on #1479
Resolved via https://github.com/Islandora/islandora/commit/163a621bc499d32a3b72da58b16b6a38d77694b4

[2020-04-03 14:13] ajstanley commented on #1479
I'd approach this with caution - valuable edits could be lost if the derivative file is updated.

[2020-04-03 14:57] benwbrum opened #1480 "IIIF Manifest generation is slow -- consider caching canvas height/width?"
We've installed Islandora 8 with the Paged Content module and are running into performance problems generating manifests: a `Paged Content` node with 60-200 `Page` children takes several seconds (or even minutes) to respond with to `node/{id}/manifest` requests, but seems to respond correctly when it does.

Our theory is that this slowness is due to the need to calculate the width and height attri

[2020-04-03 15:10] seth-shaw-unlv commented on #1479
@ajstanley is right, we've just traded one unexpected behavior with another. After merging 163a621 a user _can't_ manually edit `field_edited_text` (the presave will just repopulate the field with the extracted text file instead of saving the edits) which makes it a misnomer.

So, we have an impasse. On one hand we want to be able to manually edit OCR results and on the other hand we want to autom

[2020-04-03 15:15] seth-shaw-unlv commented on #1479
Also welcoming thoughts from other @Islandora/8-x-committers.

[2020-04-03 15:20] seth-shaw-unlv commented on #1480
You should be able to turn on [caching on a per-view basis](https://docs.acquia.com/resource/caching/views/). Whether or not we should turn it on by default is another question...

[2020-04-03 15:39] dannylamb commented on #1479
I'm happiest with whatever makes sense for users, and am willing to revert/change whatever's neccessary.

[2020-04-03 17:42] dannylamb commented on #1470
So I've looked into this and I think going forward it's probably best to just use the `ctools` plugins for looking at entity bundles.  But it is done differently.  It's a 'derived' plugin, so instead of one plugin for all types, there's one for each that's dynamically generated.

So I did an audit, and we're only using our plugin in one spot in islandora_defaults, and that's in the all_media conte

[2020-04-03 19:58] saracarl commented on #1480
@seth-shaw-unlv The iiif manifest view already has caching turned on by default.  It's tag based caching.  I can't tell what tags it uses, but I imagine node based would be appropriate (and perhaps what's being used?).

[2020-04-04 15:43] whikloj commented on #1480
Is a second access of the same resource significantly faster? If so, perhaps some sort of cache warming would be of benefit 🤷‍♂

[2020-04-06 16:09] seth-shaw-unlv commented on #1470
That seems like the safest path forward until we fully understand the implications of this move, especially since the release is already late.

[2020-04-06 16:29] seth-shaw-unlv commented on #1479
@dannylamb, go ahead and revert it.

[2020-04-06 17:37] mjordan opened #1481 "Inconsistent responses when PUTting media"
Creating media via HTTP `PUT` ([docs](https://islandora.github.io/documentation/technical-documentation/rest-create/#files-and-media)) sometimes returns a `201` and sometimes returns a `204`. Does anybody know why this is? One practical implication of this is that when Drupal responds with a `201`, a `location` header is returned:

`
{'Date': 'Mon, 06 Apr 2020 15:38:20 GMT', 'Server': 'Apache/2.4.

[2020-04-06 17:59] whikloj commented on #1481
When doing a PUT normally (or my experience is) `201 CREATED` means the resource did not exist and has been created, whereas `204 NO CONTENT` means the resource did already exist and has been updated.

[2020-04-06 18:42] mjordan commented on #1481
@whikloj that is my understanding too but I am seeing this when creating new media.They don't already exists.

[2020-04-06 18:56] dannylamb commented on #1481
Then that's a bug :disappointed: The behaviour @whikloj described is the expected behaviour.

The code checks to see if the entity already exists here: https://github.com/Islandora/islandora/blob/8.x-1.x/src/MediaSource/MediaSourceService.php#L255.  So somehow that's getting fooled.  Or its some sort of awful timing thing. What exactly are you doing to trigger it?

[2020-04-06 18:59] seth-shaw-unlv commented on #1481
It's possible that we are running into timing issues; where two items are trying to be created at the same time (media being uploaded and a derivative of another item).

[2020-04-06 19:03] mjordan commented on #1481
It's inconsistent (at least I can't reliably replicate it). I can collect a bit more info if want (that is, try to replicate it) and report back. Anything I should be looking for in particular?

[2020-04-06 19:04] mjordan commented on #1481
@dannylamb

Running Workbench to create new nodes and associated media. I wanted to get the new media's URL, which is in the `location` response header. Some media didn't have a location, which is why I dug in and noticed the 201/204 pattern.

[2020-04-06 19:07] mjordan commented on #1481
Is it reasonable to assume that if the controller generates a 204, the media already has a URL (i.e., a `/media/xxx` URL?

[2020-04-06 19:09] dannylamb commented on #1481
@mjordan Yes, exactly.  You've already got what you seek.

[2020-04-06 19:09] dannylamb commented on #1481
Still worried @seth-shaw-unlv may be right, though.  Are you hammering it?  Exactly how big of a batch are you making?

[2020-04-06 19:09] mjordan commented on #1481
Let me log at https://github.com/Islandora/islandora/blob/8.x-1.x/src/Controller/MediaSourceController.php#L176 and run workbench and see what's there.

[2020-04-06 19:10] mjordan commented on #1481
Hammering in the sense that I am creating one after the other, within parts of a second. But not hammering it the sense that I am only creating 2 nodes/media in one run, during debugging.

[2020-04-06 19:13] mjordan commented on #1481
@dannylamb you start your transaction at https://github.com/Islandora/islandora/blob/8.x-1.x/src/Controller/MediaSourceController.php#L163 , but do you need to explicitly close it?

[2020-04-06 19:15] dannylamb commented on #1481
@mjordan IIRC the transaction autocommits when the variable goes out of scope.  Let me go double check that :sweat_smile:

[2020-04-06 19:18] dannylamb commented on #1481
According to Drupal docs, yes.  They commit when the variable goes out of scope.  But I don't see any harm in committing the transaction earlier sooner than later if we're running into timing issues.

[2020-04-06 19:21] dannylamb commented on #1481
I'm referencing https://www.drupal.org/docs/8/api/database-api/transactions fwiw

[2020-04-06 19:23] mjordan commented on #1481
I'm not sure if it will matter, I just noticed that it wasn't being explicitly closed.

I'll do some logging to see if I can come up with any more information.

[2020-04-06 20:47] mjordan commented on #1481
Ok, got something, I think: I've created about 100 media and didn't get any `204`s but I did get a `500`, so looked in my apache error log. Found these:

[code]

Strange thing is, they don't correspond to `500`s I was seeing as a result of my REST `PUT` calls, but they are all being thrown at MediaSourceController.php line 192.

[2020-04-07 11:06] dannylamb commented on #1481
For sure it's FITS.  I get a bunch of those every time I debug it.  If things aren't _just so_ in the `media_presave` hook, you get these scary transaction errors.

[2020-04-07 11:19] dannylamb commented on #1479
https://github.com/Islandora/islandora/pull/770

[2020-04-07 12:30] bseeger opened #1482 "Matomo still shows CLAW in site name"
Matomo shows the site name being "Islandora CLAW". "CLAW" should probably be remove.

PR forthcoming.
![Screen Shot 2020-04-07 at 8 25 35 AM](https://user-images.githubusercontent.com/7966375/78669259-001e9880-78aa-11ea-9578-acaedf0e0bd7.png)

[2020-04-07 18:57] whikloj commented on #1343
If you all want to try again this should be resolved for ansible 2.9.

[2020-04-07 20:04] DonRichards opened #1483 "Tab order in the create form"
The tab order doesn't exist and hitting tab jumps around. Tabbing jumps straight to content model then save, skipping everything in the middle.

![Screen Shot](https://user-images.githubusercontent.com/2738244/78714072-37f90080-78e9-11ea-9983-28924c400de1.png)

## To recreate
go to /index.php/node/add/islandora_object
Start filling out the form and hit tab to jump to the next line.

[2020-04-07 20:09] dannylamb commented on #1451
I am consistently getting

[code]

now from master.  This is triggered when the media finally gets saved after all the fields have been created.  Oddly enough, it _is_ consistent, but if you view the media once the file's been uploaded but before all the fields have been dynamically generated... things look totally fine.  It'll even cache that totally fine version to continue to fool you.

From wh

[2020-04-07 21:54] mjordan commented on #1451
@dannylamb or maybe leaving FITS in the release but just not enabling Islandora FITS by default? Simpler than pulling the whole tooth plus root out?

[2020-04-07 22:24] mjordan commented on #1483
Funny, not getting anything useful to address this by googling/duckduckgoing. I would figure there had to be module for that.

[2020-04-07 22:30] mjordan commented on #1483
There's https://www.drupal.org/node/1973218#tabbing, but seems like overkill to have to write JavaScript on a per-form basis, especially on a highly variable form like the add/edit form.

[2020-04-07 22:59] seth-shaw-unlv commented on #1451
Keeping it out of the release seems the safest option. Besides, we can't tag a version on the FITS work anyway since it is still based on a repo external to Islandora. Those who want it are still able to add it after-the-fact.

[2020-04-08 11:20] dannylamb commented on #1451
It's occurring to me now that the way the 8.x-1.x branch works would sidestep this problem altogether, since it does not auto-generate the fields for you.  You have to name the field and when the fits gets generated, if a matching field is found its populated.

Let's slice it out, then issue a PR to get 8.x-1.x `islandora_fits` as a submodule of `islandora` and we'll go from there.

[2020-04-08 11:22] dannylamb commented on #1479
Resolved via https://github.com/Islandora/islandora/commit/3c969bf14f1775ebb6c52cc71b7558703f154210?

[2020-04-08 11:22] #1479 closed, assigned to nobody

[2020-04-08 11:43] ajstanley commented on #1451
Another approach would be to include it without indexing each of the fields
separately.  They're not needed for anything other than fielded search,
which is not going to happen very often anyway.  (We had a special case for
it her at UPEI).

If we yank all the presave stuff out then it saves FITS as a file, and the
formatter gives us the nice display.

On Wed, Apr 8, 2020 at 8:21 AM dannylamb <not

[2020-04-08 12:40] dannylamb commented on #1451
@ajstanley :+1: I like still being able to deliver the feature and leaving the indexing for later.

[2020-04-08 14:21] DonRichards opened #1484 "Ingest Form with conditional fields"
The ingest page needs more intuitive grouping and conditional fields.

## Grouping
I'm suggesting we group the content to give context. For instance, language is a drop-down in 2 separate locations in the same form.
* Content Model/resource type
* Fields (title, description, etc.)
* Behavior (viewer, parent/member of)
* System level (language, weight, notes, table of contents)

## Conditional form

[2020-04-08 16:51] mjordan commented on #1484
Grouping can be done via https://www.drupal.org/project/field_group, and https://www.drupal.org/project/conditional_fields looks like it will provide a GUI for defining conditional fields.

[2020-04-08 18:06] dannylamb commented on #1484
Hashed this out at the last Islandora 8 call and consensus was to keep all the fields, but disable most of them, leading to a more streamlined default that you can add to from already existing fields.

[2020-04-09 18:56] saracarl commented on #1480
@whikloj I agree, it does seem faster after the first load, so the caching does seem to be happening.  We noticed this at a time where we were ingesting/rolling back/ingesting/rolling back so it was *always* slow, but I think the 2nd load is reasonable.

Cache warming would make sense.

[2020-04-12 21:45] mjordan opened #1485 "Revisions are not created when using migrations or REST"
This is not a bug, it's [known behavior of Drupal](https://drupal.stackexchange.com/questions/214301/how-do-i-force-nodes-to-have-revisions-by-default-when-using-rest), but it might take some people by surprise and undercuts all our work on versioning.

The post above says "The node type setting mentioned by the other answers only applies to the node form, it does not affect programatically saved

[2020-04-12 21:47] mjordan commented on #1485
Related issue in Islandora Workbench: https://github.com/mjordan/islandora_workbench/issues/95.

[2020-04-13 20:31] whikloj commented on #1470
Resolved with https://github.com/Islandora/islandora/commit/7b24912fd3cc5cd737235a910e9aae5814962c88 and https://github.com/Islandora/islandora_defaults/commit/7963c9855638b50b6beff3421a11de253f997c6b

[2020-04-13 20:31] #1470 closed, assigned to nobody

[2020-04-13 21:30] kayakr commented on #1470
Thanks @whikloj

[2020-04-14 15:42] DonRichards commented on #1483
@mjordan tabindex of a form

[code]

Apologies, I copied this right out of a form page.  Adding the "attributes/tabindex"  should fix this.

[2020-04-15 15:17] #1451 closed, assigned to nobody

[2020-04-15 18:03] bseeger commented on #1485
This may or may not be helpful, but posting it here to note it: https://www.drupal.org/project/drupal/issues/2993557

[2020-04-16 01:58] mjordan commented on #1483
Given that site admins can add new fields, remove existing ones, etc., any  `'#attributes' => array('tabindex' => 'x')` code we inject with `hook_form_alter()` or whatever will be very brittle. How would we make sure that whatever we added would continue to work as expected?

[2020-04-17 15:04] manez opened #1487 "Add video links in user docs"
Some of the videos in [Islandora Quick Lessons](https://www.youtube.com/playlist?list=PL4seFC7ELUtripxWi_2RIBKCWqI0uif93) align well with our user docs. The videos point to the docs, and the docs should have links to the videos.

[2020-04-17 15:08] mjordan commented on #1483
Was thinking about this. Since you can alter a form to inject the tabindex attribute into any element, if you can get the weight of all the form elements in a rendered form like the node add/edit form, you should then be able to alter that form to inject the tabindex values so they correspond to the ordering of the form elements. That would at least 1) align the tabbing order with the layout of th

[2020-04-17 16:20] manez commented on #1448
Even after running @DonRichards 's fixes above, I'm stilling getting

[code]

I went at permissions with a shotgun in my previous VM and got composer working, but had a bunch of weird errors in the site afterwards.

[2020-04-17 18:33] dannylamb commented on #1448
FWIW I've had this up for a while: https://github.com/Islandora/drupal-project/pull/36

I'm dusting it off again and spinning up a new build to see if that takes care of it.

[2020-04-17 19:04] DonRichards commented on #1483
I think that's at least a start. Where would this code/config need to be?

[2020-04-17 19:46] dannylamb commented on #1448
...and that totally doesn't do anything.  Fortunately, I did find that the best way to handle this right now is to just remove the sucker with `composer remove drupal/core-composer-scaffold` and move on.  I've tested that and it does indeed work.  PR forthcoming.

[2020-04-17 20:01] dannylamb commented on #1448
Try this instead ^^

[2020-04-17 22:47] mjordan commented on #1483
@DonRichards I'm tabbing through both the node add and edit forms and am not experiencing what you describe. For me (using Firefox and also Chrome on Ubuntu), starting in the title field and tabbing moves focus down the form in the way I'd expect, and doesn't jump around unpredictably.

Can some other people try on different OSs/browser combinations to see what happens?

[2020-04-18 05:55] seth-shaw-unlv opened #1489 "Empty entity reference on typed relation field crashes JSON-LD"
Normally this won't happen, because the GUI prevents it, but if you make a mistake migrating typed relation fields and create one with no entity reference it will WSOD when you try to view the node's JSON-LD.

We should catch this case and issue a warning rather than dying.

[2020-04-20 16:50] manez commented on #1483
Just tested this on a brand new build in Mac/Chrome and and Mac/Safari, and I'm not reproducing.  There is a slight difference, in that Chrome hits "show row weights" and Safari skips it, but they both go in the order I expect.

[2020-04-20 17:10] DonRichards commented on #1483
When you use http://future.islandora.ca/ you get the same result?

[2020-04-20 17:13] manez commented on #1483
I do - down to Chrome/Safari treating "show row weights" differently

[2020-04-20 17:15] DonRichards commented on #1483
ok, I got something odd going on here. I just tested this on my office computer and it's behaving as expected but not on my laptop. So I"m not sure the rhyme or reason. So this could be a "me"  issue or a hint to something else. I'm leaning towards a "me" issue right now. I think I'll close this until I can find a way to deliberately cause tab orders to fail on a different machine.

[2020-04-20 17:16] #1483 closed, assigned to nobody

[2020-04-20 17:18] DonRichards commented on #1483
@mjordan @manez Thanks for walking through this with me. I hate when it turns out to be nothing but I'm really appreciative when people take the time to "unpack" a problem.

[2020-04-22 03:02] mjordan opened #1491 "Provide default name (and alt text for images) in add media form"
We could probably improve the UX when adding media by  auto-populating the media Name to be the same as the parent node's title. For image media, the parent title could also be used as the pre-populated Alt text:

![image_defaults](https://user-images.githubusercontent.com/403918/79935686-60651c80-840a-11ea-900e-74e8301ad5fc.png)

Non-image media:

![document_defaults](https://user-images.githubus

[2020-04-22 03:06] mjordan commented on #1491
We could prepopulate the Original name field while we're at it.

[2020-04-22 13:25] mjordan commented on #1491
Start of a little custom module that does this for image media:

[code]
Might need to populate Alternative text field via JavaScript.

[2020-04-22 13:43] dannylamb commented on #1491
You can set the default value of media use using field settings for each media type e.g. for file check out: http://localhost:8000/admin/structure/media/manage/file/fields/media.file.field_media_use

[2020-04-22 13:45] mjordan commented on #1491
@dannylamb right, good catch. So we could limit this new "feature" to just Name and Alt text, since they depend on the parent node.

[2020-04-22 18:08] manez opened #1492 "7.x Style Batch Upload"
We had a good discussion about this on the April 22 Tech Call, so I'm making a ticket to capture the topic:

**We need a way to add multiple objects (nodes with media) at once via the front end.** We have https://islandora.github.io/documentation/technical-documentation/migrate-csv/, which works a treat, but it has quite a few steps where you have to go outside of the GUI and upload files to the f

[2020-04-22 21:49] mjordan commented on #1492
One CSV plus all the files sounds right to me @manez. It's also consistent with what the Migrate CSV tools use, should they end up being used under the hood to do the actual ingest.

That said, I'd like to recommend that whatever we implement does some basic validation on the CSV and file data so that the ingest is as reliable as possible. I've found that the Migrate tools are fairly forgiving of

[2020-04-22 23:44] kayakr opened #1493 "Houdini/README.md out-of-date?"
Houdini/README.md refers to config.yaml in `Houdini/cfg/config.example.yaml` but I think this is out-of-date as there is also config in `Houdini/config/services.yaml` and similar files...

[2020-04-22 23:59] whikloj commented on #1493
Oooo yeah, that's on me. I'll try to update the documentation tomorrow.

[2020-04-23 00:05] kayakr commented on #1493
@whikloj Thanks in advance for that. If you don't mind, where do I change logging destination (currently going to `Houdini/var/log/dev.log`)?

[2020-04-23 01:26] whikloj commented on #1493
Ok, this depends on your environment which is somethingi need to document.

But I'd try here first.

https://github.com/Islandora/Crayfish/blob/dev/Houdini/config/packages/dev/monolog.yaml#L5

On Wed., Apr. 22, 2020, 19:05 J Hunt, <notifications@github.com> wrote:

[2020-04-23 01:42] kayakr commented on #1493
@whikloj Cheers, will try it...

[2020-04-24 02:04] mjordan commented on #1491
I've put together a tiny module that provides this functionality: for all media add forms, the prepopulated "Name" field is the title of the parent node. In addition, on the media add form for Image media, the "Alt text" field is prepopulated with the same thing.

I am providing the module so people can test this functionality easily. I think the best place for this code is in within the main Isla

[2020-04-27 14:30] dannylamb opened #1494 "Upload "base box" to vagrant cloud"
For users that don't want to rebuild a full box from scratch every time, upload a box to vagrant cloud so that users can quickly get a box up and running without dealing with Ansible.

[2020-04-27 15:06] dannylamb opened #1495 "WSOD on `admin/config` after importing new 'Document' media type from config"
I'm updating future.islandora.ca from 1.0.0 to 1.1.0 (testing this before releasing it!) and I am consistently getting

[code]

when visiting admin/config.  This is after importing the new Document media type stuffs from islandora_core_feature and islandora_defaults.

[2020-04-27 22:47] kayakr commented on #1472
https://www.drupal.org/project/jwt/releases/8.x-1.0-beta2

[2020-04-28 19:32] dannylamb commented on #1495
Turns out that sites that update from a prior version don't get the new media type for document.  Not sure what's up with that.  I've managed to get by this by selectively importing from `islandora_defaults` through the UI.

[2020-04-28 19:32] #1495 closed, assigned to nobody

[2020-04-28 19:33] dannylamb opened #1496 "Media metadata for Extrated Text does not make it to Fedora"
The rdf mapping for Extracted Text sets `field_mime_type` as translatable, which gives it a language tag in RDF which causes fedora to choke.  Mime type can't/shouldn't be translatable.

[2020-04-30 03:23] mjordan commented on #1496
Fix merged, closing.

[2020-04-30 03:23] #1496 closed, assigned to nobody

[2020-05-03 23:51] kayakr commented on #1472
Reverted title change. I'll add a new issue for Update drupal/jwt to 8.x-1.0-beta2

[2020-05-03 23:51] #1472 closed, assigned to kayakr

[2020-05-03 23:51] kayakr opened #1497 "Update drupal/jwt to 8.x-1.0-beta2"

[2020-05-03 23:52] kayakr commented on #1497
https://www.drupal.org/project/jwt/releases/8.x-1.0-beta2

[2020-05-04 23:38] kayakr opened #1498 "Islandora Settings offers invalid time expression"
On Islandora Settings in Drupal (`/admin/config/islandora/core`) the JWT Expiry field description suggests times like `60, "2 days", "10h", "7d"` but if you try `7d` the form errors with `"7d" is not a valid time or interval expression."` Do the offered times all need "+" added, e.g. `+7d` works.
<img width="572" alt="Screen Shot 2020-05-05 at 11 35 17 AM" src="https://user-images.githubuserconten

[2020-05-04 23:50] seth-shaw-unlv commented on #1498
Ah, you are right. It validates using [strtotime](https://www.php.net/manual/en/function.strtotime.php). All the examples _should be_ valid [relative forms](https://www.php.net/manual/en/datetime.formats.relative.php) which, for the existing ones, require the "+" sign at the beginning (because using the minus makes no sense in this context). The line to update is [here](https://github.com/Islandor

[2020-05-05 15:35] bseeger opened #1499 "Resource Type default config is missing from controlled_access_term module"
Resource Type taxonomy has an External Auth Link field in it, but it doesn't show up when editing a term in the UI. This is because a config file is missing from this module for the Resource Type taxonomy.

The config should be located here:
https://github.com/Islandora/controlled_access_terms/tree/8.x-1.x/modules/controlled_access_terms_defaults/config/install

[2020-05-05 19:02] DonRichards opened #1500 "Another De-claw description"
islandora playbook's repo description includes a "CLAW" 🐯

Only an owner can change this.

![Screen Shot 2020-05-05 at 2 58 03 PM](https://user-images.githubusercontent.com/2738244/81104799-0de33000-8ee1-11ea-8905-b25be0f1707a.png)

https://github.com/Islandora-Devops/islandora-playbook

[2020-05-05 19:11] DonRichards opened #1501 "OSX build error Too many open files"
Came across this error and thought someone else might get snagged on it.

[code]

![Screen Shot 2020-05-05 at 2 52 59 PM](https://user-images.githubusercontent.com/2738244/81105483-fbb5c180-8ee1-11ea-81a0-2694919999c6.png)

I've never come across this before and it only happens to me on my older Mac laptop for this VM.
[code]

This is a temp fix. You may want to add it to your `~\.bashrc` file so

[2020-05-05 19:11] #1501 closed, assigned to nobody

[2020-05-05 19:27] manez opened #1502 "Weird behavior of thumbnails in .ova VM"
I built the .ova, so I feel a bit like I'm tattling on myself here, but I want to know if anyone else is seeing this and/or if there's a fix, in case I should make a new VM without this issue:

When I first start up a VM from the [8 1.1.0 .ova](https://drive.google.com/uc?export=download&id=1hzy4ipCwBZ4Lpng0w8RRmj8WAx1dE9at), even if I've run it before, media on the most recently created nodes doe

[2020-05-05 21:35] mjordan commented on #1502
I am seeing similar behavior. For me, it's the thumbnail of the dog pulling on the shoe laces ("Small puppy") that is last to load. It's always this one. But, if I load a new image, its thumbnail show up as intended, without the delay.

A more general pattern I've noticed is that since derivatives are generated asynchronously after the user submits the ingest form, they often take a few seconds (f

[2020-05-05 21:40] manez commented on #1502
What I find most odd is that this happens every time I start up the same VM. It's not a first-time loading thing, it's persistent in the same VM after shutting down and restarting. They always show up eventually, but they're not there for the first few minutes.

Probably not a concern for production, if it's just happening when the site is unpacking its toys, but I don't want the VM to give a bad

[2020-05-05 21:45] manez commented on #1502
This may not be anything new. I noticed it because the VM has a special view on the front page showing pretty much all of the nodes, with images built from the thumbnails. Older VMs either didn't have content when first started, or it's a click or two in, giving things time to catch up and maybe concealing this?

Interesting that you're seeing it on a different image @mjordan. I have it only when

[2020-05-05 21:50] mjordan commented on #1502
Huh, after adding a few more objects, it appears to me that the image that is late to load is consistently the one in the upper-right corner of that front page View's table. So maybe it has nothing to do with the image itself but the way that the table's markup is being rendered.

[2020-05-05 21:51] mjordan commented on #1502
Maybe try adding a different output formatter to the View to see if the same image(s) load late, or sort differently within the same output formatter?

[2020-05-05 21:58] mjordan commented on #1502
Nope - I changed the sort on the View to title and the same images are loading late. 🤷‍♂️

[2020-05-06 12:37] manez commented on #1502
Definitely not just the view. If I go directly to the media, there's a blank space the same dimension as the eventual image.

[2020-05-06 16:03] #1494 closed, assigned to nobody

[2020-05-06 16:41] manez commented on #1500
Known issue (that's my comment in parentheses), but I just love the pun so much. I will bow to the will of the Islandora 8 collective if y'all deem this needs to go 🦞

[2020-05-06 16:58] manez commented on #1491
This is nice! Works just as advertised. I wonder if the description field would be more appropriate for the Alt text? Or is description too likely to be verbose?

Setting "Original file" as default is one of the changes I usually make in my own testing demo VM. :+1: for making that standard in our default config.

[2020-05-06 19:59] mjordan commented on #1491
The description field is configured to be a lot longer (data type = long text) than the Alt text (data type = text, probably 255 characters max length). If we prepopulated the Alt text field with the value of the node's description field, we'd need to truncate it at the max lenght of the Alt text field.

Two questions, if we want to move forward with this:

1) What do people think of making "Origi

[2020-05-07 17:29] manez commented on #1491
1. I don't see a downside to setting a default option. It saves a click, but it doesn't lock anything in. I think it's a small thing to give a slightly better first impression for those trying out the "default" Islandora.
2. I think this should go into default Islandora as well. It's a bigger deal than setting a default in a form, but it's still editable, so the end result is the same: saves a cli

[2020-05-07 19:43] DonRichards commented on #1500
@manez I got a second one for you. The official documentation on [metadata](https://islandora.github.io/documentation/user-documentation/metadata/) links to  [CLAW MIG MODS-RDF Simplified Mapping](https://docs.google.com/spreadsheets/d/18u2qFJ014IIxlVpM3JXfDEFccwBZcoFsjbBGpvL0jJI/edit#gid=0) spreadsheet. The title still refers to CLAW.

<img width="843" alt="spreadsheet" src="https://user-images.g

[2020-05-07 20:24] seth-shaw-unlv commented on #1499
Resolved with https://github.com/Islandora/controlled_access_terms/commit/56ba6f72fba0f39c16ae3d5dc6ca2916bbd63cd0

[2020-05-07 20:24] #1499 closed, assigned to bseeger

[2020-05-08 14:32] bseeger commented on #1236
This should be fixed via: Islandora/controlled_access_terms@56ba6f7 but I'll leave this open to let @seth-shaw-unlv confirm that.

[2020-05-11 16:20] seth-shaw-unlv commented on #1236
Heh. Yeah, we duplicated and then resolved the ticket.

[2020-05-11 16:20] #1236 closed, assigned to nobody

[2020-05-12 13:31] DonRichards commented on #1448
Most of the issues have been resolved except this one.

[code]
<img width="808" alt="Screen Shot 2020-05-12 at 8 32 30 AM" src="https://user-images.githubusercontent.com/2738244/81692352-48425500-942c-11ea-8e04-456d73864cc2.png">

Adding `$settings['skip_permissions_hardening'] = TRUE;` to  /var/www/html/drupal/web/sites/default/settings.php did not work as suggested by [this](https://www.drupal.o

[2020-05-12 22:33] kayakr opened #1504 "OpenSeadragon gives mixed content warnings"
We've encountered mixed content warnings in the browser console as Open Seadragon on an HTTPS site was requesting its navigation button images via HTTP even with X-Forwarded-Proto configured.

[2020-05-13 04:54] mjordan commented on #1241
Another interesting looking tool: https://www.palantir.net/blog/jumpstart-your-drupal-9-upgrade-drupal-rector

[2020-05-13 17:22] whikloj commented on #1498
Would this benefit from some help in the validation function? Like assuming/requiring a `+` because a JWT with a `-` is kinda useless.

[2020-05-13 18:03] seth-shaw-unlv commented on #1498
@whikloj, sure. The validation code currently insists it is a valid time, although we could improve the validation error message.

[2020-05-13 18:15] manez commented on #1502
@whikloj had a look and found that the thumbnail was being served from Flysystem. It got put into Fedora on upload because it's not a derivative; it's a direct upload tagged as a thumbnail. This is known behavior, but probably not ideal.

[2020-05-13 20:02] bseeger opened #1505 "Missing AT Tools module for Carapace Theme"
AdaptiveTheme seems to require [AT Tools ](https://www.drupal.org/project/at_tools) now but that isn't installed with Islandora.

![Screen Shot 2020-05-13 at 3 58 15 PM](https://user-images.githubusercontent.com/7966375/81859387-2b447980-9533-11ea-974f-4dd9ebb00f10.png)

Not what effect this has, but should probably add to this to the install?

[2020-05-13 20:09] whikloj commented on #1505
If adaptiveTheme is installed with composer (which maybe it isn't) then this should be automatically installed.

https://git.drupalcode.org/project/adaptivetheme/-/blob/8.x-3.x/composer.json#L21

[2020-05-13 21:06] seth-shaw-unlv opened #1506 "Paged Content Open Seadragon broken on Bartik"
Kathryn Gucer reported an issue [on Slack](https://islandora.slack.com/archives/CM5PPAV28/p1589391080005900) with the Open Seadragon block not appearing on their paged content node.

We checked all the usual suspects and then noticed something odd. The block was looking for the manifest @ `/node/%node/book-manifest` even though the endpoint was set to `/node/%node/manifest` and the Open Seadragon

[2020-05-14 12:36] manez opened #1508 ""inactive" docs are causing problems"
During the last documentation clean up, I took several pages from our docs that are not appropriate for our official documentation (either they are old and need heavy updating, or they are stubs/works in progress) and shoved them in an ["inactive" folder](https://github.com/Islandora/documentation/tree/master/docs/inactive) in the docs directory. They're not in mkdocs.yml, so they get ignored when

[2020-05-14 12:39] dannylamb commented on #1508
I vote for step 1, burn them with :fire:  They are confusing and still deployed and people can still find them.  Case in point: https://islandora.github.io/documentation/inactive/mvp_doc/#content-modeling-in-fedora

[2020-05-14 13:46] manez commented on #1448
Still running up against this one with a VM build from the new base box. I can sudo around it, but my use case is recording Quick Lessons, so I don't want to put a not-best-practices work-around into video docs.

[2020-05-15 14:22] DonRichards commented on #1448
My previous comments might have worked. I restarted the VM deleted the default.services.yml file and it seems to be working for me.

[2020-05-15 18:36] DonRichards opened #1511 "Matomo has CLAWs 🐯"
In islandora 8 VM go to [http://localhost:8000/matomo/...](http://localhost:8000/matomo/index.php?module=MultiSites&action=index&date=yesterday&period=day&idSite=1)
:tiger:
<img width="1223" alt="Screen Shot 2020-05-15 at 2 32 53 PM" src="https://user-images.githubusercontent.com/2738244/82084298-14c82a80-96b9-11ea-9dd1-2ade490307a3.png">

[2020-05-15 18:38] DonRichards commented on #1511
Should I start calling this 🐯 Tiger ...ING, a play on the Tiger King popularity.

[2020-05-15 18:45] DonRichards commented on #1448
Final Steps
[code]

[2020-05-15 19:24] manez commented on #1448
@DonRichards that worked for me too! Thank you!

[2020-05-18 18:04] bseeger commented on #1511
Hi @DonRichards  - this is a duplicate of #1482.

[2020-05-18 21:49] kayakr opened #1512 "Camel log has debug messages re fuseki"
e.g. `2020-05-19 09:43:06,846 | WARN  | Consumer[fedora] | EndpointMessageListener          | 60 - org.apache.camel.camel-core - 2.20.4 | Execution of JMS message listener failed. Caused by: [org.apache.camel.RuntimeCamelException - org.apache.camel.http.common.HttpOperationFailedException: HTTP operation failed invoking http://localhost:8080/fuseki/test/update with statusCode: 404]`
I assume this

[2020-05-20 00:22] kspurgin opened #1513 "Bug: islandora_objects migration (migrate_7x_claw) lacks mapping for islandora:sp_pdf to field_model"
The result is the default (which maps to `islandora_models` Binary) is applied.

To fix this, I would add a line [here](https://github.com/Islandora-Devops/migrate_7x_claw/blob/595d83aaf885151170307e5068edd39bdfcce1c7/modules/islandora_migrate_7x_claw_feature/config/install/migrate_plus.migration.islandora_objects.yml#L179) mapping islandora:sp_pdf to `islandora_models` term "Digital Document" (ht

[2020-05-20 00:24] kspurgin commented on #1513
#925

[2020-05-20 13:04] bryjbrown commented on #1194
Revisiting this, I think that packaging Islandora 8 as a distribution is not only a great idea, but would allow us to package special versions of Islandora 8 as well via sub-profiles as @alxp said above. There are a lot of possibilities for this, but the one most on my mind is an IR distribution. During installation of the Islandora 8 distribution users could select which installation profile/sub-

[2020-05-20 14:07] mjordan commented on #1369
Bumping this... now that we have islandora_search, does the comment module still need to be a dependency of islandora_defaults, islandora_oaipmh, and islandora_search? comment is a dependency of search_api_solr_defaults, which in turn is a dependency of islandora_search. If we can get rid of that last dependency, we can get rid of the comment module (I think).

[2020-05-20 14:12] mjordan opened #1514 "Provide description text for the "PID" field"
Islandora's default metadata fields include PID, which was intended as the place to store the islandora 7.x PID for each object after migration. Currently, this field doesn't have any description/help text:

![pid](https://user-images.githubusercontent.com/403918/82456413-0ab37c80-9a69-11ea-8491-300e4a70aea2.png)

We should add "PID of this object in Islandora 7.x (applies to migrated objects only

[2020-05-20 17:56] manez commented on #1511
Closing duplicate

[2020-05-20 17:56] #1511 closed, assigned to nobody

[2020-05-20 19:09] whikloj commented on #1505
I've confirmed that at_tools is not installed in a normal build. I'm guessing that drupal via composer doesn't work like PHP via composer. So we should add `drupal/at_tools:8.*` (or some version constraint) here https://github.com/Islandora-Devops/islandora-playbook/blob/dev/inventory/vagrant/group_vars/webserver/drupal.yml#L21

[2020-05-21 10:58] nigelgbanks opened #1516 "migrate_7x_claw exits batch prematurely if xpath query does not find a result in the first batch"
There is an edge case wherein, the migration will not run if there is no matching results in the first batch of results. This is due to how the `core/modules/migrate/src/MigrateExecutable.php` prepares to perform the migration and how `DataParserPluginBase` deals with non-matching results. Before starting the migration `MigrateExecutable` rewinds the iterator and checks if it's valid. In our imple

[2020-05-21 14:32] dannylamb opened #1517 "Use Drupal's file upload capabilities"
Between core REST file uploads, JSON:API file uploads, and modules such as [file_upload_options](https://www.drupal.org/project/file_upload_options), we can completely drop our custom REST endpoints. This functionality didn't exist when the project started, but it does now and we should take advantage of it.

We would be able to eliminate the [MediaSourceController](https://github.com/Islandora/is

[2020-05-21 14:34] dannylamb commented on #1517
@mjordan @seth-shaw-unlv Workbench would also be affected

[2020-05-21 14:39] dannylamb opened #1518 "Deploy openseadragon js with composer"
Openseadragon can be installed with npm, so it should be available to composer.  We can use this to keep the version of openseadragon consistent and also streamline installation.  One less thing...

[2020-05-21 14:40] mjordan commented on #1517
Shouldn't be too bad, other than changing the endpoint URLs, I would imagine. I agree that getting rid of our custom enpoints is a good idea.

[2020-05-21 18:30] ajstanley commented on #1517
That is going to affect the multifile module as well - I've got a custom endpoint to attach files to existing media, and another endpoint for extracted text to both attach the file and stick the contents in an editable field.

[2020-05-21 23:28] seth-shaw-unlv commented on #1513
PRs are always welcome, @kspurgin. Yes, "Digital Document" (https://schema.org/DigitalDocument) is the right one, although perhaps the [tags migration](https://github.com/Islandora/islandora/blob/8.x-1.x/migrate/tags.csv#L14) is a bit more authoritative.

[2020-05-24 23:38] kayakr opened #1519 "Islandora generates Link headers for non-repository content"
Ran into an issue where the number of HTML Link headers exceeds the default limit for headers in Varnish `http_max_hdr: 64` resulting in a Varnish 503 on specific nodes that have a high number of related entities (via an entity reference field). We're looking to boost the number of headers varnish will handle, but I also found `islandora/src/EventSubscriber/NodeLinkHeaderSubscriber.php` generates

[2020-05-26 03:48] mjordan opened #1520 "'rdau' RDF namespace is not registered"
`config/install/rdf.mapping.node.islandora_object.yml` defines the following mapping:

[code]

but the `rdau` namespace is not registered (or at least isn't known to the `rdf_get_namespaces()` function). Should we add that namespace to `islandora_rdf_namespaces()`?

I think `rdau` is used as the namespace for http://www.rdaregistry.info/, but I can't find P60329 in any of the ontologies registered

[2020-05-26 13:19] whikloj commented on #1520
Perhaps also `co`?
https://github.com/Islandora/islandora_defaults/blob/8.x-1.x/config/install/rdf.mapping.node.islandora_object.yml#L106

[2020-05-26 13:20] whikloj commented on #1520
Nevermind, `co` is defined in core islandora

[2020-05-26 16:10] mjordan commented on #1520
Maybe we should do a review to see if all the namespaces for all the default mappings are registered?

[2020-05-26 16:59] mjordan opened #1521 "Provide a way for repo admins to see RDF field mappings"
RDF field mappings on a given Islandora repo are a bit hidden. Over at [Islandora Repository Reports](https://github.com/mjordan/islandora_repository_reports) I recently added a... report listing all of the configured mappings:

![rdf_mappings_screenshot](https://user-images.githubusercontent.com/403918/82928079-8cf2e380-9f36-11ea-9d2c-9e3e02112dfe.png)

The user can select which bundle (in this c

[2020-05-26 17:21] seth-shaw-unlv commented on #1520
Maybe we should finally just make this namespace thing configurable....

**Note: this is untested code... just something that popped into mind and written up real quick.**

rdf_map.schema.yml
[code]

rdf_map.yml
[code]

islandora.module
[code]

This is, of course, less efficient that simply returning a hard-coded list, but much easier for sites to update; especially with Features. Also, I recently

[2020-05-26 17:24] mjordan commented on #1520
I like the idea of auto-discovery. Having to manage the mappings and their corresponding namespaces separately is going to be a PITA in the long run.

[2020-05-26 17:26] seth-shaw-unlv commented on #1520
See [http://www.rdaregistry.info/Elements/u/#P60329](http://www.rdaregistry.info/Elements/u/#P60329)

[2020-05-26 18:01] manez commented on #1521
I'd like to see all of [Islandora Repository Reports](https://github.com/mjordan/islandora_repository_reports) come into core (or at least have the module become part of our standard build'), but this particular piece of it seem like a key tool that really does belong in core.

[2020-05-26 18:23] dannylamb commented on #1358
Bumping into this now with ISLE and openseadragon.  It's totally a thing.

[2020-05-26 18:46] mjordan commented on #1521
@manez integrating the Repo Reports module into Islandora core would probably be more complicated than keeping it as a separate (but standard) module. I'd be happy to work on bringing it up to the coding and testing standards required by the LSAP process and when that's done, initiate an LSAP for it.

That said, integrating the RDF mapping report on its own, independent of the Reports module, into

[2020-05-26 21:47] seth-shaw-unlv opened #1522 "Geerlingguy broke ansible galaxy references"
Apparently Geerlingguy changed a number of roles on ansible galaxy a few hours ago which breaks our playbook.

Run the playbook as is and you get:
[code]

Indeed, now [https://galaxy.ansible.com/geerlingguy/php-mysql](https://galaxy.ansible.com/geerlingguy/php-mysql) returns a 404. But, if you replace the hyphen with an underscore, [https://galaxy.ansible.com/geerlingguy/php_mysql](https://galaxy.

[2020-05-27 17:55] bseeger commented on #1521
Yes please. This sounds really useful!

[2020-05-27 18:31] jhujasonw commented on #1522
I just tried https://galaxy.ansible.com/geerlingguy/php-mysql and it works.  Might have been a blip in galaxy.ansible.com   Just thought I would mention that it appears to work, at least for that role.

[2020-05-27 19:12] seth-shaw-unlv commented on #1522
Huh, I wonder if Geerlingguy realized the issue and fixed it. The last import of the role was ~20 hours ago.

I can spin up a new one after my next meeting and close the ticket if it checks out.

[2020-05-27 19:53] mjordan commented on #1514
I'll open a PR for this.

[2020-05-27 21:02] mjordan commented on #1514
How's this for help text?

[2020-05-27 21:21] seth-shaw-unlv commented on #1522
Whelp, I'm glad I didn't run off an issue a PR right away! Everything builds fine again. Yay for procrastination!

[2020-05-27 21:21] #1522 closed, assigned to nobody

[2020-05-28 03:33] mjordan commented on #1521
It might be useful to also include a list of taxonomy terms that have external URIs assigned. Moar Linked Data.

[2020-05-28 17:16] mjordan opened #1523 "Fedora URL display settings don't work?"
My interpretation of the "Fedora URL display" settings at `admin/config/islandora/core` is that if you uncheck a content type, the Fedora URL should not be displayed. For example, I can uncheck "Repository Item" and save the config settings:

![image](https://user-images.githubusercontent.com/403918/83171869-93ff2a80-a0cb-11ea-95b0-976f971f1c37.png)

But, the Fedora URL continues to show up on nod

[2020-05-28 17:25] seth-shaw-unlv commented on #1523
I've hit this before. The form doesn't remove the pseudo field from the display modes when they are unchecked. To remove the Fedora URI (if I recall correctly):

1. Make sure it is enabled first
2. Update the display modes for the item you are removing the URL from by dragging it down to 'Disabled'
3. Go and unselect it in the Islandora config form.

Alternatively, you can go manually edit the dis

[2020-05-29 14:17] manez opened #1524 "Use Case: Context Conditions met *and* negated"
| Title (Goal)  | Use Case: Context Conditions met *and* negated                             |
--------------- |------------------------------------                           |
| Primary Actor | repository admin |
| Scope         | site building   |
| Level         | Medium  |
| Story         | My example: I want to have a collection view that appears for collections with a certain taxonomy tag (l

[2020-05-29 14:24] manez opened #1525 "One Islandora Admin Menu to Rule Them All"
A thought: One of the things I really liked about moving from Islandora 6 to Islandora 7 was having the administrative/configuration options move from being scattered all over their "drupal" homes across various admin menus, and into a single "Islandora" menu in the admin menu. We've got an Islandora section in admin/config, but it doesn't hold all things Islandora.

Questions:

1. _Can_ we stick

[2020-05-29 14:28] mjordan commented on #1525
I wonder if we use Drupal's menu shortcuts to assemble a bunch of menu links for this purpose? And if so, can it be exported as config so we could bundle a basic version of it with the Islandora module?

Also, we have discussed the idea of a dashboard... :thinking:

[2020-05-29 14:30] mjordan commented on #1525
https://www.drupal.org/project/shortcut_menu ?

[2020-05-29 14:32] manez commented on #1525
I very much like the idea of a dashboard. Takes it from "Let's make this part as good as it was in 7.x" to "let's make it _even better_"

But I will pull down that module and play around with it.

[2020-05-29 14:33] mjordan commented on #1525
A dashboard could also include some chart reports....

[2020-05-31 16:53] mjordan commented on #1381
Been playing around with Motomo's API and have been able to get it to generate a graph showing node-level page views in a block, like this:

![matomo](https://user-images.githubusercontent.com/403918/83357834-c30fd900-a323-11ea-8611-eeb1719c5a8c.png)

Here is the proof of concept block plugin that renders this graph:

[code]

Note that 1) this block doesn't use the Matomo Reporting API module, and

[2020-05-31 17:08] mjordan commented on #1381
Sorry, I posted that graph prematurely. It shows page visits for the entire site, not that node. https://developer.matomo.org/api-reference/reporting-api#Actions shows the actions that are available, but when I use `apiAction=getPageUrl` (singluar, for the current node) the image contains the error message "Invalid API module and/or API Action". Using `apiAction=getPageUrls` (plural) produces a va

[2020-05-31 21:09] mjordan commented on #1381
It is possible to get a summary of activity for a specific URL/node, so another way to do this would be to loop through monthly time ranges and query Matomo for hits/visits for a node during each period, then assemble those monthly counts into a report like this:

![image](https://user-images.githubusercontent.com/403918/83362664-e51b5280-a347-11ea-92e3-6e38559b6b85.png)

[2020-05-31 21:55] mjordan opened #1528 "What is the islandora_version_count table used for?"
islandora.install creates the db table `islandora_version_count`, which is annotated as 'Keeps track of the number of changes to an entity'. However, grepping through the contrib modules directory only reveals a single use of 'islandora_version_count', in the .install file, and creating a new revision of a node doesn't add anything to the table. Is this still in use, and if so, what populates it?

[2020-05-31 22:09] mjordan opened #1529 "Provide CRUD forms for editing RDF mappings?"
RDF mappings are stored as configuration entities. Therefore, it should be possible to write a module that allow site admins to perform CRUD tasks on them. https://www.drupal.org/docs/drupal-apis/configuration-api/creating-a-configuration-entity-type describes how to create an edit controller for doing that. Anybody suggest why we shouldn't provide user-facing tools for managing RDF mappings?

[2020-06-01 05:41] Natkeeran opened #1530 "isle-buildkit vs islandora-playbook"
@dannylamb

Are we going to target https://github.com/Islandora-Devops/isle-buildkit for building islandora 8. When thats ready, will the ansible playbook be deprecated?

Are we planning on migrating the setup logic in anisble to docker?  Do we loose any functionality in the process (i.e ansible is more readable and easier to troulbeshoot!)?

[2020-06-01 12:24] manez commented on #1514
@mjordan I think your first suggestion "PID of this object in Islandora 7.x (applies to migrated objects only)" works well. That extra bit of parenthetical info could be reassuring.

[2020-06-01 13:29] whikloj commented on #1528
Ohhhhh waaaaay back (yes kids, there was a time before COVID-19) that was going to be how we enforced write order to Fedora. To ensure that in the case of two instantaneous edits we didn't end up with the wrong state in Fedora compared to Drupal we would check that the counter of the new write was one more than the counter of the current document. It may not be needed anymore but we haven't done a

[2020-06-01 15:35] seth-shaw-unlv commented on #1529
It is totally do-able. We've chatted about it before on #862.

There is the existing [rdfui module](https://www.drupal.org/project/rdfui) although it hasn't been updated in 3 years. I think the limitation on that module was that it was Schema.org centric. I suppose someone (not me) could volunteer to take over that project and bring it up to where we need it to be?

[2020-06-01 23:26] mjordan opened #1531 "URIs for Resource Types vocabulary not being loaded"
External URIs listed for the resource_types vocabulary in https://github.com/Islandora/islandora_defaults/blob/8.x-1.x/migrate/tags.csv are not being loaded. That vocabulary doesn't have an 'external_uri' field, it has 'field_authority_link' field. We should change the vocabulary's default configuration so that it uses 'field_external_uri' instead of 'field_authority_link'.

[2020-06-01 23:28] mjordan commented on #1528
Ah. Thanks for the background.

[2020-06-01 23:35] mjordan commented on #1529
@seth-shaw-unlv thanks for the reminder about that discussion.

I just tried to enable the rdfui module via drush and it 'sploded:

`PHP Fatal error:  Cannot use Drupal\Component\Utility\String as String because 'String' is a special class name in /var/www/html/drupal/web/modules/contrib/rdfui/src/Form/FieldMappings.php on line 11
 [warning] Drush command terminated abnormally.`

Given that it has

[2020-06-02 03:40] mjordan commented on #1270
PR for this was merged almost a year ago, closing.

[2020-06-02 03:40] #1270 closed, assigned to whikloj

[2020-06-02 05:04] seth-shaw-unlv commented on #1529
I enabled it a looooong time ago but not for very long. So it kinda worked at some point?

Ah, the age old question of refurbishing a fixer-upper or building a-new.....

[2020-06-02 05:36] seth-shaw-unlv commented on #1531
The resource_types vocabulary was recently updated to [use field_authority_link instead of field_external_authority_link](https://github.com/Islandora/controlled_access_terms/commit/56ba6f72fba0f39c16ae3d5dc6ca2916bbd63cd0) to bring it in line with the other vocabularies provided by the controlled_access_terms module. I would hesitate to break the consistency we just fixed.

Perhaps we should make

[2020-06-02 13:32] adam-vessey opened #1532 "Binding with fedora"
In https://github.com/Islandora/islandora/pull/742, [explicit references to configuration of Fedora in were made in code](https://github.com/Islandora/islandora/blob/1d6e42a55e6d98c36b3b7a759225dfb8f2a96225/src/EventGenerator/EventGenerator.php#L95-L96), causing warnings should a system be setup and configured without it.

[2020-06-02 13:53] mjordan commented on #1531
Whatever is the best (and agreed, most consistent) way of registering the URIs we provide in the default config.

[2020-06-02 17:15] patdunlavey opened #1533 "Bug: edtf date validation problems"
A few things in EDTFUtils::validate():

1. Line 140: The regex pattern for a date set should not have the char lists internally separated by commas. Valid multiple date set strings are not matched.
2. Line 140: I think the string `[]` should not be considered a properly encoded date string, so I think the date part match group quantity should be changed from `*` to `+`.
3. Line 141: When there is

[2020-06-02 18:15] dannylamb commented on #1529
It did totally work at some point in time. Though I've long forgotten the UI/UX. Would be nice to poke at it and see.

We've talked about this a lot. There's even a labs project with a bunch of community use cases: https://github.com/Islandora-Labs/rdfux  It'd be worth exploring these again and seeing what's relevant and what's a moonshot.

I've certainly gone down a few paths looking at this at v

[2020-06-02 22:35] mjordan commented on #1529
I was imagining that we could alter a content type field's "Edit" form to include a widget containing the RDF mapping and then persist whatever is in that field to the mapping config entity. But that's probably overly simplistic.

[2020-06-03 03:25] mjordan commented on #1528
Should I just close this?

[2020-06-03 03:54] kayakr opened #1534 "Tighten access to Islandora IIIF config form"
In Islandora 8, I notice any user with 'access administration pages' can get to '/admin/config/islandora/iiif' and change the URL. We have users with administration page access for content administration, moderation etc. that we don't want to alter site configuration. I suggest the appropriate permission is 'administer site configuration' instead.

[2020-06-03 13:43] whikloj commented on #1528
🤷

[2020-06-03 15:03] dannylamb commented on #1528
Burn it with :fire:?

We didn't implement it... and may very well never...

[2020-06-03 15:40] mjordan opened #1535 "Document how to display a term label (or other field on a term) rather than the raw term name"
It should be possible to configure Drupal to display to users a human-friendly label for a term rather than the raw term name. For example, a taxonomy comprised of ISO 639-2 language codes ('eng', 'fra', etc.) should be configurable to use a "display label" field, for example

![eng](https://user-images.githubusercontent.com/403918/83656937-07de7e80-a575-11ea-9609-fb9292a09eb8.png)

defined at the

[2020-06-03 15:55] seth-shaw-unlv commented on #1535
I would swap the thinking on this one. I would use "Name" as the equivelent of Display label and then use a separate field for the machine value. In general you would want that "Display Value" to show and the few times you want the machine value instead (a view is the most likely case I can think of) are instances where you can configure using a different entity field.

[2020-06-03 16:05] mjordan commented on #1535
Nice! I'd probably add an additional field that indicated what vocabulary/authority the code came from, so that value could be namespaced when necessary.

[2020-06-03 16:50] dannylamb commented on #1530
The committers need to have some say in this. It's just that ISLE isn't done yet, so no one can seriously evaluate it.

Personally, I think once folks try it, we'll quickly move to deprecating the playbook and the roles.  We definitely don't lose functionality, and we actually gain more in terms of setup (e.g. built in proxy frontend, everything's _truly_ decoupled, deploying remotely with docker-

[2020-06-03 16:53] seth-shaw-unlv commented on #1533
Resolved with https://github.com/Islandora/controlled_access_terms/commit/c19f743c103831e5074a2dacd41ed9c84925e3d4.

However, this reminds me that we really need to add some unit tests for validation, if nothing else.

[2020-06-03 16:53] #1533 closed, assigned to nobody

[2020-06-03 18:43] dannylamb commented on #1525
Maybe we could even add an "upload file" button?

[2020-06-03 20:36] alexkent0 commented on #1525
I am very much in favor of an admin dashboard, that makes thing even
better. +1

On Fri, May 29, 2020 at 9:32 AM Melissa Anez <notifications@github.com>
wrote:

[2020-06-04 00:28] kayakr opened #1536 "Update Drupal to 8.9.0"
https://www.drupal.org/project/drupal/releases/8.9.0

Since 8.9.0 requires PHP 7.3 this will have implications for the development VM at https://github.com/Islandora-Devops/islandora-playbook

[2020-06-04 15:00] qadan opened #1537 "Derivative actions can be created for Media Use terms with no URI"
I actually am not 100% sure what direction to go in with this, but here's the case:

* Create a Media Use term with no URI (since it's not a required field)
* Create a new, let's say 'Generate an image derivative' action
* In that new action, fill in either the Source Term or Derivative Term fields with the new Media Use
* Save the new action
* Edit the action; you'll see the Source Term or Deriva

[2020-06-04 16:12] qadan commented on #1537
This actually brings up another issue; since actions aren't using uniquely identifiable properties for the terms, you're not actually guaranteed to get the correct term back. There's nothing enforcing unique URIs either; not sure this is a use case that would ever exist, but I dunno, would it not be more correct to store the term's ID in the action?

[2020-06-04 17:26] seth-shaw-unlv commented on #1537
@qadan, we use the URIs because they allow us to share the configs across repositories. We can't rely on a term having the same tid across Drupal instances, but we can rely on the URI since we define them with the term migration.

[2020-06-04 22:51] ajstanley commented on #1537
I've set up a set of actions that extend directly from EmitEvent instead
of AbstractGenerateDerivative, that don't use Media Use tags at all.  I
select Entity Bundle and Media Source File Mimetype in the Context
selection instead.  For the use cases I was using at the time I found it to
be more dependable since it doesn't require the user to enter the right tag
on ingest.

On Thu, Jun 4, 2020 at 2

[2020-06-05 12:32] qadan commented on #1537
So I guess the point then perhaps is that if those URIs are intended to be unique to terms, this isn't really enforced in any way or communicated through UI (i.e., with a 'required' field or with validation)? Currently the forms seem volatile, or at least don't communicate their intentions, or if things go south

[2020-06-10 17:49] rosiel commented on #1525
suggestions from I8 call:
- do we need different permissions for different parts of the menu? There was a D7 dashboard that had some great flexibility... https://www.drupal.org/project/user_dashboard (-Willow)
- can we do it with blocks (as the Lightning distro does) to use the block display conditions? (-Alexander)

[2020-06-10 17:56] rosiel commented on #1529
Notes from I8 Call: resurrecting the rdfui may not be worth it? Look at the linked_data_field for an example of a pluggable config

[2020-06-10 18:01] rosiel commented on #1530
Notes from I8 Call: The "we need a bare metal possibility" use case was why we went with ansible in the first place, but it sounds like less of a pressing use case. Is there community opposition to going full-in Docker? Is there a need for a bare-metal deploy option? (at least one yes). Is it additional complexity which may influence adoption? (probably).

[2020-06-10 18:14] alxp commented on #1525
The module I mentioned in the call today was Moderation Dashboard. It lets an administrator arrange blocks for different roles that can serve the needs of each role.

This is basically an example of what you can do with Views and Panels and Page Manager, so we can even just use it as an example of how this customizability is done, without needing to be married to the content moderation workflows.

[2020-06-10 18:16] rosiel opened #1538 "Administering an Islandora"
Meta-issue to group things related to how admin users (admins) administer the Drupal side of the repo. This is a general "Admin UX" issue.

e.g. Admin menu, dashboard, UX improvements relating to migration or mapping, visibility of certain fields/pseudofields to admins, etc.

[2020-06-10 20:46] mjordan commented on #1219
@dannylamb can we close this in light of https://github.com/Islandora/documentation/issues/1528 ?

[2020-06-10 20:48] mjordan commented on #1181
@dannylamb can we close this?

[2020-06-10 21:03] mjordan commented on #1538
Some other, related meta issues:

* https://github.com/Islandora/documentation/issues/927
* https://github.com/Islandora/documentation/issues/939
* https://github.com/Islandora/documentation/issues/941
* https://github.com/Islandora/documentation/issues/942

Some (not necessarily all) related issues:

* https://github.com/Islandora/documentation/issues/886
* https://github.com/Islandora/documentat

[2020-06-11 14:35] mjordan commented on #1523
Verified these instructions work. The confusing part (at least for me) is that you have to do it for all the view modes for your content type. The fields within view modes are not managed at `admin/structure/display-modes/view` as the admin menu would suggest, they are managed within each content type:

![display](https://user-images.githubusercontent.com/403918/84398938-67f8a480-abb5-11ea-94cb-27

[2020-06-11 16:28] DonRichards opened #1540 "Add drupal/config_delete to the default config"
During a migration I change the name of a migration group and didn't realize the old configuration was still there with no obvious way to remove the old configuration for the group.

This seems to be a quick intuitive solution that should be added to the default configuration/playbooks

https://www.drupal.org/project/config_delete

![Config Delete screenshot](https://www.drupal.org/files/project-i

[2020-06-11 19:41] seth-shaw-unlv commented on #1540
Oooooo.... I had just been using the `drush php:cli` interface to load and delete configs, but this looks nice! Hey, it even has a Drupal 9 ready stable version!

[2020-06-11 19:50] seth-shaw-unlv commented on #1523
The simplest way is probably to use field_permissions.

Although, we should probably adapt the [islandora settings form submitForm function](https://github.com/Islandora/islandora/blob/8.x-1.x/src/Form/IslandoraSettingsForm.php#L222-L235) to go remove the field from the display modes that were de-selected. Let code go and fix all 50 display configs.