[2021-03-22 19:07] DonRichards commented on #1583
Is this still an issue?

[2021-03-23 02:36] kayakr commented on #1531
At the moment `islandora_defaults` module runs a migration that populates the `resource_types` vocabulary that is created by `controlled_access_terms` module. `resource_types` has `field_authority_link` whereas the migration expects to populate `field_external_uri`, per https://github.com/Islandora/islandora_defaults/blob/8.x-1.x/config/install/migrate_plus.migration.islandora_defaults_tags.yml#L2

[2021-03-23 17:02] elizoller commented on #1778
^ related to #1531

[2021-03-23 17:03] elizoller commented on #1241
@rosiel can you send what the incompatibilities are?

[2021-03-24 13:27] dannylamb commented on #1760
@Tristaan Are you still stuck on this or have your issues been resolved?

[2021-03-24 13:41] Tristaan commented on #1760
Sometimes it works, sometimes it doesn't. Keep this issue open when some
thorough testing is done.

On Wed, 24 Mar 2021, 14:27 dannylamb, ***@***.***> wrote:

[2021-03-24 14:33] rosiel commented on #1241
I'm sorry, I gave up and now stuff is blown away and will take a while to rebuild to get to that point. I was attempting to assemble the equilvalent of Islandora Defaults, but without Islandora Defaults. I was randomly using `composer require` on things, assuming from first principles composer knowledge that I could composer require our packages and they would work. Diego showed me that [specifyin

[2021-03-24 17:27] dannylamb commented on #1784
We should consider moving that (and any other offending config) from the core feature into islandora_defaults.  Or @DonRichards can give us an install profile :P

[2021-03-24 17:40] rosiel commented on #1785
There's gonna be some documentation about what is/isn't possible with these variations, so this ticket's remaining open for that.

[2021-03-26 17:41] dannylamb commented on #1784
I'm prepping for rocket surgery on this one. A drupal config transplant, if you will.  Wish me luck :rocket:

[2021-03-26 19:06] rosiel commented on #1784
no surgery needed! We proved during TAG that there is no whitescreening if the view is disabled.

I suggest: we ship this view disabled, and add to its "administrative description" that it "Requires media_of to be present on at least one media type."

[2021-03-30 13:33] mjordan commented on #1771
Resolved with https://github.com/Islandora/islandora/pull/829.

[2021-03-30 13:33] #1771 closed, assigned to nobody

[2021-03-30 14:40] alxp opened #1788 "OpenSeadragon viewer does not display for Anonymous on Drupal 9"
PR: https://github.com/Islandora/openseadragon/pull/35

## Steps to reproduce:

On Fresh Drupal 9 Islandora install (using playbook in our case)

1. Create a Repository Object and select Image for the Model and Resource Type, and 2. OpenSeadragon for the display hint.
3. Add a Media of type Image.
4. Log out and view the object node.

### Expected Behaviour

The user should see the OpenSeadragon v

[2021-03-31 00:05] mjordan opened #1790 "Creating a media via REST with the same filename as an existing file overwrites the existing file URI"
As described over at https://github.com/mjordan/islandora_workbench/issues/251, and with detailed investigation by @jordandukart in the #decoupled Slack channel, using Islandora's REST interface to create media and files as documented in the "Files and Media" section of https://islandora.github.io/documentation/technical-documentation/rest-create/ will create file URIs without checking whether the

[2021-03-31 10:54] jordandukart commented on #1790
For context (tl;dring the Slack conversation):

Both [REST's](https://git.drupalcode.org/project/drupal/-/blob/9.2.x/core/modules/file/src/Plugin/rest/resource/FileUploadResource.php#L261) and [JSON:API's](https://api.drupal.org/api/drupal/core%21modules%21jsonapi%21src%21Controller%21TemporaryJsonapiFileFieldUploader.php/class/TemporaryJsonapiFileFieldUploader/8.7.x) implementation utilizes [`get

[2021-03-31 15:10] seth-shaw-unlv commented on #1790
For derivative generation, I think this would be the *preferred* behavior, allowing me to adjust my image settings and replace the existing file with an updated on.

[2021-03-31 15:44] jordandukart commented on #1790
That function gets called even [when creating a new file](https://github.com/Islandora/islandora/blob/8.x-1.x/src/MediaSource/MediaSourceService.php#L289) unrelated to an object being updated via derivatives.

This scenario is presently really only producible if using the REST calls directly but consider the following:

- You create a node and attach a media with a file called "test.jpg", it gets

[2021-03-31 17:19] seth-shaw-unlv commented on #1788
Resolved with https://github.com/Islandora/openseadragon/commit/0fd1218f929cb4fd1537f52647f35f4248ce0fc0.

[2021-03-31 17:19] #1788 closed, assigned to nobody

[2021-03-31 20:47] seth-shaw-unlv commented on #1707
Resolved with https://github.com/Islandora/islandora/commit/d76a6644c919acaa48d59d862a4fc6e8a279be2d.

[2021-03-31 20:47] #1707 closed, assigned to nobody

[2021-04-06 17:30] alxp opened #1792 "Update playbook to Ubuntu 20.04 Focal64"
These are the pull requests that together comprise an update to run the Playbook on Ubuntu 20.04 Focal64:

Playbook: https://github.com/Islandora-Devops/islandora-playbook/pull/198

Roles:

Tomcat8: https://github.com/Islandora-Devops/ansible-role-tomcat8/pull/15
Fcrepo: https://github.com/Islandora-Devops/ansible-role-fcrepo/pull/13
Blazegraph: https://github.com/Islandora-Devops/ansible-role-bla

[2021-04-06 18:51] dannylamb opened #1794 ""Hacking on Islandora" page is outdated"
We've received a request for "plain language documentation", and this page was surfaced.  Turns out to be waaaaay back from the 7.x-2.x days.

[2021-04-06 18:52] dannylamb commented on #1794
It's riddled with elusive `CLAW`s, too.

[2021-04-07 02:57] mjordan commented on #1776
Should there be a "Media of" field on remote video? Here's what I'm seeing when I go to add one:

![image](https://user-images.githubusercontent.com/403918/113803864-418e9180-9712-11eb-9bab-e941ebf410c6.png)

[2021-04-07 05:59] mjordan commented on #1738
@manez would #1787 be a possible basic page that would get two birds stoned here?

[2021-04-07 11:14] jordandukart commented on #1776
Yep @mjordan that's part of what would need to be done to "support" this.

[2021-04-07 12:30] manez commented on #1794
Is there anything in there worth preserving?

[2021-04-07 12:38] dannylamb commented on #1794
Not really.  This page covers similar ground better: https://islandora.github.io/documentation/#try-islandora

[2021-04-09 20:11] kylehuynh205 commented on #1746
Thanks for the great suggestions from @seth-shaw-unlv  and @DiegoPino, we have developed a 'prototype' version module which works as a daemonized ReactPHP's Event Loop. This runner can be configure to run in an interval, check  if the queues have any queued jobs, then run advanced queue(s).  This will help to auto run the queues without manually running Drush command and cron job.
Please find the

[2021-04-12 00:34] kayakr commented on #1591
I've just run into this issue also, and it's present on current Islandora sandbox.
https://www.drupal.org/project/drupal/issues/3157183 is relevant as is https://www.drupal.org/project/drupal/issues/3192059

[2021-04-12 02:24] kayakr commented on #1591
The patch from https://www.drupal.org/project/drupal/issues/3192059#comment-13989559 applies to Drupal 8.9.13 ok and resolves this issue.

[2021-04-12 19:59] #1794 closed, assigned to nobody

[2021-04-12 20:02] dannylamb commented on #1194
We'll be evaluating an install profile by Born Digital created for Whitman College as part of their migration project into Islandora 8. I'm hoping we can use this ticket to track that work without creating a new one.

[2021-04-14 00:25] kayakr commented on #1531
A quick hack to populate `islandora_display` using `field_external_uri` and `resource_types` that uses `field_authority_link` is to simply target both fields at once:

[code]

[2021-04-14 13:18] dannylamb opened #1798 "Replace Travis with Github Actions where applicable"
We've taken the plunge with the main islandora module, and things have run pretty smoothly.  We should follow suit where applicable and convert out existing Travis ymls into Github Actions.

See https://github.com/Islandora/islandora/blob/8.x-1.x/.github/workflows/build-8.x-1.x.yml for an example.  It's actually the most complicated of setups we'll require, so adapting this to other repos should b

[2021-04-14 13:25] dannylamb opened #1799 "Advanced Search Module"
Using this issue to track the work of https://github.com/Islandora/islandora/pull/824 and any other follow up PRs.

[2021-04-14 14:34] #1712 closed, assigned to dannylamb

[2021-04-14 16:37] alxp commented on #1194
The Lightning project did a lot of work to make composer be able to version requirements of a Drupal profile.

Here's a starting point for a distribution that uses composer to keep track of versions and releases, and downloads the profile with all the profile's dependencies in its own composer.json which is read recursively:

The sample profile I made for Islandora is just a starting point, it's l

[2021-04-14 17:50] DonRichards commented on #1194
@alxp Thanks for this!!

[2021-04-14 18:48] dannylamb commented on #1194
Duuuuuuuude awesome! Thanks @alxp

[2021-04-15 21:26] seth-shaw-unlv opened #1800 "Crayfish Commons dependency namshi/jose is deprecated"
Crayfish [requires namshi/jose](https://github.com/Islandora/Crayfish-Commons/blob/dev/composer.json#L13). As noted by the [namshi/jose](https://github.com/namshi/jose) README: "we strongly recommend you look for a long-term alternative".

They recommend using [php-jwt](https://github.com/firebase/php-jwt) instead. I haven't looked to see what it takes to make this switch.

[2021-04-19 14:15] dannylamb commented on #1521
Using this to track https://github.com/Islandora/islandora/pull/827 for the sprint.

[2021-04-19 15:30] seth-shaw-unlv commented on #1520
I can take this for the sprint. Simply adding the namespace is simple enough, but would folks like me to go ahead and [move the namespaces to config as I suggested above](https://github.com/Islandora/documentation/issues/1520#issuecomment-634162430)? If so, should it go in the islandora module or in the JSON-LD module?

Thoughts, @Islandora/8-x-committers ?

[2021-04-19 15:42] seth-shaw-unlv commented on #1770
Just to confirm for the Sprint, @kspurgin, are we okay with [the suggestion I made above](https://github.com/Islandora/documentation/issues/1770#issuecomment-791518218) to simply update the field configs in islandora_defaults to make a blank relator mapped to "Associated name" and clean up the field formatter in controlled_access_terms to remove the colon when the relator label is blank?

[2021-04-19 16:17] kspurgin commented on #1520
I am not a committer, but +1 on making the namespaces configurable (preferably via the UI in such a way that metadata managers will be able to add namespaces as needed).

[2021-04-19 16:21] kspurgin commented on #1770
@seth-shaw-unlv - as far as I understand how this all works, yes.

The one other thing I'm hearing about this field from MIG is that the relator **code** should not be displayed, as that's meant for machine use only. Separate issue, but mentioning it in case it's easier just to fix it while you are in there

[2021-04-19 16:24] seth-shaw-unlv commented on #1770
We can take them out. I don't believe I had them there initially. I think adding them was a request from @rosiel, but my memory may be off there.

[2021-04-19 18:31] rosiel commented on #1770
Might have been me, though I'm now of the opinion that displaying the code to the public is a mistake.

[2021-04-19 19:59] seth-shaw-unlv commented on #1770
Update from Slack, @kspurgin will update the field config to include the blank option and remove the parentheses. I'll do the formatter update (probably tomorrow).

[2021-04-20 19:43] elizoller commented on #1481
i'm hitting this in our production environment without any use of the workbench module.

[2021-04-21 16:38] mjordan commented on #1481
@elizoller during a Migration?

[2021-04-21 17:10] elizoller commented on #1798
carapace done with https://github.com/Islandora/carapace/pull/25

[2021-04-21 18:45] #1531 closed, assigned to kspurgin

[2021-04-21 18:46] elizoller commented on #1770
field config changes merged with https://github.com/Islandora/islandora_defaults/pull/50

[2021-04-21 18:47] elizoller commented on #1481
yes

[2021-04-21 18:49] kspurgin opened #1801 "Note inclusion of deprecated relator terms in default Linked Agent field config in metadata documentation"
When we remove parenthetical info from display labels in Islandora/islandora_defaults#50 we remove any obvious indication that some of the relationship type terms provided by default are deprecated terms.

Add mention of this to the metadata documentation and note the terms, so individuals may do what they will with this info: ignore it, delete deprecated terms, keep them but add indication of dep

[2021-04-21 18:50] kspurgin commented on #1801
@rosiel - do you have feelings about whether this is a good idea or not, or suggestions/opinions on the best way to do it?

[2021-04-21 19:01] elizoller commented on #1770
formatters changes merged with https://github.com/Islandora/controlled_access_terms/pull/64
@seth-shaw-unlv and @kspurgin can this one be closed?

[2021-04-21 19:03] elizoller commented on #1733
https://github.com/Islandora/carapace/pull/25 with copied work from https://github.com/Islandora/carapace/pull/24 thanks @nigelgbanks ! gives us carapace support by depending on a d9 ready fork of adaptive theme
although it may not be the default theme anymore, this support at least allows sites using carapace to keep up to date and run on d9

[2021-04-21 19:03] #1733 closed, assigned to seth-shaw-unlv

[2021-04-21 19:09] elizoller commented on #1681
I think this can be closed now

[2021-04-21 19:09] #1681 closed, assigned to nobody

[2021-04-21 19:09] #1680 closed, assigned to nobody

[2021-04-21 19:28] seth-shaw-unlv commented on #1770
👍

[2021-04-21 19:28] #1770 closed, assigned to kspurgin, seth-shaw-unlv

[2021-04-21 20:34] seth-shaw-unlv commented on #1748
So, ProfessionalWiki/EDTF looks nice. We could burn most of our code and it gives us a bit more functionality than we already have. I'm especially interested in the min and max functions it provides.

However, it requires PHP 7.4. *I think* this is fine for new installs of the next release. Existing sites that want to upgrade their islandora should be fine, but they wouldn't be able to upgrade the

[2021-04-21 20:45] DiegoPino commented on #1748
@seth-shaw-unlv we are using it in Archipelago and its a great choice.

[2021-04-22 04:26] seth-shaw-unlv commented on #1748
I mentioned to @kspurgin above [that we needed tests for identified issues](https://github.com/Islandora/documentation/issues/1748#issuecomment-774164206). Turns out that [we already _do_ have tests](https://github.com/Islandora/controlled_access_terms/blob/8.x-1.x/tests/src/Kernel/EdtfUtilsTest.php), we just need to add these to the list. We've had this initial test set since last September. 🤦‍♂️

[2021-04-22 16:51] rosiel commented on #1801
No idea. This seems like something that a report could display, as the only reason we want it is as a "todo" flag to the site admin / metadata person. I'm 100% for not displaying it to the public. With the key|label format, we don't have anywhere in the field to put this information... which means that when we strip it out, there's nothing telling a person who sees "Vocalist" in the dropdown that

[2021-04-22 17:18] seth-shaw-unlv commented on #1801
Well, the main reason we left deprecated values in there is to allow sites to import their legacy data and still be able to display sane labels for those values. That said, ideally a site with these old relators would _fix_ these values and then remove them from the field config so they don't add _more_ entries with that relator.

So, do we make it easy to bring in legacy data with the risk that n

[2021-04-23 15:05] kspurgin commented on #1801
Ok, so I may be missing something huge about all this, so bear with me.

Is there reason that relators (which is a vocabulary) has to be managed as a list in a field definition, rather than as a vocabulary?

Because if relators were a Taxonomy vocabulary this seems like maybe there's an elegant way around this and several other issues.

Here's how I was initially thinking of this, anyway:

- There

[2021-04-23 15:47] kspurgin commented on #1801
Side thought:

These external vocabularies we rely upon change. There's already stuff like @rtilla1 raised here: https://islandora.slack.com/archives/CM9CVQWJ0/p1618102646022300

Looking long-term, it's unreasonable and backward to expect individual institutions to manually track and manage these changes.

Systems that leverage external vocabularies  and deal in linked data will need some kind of

[2021-04-26 14:36] rosiel opened #1804 "Document how to make facets in solr with real data"
As discussed in Slack,  making a Collection facet using field_member_of has some problems. Namely, it's used for collections as well as children, so the facet shows things that aren't collections. Options include creating a custom processor to filter by bundle, or creating a custom solr field that recurses up ancestors.

Let's put this in the docs!

Discussion: https://islandora.slack.com/archives

[2021-04-26 15:49] nigelgbanks commented on #1804
For reference this is partially documented here: https://github.com/Islandora/islandora/tree/8.x-1.x/modules/islandora_advanced_search#configure-collection-search

[2021-04-26 21:09] seth-shaw-unlv commented on #1801
Nope. No reason at all. To make the change would just require someone to modify the field type, widget, and formatter and create an update hook (which, honestly, might be the hardest part). It might be easier to create a parallel field type/widget/formatter so existing sites can migrate themselves if they want.

[2021-04-27 16:09] dannylamb opened #1805 "Provide map highlighting contrib modules that can replace Islandora 7 modules"
@edlington mentioned this at the Open meeting on April 27th.

It would be good to provide this information to users coming from Islandora 7, since many modules have no direct replacement from Islandora and we just use contrib modules.  This would be good to go alongside our technical roadmap.

[2021-04-28 01:35] dannylamb commented on #1520
Resolved via https://github.com/Islandora/islandora/commit/56444554ef69e050e985f23ec5af688e753a8535 and https://github.com/Islandora/jsonld/commit/b7acb80a8793a35f3d688acbf12c9334a9fc59b8

You can now configure namespace prefixes through the UI in jsonld's config page.  Be sure to run the update hook after fetching the newest code.

We should make note to that effect in https://github.com/Islandor

[2021-04-28 01:35] #1520 closed, assigned to seth-shaw-unlv

[2021-04-28 01:46] dannylamb opened #1806 "Colons in predicates are problematic"
Discovered during today's open meeting.  We tried to set `field_description` to https://www.wikidata.org/wiki/Property:P7535 and in the jsonld we got `wikidate:Property` instead of `wikidate:Property:P7535`.

As a temporary fix, I could url encode the colon and we got `wikidata:Property%3AP7535`, but that feels crude. There's a couple places in the jsonld module where we explode predicates on colo

[2021-04-28 10:21] Tristaan opened #1807 "Islandora 8 - Drupal not generating FITS metadata and thumbnails"
Hello,
I have a problem where the thumbnails are not generated (pdf and image). It does not work on media creation and when executing the action manually. I do use the Original file checkbox as should be. There are no errors displayed, just that it executed successfully.
I use isle-buildkit and a modified DEMO codebase.
How can I debug this?

[2021-04-28 11:27] sergejzr opened #1808 "Installation documentation does not match current crayfish repository"
Good day!
I am about installing Islandora on a fresh machine and run itno following issue - on the documentaion page (https://islandora.github.io/documentation/installation/manual/installing_crayfish/) it said, I should do

 sudo -u www-data composer install -d crayfish/Gemini

But Gemnini does not exist in the HEAD brunch. I tried to pull the master brunch , but this complains about composer vers

[2021-04-28 14:40] dannylamb commented on #1799
Resolved via https://github.com/Islandora/islandora/commit/6d2ad0ecf4b42445daae34712b3d13f6d7a48f7c

[2021-04-28 14:40] #1799 closed, assigned to nobody

[2021-04-28 17:32] kspurgin commented on #1801
Ask MIG/metadata slack channel which of the following options we prefer:

- Note the deprecated terms in the field documentation that shows in the form.
- Add the `(deprecated)` back to the deprecated terms (at least this is human-meaningful)

[2021-04-28 17:43] kspurgin commented on #1806
Adam pointed at this as the place to fix: https://github.com/Islandora/jsonld/blob/b7acb80a8793a35f3d688acbf12c9334a9fc59b8/src/Normalizer/NormalizerBase.php#L60

[2021-04-28 18:17] DonRichards commented on #1807
@Tristaan I've ran into this several times. This is typically a sign that something is not running correctly or and trigger is misconfigured. .... or a several a few other things.

Random order of stuff to look at
* Logs, Drupal logs, microservice logs, Apache logs, etc.
  * `$ cat logfile.log | grep error` something like this
* Check your actions, here's an example [/admin/config/system/actions/c

[2021-04-29 14:44] mjordan opened #1810 "Playbook build fails when deploying Matomo"
Building a Playbook has failed three times in a row for me, here:

[code]
Both `unzip` and `tar` are available on the VM and execute normally.

I manually downloaded the zip file in question, https://builds.piwik.org/piwik-3.6.0.zip, and it unzips fine on the VM. The md5 of the file fetched by Ansible is 7334d8b1ec7ea74c07e1a9b9b73fd285, whereas the md5 of the manually (and sucessfully unzippable)

[2021-04-29 14:54] mjordan commented on #1491
Closing this, PR was merged long ago.

[2021-04-29 14:54] #1491 closed, assigned to nobody

[2021-04-29 14:55] mjordan commented on #1359
@manez, where do recipes fit into the DIG's current workplan?

[2021-04-29 14:59] manez commented on #1359
@mjordan https://github.com/Islandora-Labs/Islandora-Cookbook is still the home base for recipes. We've talked about evaluating whether those should get rolled into the main docs at some point, but that's pretty far ahead, and would build from what's in the github repo anyway.

[2021-04-29 15:03] mjordan commented on #1359
OK, thanks. I'll write up a recipe and open a PR on that repo.

[2021-04-30 16:46] ajstanley opened #1811 "JsonLD Configuration is unexplained"
The new config option for JsonLD are excellent, but you can't tell how to format without reading the code.
I'd like to add a brief description, plus a listing of all currently available namespaces and their prefixes.

[2021-04-30 23:48] seth-shaw-unlv commented on #1811
Resolved with https://github.com/Islandora/jsonld/commit/a3cfb1fed21085769351381ed7890f8f532a2320.

[2021-04-30 23:48] #1811 closed, assigned to ajstanley

[2021-05-01 18:27] ajstanley commented on #1806
PR is in

[2021-05-03 15:43] wgilling commented on #1171
Ok - now there are two separate pull requests that should put all of the tokens under either `controlled_access_terms` or `islandora` depending on the token's dependencies. These are: https://github.com/Islandora/controlled_access_terms/pull/66 and https://github.com/Islandora/islandora/pull/836

[2021-05-03 16:00] seth-shaw-unlv commented on #1806
Resolved by https://github.com/Islandora/jsonld/commit/dfd99c4c1beac54efc0eaa6cdbadc01d4918fd6c

_Side note:_  while reading [the Wikidata documentation on namespaces](https://www.wikidata.org/wiki/Help:Namespaces) it occured to me that Wikidata _wants_ separate namespaces for each type. After all, they provide their own [table of namespaces](https://www.wikidata.org/wiki/Help:Namespaces#Table_of_

[2021-05-03 16:00] #1806 closed, assigned to ajstanley

[2021-05-03 17:48] elizoller commented on #1798
i may have gotten to all of them?

[2021-05-03 20:09] kspurgin commented on #1806
I think realistically the only Wikidata namespaces I can imagine being used in metadata in Islandora are P/Property and Q.

[2021-05-03 20:10] kspurgin commented on #1806
FWIW, and fun, I just ran across another linked data source ([PeriodO](https://perio.do/guide/)) with URIs like: http://n2t.net/ark:/99152/p0323gxv8wc

Where http://n2t.net is [a public resolution service for identifiers](http://n2t.net/e/n2t_apidoc.html), and http://n2t.net/ark:/99152 is the Name Assigning Authority, http://n2t.net/ark:/99152/p0 is the PeriodO data set prefix, http://n2t.net/ark:

[2021-05-03 20:16] kspurgin commented on #1806
Oh, ha! [Islandora is a development partner of N2T.net](http://n2t.net/e/partners.html) so we should probably make sure we support their patterns of things.

[2021-05-03 20:18] ajstanley commented on #1806
We should be good - adding the limit of 2 means you get two chunks - $exploded[0] which has everything before the first colon, and $explode[1] which has everything after.

[2021-05-03 20:24] kspurgin commented on #1806
Ok, yep, so if you have a namespace configured:

p0|http://n2t.net/ark:/99152/p0

And somewhere you have values set up using that namespace:

p0:323gxv8wc

There's only one colon in the value definition, so not a problem.

And this should get mapped out as http://n2t.net/ark:/99152/p0323gxv8wc and not http://n2t.net/ark:/99152/p0/323gxv8wc or something...?

[2021-05-03 20:52] seth-shaw-unlv commented on #1806
Yes. If you want a slash between the namespace and the property, you need to add it to the namespace yourself.

[2021-05-04 14:48] mjordan opened #1812 "Islandora adds a lot of 404 entries to the Drupal log"
Islandora's distributed, asynchronous architecture leaves a lot of 404 entries in the Drupal log. These are mainly (exclusively?) in the form `/media/133?_format=jsonld`. Requests to the media in question eventually return a 200.

I'd like to propose that we allow admins to filter these messages out of their logs using Drupal's cron. Basically, for all media 404s, some code would confirm that the

[2021-05-04 18:34] dannylamb opened #1813 "Split up the rdf mapping report"
Follow up to https://github.com/Islandora/islandora/pull/835

The display of all the rdf mappings may eventually crash on a large enough system.  @elizoller suggested leaving the content types on a single page, but providing links to each vocabulary so it can be on its own page.  That should sufficiently break apart the content so too much is never rendered onto a single page.

[2021-05-04 18:34] elizoller commented on #1521
closed with https://github.com/Islandora/islandora/pull/835

[2021-05-04 18:34] #1521 closed, assigned to nobody

[2021-05-05 04:15] mjordan commented on #1810
Build is now succeeding (not sure why) but now when I visit http://localhost:8000/matomo/ I am getting the following error:

![image](https://user-images.githubusercontent.com/403918/117096345-9fb49180-ad1d-11eb-9e0d-dc1679bbc499.png)

@seth-shaw-unlv I think you've been building VMs for testing some PRs. What do you see when you visit http://localhost:8000/matomo/?

[2021-05-05 05:34] seth-shaw-unlv commented on #1810
The one I built 2 weeks ago is showing the same error. I was curious so I also spun up my performance testing image I built back in January and it shows the same error. I have an even older image I built back in mid-June which works fine... so the error crept in sometime between last June and January.

[2021-05-05 14:27] mjordan commented on #1810
OK, thanks, that's helpful, it's not just me. I resolved that error by deleting the matomo db and manually reinstalling. But I don't know what caused the initial error.

We probably should ship with Matomo is 4.2.1. I'll bring it up at today's tech call.

[2021-05-05 17:18] mjordan commented on #1813
2021-05-05 Tech Call consensus that separating out each vocab into its own tab, and within each tab, provide pagination to reduce load on Drupal.

[2021-05-05 17:20] mjordan commented on #1812
2021-05-05 Tech Call consensus: create a module that makes this cron-based log cleanup a toggle-able option. Consider later if we want to roll it into a core Islandora module.

[2021-05-05 17:20] mjordan commented on #1810
2021-05-05 Tech Call consensus: update Matomo role to use 4.2.1 and see if that resolves the issue.

[2021-05-05 18:46] dannylamb opened #1814 "Testing slack integration"
This is crazy

[2021-05-05 18:47] elizoller commented on #1814
@dannylamb  are you a bitcoin miner?

[2021-05-05 18:53] dannylamb commented on #1814
Just a man going rouge in slack.

I made this issue with `/github open islandora/documentation` from slack

[2021-05-05 18:54] dannylamb commented on #1814
I'll close this now, lol

[2021-05-05 18:54] #1814 closed, assigned to nobody

[2021-05-05 20:09] mjordan opened #1815 "New multi file batch uploader feature creates only one set of derivatives"
The new "Batch upload media" option is awesome, but in its current incarnation needs to be used with the following in mind: if you tag the media with "Original File", you only get one set of derivatives. In other words, not every file you upload will get its own set of derivatives. Here's a screenshot of the media for a node where I uploaded two files, with "Original File" selected:

![image](http

[2021-05-05 20:34] elizoller commented on #1798
they are all merged! @dannylamb maybe can be closed?

[2021-05-06 15:18] mxMiles commented on #1640
It'd be wicked helpful if there was a link or something to how to install ubuntu on a windows machine.
(Hi! I have a newish desktop and this is the first techie thing I've tried installing locally. I'll post what pain points I encounter as I encounter them.)

[2021-05-06 17:08] #1798 closed, assigned to dannylamb

[2021-05-07 14:01] mjordan opened #1817 ""pcdm" namespace is not registered by default"
The "pcdm" namespace needs to be registered by default. Here's a list of all registered namespaces in a vanilla Islandora:

![image](https://user-images.githubusercontent.com/403918/117460934-e367f080-af01-11eb-9ba9-11a8e5ae5f64.png)

[2021-05-07 17:38] mdlincoln opened #1818 "field_genre in islandora_defaults points to an undefined "genre" taxonomy"
As far as I can tell, when `field_genre` was added to Islandora defaults, [it referenced a `genre` taxonomy](https://github.com/Natkeeran/islandora_defaults/blob/531bca75fe706e9777f65bebd5aa6990e573fed5/config/install/field.field.node.islandora_object.field_genre.yml#L7). But the taxonomy itself isn't defined in that module. So when we install the module now, we get the field but no taxonomy with

[2021-05-07 17:45] mdlincoln commented on #1818
I see now this shows up in https://github.com/Islandora/controlled_access_terms/tree/8.x-1.1/modules/controlled_access_terms_defaults/config/install but for some reason it's not getting installed when we try to build ISLE?

[2021-05-07 18:23] seth-shaw-unlv commented on #1818
Perhaps you are pulling the 1.0.0 tag?

[2021-05-07 18:25] seth-shaw-unlv commented on #1818
Or perhaps you are not enabling the controlled_access_terms_defaults submodule?

[2021-05-10 19:31] mdlincoln commented on #1818
I can see the genre taxonomy definition yml file at `codebase/web/modules/contrib/controlled_access_terms/modules/controlled_access_terms_defaults/config/install/taxonomy.vocabulary.genre.yml`

Trying to run `drush en controlled_access_terms` or `drush en controlled_access_terms_defaults` just returns a message that both modules are already enabled, and doesn't seem to add the Genre taxonomy.

[2021-05-10 19:49] hachacha commented on #1818
I just tried uninstalling and reinstalling then running the `drush cim` to see what the config looks like and it's suggesting that this field should be deleted.
So does that imply that it's always being deleted when trying to install? Should it be exported first?

[2021-05-11 18:23] nigelgbanks opened #1819 "Islandora Advanced Search Module Ajax does not work if no facets are used on the search page."
Current theory is that the following files:

https://github.com/Islandora/islandora/blob/8.x-1.x/modules/islandora_advanced_search/islandora_advanced_search.module#L48-L59

Which override ones provided by the Facets module contain the required code for triggering Ajax requests. If no facets are used the file is not included.

The logic should be moved out to a separate file that gets included via

[2021-05-12 14:38] dwk2 opened #1820 "ISLE 8 installation is missing the document media type and related field configs"
Our ISLE 8 installation (originally a `demo` install, then updated to a `local` install) is missing the following document media type and related field configs:
- media.type.document.yml
- core.entity_form_display.media.document.default.yml
- core.entity_view_display.media.document.default.yml
- core.entity_view_display.media.document.pdfjs.yml
- field.field.media.document.field_file_size.yml
- fi

[2021-05-12 14:45] dwk2 opened #1821 "Minimum RAM requirements for ISLE is 16GB"
It needs to be clearly documented that the minimum RAM requirements for ISLE is 16GB. We had tried 8GB for the ICG test Islandora 8 site and consistently experienced erratic behavior in which the Docker service would cease functioning correctly. Updating this (thank you Noah Smith!) to 16GB enabled reliable uptime.

[2021-05-12 15:38] hachacha commented on #1820
Is this possibly related to #1818 ?
And if there are missing configs is it the proper solution to _manually_ add the yml files to the config/sync directory?
@dwk2 do you have all of your controlled_access_terms configs available to you such as the genre taxonomy term?

[2021-05-12 15:46] seth-shaw-unlv commented on #1818
Uninstalling controlled_access_terms_defaults won't purge the configs. (It is designed to be enabled once and then disabled, leaving the configs behind, like search_api_solr_defaults.) The best way to manage missing configs is to export your configs (`drush cex -y`), copy the missing configs into config/sync, and then re-importing them (`drush cim -y`).

[2021-05-12 15:53] seth-shaw-unlv commented on #1820
@hachacha , there is a good chance. With the different ways you can get a site up with isle_dc and how much flux it has been through in the last few months there is a good chance something slipped through the cracks.

As to your second question, I just commented on the related thread, but using the config/sync to address missing configs is certainly the most _reliable_ way of getting them in there

[2021-05-12 16:25] nigelgbanks opened #1822 "Explore if Islandora Advanced Search Module can be used with database backend as well as solr backend"
At the moment only the solr backend is supported, this will likely take some work.

- Is recursive collection based searches even possible without solr aggregated field?
- AND/OR/NOT searches?
- Facets?

[2021-05-12 17:36] mjordan commented on #1815
Related issue is #1242 in that it asks about how to render all media of a given Use where those media exist.

[2021-05-12 18:12] kspurgin commented on #1818
Same issue @mdlincoln is reporting was in the sandbox @dannylamb set up for MIG use.

I didn't realize the genre taxonomy was set up outside islandora_defaults, so I set up that taxonomy in islandora_defaults in the config changes that came out of the MIG sprint.

Danny has those config changes, but they haven't been merged anywhere. But just noting that there is now a duplicate genre taxonomy def

[2021-05-12 19:35] dwk2 commented on #1820
In case it's of interest or useful for documentation, these are the steps I used to add the missing files (much thanks for help from @seth-shaw-unlv):

# ISSUE: Missing Files: ISLE 8 install missing the following Document media type and related field configs:
[code]

# SOLUTION:

[code]

# Docker into container
`docker exec -it isle-dc_drupal_1 bash`

# Export all your current configs into config/

[2021-05-12 20:57] seth-shaw-unlv commented on #1817
I spun up a fresh playbook using the ubuntu base and it looks fine:
<img width="780" alt="Screen Shot 2021-05-12 at 1 53 11 PM" src="https://user-images.githubusercontent.com/29869988/118043070-bf554680-b329-11eb-9806-3722c4d634b0.png">

Here is the JSON-LD config page:
<img width="584" alt="Screen Shot 2021-05-12 at 12 32 10 PM" src="https://user-images.githubusercontent.com/29869988/118042942-91

[2021-05-12 20:59] mjordan commented on #1817
Weird - I built it using a standard `vagrant up` in the Playbook, on May 4. Given that date, could there have been updates to the relevant modules that would explain the missing namespaces in my build?

[2021-05-12 21:07] seth-shaw-unlv commented on #1817
The last playbook commit was on April 28th.

Perhaps you used the "islandora/8" base box (which is built on 1.1.0) instead of changing the base box to "ubuntu/focal64"? But then you shouldn't have had that report available, unless you checked out the most recent version of islandora_defaults after it completed provisioning. In that case, you need to update jsonld at the same time (well, jsonld's u

[2021-05-12 21:11] seth-shaw-unlv commented on #1818
I just spun up the islandora-playbook using the ubuntu/focal64 base box and the genre vocabulary is present... so something is happening with the installer if the genre vocabulary is missing in your build.

[2021-05-12 21:20] mjordan commented on #1817
Right, I did build with "ubuntu/focal64", sorry for not indicating that earlier. However, I don't recall checking out any newer code after building. Let me build a new box on "ubuntu/focal64" and confirm no new code checkouts to see what happens.

[2021-05-12 21:30] mjordan commented on #1817
Ha, just cloned down a fresh copy of islandora-playbook and am seeing this error after `vagrant up`ping (and changing to 'ubuntu/focal64'):

[code]

`git diff` shows the following:

[code]

[2021-05-12 21:37] seth-shaw-unlv commented on #1817
The last update to post-install.yml was on April 8th. It worked fine for me just now. I have no idea why it is complaining to _you_. 😕🤷‍♂️

ansible version? I have 2.9.9.

[2021-05-12 21:38] mjordan commented on #1817
2.5.1. Let me upgrade it. Sigh.

[2021-05-12 21:39] mjordan commented on #1817
Which I can't do: "ansible is already the newest version (2.5.1+dfsg-1ubuntu0.1)".

This evening I'll build on my laptop that has what is probably a newer version of ansible.

[2021-05-12 21:39] kspurgin commented on #1818
My build was the sandbox Danny spun up for MIG. 🤷🏻

[2021-05-12 22:00] seth-shaw-unlv commented on #1818
@dannylamb, what did you use to spin up the MIG box? The islandora/8 base box or isle_dc?

@mdlincoln, did you use the islandora-playbook or isle_dc for your site? If isle_dc, which make option did you use?

[2021-05-12 23:31] mjordan commented on #1817
My build wth ansible 2.9.6 died at deploying Matomo again exactly as described in #1810. I'm too tired to try again, so based on your successful build, I'm happy to label this current issue as "can't replicate."

[2021-05-14 17:53] dannylamb opened #1824 "isle-dc and M1 mac"
Our first user appeared in `#support` on Slack with issues.  Both `make demo` and `make local` end with all containers going down other than Traefik and exiting with

[code]

This issue is to track troubleshooting and fixing running isle-dc on new M1 macs.

[2021-05-14 19:38] alxp opened #1825 "In media migrate, error "Call to function getMimeType() on null."
If a media's source file isn't loading properly, a PHP error occurs and the migrate process halts.

In src/Plugin/Condition/MediaSourceHasMimetype.php:

[code]

Add a check to $source_file to make sure it is not null before calling the function.

[2021-05-14 20:43] seth-shaw-unlv commented on #1825
We actually do something very similar in the [MediaHasMimetype condition](https://github.com/Islandora/islandora/blob/8.x-1.x/src/Plugin/Condition/MediaHasMimetype.php#L153-L156):
[code]

[2021-05-14 20:57] rosiel commented on #1821
That may be. And at the same time that's ridiculous. Personal computers that large are cost-prohibitive (especially under the new Mac M1 architecture), and institutions also shouldn't have to furnish/pay for so many resources to be available. What percentage of the running time do we actually need all this scaled-up infrastructure? Can't we find a way to develop and work with less?

[2021-05-16 16:09] mjordan commented on #1821
Unless you specifically need to be developing/testing ISLE (valid requirement), Islandora Playbook runs comfortably in 8 GB.

[2021-05-18 07:50] hachacha opened #1826 "facets not appearing in search results in latest isle-dc"
I noticed the other day that facets were not appearing in search results when building form the ilse-dc repository. this happens with both `make local`  while using a codebase that was created from the make-local-from-demo codebase output and the au naturel  `make demo` . i see the space for it in the templates but it does not populate with the demo content's subjects.

I see it is working on the

[2021-05-18 19:26] alxp opened #1827 "islandora_base_theme image field template preprocess drops image URL"
Investigating why Media pages of images seem to all have broken images in islandora_base_theme.

I found this template preprocess function that adds an IIIF viewer to the image field.

In the preprocess function we find:

[code]

My file URL does not contain a ? so the part inside the if statement is always replacing the URL with FALSE.

[2021-05-19 13:16] dannylamb commented on #1825
Resolved via https://github.com/Islandora/islandora/commit/cf82e8f392c081221781fd568cfc11d1bde7fd87

[2021-05-19 13:16] #1825 closed, assigned to nobody

[2021-05-19 13:36] dannylamb commented on #1827
Those changes are straightforward.  I wouldn't be surprised to bump into other issues with this along the way.  Which makes me not too receptive to this feature.  Feels like we're doing it just to say we use IIIF, and it's not neccessary considering we already generate image styles :shrug:

[2021-05-19 14:52] alxp opened #1828 "islandora_base_theme: Severe scrolling problem on mobile (iOS)"
Was wanting to test the theme on my mobile device (iPhone 11, iOS 14.5.1). But I was unable to log in because when I scrolled the page, it would either pop back up to the top or the whole page contents would disappear.

I've attached a movie with this behaviour. I am not familiar with debugging such behaviour on-device so I don't have any educated guesses as to the cause.

https://user-images.gith

[2021-05-19 16:13] hachacha commented on #1818
@seth-shaw-unlv I work with @mdlincoln
We are using isle-dc. We used the `make local` option after creating the codebase from the `make-local-from-demo` branch.
I had tried using the islandora-sandbox as the codebase and then using make local but ran in to some issues with the install -- I can speak to that more in a different issue if appropriate

[2021-05-19 16:44] seth-shaw-unlv commented on #1818
I'm not very familiar with isle_dc and I'm in a training most of today and the next two days, so I'm probably not the best person to move forward with this. I put out a call on the isle channel of the Islandora Slack, so hopefully someone will be able to give it a look.

[2021-05-19 16:59] alxp commented on #1828
Confirming that this is also a problem in the base bootstrap theme.

Propose that fixing this is over our heads and we probably should abandon this theme stack

[2021-05-19 17:24] mjordan commented on #1821
Tech call 2021-05-19: Contradictory experience in the field. Needs more investigation, particularly the minimum requirements for dev laptops and dedicated servers.

[2021-05-19 17:29] dannylamb commented on #1826
I think by default it's set up to show subjects (amongst other things).  Are you adding subject tags to your repository content.  I think if there isn't any subjects defined it will not show the facet block.

[2021-05-19 17:29] dannylamb commented on #1826
If not... it's a misconfiguration on our end.

[2021-05-19 17:45] dannylamb commented on #1828
Is there any @Islandora/8-x-committers who'd be willing to test / confirm this?

[2021-05-19 18:09] hachacha commented on #1826
here's a screenshot of the search page of `make demo` using that content and not our own.
![image](https://user-images.githubusercontent.com/1020384/118860902-e7a0f000-b8a9-11eb-927a-8a4a263e63a0.png)
you can see the facets portion in the html is not being filled out
we have subjects attached to the demo content...
![image](https://user-images.githubusercontent.com/1020384/118861118-2636aa80-b8aa-

[2021-05-19 22:43] kayakr commented on #1826
@hachacha Can you visit the solr admin and confirm the subject field values are in the Solr index?

[2021-05-19 22:49] kayakr commented on #1828
FYI, I'm not seeing this issue at https://archivescentral.org.nz/user/login but we're on Bootstrap Barrio with Bootstrap 4.x

[2021-05-20 16:40] hachacha commented on #1826
@kayakr  yep yep
![image](https://user-images.githubusercontent.com/1020384/119016999-8be96c00-b968-11eb-8246-e7a0dbd3a508.png)

[2021-05-26 16:05] dannylamb opened #1834 "migrate_islandora_csv documentation doesn't tell you to import the feature."
Someone on the list ran into this: https://groups.google.com/d/msgid/islandora/4b3c51e1-0830-445a-a6fe-04f38c3811cbn%40googlegroups.com?utm_medium=email&utm_source=footer

We just need to tell you to run `drush fim migrate_islandora_csv` in the installation instructions.

[2021-05-26 16:37] alxp opened #1835 "Move 'standard' profile projects into Islandora-Devops"
The islandora-playbook project, specifically the changes currently living in the "install_profile"  branch, now lets a user specify a particular composer project and install profile in their Vagrant variables.

A user can run the playbook to install either 'islandora_install_profile_demo" - the in-progress work to build a more complete install profile, or "islandora_profile" - the modules original

[2021-05-27 15:25] mxMiles commented on #1640
Context: I'm SSHed into a remote shared CentOS 7 development machine. This is the first thing I've tried running using docker. I have sudo privileges.

- One thing that isn't mentioned on the docker-compose install how-to ( https://islandora.github.io/documentation/installation/docker-compose/ ) is that docker needs to be **running** (in my case,  using `systemctl start docker` ).
The "docker's no

[2021-05-27 19:44] #1835 closed, assigned to nobody

[2021-05-27 19:45] alxp commented on #1835
Repositories have been moved.

[2021-06-08 15:13] #1761 closed, assigned to nobody

[2021-06-11 19:23] alxp opened #1848 "EmitFileEvent.php: Call to undefined function getFileUri()"
There seems to be times when the function generateData is calling $entity->getFIleUri() on an object of class Media that does not have that function. This causes a white screen and interferes with generating derivatives.

Steps to reproduce:

Fresh Islandora install using the islandora_profile install profile, done via the playbook. (install_profile branch). Have not yet tested on ISLE, but probab

[2021-06-14 13:52] dannylamb commented on #1848
I juuuuuuust ran into this on Friday before clocking out for the weekend.  I was testing ISLE with `islandora_profile`.  Thanks for making the issue.

[2021-06-15 18:50] alxp commented on #1848
@dannylamb So I stopped the error by adding a check in the method above to make sure that the getFileUri() method exists before calling it. But I don't know if that's the correct solution. Should "emitFileEvent" be being called on Media entity types? I see it gets called for file entities. Should there be a check above in the function that goes through all the context reactions that determines whi

[2021-06-17 02:55] Natkeeran opened #1850 "Release Islandora IIIF as stand alone Drupal module"
Similar to [Islandora Openseadragon](https://www.drupal.org/project/openseadragon), it would be helpful to release [Islandora IIIF](https://github.com/Islandora/islandora/tree/8.x-1.x/modules/islandora_iiif) as a stand alone Drupal module.   This may provide additional visibility and use outside of Islandora.

Work involved is relatively minor.
1) Remove the islandora dependency - https://github.c

[2021-06-17 03:05] Natkeeran opened #1851 "Release Advanced Search as stand alone Drupal module"
Islandora [Advanced Search](https://github.com/Islandora/islandora/tree/8.x-1.x/modules/islandora_advanced_search) supports Boolean search for Solr indexed fields.  Currently, it does require facets and Apache Solr; however, there are tickets (https://github.com/Islandora/documentation/issues/1819, https://github.com/Islandora/documentation/issues/1822) to explore if it can be setup without facets

[2021-06-17 05:13] seth-shaw-unlv commented on #1850
We can also drop that view config into the new module's `config/optional/` directory which will auto-create it if all the dependencies are met.

[2021-06-17 16:28] kspurgin commented on #1801
MIG went with the second option given above.

Will be fixed by Islandora/islandora_defaults#52

[2021-06-18 14:18] alxp commented on #1848
Running his through a debugger, I've found that the action called "index_file_as_fedora_external_file" is being called on the Media entity, but the action itself assumes that it is getting a file entity.

It makes sense that this action would want to e performed on such a media, so we need to either:

1. Check that the action is already being called on the File entity independently, or:
2. Explici

[2021-06-18 14:33] alxp commented on #1848
After the generateData function is run, the generate event code does explicitly check the entity type and uses different logic to get the file URL.

[code]

This indicates that the ggenerateData function should do the same, in lieu of a more graceful cascade that filters entity types.

[2021-06-21 23:00] seth-shaw-unlv commented on #1756
Looking at this again, depending on how you setup the formatter settings, anything we do here would be nonsensical. These examples rely on the formatting to be middle-endian with the full month displayed. However, the default resembles the ISO format (big-endian with hyphen separators), which results in results like:

unspecified year in 1560-12-25
unspecified decade in 1500-12-25
unspecified year

[2021-06-22 02:57] seth-shaw-unlv commented on #1756
I thought I would also check how the [Professional-Wiki EDTF library](https://github.com/ProfessionalWiki/EDTF) would handle this:

[code]

Using their humanizer would improve internationalization (as we could instantiate the humanizer for the currently enabled language) while losing all configurability; but at least we could shift finger pointing to them. 😉

[2021-06-22 05:23] seth-shaw-unlv opened #1852 "Add option to ignore undated ("XXXX") and open-ended dated EDTF values in the search index"
The existing EDTF year index support currently builds an array of integer values to populate the index. By default this means that anything undated ("XXXX") results in the year "0", anything with an open beginning will go from 0 to the end year, and anything with an open end date will go from the beginning year until the current one. A site _can_ set a default open and end year for the index but u

[2021-06-22 13:46] misilot opened #1853 "GitHub IO pages are broken"
Something is up with the GitHub IO site.

For example https://islandora.github.io/documentation/technical-documentation/rest-create/ does not work but https://islandora.github.io/documentation/technical-documentation/rest-create.html does.

Google is also indexed with the clean url's so they are broken.

Also, https://islandora.github.io/ returns a 404.

I can come up with more examples if you nee

[2021-06-22 13:47] kspurgin commented on #1756
[code]

The above are better than what it's currently doing, for sure.

[code]

I guess they decided that two zeros (century) was the limit for handling with `'s`. Well, they are not *worse* than what we have now.

I was not around for discussions of needs/use cases around all the flexible configurability of the EDTF field, so not sure what to say about that tradeoff.

If we were handling it in th

[2021-06-22 16:21] Natkeeran opened #1855 "Explore the pros and cons of switching to node -> media relations from media -> node relations"
Currently, in Islandora 8 media of a digital object points to the node describing it.  Generally, in Drupal nodes point to media via the field entity relationships.

If we switch the relationship to point node -> media, this will enable us to work with Drupal's ecosystem better.
- configure display modes and displays more easily (i.e without contexts or views, use https://www.drupal.org/project/vi

[2021-06-22 16:35] seth-shaw-unlv commented on #1855
This discussion was happening back in ~~late 2017 or early 2018~~ _mid 2018_ when I first started working with Islandora, when it was still CLAW. We _started_ with Node→Media but we switched for a few reasons.

I don't recall details, but I believe it involved avoiding a "many members" problem (which was something to do with Fedora) but may not actually be a problem?

I seem to also recall there b

[2021-06-22 16:45] seth-shaw-unlv commented on #1855
So, I guess leads me to the question _how do we represent this object structure in Fedora's RDF_?

[2021-06-22 18:03] Natkeeran commented on #1855
@seth-shaw-unlv
Thank you for the feedback.

The many members problem does not show up for all the current content models.

" Media reference the node was more flexible in terms of supporting the different media uses by tagging a media rather than relying on fields" - can you please provide a specific example for this.

Are we aiming to implement [PCDM](https://github.com/duraspace/pcdm/wiki) via

[2021-06-23 15:18] adam-vessey opened #1856 "STOMP message headers are not alterable"
Looking into adjusting STOMP headers for a couple of reasons (including making things persistent from another module, to address #1857, as well as making some bigger tweaks to authentication); however, the [STOMP headers are being set explicitly](https://github.com/Islandora/islandora/blob/cf82e8f392c081221781fd568cfc11d1bde7fd87/src/EventGenerator/EmitEvent.php#L151).

As such, looking to introdu

[2021-06-23 15:19] adam-vessey opened #1857 "STOMP messages are not persistent by default"
Somewhat of an unexpected find, but STOMP messages do not survive a restart of ActiveMQ... I suppose another queue might default to persisting them, but with [ActiveMQ](https://activemq.apache.org/stomp.html):

Given there may be some depending on this behaviour... was looking for a way to alter the headers of STOMP messages; however, that does not appear to be possible: #1856

[2021-06-23 17:27] kspurgin commented on #1850
suggested module name: iiif_view_manifest (tech meeting 2021-06-23)

[2021-06-23 17:31] kspurgin commented on #1852
Ignoring XXXX for indexing seems fine to me.

Indexing `../1984` as 1984 also seems fine.

Seems like `1984/..` should index as 1984 to current year? Since generally something with a date like this is actively still being published

[2021-06-23 18:03] seth-shaw-unlv commented on #1852
Summary from the [Tech Call](https://github.com/Islandora/documentation/wiki/Jun-23%2C-2021): Yes make these configurable; also, make ignoring open beginning and open end separately configurable. Everyone seems fine with pushing the PHP requirements to 7.4 so we can use the Professional-Wiki EDTF library.

[2021-06-23 18:54] dannylamb commented on #1853
Resolved via https://github.com/Islandora/documentation/commit/76c93f5505da5d87ac532567918513c62735152c

[2021-06-23 18:54] #1853 closed, assigned to nobody

[2021-06-23 19:26] Natkeeran opened #1858 "Does any one use another property/field other than field_member_of for paged content?"
Currently, we use field_member_of to indicate collection membership as well as part of or page of membership.  One would need to check the system property field_model to determine the type of relationship.

Using the same property causes some issue related to search and views:  https://github.com/Islandora/documentation/issues/1804
The other issue is related to jsonld representation.

What is the

[2021-06-23 19:43] hachacha commented on #1826
have there been any updates or insights on this? @kayakr @daniel-dgi

[2021-06-23 20:56] kylehuynh205 commented on #1851
Just note which I mentioned during our Tech call today, the two things which I found Advanced Search sub-module requires components from Islandora Core module are:

- "node_has_term" is located at https://github.com/Islandora/islandora/blob/cf82e8f392c081221781fd568cfc11d1bde7fd87/modules/islandora_advanced_search/islandora_advanced_search.module#L90-L99, which prevent the Advanced Search block to

[2021-06-24 16:18] jordandukart opened #1859 "Move EDTF validation to a constraint"
Currently all the validation for the EDTF lives in the [widget](https://github.com/Islandora/controlled_access_terms/blob/8.x-1.x/src/Plugin/Field/FieldWidget/EDTFWidget.php#L116-L130). While this works splendidly through the UI if another point of ingest is used (Workbench/REST/JSON:API etc) this validation will not get fired and can be inconsistent in the following scenario:

- A user ingests an

[2021-06-25 21:15] seth-shaw-unlv opened #1861 "Derivatives not indexing in Fedora 6 correctly"
For the Testing Sprint I created an audio item with a WMA file (I had to change the acceptable extensions). That saved to Fedora just fine. The derivative MP3 was also created and associated with the object as expected:
<img width="784" alt="Screen Shot 2021-06-25 at 2 10 27 PM" src="https://user-images.githubusercontent.com/29869988/123485529-261f7e00-d5bf-11eb-8569-5097b3bb26fb.png">

However, w

[2021-06-28 12:50] dannylamb commented on #1861
Confirmed, just with derivatives. Not sure what's going on here but I'll start looking at the logs.

[2021-06-28 12:59] dannylamb commented on #1861
Milliner logs are full of errors, but I think this is the source error here.

[code]

This should be an easy fix.  :crossed_fingers:

[2021-06-28 13:11] dannylamb commented on #1861
It's getting an allowed external content url with `http` and not `https`.  Somehow the actual value supplied isn't getting  used and it's relying on an erroneous default value.

In my `docker-compose.yml` I've got

[code]

But on the container I've got

[code]

I need to update the default value to use https and also figure out why the supplied value is not getting used.

[2021-06-28 13:39] dannylamb commented on #1861
...or not.  Turns out to be a way simpler fix. I was literally looking at the wrong docker-compose.yml file :man_facepalming:

PR Incoming

[2021-06-28 14:23] dannylamb commented on #1861
Well... almost.  I need to update a template in `isle-buildkit` and building is failing for me locally due to spotty keyservers.

[2021-06-28 14:25] joshdentremont opened #1862 "Islandora Defaults not running migration called "Tags migration for islandora_defaults feature""
When installing Islandora Defaults it creates a migration called "Tags migration for islandora_defaults feature" but it doesn't seem to execute this migration automatically. It works fine when I execute it manually, but until you do that the OpenSeadragon and PDFjs contexts do not work (and give an error when you try to edit them) and you are unable to use the OpenSeadragon and PDFjs viewers becau

[2021-06-29 19:37] kspurgin opened #1863 "Produce a programmatically usable list of nodes deleted from an Islandora instance"
| Title (Goal)  | Remove deleted Islandora content from systems that harvest info from Islandora                        |
--------------- |------------------------------------                           |
| Primary Actor | Staff responsible for system integrations at an institution using Islandora     |
| Scope         | ?       |
| Level         | ?  |
| Story         | As staff responsible for sy

[2021-06-30 17:06] #1861 closed, assigned to nobody

[2021-06-30 17:40] mjordan commented on #1859
Consensus at the 2021-06-30 tech call was that it would be good practice to use these contraints for any Islandora-specific custom field types. Also, some discussion that we should have a best practices guide for Islandora devs that would recommend using constraints.

[2021-06-30 17:46] mjordan commented on #1863
This feature would be useful for preservation purposes too because 'deletion' is a PREMIS event.

[2021-06-30 17:55] kspurgin commented on #1863
Suggestions from 2021-06-30 tech call:
- use `Events Logging` module to create a view
- verify OAI-PMH does this

[2021-06-30 19:40] dannylamb commented on #1664
We've ditched Gemini, so closing.  This issue just highlights how weird and bug-prone it can be.

[2021-06-30 19:40] #1664 closed, assigned to dannylamb

[2021-07-05 17:37] dannylamb opened #1865 "ISLE's built-in IDE only works with `make demo`"
Setting `INCLUDE_CODE_SERVER_SERVICE=true` before running `make local` will bring up an IDE at port 8443, but it won't be able to find any code, just a very very empty looking Drupal site with no `composer.json` or modules directory.

It works fine with `make demo`, but since `make local` is meant for developing, it should definitely work with that too.

[2021-07-06 16:39] alxp opened #1866 "Composer not grabbing latest commits of islandora/islandora:dev-8.x-1.x"
## PRs:
1.  https://github.com/Islandora-Devops/islandora-project/pull/1
1. https://github.com/Islandora-Devops/islandora_profile/pull/1

I was having trouble running a migration and it turned out that even though I had run composer update, the latest commit of islandora/islandora was not being downloaded.

On the packagist.org page for islandora/islandora it says:

I don't know why Packagist is

[2021-07-06 22:13] antbrown commented on #1764
I have also recently come up against this nginx header limit being overcome by Link headers added by an entity_reference field.

I think in the short term I'm going to ask for the http_max_hdr limit to be increased on the server. Long term I suggest removing Link headers for non-Islandora objects or allowing site administrator to configure which entity types/fields are used to generate Link header

[2021-07-08 18:38] dannylamb opened #1867 "`islandora-connector-hypercube` not deploying on ISLE"
Got reports twice today (!) from two different organizations that Hypercue was not extracting text from images or PDFs.  Did some digging and found this in the Alpaca logs:

[code]

Not sure why it's expecting an integer instead of a string for the microservice URL, but it is.  It looks like an issue in the blueprint xml that gets deployed, but that's just speculation on my part.  This warrant fur

[2021-07-08 18:45] dannylamb commented on #1867
Here's the blueprint xml that's failing

[code]

Key part is this `<cm:property name="error.maxRedeliveries" value="http://hypercube:8000"/>`.

Looks like maxRedeliveries is being set to the microservice URL! :man_facepalming: Well at least that one's easy to fix.

[2021-07-08 19:25] dannylamb commented on #1867
Now I'm getting 403's because the nginx user can't read `syn-settings.xml`.  Spiraling out a bit, but this feels manageable still.

[2021-07-09 09:51] #1867 closed, assigned to nobody

[2021-07-12 03:32] mjordan commented on #1813
http://www.jessenicola.com/blog/drupal-8-add-tab-custom-controller explains how to create hard-coded tabs in a custom controller, but I'm not sure if it's possible to render dynamically-generated tabs in one. Maybe just a list of vocabs, each leading to the mappings in the linked vocab, would suffice?

[2021-07-12 18:55] mjordan opened #1868 "Remote video media type not showing up when adding media from node"
I build a fresh Playbook yesterday and am seeing some inconsistent behaviour. When I visit `/admin/content`, click on the "Media" tab, and then the "Add media" button, I see "Remote video" in the list of media types:

![image](https://user-images.githubusercontent.com/403918/125340710-a6f0b080-e307-11eb-809c-e4bd08504125.png)

But when I want to add media via a node, e.g. `/node/3/media`, then cli

[2021-07-12 19:07] nigelgbanks opened #1869 "Advance Search block should work, by redirecting the user to the page with the view if used on a page where the view is not present"
This will only work with blocks that are associated with a 'page view' as it needs a page to redirect to.

[2021-07-12 19:08] nigelgbanks commented on #1869
<img width="998" alt="Screen Shot 2021-07-12 at 12 15 58 PM" src="https://user-images.githubusercontent.com/487373/125342458-db3a9000-e34c-11eb-808f-7b71aaa2b30b.png">
<img width="1073" alt="Screen Shot 2021-07-12 at 12 43 02 PM" src="https://user-images.githubusercontent.com/487373/125342470-df66ad80-e34c-11eb-9423-558f136f692a.png">

[2021-07-12 20:19] mjordan commented on #1868
lol, this is a duplicate of #1552, which I opened. :shrug: Closing.

[2021-07-12 20:19] #1868 closed, assigned to nobody

[2021-07-13 04:06] mjordan commented on #1812
Working module at https://github.com/mjordan/islandora_log_404_cleaner.

[2021-07-13 13:10] dara2 commented on #1552
We found that, as @seth-shaw-unlv mentioned, we did need to add the `field_media_of` to the Remote Video form in order to get Remote Video to show up as an option when adding media to a node. That said, there doesn't appear to be a display for it in Islandora core, so we'll be creating one.
We haven't had luck adding any other providers either (even though it indicates that you can).

[2021-07-13 21:41] kayakr opened #1870 "PHP notice Undefined index: rel in Flysystem/Adapter/FedoraAdapter.php"
In system based on isle-dc I see numerous PHP notices from Islandora `Notice: Undefined index: rel in Drupal\islandora\Flysystem\Adapter\FedoraAdapter->getMetadataFromHeaders() (line 155 of modules/contrib/islandora/src/Flysystem/Adapter/FedoraAdapter.php).`
https://github.com/Islandora/islandora/blob/8.x-1.x/src/Flysystem/Adapter/FedoraAdapter.php#L155 assumes rel attribute to exist.

[2021-07-13 21:54] wgilling opened #1871 "Audio files that have no tracks throw an error on media page"
For items' media that are set to use the audio media type -- and the uploaded mp3 file entity has no tracks information, the media page for it throws a (Chrome | Inspect | Console) javascript console error:
[code]

_**NOTE:** The Format for the audio file must also be set to "Audio with Captions" for either Source or Default http://localhost:8000/admin/structure/media/manage/audio/display or http:

[2021-07-14 14:59] dannylamb commented on #1866
I sent an email out to the contact I could find on packagist.org, and none other than @Seldaek responded and helped me out!  We've got packagist auto-updating now!

I'm fine to leave it on Github in these composer.json files for now since it does help folks who are developing on their own forks and don't want to push to the foundation's repos.  But I think we can encourage folks to use packagist f

[2021-07-14 14:59] #1866 closed, assigned to nobody

[2021-07-14 17:38] mjordan commented on #1776
2021-07-14 Tech Call: rough consensus was that we would treat embeded video (and eventually audio) like any other Islandora media (i.e. the media needs a `field_media_of` added to it). Exact process for getting this into the next release TBD.

[2021-07-14 18:17] kylehuynh205 commented on #1869
I think I encountered this issue, just wondering if the URL gets changed with the query string when the Search button is pressed ? If not, it's either because of the "Use Ajax" under Advanced Tab in the view need to be set to "Yes" and the Facet blocks need to be placed in the page as well. Hope this can help.

[2021-07-14 18:25] manez opened #1873 "Move Islandora Cookbook into its own section on the primary documentation"
The [Islandora Cookbook](https://github.com/Islandora-Labs/Islandora-Cookbook) is a useful tool, but hasn't gotten a lot of uptake. The DIG decided on July 14 that we would rather see it rolled into the documentation in its own section with sub-pages, and retire the Islandora Labs GitHub repo with a note explaining that it is not longer accepting new updates.

[2021-07-14 18:44] ysuarez opened #1874 "Documenting what you need to know about Drupal in order to set up your Islandora"
As we transition on using Drupal itself to do work, instead of custom Islandora modules, we want to make sure we document/explain common Drupal concepts.

List of potential Drupal topics:

* What are Drupal entities: https://www.youtube.com/watch?v=coephBu07Ks (Drupalize.me, ca. 15 min)
* Content types and Fields: https://www.youtube.com/watch?v=tj5E-jdQehw (ca. 9 min)
* Views (already documented)

[2021-07-16 17:26] wgilling commented on #1871
added additional info to specify the exact configuration that causes this error to happen.

[2021-07-20 16:23] dannylamb opened #1875 "`make fcrepo-export` still uses import/export tool with Fedora 6"
We can just snag the actual underlying OCFL filesystem and tarzip it instead of using the import / export tool. This will save a couple of steps if we're just going from Fedora 6 to Fedora 6.  We'd still need to keep doing what we're currently doing for 5 -> 5 and 5 -> 6 migrations.

[2021-07-21 14:10] bondjimbond opened #1876 "Islandora 7/8 feature parity tracking list"
Requesting an easy-to-find document, updated with each release, covering Islandora 8 development in terms of which Islandora 7 features are currently supported, in development, or deprecated/not going to happen.

Discussion in Slack: https://islandora.slack.com/archives/CM5PPAV28/p1626794806415700

This would be useful for any site looking at migrating, and might help identify the elements holding

[2021-07-21 14:12] nigelgbanks commented on #1876
Reference material: https://islandora.ca/content/islandora-8-fact-sheet

[2021-07-21 17:44] mjordan commented on #1876
2021-07-21 Tech Call: I will start a Google Doc listing all the 7.x core modules, Community is invited to start listing functionality.

[2021-07-21 19:44] mjordan commented on #1876
[Islandora 7.x to Islandora 2 functionality map](https://docs.google.com/spreadsheets/d/1jE19AZgwceTo9-eccCRfseiO-4q4iVGPsMWxC5JZrL4/edit?usp=sharing)

[2021-07-21 20:35] amyrb commented on #1876
Does it make sense to put aspects of functionality that are more related to the site interface/theme/configuration rather than the content modules in another sheet in the Google doc that Mark linked above? A possible catch is, I'm not sure how generalizable those things were in i7. For instance, our i7 site used the Carapace theme, and we were able to do things like specify by collection which fac

[2021-07-21 23:15] amyrb commented on #1874
- It probably makes sense to link to the [Drupal 8 User Guide](https://www.drupal.org/docs/user_guide/en/index.html
) This doesn't have super-detailed explanations for everything, but you can get an idea of what Drupal functions are being used in Islandora from it.
- Drupal configuration in [Islandora defaults](https://islandora.github.io/documentation/reference/islandora_defaults_reference/) -- w

[2021-07-22 10:51] rosiel commented on #1876
Totally valid - there's a section at the bottom for "extensions"

[2021-07-22 21:22] wgilling commented on #1171
@dannylamb  Since Islandora/islandora#836 has already been merged and closed, a new PR has been made for the islandora project for the commits that put the `pdf_url` token functionality there.  Please see https://github.com/Islandora/islandora/pull/844 for that new PR. Please let me know if there any issues.

[2021-07-25 23:41] fruviad opened #1877 "Documentation: "Build and install with Docker" link throws a 404 error"
Bad link: https://islandora.github.io/documentation/installation/docker-compose/

Page containing the bad link:  https://islandora.ca/download

Bad link is for "Build and install" in the following block of text, with the larger block of text added for context:

Islandora 8
Current Version: 1.1.0

_Build and install_ with Docker

[2021-07-26 13:56] nigelgbanks opened #1878 "Advanced search block should list/grid view should work without customisation to the theme"
Tricky business to ensure it works without also butting up against customisation in someones theme. At the moment the `list` / `grid` toggle changes a `css` class from `view-list` to `view-grid` on the root element of the search view.

The advanced search module does not contain any custom `css` for this.

So it at the moment it must be added to the theme the user has chosen. This is not ideal, it

[2021-07-28 17:55] manez commented on #1877
Fixed the link (and a couple of other problems on that page). Thanks for reporting this, @fruviad !

[2021-07-28 17:55] #1877 closed, assigned to manez

[2021-08-03 13:51] alxp opened #1881 "Playbook: Delete 'main' branch and make 'dev' the default"
We have never had a clear message of how stuff goes from 'dev' to 'main' and it has cause many people to run an old playbook.

Propose just pointing main to the current state of dev and then deleting dev.

[2021-08-03 16:51] willmatheson opened #1882 "New ingests not showing metadata / not searchable, frequent index rebuilds required"
(Not sure if this is the right place for 7.x / ISLE 7.x issues.)

We have an internal 7.x repo (on ISLE) for storing material related to reference questions we've received over the years. Recently we have a problem where newly ingested items don't have their metadata show up in the display of the item (it says something like "document not present in Solr, try reloading the page, contact an adminis

[2021-08-03 17:36] #1882 closed, assigned to nobody

[2021-08-04 17:07] mjordan commented on #1881
@alxp will remove main and make dev the default. Also send out a message indicating that we've done that.

[2021-08-04 17:45] DonRichards opened #1883 "Context Versioning issues"
### Out of a Islandora Tech call:

Context has issues after updating to the latest. Context doesn't work correctly. We've worked around this by having composer lock context to a specific commit hash.
[code]

Link to another issue possibly related to context issues that we apply to our code that might help.
['Notice: Undefined index: uuid' when placing a block from a view](https://www.drupal.org/pr

[2021-08-04 19:27] alxp commented on #1881
Removed branch protection rule, reviewed dangling commits, did not find any that needed to be merged to dev. 'main' branch has been deleted.

rip.

[2021-08-04 19:27] #1881 closed, assigned to nobody

[2021-08-11 14:44] DonRichards opened #1885 "Avoid impression of legacy for new comers"
Currently all of the Islandora 7 repos look stale to new comers because of the lack of activity. There is no clear indication (at the repo level) to new users that i7's EOL (end-of-life) is coming soon due to Drupal 7's EOL and Islandora 2.0.0 is the suggested version.

My suggestion is to add to each repo a suggested version at the top of the README.md file. With a reference to a wiki page or som

[2021-08-11 17:12] rosiel commented on #1885
Melissa pointed to an example, on the documentation: https://wiki.lyrasis.org/display/ISLANDORA/Start

[2021-08-11 17:14] DonRichards commented on #1885
I'll try making a PR to a single repo as an example but not sure I can dedicate the time needed to update all i7 repos

[2021-08-11 17:25] DonRichards commented on #1885
Example PR - https://github.com/Islandora/islandora_solution_pack_newspaper/pull/169

[2021-08-11 19:01] ysuarez commented on #1874
I would like to suggest that we add to our list the recent Drupal Views presentation by @rosiel:

**Drupal Views for Islandora Users**
https://www.youtube.com/watch?v=sJfojxRRsgQ

I was also tempted to add a link t this video on this page...

**Create or Update a View**
<https://islandora.github.io/documentation/tutorials/create_update_views/>

[2021-08-12 12:45] DonRichards commented on #1885
To see what it would look like go here and at the top of the content is the image plus text https://github.com/Islandora/islandora_solution_pack_newspaper/tree/docs_current_version

[2021-08-18 00:36] kayakr opened #1886 "Undefined variable $progress in islandora_core_feature.install"
Hi @seth-shaw-unlv
My IDE highlights that $progress is undefined at
https://github.com/Islandora/islandora/blob/714d9b632f06e4ea94d54406afc8e05e84325a84/modules/islandora_core_feature/islandora_core_feature.install#L128
`      if ($sandbox['progress'] + $limit >= $progress[$table]['size']) {`
Should probably be `$sandbox[$table]['size']` per https://github.com/Islandora/islandora/blob/714d9b632f06

[2021-08-19 16:46] seth-shaw-unlv opened #1887 "Custom condition plugins break Google Tag Manager module"
The Google Tag Manager (GTM) module (google_tags) uses conditions. When our condition forms include required fields it prevents the module from saving the GTM container configuration.

I can think of two solutions: either we remove them ala [our block placement form alter](https://github.com/Islandora/islandora/blob/8.x-1.x/islandora.module#L390-L411) OR we remove the required attributes from our

[2021-08-19 20:47] seth-shaw-unlv commented on #1887
Learn something new every day. You can [filter plugins at runtime for a given consumer](https://www.drupal.org/node/2961820).

This means I can explicitly filter out certain condition plugins based on the consumer. For GTM I was able to add the following to our custom `islandora_local.module` file:
[code]
This removed the conditions for the form. (Trying to do this in the form alter as we do for b

[2021-08-20 03:46] kayakr opened #1888 "islandora_core_feature_update_8001() fails due to duplicate index entry"
`islandora_core_feature_update_8001()` changes structure of `media__field_file_size` table, by copying field values to a temporary table then moving them back. During the copy back, an error occurred:
[code]
The table has an index based on entity_id-deleted-delta-langcode.

I'm considering workarounds, e.g. drop index and reinstate it after update hook runs. Or change update hook to copy values ro

[2021-08-20 16:06] seth-shaw-unlv commented on #1888
I'm not able to work on this and the other [related ticket](https://github.com/Islandora/documentation/issues/1886) right now. But if you come up with a PR I'm happy to test.

[2021-08-21 00:39] kayakr commented on #1888
@seth-shaw-unlv For the moment I just wanted to mention it to see if others have encountered it. It's happened on two environments for the same site so far. I'll see if I can devise a repair process.

[2021-08-23 16:39] Natkeeran opened #1889 "193X/196X EDTF validation issue"
According to EDTF (https://digital2.library.unt.edu/edtf/), 193X/196X should be a valid date.  However, currently islandora (future.islandora.ca) does not seem to validate this.  It does validate 193X.

[2021-08-23 17:08] seth-shaw-unlv commented on #1889
Date intervals are optional based on the field form configuration:
<img width="1045" alt="Screen Shot 2021-08-23 at 10 07 08 AM" src="https://user-images.githubusercontent.com/29869988/130488291-c9c83b50-c866-479f-9bc4-ca8787aa55e6.png">

[2021-08-23 17:09] seth-shaw-unlv commented on #1889
Perhaps islandora_defaults (or the field formatter defaults) should be updated to be the more permissive option.

[2021-08-24 13:55] alxp opened #1892 "ISLE build fails on latest Docker Desktop"
PR: https://github.com/Islandora-Devops/isle-dc/pull/183

Getting a build failure after re-downloading Docker Desktop for macOS and running make local.

[code]

Looking at the release notes for Docker Desktop, it looks like it now ships with a release candidate of Docker Compose 2.0, which has a new config file syntax.

https://docs.docker.com/compose/cli-command/

I've added a note in isle-dc's R

[2021-08-25 17:15] kspurgin commented on #1889
+1 support ranges as valid by default

[2021-08-25 17:15] manez commented on #1889
+1 here too

[2021-08-25 17:15] DonRichards commented on #1889
+1

[2021-08-25 17:16] bseeger commented on #1889
+1 to supporting ranges as valid by default.

[2021-08-25 17:23] kspurgin commented on #1889
Probably this change could also trigger a documentation change to note the default will now keep you from entering times as per https://github.com/Islandora/documentation/issues/1364

[2021-08-31 05:28] kayakr commented on #1888
Ok, repaired `media__field_file_size` table using
`drush sqlq "INSERT INTO media__field_file_size (bundle,deleted,entity_id,revision_id,langcode,delta,field_file_size_value) SELECT bundle,deleted,entity_id,revision_id,langcode,delta,field_file_size_value FROM media__field_file_size_o WHERE (CONCAT(entity_id,\"-\",revision_id) NOT IN (SELECT CONCAT(entity_id,\"-\",revision_id) FROM media__field_fil

[2021-09-01 20:26] seth-shaw-unlv commented on #1266
Resolved with https://github.com/Islandora/islandora/pull/732

[2021-09-01 20:26] #1266 closed, assigned to kayakr

[2021-09-01 20:50] elizoller commented on #1326
fixed with https://github.com/Islandora/migrate_islandora_csv/pull/34

[2021-09-01 20:50] #1326 closed, assigned to nobody

[2021-09-01 20:53] elizoller commented on #1792
@alxp these all look merged - can it be closed?

[2021-09-01 20:54] elizoller commented on #1871
fix was merged

[2021-09-01 20:54] #1871 closed, assigned to nobody

[2021-09-01 20:55] alxp commented on #1792
Yes

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Eli Zoller ***@***.***>
Sent: Wednesday, September 1, 2021 5:54:05 PM
To: Islandora/documentation ***@***.***>
Cc: alxp ***@***.***>; Mention ***@***.***>
Subject: Re: [Islandora/documentation] Update playbook to Ubuntu 20.04 Focal64 (#1792)

@alxp<https://github.com/alxp> these all look merged - can it be close

[2021-09-01 20:56] #1792 closed, assigned to nobody

[2021-09-03 16:09] rosiel opened #1893 "Should be able to use "Media Tab" without having field_member_of"
| Title (Goal)  | Have the option an Islandora content type that doesn't have field_member_of |
--------------- |------------------------------------                           |
| Primary Actor | Repository admin |
| Scope         | Architecture       |
| Level         | High |
| Story         | As a repository admin, I want to make new content types that work with Islandora. I want to make the de

[2021-09-08 17:14] hachacha commented on #1826
We downgraded the facets from a loose ^1.3 to just being a strict 1.4 and that worked.
One of the latest versions does not seem to work with facets on islandora.

[2021-09-08 17:52] rosiel commented on #1675
This is not an issue now that we've done away with Gemini.

[2021-09-08 17:52] #1675 closed, assigned to ajstanley

[2021-09-08 17:52] seth-shaw-unlv commented on #1852
Resolved by https://github.com/Islandora/controlled_access_terms/pull/70

[2021-09-08 17:52] #1852 closed, assigned to nobody

[2021-09-08 17:57] manez commented on #1713
Complete.

[2021-09-08 17:57] #1713 closed, assigned to highermath, manez

[2021-09-08 17:59] manez commented on #1502
Known issue.

[2021-09-08 17:59] #1502 closed, assigned to nobody

[2021-09-08 17:59] seth-shaw-unlv commented on #1583
I *think* so. Tagging as a feature request until someone can confirm we have PDF OCR.

[2021-09-08 18:01] manez commented on #1249
These are on hiatus.

[2021-09-08 18:01] #1249 closed, assigned to nobody

[2021-09-08 18:36] rosiel opened #1894 "Islandora Software Release workflow"
What happens at a release, outside of the code tags? This is maybe internal documentation, but...

- do we make an announcement to the community? How?
- Where are release notes?
- Who updates the sandboxes? (future.islandora.ca, the OVA, the base box, and the 'make demo')

Finally,

- What are the policies for releasing individual components (rather than the whole thing at once?)

[2021-09-08 18:49] dannylamb commented on #1894
My $0.02 is we should just do that instead of releasing this one giant thing.  Since it isn't one giant thing, but many little things maintained by disparate people/interests.

Oh the things I can say now that I'm not tech lead.

[2021-09-09 10:09] kstapelfeldt commented on #1894
For me, this would get folded into a bigger piece of documentation, something like "How to Community Sprint" - at one point pre-Danny I think we had this documentation, but I don't know what happened to it. Each sprint would end in a release, and the contributors of the release would figure out which components were being meaningfully changed in the release, and how the sandboxes and whatever depl

[2021-09-09 10:22] kstapelfeldt commented on #1876
When I went looking into this today to see if I could make tickets for things that are described in this document, I wondered if we have user stories for all these features. I wrote something as a sample in 24 H for Access Control (Hopefully not overstepping)

I think a format like this might help us describe what it is we want the software to be able to do for people by default, and how things wi

[2021-09-09 10:39] kstapelfeldt commented on #1848
Not sure if architecture or bug?

[2021-09-09 14:43] seth-shaw-unlv commented on #1848
@alxp and @dannylamb did https://github.com/Islandora/islandora/pull/838 and the other two PRs resolve this, or was there something left to do?

[2021-09-09 20:25] seth-shaw-unlv commented on #1826
FWIW, we are running drupal/facets:1.8 in production without issue.

[2021-09-10 04:15] kayakr opened #1896 ""No bytes were copied", derivative generation broken"
Happening on a local development VM (vagrant, Virtualbox, playbook via Ansible) after updating to PHP 7.4 and Drupal 9.2.5.
When adding new content, e.g. PDF as Digital document, Drupal watchdog reports:
`Symfony\Component\HttpKernel\Exception\HttpException: No bytes were copied to public://2021-09/50355-Extracted Text.txt in Drupal\islandora\MediaSource\MediaSourceService->updateFile() (line 206

[2021-09-10 04:34] kayakr commented on #1896
* Has this happened to you? If so, please share details of PHP versions, code versions, environment, etc.
* I wonder if this is unique to Playbook VMs and the update journey from PHP 7.2 to PHP 7.4

[2021-09-10 15:08] seth-shaw-unlv commented on #1896
In case this point of reference helps: I have _not_ seen this happen. I'm on PHP 7.4, but _not_ Drupal 9.

[2021-09-10 18:13] #1599 closed, assigned to nobody

[2021-09-10 18:32] rosiel commented on #1638
Still relevant. Islandora is still getting code from a roblib repository:
https://github.com/Islandora-Devops/islandora-playbook/blob/dev/inventory/vagrant/group_vars/webserver/drupal.yml#L28
(islandora-rdm/islandora_fits is defined in Packagist: https://packagist.org/packages/islandora-rdm/islandora_fits)

We should probably "give" this code to Islandora. How do we do this?

[2021-09-10 19:25] rosiel commented on #1620
I'm proposing to update the documentation (see above PR).

In the version of ISLE i've got (`make local`), phpcs does not appear to be installed. Are there instructions for doing that, since that's what this particular issue was about?

[2021-09-10 19:36] rosiel commented on #1498
Still an issue, in a way. '2 days' does not validate because 'day' is not listed as one of the valid time intervals. Yet it's in the suggested text.
![Screen Shot 2021-09-10 at 4 34 05 PM](https://user-images.githubusercontent.com/1943338/132908002-aa85db13-990d-48bb-b71a-13ec17cf3ea6.png)

[2021-09-10 21:22] seth-shaw-unlv commented on #1498
Thanks, @rosiel for wrapping this up for us!

[2021-09-10 21:22] #1498 closed, assigned to nobody

[2021-09-11 22:00] rosiel commented on #1466
Pretty sure this can be closed.

[2021-09-11 22:00] #1466 closed, assigned to nobody

[2021-09-13 12:13] manez commented on #1638
For a full repo like this, probably with the LSAP: https://islandora.ca/lsap

[2021-09-13 20:14] adam-vessey commented on #1896
Not touching Ansible; however, it appears we've encountered it (or something _extremely_) similar. Appears to be related to interactions between chunked encoding and how PHP's being run:
* https://stackoverflow.com/a/30924257
* https://stackoverflow.com/a/68156157
* https://bz.apache.org/bugzilla/show_bug.cgi?id=57087

So, Crayfish generates the derivative, and streams it back to the connector, th

[2021-09-14 14:44] dannylamb commented on #1870
Seeing this over at Born-Digital now that we're on the Fcrepo 6.0.0.  Should be a very simple fix.

[2021-09-14 19:24] seth-shaw-unlv commented on #1766
@fgeisser21 asked me about this issue on Slack today.

This happens with the typed relationships because of this line in the controlled_access_terms_jsonld_alter_normalized_array hook: https://github.com/Islandora/controlled_access_terms/blob/8.x-1.x/controlled_access_terms.module#L59. We wrote that hook before JSONLD added the option to strip them.

One option is to copy/pasta https://github.com/

[2021-09-15 00:00] kayakr commented on #1896
@adam-vessey Thanks for the links; the handling (or lack of handling) of transfer-encoding: chunked in Apache via FPM/FastCGI seems very relevant. However, in my VM, I updated to Apache/2.4.48 and added `SetEnv proxy-sendcl 1` to `/etc/apache2/apache2.conf` and restarted fpm, but I still get 0 bytes copied.
The transfer-encoding: chunked header is gone, and header content-length:0 is added.

[2021-09-15 00:16] kayakr commented on #1896
Hmm, do I'd actually need to run Apache as a proxy to spool the chunked transfer and generate a valid content-length. Might be easier to try nginx instead...
https://stackoverflow.com/questions/54444220/php-7-fpm-does-not-show-request-body-with-chunked-encoding

[2021-09-15 16:18] seth-shaw-unlv commented on #1766
@whikloj, would you mind weighing in on adding the helper class (or not) as the maintainer of the jsonld module?

[2021-09-15 17:08] kstapelfeldt commented on #1896
Problem needs to be addressed in ISLE, maybe

[2021-09-15 17:42] seth-shaw-unlv commented on #1307
@DonRichards, can we close this ticket?

[2021-09-15 19:04] whikloj commented on #1766
It can only be a static class if you pass both the entity and the current JSON-LD configuration in. Otherwise we need to dependency inject the config to see if we are (or are not) supposed to be adding the `?_format=jsonld`.

So we'd have to create a new utility class that injects the configuration manager, but I think that is fine. I'll play around with it a bit.

[2021-09-17 15:15] kylehuynh205 commented on #1851
We split the submodule from Islandora module to have it work as a stand-alone Drupal module https://github.com/digitalutsc/advanced_search

We also developed a couple of new features (in [`islandora_lite` branch](https://github.com/digitalutsc/advanced_search/tree/islandora_lite)) when we implemented Advanced Search for our Islandora Lite stack:

- Added [Lucene Search](https://www.drupal.org/docs

[2021-09-17 19:27] DonRichards commented on #1307
Yep, I'll go ahead and do it

[2021-09-17 19:27] #1307 closed, assigned to nobody

[2021-09-17 19:39] test-kirsta opened #1898 "asdf"
asds

[2021-09-17 19:39] #1898 closed, assigned to nobody

[2021-09-19 06:10] lightonphiri commented on #1808
Did you manage to find a workaround for this? We are in the process of installing Islandora and were unable to follow through with the documentation since the repository does not contain the crayfish/Gemini directory

[2021-09-20 10:11] kayakr commented on #1896
I resolved this on my local VM by reverting the switch to PHP FPM in favour of Apache 2 Handler.
* `sudo a2dismod proxy_fcgi`
* `sudo a2disconf sudo a2disconf php7.4-fpm`
* `sudo a2enmod php7.4`
* `sudo systemctl reload apache2`
Now derivatives are working.
@kstapelfeldt AFAIK isle-dc uses nginx so may not be affected by this Apache + php-fpm issue.

[2021-09-21 13:43] DonRichards commented on #1583
It should be working. Our installation of it has it working

[2021-09-21 14:42] seth-shaw-unlv commented on #1583
@DonRichards, and it isn't a Born-Digital specific feature? Can you test on a vanilla Islandora install to confirm?

[2021-09-21 19:07] noahwsmith commented on #1896
@dannylamb is going to look into this for us, Whitman and JHU, likely next week. The resulting fix will be made in the community version of ISLE as well as the individual projects in question.

[2021-09-22 12:52] rosiel opened #1899 "Use Case: Manage taxonomy terms as a content manager"
| Title (Goal)  | Manage taxonomy terms in a repo                            |
--------------- |------------------------------------                           |
| Primary Actor | Collections Manager, Content manager   |
| Scope         | DAMS Functionality       |
| Story         | "As a manager of the content in my repository, I may need to make changes individually or in bulk to my taxonomy term

[2021-09-22 14:01] kstapelfeldt commented on #1899
Although it does not cover all of your use cases, I have had great success with https://www.drupal.org/project/taxonomy_manager in the past two versions. The merging functions have saved me many times! You can do things like paste in a giant list of terms and they are all autocreated if they are on new lines. Between this and setting up VBO views, I have been able to do most things I need to with

[2021-09-22 14:43] seth-shaw-unlv commented on #1899
Note that taxonomy_manger merging capability uses the term_merge module and they are not yet integrated for Drupal 8+ (see https://www.drupal.org/project/taxonomy_manager/issues/3220993 and https://www.drupal.org/project/term_merge/issues/3160872). Even after these two issues are resolved the term_merge module doesn't work with our Typed Relationship fields. (See https://github.com/Islandora/docum

[2021-09-22 15:06] kylehuynh205 commented on #1851
@nigelgbanks, please kindly review. Thanks.

[2021-09-22 15:44] rosiel commented on #1899
That's great, should't islandora have this feature "out of the box"? Should I make a ticket to add this module to defaults, for example?

[2021-09-22 18:03] elizoller commented on #1427
@bseeger do you know if context module fixed this?

[2021-09-22 18:04] elizoller commented on #1209
does no gemini means no problem here anymore?

[2021-09-22 18:05] elizoller commented on #1225
maybe the new semantic versioning proposal from TAG will fix this?

[2021-09-23 13:40] dannylamb commented on #1209
Happily closing for now

[2021-09-23 13:40] #1209 closed, assigned to nobody

[2021-09-23 13:42] dannylamb commented on #1225
This should be a moot point because Drupal.org now actually uses semantic versioning for Drupal 9+.  As long as we stick to 'standard' semantic versioning, we should be alright.  I'd wait until we actually push stuff over to Drupal.org before closing the ticket though.

[2021-09-23 14:18] whikloj commented on #1225
There are 2 things that need to happen

1. we need our branch to be `2.x` or `2.1.x` to be viewed as the development branch for the current work on Drupal's repo.
2. we need to consider how badly we want to work in the Drupal ecosystem, we need to either work in or synchronize to Drupal's code repository, migrate to DrupalSpoons or skip the whole thing.

I'm thinking that synchronizing is the simp

[2021-09-23 16:30] seth-shaw-unlv commented on #1808
@sergejzr & @lightonphiri , Gemini was removed from the stack and the documentation was out of date. We merged in an update to the manual installation instructions this morning.

The install directions should work now. Please take a look and verify.

[2021-09-23 20:37] kayakr commented on #1899
Some requirements I've gathered/am interested in:
* list all terms; sounds trivial, but becomes a risk when using search-based listings from Search API DB, Search API Solr, etc. Implies immediate indexing of changes (add, change, delete, etc.)
* can handle large taxonomies, multiple x 10,000s of terms
* Result summary: Displaying {start} - {end} of {total}
* Filter by term label (e.g. name), espec

[2021-09-24 12:19] nigelgbanks commented on #1851
@kylehuynh205 cheers for pinging me, I've been on a long break from work and haven't been following along with developments for some time. I'll do a review on Monday.

[2021-09-24 18:47] rosiel opened #1902 "Code task: Deprecate islandora/drupal-project"
We have a languishing fork of drupal-composer/drupal-project, here: https://github.com/Islandora/drupal-project/

We created it for the playbook, but haven't used it since [this commit](https://github.com/Islandora-Devops/islandora-playbook/commit/7cd01da9c30377fb1f278598ba04fedd77e18f7d) in November of 2020.

Can we deprecate/remove this repository? Move it to [islandora-deprecated](https://githu

[2021-09-24 19:00] alxp commented on #1902
Yes, the model I was following, to use an outer shell project that could use a drupal profile via composer require does not seem to carry any special advantage, and the model I was following, Acquia Lightning, is now being deprecated.

[2021-09-26 00:11] #1150 closed, assigned to nobody

[2021-09-26 00:12] #1171 closed, assigned to nobody

[2021-09-27 17:07] seth-shaw-unlv opened #1903 "Update Crayfish-Commons dependency on symfony/security-core to allow 5.x"
The Drupal ldap module major version 4.0, the only version with Drupal 9 support, conflicts with symfony/security-core < 5 resulting in a conflict with crayfish-commons which requires either 3.4 or 4.4. This means that those using LDAP for authentication are stuck on Drupal 8 until this is resolved.

I haven't yet checked what we need to do to make crayfish-commons work with symfony/security-core:

[2021-09-27 19:50] seth-shaw-unlv commented on #1903
I went looking but couldn't find a good listing of security-core API changes....

[2021-09-27 19:51] elizoller commented on #1903
that ellipsis makes me think that you weren't successful

[2021-09-27 19:52] seth-shaw-unlv commented on #1903
Indeed, I wasn't.

[2021-09-28 15:05] #1888 closed, assigned to nobody

[2021-09-28 15:05] #1886 closed, assigned to nobody

[2021-09-28 16:38] kstapelfeldt commented on #1571
If this is still an issue, please re-open with additional steps to reproduce.

[2021-09-28 16:38] #1571 closed, assigned to nobody

[2021-09-28 16:41] rosiel commented on #1634
We no longer use Drupal Console since https://github.com/Islandora-Devops/islandora-playbook/pull/186.

Edit to say: You may need to be on the `dev` branch of the playbook.

[2021-09-28 16:41] #1634 closed, assigned to rosiel

[2021-09-28 16:59] kstapelfeldt commented on #1658
Hi Dan, I know this doesn't answer your question: # Available boxes are 'islandora/8' and 'ubuntu/focal64’ - https://github.com/Islandora-Devops/islandora-playbook/blob/dev/Vagrantfile#L14

Unfortunately, we don't have good current instructions for setting up in Windows.

Can you take a look at this recent pull request and see if this will work for you? https://github.com/Islandora-Devops/islandor

[2021-09-28 17:02] kstapelfeldt commented on #1760
Hi @Tristaan - we're undertaking a repo cleaning project, and have also made some code changes that may affect the behaviour you were seeing. If you can get this to reproduce, or find info out in the logs, can you re-open with additional details?

[2021-09-28 17:02] #1760 closed, assigned to nobody

[2021-09-28 17:04] kstapelfeldt commented on #1744
Hello! We are no longer using Gemini. Please update Islandora and you should no longer experience this issue. If you are still encountering an issue, please feel free to open or resubmit your issue.

[2021-09-28 17:04] #1744 closed, assigned to nobody

[2021-09-28 17:10] kstapelfeldt commented on #1144
As this was confirmed, and is old, we're closing it.

[2021-09-28 17:10] #1144 closed, assigned to nobody

[2021-09-28 17:13] kstapelfeldt commented on #1398
@whikloj do we need to add something to a readme to document this?

We think this has to do with being able to turn off how Fedora does authentication so that you can switch back and forth between Islandora authentication and Fedora's web interface. This is a config.xml thing that can be updated. It's a dev tool.

[2021-09-28 17:16] kstapelfeldt commented on #1386
Needs a use case.

[2021-09-28 17:20] kstapelfeldt commented on #1374
@qadan it seems like Danny was suggesting this feature was fixed. We're not sure if it is - can you re-open with details if this remains an issue?

[2021-09-28 17:20] #1374 closed, assigned to nobody

[2021-09-28 17:22] kstapelfeldt commented on #1343
We are closing this due to the time that has passed, and @whikloj 's suggestion that it's likely been fixed. Please open or resubmit if it remains an issue.

[2021-09-28 17:22] #1343 closed, assigned to nobody

[2021-09-28 17:23] kstapelfeldt commented on #1493
Closing as it has been resolved with pull request.

[2021-09-28 17:23] #1493 closed, assigned to nobody

[2021-09-28 17:24] kstapelfeldt commented on #1431
We believe this should be closed, but let us know if there is a piece (such as documentation) that should be added.

[2021-09-28 17:24] #1431 closed, assigned to nobody

[2021-09-28 17:26] kstapelfeldt commented on #1411
Closed with thanks. Please feel free to re-open or issue a new ticket if there needs to be any documentation made, etc.

[2021-09-28 17:26] #1411 closed, assigned to nobody

[2021-09-28 17:29] kstapelfeldt commented on #1591
@elizoller  is this fixed? As per the associated drupal.org issues final comment "I'm moving this back to 9.1.x and marking as Fixed" - We are assuming this is resolved in  9.1.x with earlier Drupal users having to apply the patch linked in the issue.

[2021-09-28 20:57] elizoller commented on #1903
@seth-shaw-unlv can you give me more info on this one? what kind of environment are you running in? are you already on D9 in that env?
i spun up a playbook (d9) with ubuntu/focal64 and just ran `composer require 'drupal/ldap:^4.0'` and it succeeded with no trouble

[2021-09-29 00:09] seth-shaw-unlv commented on #1903
This was a D8 install with ldap 3 updating to D9. Perhaps I should spin up a fresh D8 Islandora, enable ldap 3, and try upgrading to D9 w/ ldap 4.

[2021-09-29 17:12] kstapelfeldt commented on #1902
@manez to move to  islandora-deprecated and close the ticket (or report back if she no longer has permissions)

[2021-09-29 17:13] manez commented on #1902
It is done! https://github.com/islandora-deprecated/drupal-project

[2021-09-29 17:13] kstapelfeldt commented on #1903
Seth was updating an existing Islandora 1.0 site and had composer complain about this conflict. Eli tried to test and he was not able to reproduce. Where exactly is the hitch with the update progress?

[2021-09-29 17:14] #1902 closed, assigned to manez

[2021-09-29 17:14] kstapelfeldt commented on #1903
From @jordandukart https://packagist.org/packages/grahl/ldap - Eli pulled islandora-dev and Seth pulled in tagged version. Seth will try to reproduce.

[2021-09-29 17:33] kstapelfeldt commented on #1883
@DonRichards is this still relevant/occurring?

[2021-09-29 17:38] kstapelfeldt commented on #1620
Group felt that we should be using at least Drupal, and ideally Drupal & Drupal Practice. @rosiel can you update your documentation PR to reflect this?

[2021-09-29 17:42] elizoller commented on #1620
to start https://github.com/Islandora/islandora_ci/blob/main/travis_scripts.sh#L16 would have to include `DrupalPractice` as well

[2021-09-29 17:44] kstapelfeldt commented on #1460
This has been upgraded in core Islandora because it was done in D9.

[2021-09-29 17:45] kstapelfeldt commented on #1460
@alxp  to double check what's needed.

[2021-09-29 17:48] #1317 closed, assigned to nobody

[2021-09-29 17:49] kstapelfeldt commented on #1317
Not using Travis and notifications were too frequent for the folks on the tech call.

[2021-09-29 17:59] jordandukart commented on #1281
Is this relevant / still needed @DonRichards.

[2021-09-29 18:01] jordandukart commented on #1168
Is this still something that we want to pursue? I think this isn't a good approach to handling JS dependencies as the above states.

[2021-09-29 18:02] jordandukart commented on #1224
@whikloj what's the status of this issue?

[2021-09-29 18:07] kstapelfeldt commented on #1148
@dannylamb is this still relevant?

[2021-09-29 19:36] DonRichards commented on #1883
Yes, I believe it still is

[2021-09-29 19:42] DonRichards commented on #1583
I think this is still a problem after testing on my local.

[2021-09-29 19:44] elizoller commented on #1883
was this in the context of a drupal 8 site?
also i'm not sure if this has been fixed upstream in the context module due to latest release? - context 4.1 is out (https://www.drupal.org/project/context/releases/8.x-4.1)  - does updating to 4.1 fix it?
the issue you liked from context (https://www.drupal.org/project/context/issues/3111414) was closed because they couldn't replicate it.

[2021-09-29 19:46] #1856 closed, assigned to nobody

[2021-09-29 19:51] DonRichards commented on #1883
I'm not sure what you mean by context of a Drupal site?

[2021-09-29 19:52] elizoller commented on #1883
like were you running d8 or d9 when you needed to lock the version of context module?

[2021-09-29 20:19] DonRichards commented on #1883
D8

[2021-09-30 14:33] whikloj commented on #1224
I have a Homarus branch that was working, but now needs to be revisited.

Also (and the ticket # escapes me) there is an issue around moving
Crayfish-Commons to Symfony 5 to @seth-shaw-unlv and @elizoller where
discussing that issue.

Now that I have a working playbook, I'll see if I can't just do all the
remaining microservices as 1 PR.

On Wed., Sep. 29, 2021, 1:02 p.m. Jordan Dukart, ***@***.**

[2021-09-30 18:40] dannylamb commented on #1148
Yes, still relevant.  The code shifted a bit tho.  The offending line is now https://github.com/Islandora-Devops/islandora-playbook/blob/master/post-install.yml#L37

[2021-09-30 18:59] ibrahimab commented on #1168
I also forgot to mention, using npm will significantly reduce downloads, allow developers to override things without going into core modules (like sass variable overrides), css imports css natively, es6 module imports natively, bundling, packaging (even per page/module) and much more. Why not use it?

[2021-09-30 19:25] dannylamb opened #1906 "FITS Media Type doesn't have an RDF Mapping"
Discovered this with a large-ish workbench ingest. It's not the biggest deal in the world, but because there's no RDF mapping, Milliner indexing fails for FITS files and it can clog up the queue with all the retries that are also destined to fail.  This leads to derivatives taking way longer to generate, and can give the impression that it's failed to make them instead of just being super slow.

T

[2021-10-03 12:57] nigelgbanks commented on #1851
Sorry took me a while to get around to this.

For references the differences from what's currently in the main branch of islandora https://github.com/digitalutsc/advanced_search/compare/8.x-1.x...islandora_lite

To test the `islandora_lite` branch I just removed the existing module from the `isle-dc demo` setup and did a git clone and switched branches before installing the module.

I tested with

[2021-10-03 13:03] nigelgbanks commented on #1851
As for releasing the module completely separate from islandora, I'm not sure its worth the burden to support for the wider Drupal community. I don't have the bandwidth to fix non-islandora related issues from others use cases and it would expand the scope of the module in some ways, making maintenance harder. I wouldn't appose the decision though, but I'm also unlikely to do much work to support n

[2021-10-04 17:39] rosiel commented on #1225
TAG is, after discussion with the tech call, going to rename branches to align with semantic versioning.
In particular, a new 2.x branch will be cut from the 8.x-1.x branch on all drupal-related code. This 2.x branch will be made the github default branch and will be our working branch.

[2021-10-05 17:37] rosiel opened #1907 "Update branch names to reflect semantic versioning"
The TAG, with the go-ahead from the Tech Call, is renaming branches of 'released components' of islandora so that their branch name is in line with their semantic version.

Announcement: https://groups.google.com/g/islandora/c/oXXAbANOyiA

Working spreadsheet: https://docs.google.com/spreadsheets/d/1rC9EVXIxZQIUxGgquCytlDFUoZgCnow0uuxfBiRGC5s/edit#gid=0

[2021-10-05 17:39] rosiel commented on #1907
Related ticket (?) https://github.com/Islandora/documentation/issues/1225

[2021-10-05 17:45] rosiel commented on #1907
Drupal Component Order:

Chullo
CI
JSONLD
Openseadragon

then
Crayfish-commons (needs chullo)
crontrolled_access_terms (needs jsonld)

then
islandora (needs jsonld, crayfish-commons)
crayfish (needs crayfish-commons)

then
islandora_defaults

then
migrate islandora csv

[2021-10-05 18:25] rosiel opened #1908 "Can we delete composer.lock files in Crayfish, Crayfish-Commons?"
In Crayfish and Crayfish Commons, we have composer.json and composer.lock files.

If we want to use these with Composer as per how Semantic Versioning should work, shouldn't we delete the .lock files?

[2021-10-05 19:22] rosiel opened #1909 "Github config: Require checks?"
In Chullo, the existing branch protection rules "Required checks" but no checks were selected.

Should we select all the status checks that are available (including Codecov)?

In general, I would, but I'm not sure if there was a reason these were removed.

<img width="767" alt="Screen Shot 2021-10-05 at 4 21 44 PM" src="https://user-images.githubusercontent.com/1943338/136089208-69728144-f216-4cac

[2021-10-05 19:35] seth-shaw-unlv commented on #1766
Fixed with https://github.com/Islandora/controlled_access_terms/releases/tag/2.0.1

[2021-10-05 19:35] #1766 closed, assigned to nobody

[2021-10-06 16:54] seth-shaw-unlv commented on #1168
I'm in favor of using composer for adding external libraries. I've recently started using it for my projects and it has made site setup a lot easier than attempting manual install, e.g.

[code]
...
[code]
allowed me to simply `composer require npm-asset/nouislider:^14`.

[2021-10-06 17:12] adam-vessey commented on #1908
https://getcomposer.org/doc/01-basic-usage.md#installing-from-composer-lock

... so it depends on how much we trust those repos at which we point to correctly follow semantic versioning?

... that said, including the composer.lock, we _could_ probably make use of something like Dependabot to automatically create PRs when it detects that there are newer versions: https://docs.github.com/en/code-sec

[2021-10-06 17:35] kstapelfeldt commented on #1908
See discussion in notes: https://github.com/Islandora/documentation/wiki/October-6,-2021

[2021-10-06 17:51] rosiel commented on #1909
@dannylamb, do you have any thoughts/history on what whether we should 'require checks' (and actually include the checks!) on this and other repos in github.org/Islandora?

[2021-10-06 19:10] rosiel commented on #1908
There are some dependabot PRs on Crayfish that do what @adam-vessey says: https://github.com/Islandora/Crayfish/pulls

The discussion @kstapelfeldt pointed to left me thinking:
* including lock files in microservices is fine, recommended even, so that we are all on the same versions.
* we do not have a process for updating these lock files, and if we continue on this path, we should.

In the inter

[2021-10-06 19:14] dannylamb commented on #1909
For me coding standards is the big one.  Test passing is like a 99% of the
time should be required but occasionally there's gremlins type deal, so we
can't be ultra strict on that one.  Code coverage and other things are nice
to have but def shouldn't be considered blockers.

On Wed, Oct 6, 2021 at 2:51 PM Rosie Le Faive ***@***.***>
wrote:

[2021-10-06 23:09] rosiel opened #1910 "Update READMEs, github descriptions, and github features on Islandora-Devops"
This was discussed in [today's tech call](https://github.com/Islandora/documentation/wiki/October-6%2C-2021).

In various Islandora-Devops repos,

* it may be hard to tell based on READMEs and/or descriptions what these repositories are and how they should (or not) be used. (e.g. islandora-sandbox, looks like at least one person tried to install it directly!)
* some repositories have Issue queues

[2021-10-07 19:18] alxp commented on #1168
I think this is a good idea, and is well-supported by Drupal.

It would mean we would need to have our own base composer project, since you can't declare repositories in modules' composer files. THis would be a good idea for a few reasons, including a current problem upgrading several moduels at once that I ran into here: https://github.com/Islandora-Devops/islandora-playbook/pull/202#issuecomment

[2021-10-07 22:46] rosiel commented on #1909
I added or ensured the all PHP build tests were listed as "required" in the new branch protection rules for:

Crayfish Commons
Islandora Defaults
Alpaca
Controlled Access Terms
JsonLD
Openseadragon
Syn
Crayfish

There are no checks configured for Migrate Islandora CSV.

[EDIT: I left codecov as not required, per @dannylamb's comment.]

[2021-10-08 13:39] rosiel commented on #1168
Using a composer project would solve a number of problems currently faced by the community.

1. The playbook doesn't only need to create a good installation from scratch, it needs to be able to be run to update existing installations. The way we specify requirements in Ansible goes one-at-a-time, which makes it very very difficult for us to change the version specs. As happened in https://github.c

[2021-10-09 15:55] rosiel commented on #1910
Further to this:

Since the merge of https://github.com/Islandora-Devops/islandora-playbook/pull/201, all the ansible roles are deprecated as individual repositories.

However, their READMEs are very out of date (citing Xenial and CentOS) and need to be updated.

[2021-10-13 12:25] dannylamb commented on #1168
We do this at Born Digital and it works really really well.  :+1: from me.

[2021-10-13 14:57] adam-vessey commented on #1168
Not... so sure about this, in the general case? Seems like it would work for some kind of more-or-less turn-key project; however, having the use of asset-packagist be mandatory, baked in the `composer.json` of modules requiring libraries, when said modules can't actually add additional repos to the root project seems... less-than ideal? Could see adding them in the [`suggest` section](https://getc

[2021-10-13 15:31] seth-shaw-unlv commented on #1168
@adam-vessey, as @alxp noted, this would only be for the Isle and Playbook composer files where you really _want_ something to be turn-key. This wouldn't stop institutions from removing the asset-packagist and using a CDN for their own deployments. Modules wouldn't add the asset-packagist packages to their individual composer files, unless they added it to "suggests" as you propose.

[2021-10-13 16:03] adam-vessey commented on #1168
@seth-shaw-unlv: I don't see any constraints on the scope in which this is to be applied in @alxp's comment (or any other comments in the issue)... unless it requires reading between the lines, or happening in comms out-of-band?... which is why I bring it up here, explicitly.

Given it's counter-intuitive nature, of the libraries being dependencies of the modules, but having to specify the reposit

[2021-10-13 16:24] seth-shaw-unlv commented on #1168
Sorry, that was me reading between the lines based on the "you can't declare repositories in modules' composer files" line and the way adding asset-packagist works. We would only be able to add them to the Isle/Playbook composer files.

I often see Drupal module descriptions which include notes about **either** using asset-packagist **or** installing the libraries via CDN/manually. We should be do

[2021-10-13 16:57] rosiel commented on #1730
Playbook builds D9 by default since: https://github.com/Islandora-Devops/islandora-playbook/pull/196
ISLE uses the Islandora Sandbox which still (as of today) specifies [8.9.16](https://github.com/Islandora-Devops/islandora-sandbox/blob/main/composer.lock#L2746) (in the lock file of the main branch).

[2021-10-13 18:10] DonRichards commented on #1281
@jordandukart It would be nice but since I'm no longer with UTK this no longer holds any significance to me. I'm good with this being closed for now.

[2021-10-13 19:14] eldonquijote opened #1913 "Integrate MIG glossary with main documentation"
The Islandora Metadata IG created a document to define/explain fundamental terms from the Islandora documentation, in particular Drupal-related terminology: https://docs.google.com/document/d/1cfPYFVV9qvvz2VjBRdYUN0CB7AyVDuG-GYavQ27DuBk/edit#heading=h.9fr9xw70meix

The Documentation IG reached out to MIG and would like to collaborate, or in the least reuse the definitions created by MIG members to

[2021-10-13 19:34] eldonquijote opened #1914 "Use GitHub Actions to compile Islandora documentation instead of Travis"
Islandora documentation is maintained using Markdown files, which are compiled by MkDocs (https://www.mkdocs.org/) to create static HTML documents. Compilation of the HTML documents is triggered by merging a PR against the Islandora/documentation repository. The compilation currently uses Travis CI to run the MkDocs Python.

Most Islandora repositories have started using Github Actions instead of

[2021-10-13 19:50] eldonquijote opened #1915 "Update Islandora fork of Material for MkDocs Insider theme"
Islandora documentation uses the Material for MkDocs theme (https://squidfunk.github.io/mkdocs-material/). We payed for access to the 'Insider' version of the theme, which includes advanced features like versioning support (https://squidfunk.github.io/mkdocs-material/insiders/#exclusive-features). In order for the documentation site generator to use the Insider theme version, @dannylamb was able t

[2021-10-14 14:55] rosiel commented on #1915
I think @dannylamb might be the only one at the moment with access to https://github.com/squidfunk/mkdocs-material-insiders

[2021-10-14 19:06] rosiel commented on #1160
"IP Authentication" was listed as an area of concern on the [ICG Report on Systems Testing](https://docs.google.com/document/d/1oKwWs1QAjU7v3ZoMkrBtUK28Ip5_GtGF8ZVA3TYuHTQ/edit#).

[2021-10-14 19:32] rosiel opened #1916 "Meta-Issue/Use Case: Delete Objects"
As a collection manager, I wish to delete (purge, remove) an Islandora Object completely, as part of the regular curation of my repository. This means deleting all information about that object, including revisions and history, and removing it from all indexes. This should also delete the Object's media and files. If content is in Fedora, it should be transparent whether it was deleted or whether

[2021-10-14 19:54] rosiel commented on #1305
Captions are working, nah? I think this is now a documentation ticket.

[2021-10-14 20:53] elizoller commented on #1305
In short, yes.

I added documentation on how to update from islandora 1 -> 2 to get this feature https://github.com/Islandora/documentation/blob/main/docs/release_notes/8.x-2.0.md#adding-captions

But in terms of like a user doing this in the UI, no that documentation doesn't exist. I can volunteer to do that - should screenshots be taken of an isle instance or a playbook instance to demonstrate t

[2021-10-14 21:08] whikloj opened #1918 "Milliner fails to create External Content records in Fedora"
As experienced by myself (in islandora-playbook) and @ruebot

Errors appear in the Milliner logs that look like
[code]

The Fedora [External Content link header](https://wiki.lyrasis.org/display/FEDORAM6M0P0/External+Content) can take a `type` parameter to specify what the actual object is.

We use the Content-type header that Drupal responds with, and sometimes it includes the `charset` which is

[2021-10-15 13:44] rosiel commented on #1305
There is currently no guidance from the DIG on what screenshots should come from, so I dont think you have to worry about that. Why - are they significantly different?

[2021-10-18 13:49] kylehuynh205 commented on #1851
My apology for the super late response, @nigelgbanks. Thank you for you feedbacks. I'll take a closer look on your feedback and get back to you soon. Thanks.

[2021-10-19 12:01] jordandukart commented on #1168
If we're still using Drupal as a guiding force they are moving to `package.json` in core at least as of 9.3.x: https://www.drupal.org/node/3197544.

[2021-10-19 18:54] kstapelfeldt opened #1920 "Use Case: Access Control in Islandora"
| Title (Goal)  | Granular Access Control      |
--------------- |------------------------------------                           |
| Primary Actor | Collections Manager   |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a site administrator/collection manager I wish to map Islandora-specific and Drupal content permissions at the media, metada

[2021-10-19 18:58] kstapelfeldt commented on #1920
See also:

https://github.com/Islandora/documentation/issues/273
https://github.com/Islandora/documentation/issues/385
https://github.com/Islandora/documentation/issues/412
https://github.com/Islandora/documentation/issues/413
https://github.com/Islandora/documentation/issues/414
https://github.com/Islandora/documentation/issues/606
https://github.com/Islandora/documentation/issues/825

[2021-10-19 19:01] kstapelfeldt opened #1921 "Use Case: Accessibility Auditing"
| Title (Goal)  | Assessing Accessibility in Islandora                        |
--------------- |------------------------------------                           |
| Primary Actor | Evaluator   |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a potential user of Islandora, I wish to better understand the extent to which the system can support a

[2021-10-19 19:03] kstapelfeldt commented on #1921
See: https://accessibility.civicactions.com/VPAT/Drupal9AccessibilityConformanceReport-December2020.html and I think that born-digital might have some material here.

[2021-10-19 19:33] kstapelfeldt opened #1922 "Use Case: Batch Ingest"
| Title (Goal)  | Batch Ingest for Collection Managers       |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager   |
| Scope         | User Affordances     |
| Story         | As a collection manager, I wish to batch ingest objects of multiple kinds using a UI. I would like an affordance for compound/paged objects in this workflo

[2021-10-19 19:35] kstapelfeldt opened #1923 "Use Case: Book Viewer"
| Title (Goal)  | Book Viewer in Islandora                     |
--------------- |------------------------------------                           |
| Primary Actor | End User  |
| Scope         | Viewers      |
| Story         |As an end user, I wish to be able to virtually 'flip' the pages of a book, and perform in-text searching of the book with highlighting, and access a IIIF manifest through th

[2021-10-19 19:38] kstapelfeldt opened #1924 "Use Case: Captioning Media Viewer"
| Title (Goal)  | Play WebVTTs                    |
--------------- |------------------------------------                           |
| Primary Actor | End User  |
| Scope         | Viewer     |
| Story         | As a site administrator, I would like to use an html5 media player for video and audio with an optional VTT caption track.

[2021-10-19 19:43] kstapelfeldt opened #1925 "Use Case: Navigating Parts of an Object"
| Title (Goal)  | Navigating Parts of an Object                          |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | Configuration      |
| Story         | As a collection manager/site administrator I wish to be able to provide a view/block-based navigation of the parts of a compound or paged object. I

[2021-10-19 19:44] kstapelfeldt opened #1926 "Use Case: Changing the content model"
| Title (Goal)  | Content Model Changes                      |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | Documentation    |
| Story         | As a collection manager, I would like to understand the implications of storing uploaded files and all derivatives as a single media (Documenting and fleshing ou

[2021-10-19 19:46] kstapelfeldt opened #1927 "Use Case: Default Collection View"
| Title (Goal)  | Defaults for Collection View               |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | Default Configuration     |
| Story         | As a site administrator, I wish to be able to see a sample/default collection view that can be altered, cloned, and extended to meet the use cases of my

[2021-10-19 19:47] kstapelfeldt opened #1928 "Use Case: Generate a PDF of a Book"
| Title (Goal)  | Generate a PDF of a Book                    |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a site administrator/collection manager, I wish to be able to generate a PDF of a compound object (paged content

[2021-10-19 19:48] kstapelfeldt opened #1929 "Use Case: PDF to PDFa"
| Title (Goal)  | PDF to PDFa                         |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager  |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a collection manager, I would like to be able to convert PDFs to PDFAs when they are added to the repository in support

[2021-10-19 19:49] kstapelfeldt opened #1930 "Use Case: Revisions in Islandora"
| Title (Goal)  | Revisions in Islandora                       |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a collection manager I wish to create, view, and revert versions for repository content and all of their media,

[2021-10-19 19:50] kstapelfeldt opened #1931 "Fixity Auditing in Islandora"
| Title (Goal)  | Fixity Auditing in Islandora                 |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager   |
| Scope         | Preservation    |
| Story         | As a collection manager I wish to be able to perform fixity audits on objects in the repository and see reports pertaining to the health of objects in my repo

[2021-10-19 19:52] kstapelfeldt opened #1932 "Use Case: PREMIS support"
| Title (Goal)  | PREMIS integration                      |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager  |
| Scope         | Preservation     |
| Story         | As a collection manager, I wish to use PREMIS namespace in my audit log for events mapping to this schema in order to increase the legibility and interoperability

[2021-10-20 12:09] rosiel opened #1933 "Audit history/changes to an object."
| Title (Goal)  | Auditing changes to an Object               |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager / Site Administrator |
| Scope         | Default Configuration     |
| Story         | As a site administrator/collection manager, I wish to be able to view which users made what changes to objects, and when, and prov

[2021-10-20 12:19] rosiel opened #1934 "Use Case: Export Objects and Collections as BagIt"
| Title (Goal)  | Preservation - Bagit                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager  |
| Scope         | Preservation     |
| Story         | As a collection manager I wish to create Object and collection-level files conforming to the bagit specification. As a collection manager I don't have acce

[2021-10-20 12:27] rosiel commented on #1930
meta-issue
- https://github.com/Islandora/documentation/issues/740

[2021-10-20 12:27] rosiel commented on #1485
Tagging meta-issue:
- https://github.com/Islandora/documentation/issues/740

[2021-10-20 12:28] rosiel opened #1935 "Use Case: Mandatory Revisions (Versioning) in Islandora"
| Title (Goal)  | Mandatory Revisions                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Systems Administrator   |
| Scope         | Preservation, auditing, curation       |
| Story         | As a systems administrator and collection manager, I wish to force versioning on all actions for Repository It

[2021-10-20 12:35] rosiel opened #1936 "Use Case: Export objects via REST API"
| Title (Goal)  | Export complete objects via REST API                            |
--------------- |------------------------------------                           |
| Primary Actor | Site Administrator,Systems Administrator,    |
| Scope         | Migration, Preservation, Workflow       |
| Story         | As a collection manager or systems administrator, I wish to export complete objects and met

[2021-10-20 12:37] rosiel commented on #1931
Is this the same as "As a collection manager, I wish to generate checksums for the media in my repository."?

[2021-10-20 12:43] kstapelfeldt commented on #1931
They could be added together, but generating checksums would be discrete from checking checksums and seeing reports about it, I think?

[2021-10-20 13:10] rosiel commented on #1931
Possibly. Do you think there's a use case for "collection managers" to generate checksums that nothing happens with?

This was from:
- [Feature Parity](https://docs.google.com/spreadsheets/d/1jE19AZgwceTo9-eccCRfseiO-4q4iVGPsMWxC5JZrL4/edit#gid=960987100), line 84, phrased as "Enables checksums on datastreams".
- ICG Report, "Include and document digital preservation features in Islandora."

It so

[2021-10-20 13:22] mjordan commented on #1931
Fixity auditing it verifying a file's checksum periodically over time to ensure that the file has not changed inadvertently. So generating checksums is not the same thing as fixity auditing, it's a precondition for fixity auditing.

[2021-10-20 13:23] kstapelfeldt commented on #1931
What Mark said. I think the use case would be that I have something else that checks the checksums. They could go together.

I think an interest group could be a great idea, but we know about immediate gaps in the toolset, so I think we can proceed to build things like checksum generation, and fixity checking and reporting (and ostensibly, a lot already exists in @mjordan work that could be embrac

[2021-10-20 13:26] mjordan commented on #1931
I am happy to contribute Riprap and Islandora Riprap Integration to the IF (and remain its maintainer). It currently generates  checksums, performs the periodic verification of checksums, and reports checksum mismatches found during that periodic verification.

FYI Islandora already requires the Filehash contrib module, which generates checksums. AFAIK it doesn't do anything specific with them oth

[2021-10-20 13:55] mjordan commented on #1931
@kstapelfeldt we have a Preservation IG but it has been inactive for some time. Could revive it.

[2021-10-20 14:09] kstapelfeldt commented on #1931
I think that could be a good longer-term goal for guiding preservation work in Islandora, so long as there is sufficient interest. For me, RipRap would be an excellent addition to the official repositories of Islandora.

[2021-10-21 13:04] rosiel opened #1937 "Use Case: Modular Deployment (decoupling)"
| Title (Goal)  | Deploy only what I need, how i need it                            |
--------------- |------------------------------------                           |
| Primary Actor | Systems Administrator, Evaluator   |
| Scope         | deployment, architecture       |
| Story         | "As an evaluator of Islandora 8, I would like to be able to run Islandora more modularly (minimizing the res

[2021-10-21 13:06] rosiel commented on #1862
This should at very least be in the README: https://github.com/Islandora/islandora_defaults

[2021-10-21 14:57] eldonquijote commented on #1915
I looked a bit closer at the Travis configuration and I'm not so sure anymore if Travis actually builds the documentation web pages using the fork: https://github.com/Islandora/documentation/blob/3de08cb6be3a97e174d372206f8a3f853a4b322d/.travis.yml#L14 (IIUC, this line is executed when Travis builds the pages).

@dannylamb, is the Github token referenced in .travis.yml a personal token? I vaguely

[2021-10-22 11:41] rosiel opened #1938 "Use Case - Editorial / Curatorial Workflows with different roles and permissions"
| Title (Goal)  | Editorial / Curatorial workflows with different roles and permissions                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator, Cataloguer, End User, Evaluator   |
| Scope         | Access, Workflows       |
| Story         | "As a collection manager/site administrator,

[2021-10-22 11:43] rosiel commented on #1198
I'm adding the documentation tag to encourage us to keep a documented knowledge base of what we know about interacting wtih google scholar. Even if it's in islandora defaults, it'll need to be managed by knowledgeable site maintainers.

[2021-10-22 11:56] rosiel opened #1939 "Use Case: Installing and Updating"
| Title (Goal)  | Install and update islandora                            |
--------------- |------------------------------------                           |
| Primary Actor |  Systems Administrator, Evaluator   |
| Scope         | maintenance, deployment      |
| Story         | "As a systems administrator, I wish to clearly understand the requirements for running and supporting, and I wish to un

[2021-10-22 12:08] rosiel opened #1940 "Use Case: Prevent/manage orphaned media and files"
| Title (Goal)  | The title or goal of your use case                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | content management, metadata       |
| Story         | As a collection manager, I need to understand if there are cases if/when media and metadata can be disconnected, and media o

[2021-10-22 12:20] rosiel opened #1941 "Confused by File and Media UX"
[not a use case.]

Source: ICG report
"The disconnection between metadata records and associated media/files is very confusing from a UI/UX perspective. The connection between metadata node and media is only apparent when looking at the “Media of” field in the media’s metadata. There are separate lists for metadata nodes, media, and files. It seems like there is potential for the connection betwee

[2021-10-22 12:32] rosiel opened #1942 "Use Case: Collection/Compound Management"
| Title (Goal)  | Manage collections and compound objects.                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator   |
| Scope         | Content Management   |
| Story         | As a collection manager, I wish to be able to delete, move, and share pages and repository objects individuall

[2021-10-22 12:37] rosiel opened #1943 "Use case: Batch Ingest (command-line)"
| Title (Goal)  | Batch Ingest - Command Line                           |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator,  Developer, |
| Scope         | Ingest      |
| Story         | As a collection administrator or systems administrator, I need to be able to do robust command-line ingests of content in

[2021-10-22 12:41] rosiel commented on #1943
Related:
- https://github.com/Islandora/documentation/issues/1922

[2021-10-22 12:47] rosiel opened #1944 "Use Case: Batch delete by ingest set"
| Title (Goal)  | Batch delete by ingest set
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator, Cataloguer, Developer   |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         |  Manage (delete) objects based on their ingest set - the event by which they were created

[2021-10-22 13:18] rosiel opened #1945 "Use Case: Bulk Edit / Bulk Update"
| Title (Goal)  | Bulk edit                     |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | Metadata Management     |
| Story         | As a collection manager, I wish to be able to update metadata in the system for single objects and multiple objects using file uploads, as well as through native inter

[2021-10-22 13:51] rosiel opened #1946 "Use Case: Integrate with external linked data vocabularies"
Title (Goal) | Linked Data Vocab Integration
-- | --
Primary Actor | Repository admin, cataloguer
Scope | Metadata
Story | As a cataloguer, I would like to dynamically generate and author subjects from linked data vocabularies provided by LOC and others.

Partially provided by: [Linked Data Lookup](https://www.drupal.org/project/linked_data_field) module.
Source:  Islandora Features Survey

Broadl

[2021-10-22 14:04] rosiel commented on #1659
Related:
- https://github.com/Islandora/documentation/issues/1801
We had a problem where we needed the metadata editor to see "deprecated" in certain relations, but didn't want to expose that to the public. This can be solved if we have configurable display field labels that apply to Linked Agents.

[2021-10-22 14:45] rosiel opened #1947 "Use Case/Meta Issue: Accommodate standard Metadata schemas and file types for import and for export"
| Title (Goal)  | Export metadata in a serialized form following standard metadata schemas and filetypes                       |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | Metadata    |
| Story         | As a collection manager, I want to be able to input and export metadata conforming to any schema (MO

[2021-10-22 14:50] rosiel opened #1948 "Use Case: Customize metadata input forms"
| Title (Goal)  | Customize metadata input forms                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator, Cataloguer, Developer, End User, Systems Administrator, Evaluator   |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a site ad

[2021-10-22 14:52] rosiel commented on #1948
Related issues:
- for customizing by collection and media type, potentially: https://github.com/Islandora/documentation/issues/1484
- for configuring what metadata users see: https://github.com/Islandora/documentation/issues/1659
- for combining media/node input: https://github.com/Islandora/documentation/issues/919
- relating to tying together nodes/media: https://github.com/Islandora/documentati

[2021-10-22 15:06] rosiel opened #1949 "Meta Issue [MIG]: Use Taxonomy Terms as Metadata"
This links tickets relating to the complexities around using taxonomy terms as metadata.

[2021-10-22 15:06] rosiel commented on #1899
Related:
- https://github.com/Islandora/documentation/issues/1949

[2021-10-22 15:08] rosiel opened #1950 "Use Case [MIG]: Source of selected term should be indicated in form"
| Title (Goal)  |         Source vocabulary of selected term should be indicated in form                    |
--------------- |------------------------------------                           |
| Primary Actor | Person who creates metadata for objects using forms in Islandora |
| Scope         | metadata entry forms |
| Story         | As a metadata creator using a form to describe my objects in Isl

[2021-10-22 15:08] rosiel commented on #1950
Parent issue:
- https://github.com/Islandora/documentation/issues/1949

[2021-10-22 16:46] #1918 closed, assigned to whikloj

[2021-10-22 17:10] rosiel opened #1951 "Use Case [MIG]: Taxonomy terms display for admin (edit) forms is configurable."
aka. "Make what is shown in the term selection drop down and form field #1950  configurable"

| Title (Goal)  |         When editing metadata, can configure how taxonomy terms show up.                     |
--------------- |------------------------------------                           |
| Primary Actor | Person who creates metadata for objects using forms in Islandora |
| Scope         | metadata

[2021-10-22 17:15] rosiel opened #1952 "Use Case [MIG] : Clear UX when adding new terms via the node form"
| Title (Goal)  |         Clear indication of when you are adding a new term, and where it will be added                     |
--------------- |------------------------------------                           |
| Primary Actor | Person who creates metadata for objects using forms in Islandora |
| Scope         | metadata entry forms |
| Story         | As a metadata creator using a form to describe

[2021-10-22 17:21] rosiel opened #1953 "Use Case [MIG]: Choose vocabulary for new term when entering metadata."
| Title (Goal)  |        Story 4: Ability to choose taxonomy vocabulary for new term while entering metadata                     |
--------------- |------------------------------------                           |
| Primary Actor | Person who creates metadata for objects using forms in Islandora |
| Scope         | metadata entry forms |
| Story         | As a metadata creator using a form to descr

[2021-10-22 17:34] rosiel opened #1954 "Use Case [MIG]: Process for Reviewing terms added via less-than-full taxonomy form."
### Story 5

| Title (Goal)  |         Reviewable list of terms added via non-taxonomy term metadata creation form.                     |
--------------- |------------------------------------                           |
| Primary Actor | metadata manager |
| Scope         | metadata entry forms |
| Story         | As a metadata manager, I need to be able to periodically review the taxonomy terms t

[2021-10-22 17:38] rosiel opened #1955 "Use Case [MIG]: Inline form allows richer taxonomy term creation without breaking metadata creation workflow"
## Story 6
| Title (Goal)  |         When editing metadata, can configure how taxonomy terms show up.                     |
--------------- |------------------------------------                           |
| Primary Actor | Person who creates metadata for objects using forms in Islandora |
| Scope         | metadata management |
| Story         | As a metadata creator using a form to describe my o

[2021-10-22 17:41] rosiel opened #1956 "Use Case [MIG]: Select terms feature in metadata creation forms allows finding terms by synonym/non-preferred/variant forms"
## Story 7
| Title (Goal)  |         Populate entity reference field select views with alternate term values.                     |
--------------- |------------------------------------                           |
| Primary Actor | Person who creates metadata for objects using forms in Islandora |
| Scope         | metadata creation form |
| Story         | As a metadata creator using a form to de

[2021-10-22 17:49] rosiel commented on #1946
Related: the use cases  (currently unnumbered, after #7) describe some caveats and desired behaviours for a feature like this. https://docs.google.com/document/d/1oyba3HJngwgAiQz8yasmOBZ5iM2coDdpnsGERiSs1DA/edit#heading=h.fjfo2bm9mtvl

[2021-10-22 18:03] rosiel opened #1957 "Use Case: OCR is searchable and i can tell it a language."
| Title (Goal)  | OCR  - Extracting Text                          |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator, End User, Evaluator   |
| Scope         | OCR       |
| Story         | "As a site administrator/collection manager, I wish to be able to extract text from documents and text-based images and

[2021-10-22 19:09] DonRichards opened #1958 "Up Votes to influence priorities"
## Suggestion:

Using the :+1: to help give an equal voice to up vote a ticket as a priority. And after a desired number of :+1: then a Github action would assign a **Label** of "_Priority: High_"

This does mean this adds an place to those with Github accounts. For those without Github they will still be able to attend community calls to voice their interest there and this shouldn't override prio

[2021-10-22 19:25] rosiel opened #1959 "Use Case: Monitoring Background Jobs"
| Title (Goal)  | The title or goal of your use case                            |
--------------- |------------------------------------                           |
| Primary Actor | Site Administrator, Developer, Systems Administrator   |
| Scope         | Maintenance, auditing, site health       |
| Story         | As a collection manager I wish to review the status of background job/audit the su

[2021-10-22 19:35] rosiel commented on #1381
Use case phrasing: "As a collection manager I wish to review a report that shows traffic and download of objects in my repository."

[2021-10-22 19:56] rosiel opened #1960 "Use Case: Federated Search across sites"
| Title (Goal)  | Federated Search across sites                            |
--------------- |------------------------------------                           |
| Primary Actor |  End User   |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As an end user, I wish to be able to conduct both federated and site-specific searches within an institutiona

[2021-10-22 20:19] rosiel opened #1961 "Use case: User Friendly Keyword Searching"
| Title (Goal)  | Keyword searching                            |
--------------- |------------------------------------                           |
| Primary Actor | User  |
| Scope         | search       |
| Story         | I want to search the site using keywords and have the results find my search term anywhere in the metadata.

Source: ICG Report:

[2021-10-22 20:23] rosiel opened #1962 "Use Case: Manage Solr Indexing"
| Title (Goal)  | Solr Indexing                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a collection administrator/site administrator, I need to be able to optionally specify entities

[2021-10-22 20:28] rosiel opened #1963 "Use case: I need a theme."
As an implementer of the Carapace theme, I need to clearly understand the relationship between Carapace and Barrio. Are they supported? Are they maintained? Are they inaccessible? #1828

How much of "islandora" _is_ now within the theme?

[2021-10-22 20:36] rosiel opened #1964 "Use Case: User "Lists" of objects"
| Title (Goal)  | User can create lists of bookmarked or flagged items.                           |
--------------- |------------------------------------                           |
| Primary Actor | User, Collection Manager  |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a site user with sufficient permissions, I wish to generate arbitrary

[2021-10-22 20:40] rosiel opened #1965 "Use Case: Linked Taxonomies navigation (Replacement for Solr Facet Pages)"
| Title (Goal)  | Linked Taxonomy Navigation                            |
--------------- |------------------------------------                           |
| Primary Actor | End User   |
| Scope         | Metadata, navigation       |
| Story         | "As an end-user, I wish to be able to click field values that have been controlled in the system through the use of taxonomies, and view all objects

[2021-10-22 20:48] rosiel opened #1966 "Use Case: Collection Specific Facets"
| Title (Goal)  | Collection specific facets                            |
--------------- |------------------------------------                           |
| Primary Actor | Site Administrator   |
| Scope         | Search       |
| Story         | As a site administrator, I wish to be able to assign collection-specific facets. (Facets that show up only when searching within a specific collection)

[2021-10-22 21:40] rosiel opened #1967 "Use Case: Tell if Fedora is Up"
As a collection manager / site admin, I want to be able to tell from the Drupal GUI whether Fedora is currently installed, connected, and/or running.

Feature Parity: In Legacy, you could go to where the Fedora URL was configured and see a green checkmark if the system was able to connect to fedora.

[2021-10-22 21:47] rosiel opened #1968 "Use Case: "File Download" links"
| Title (Goal)  |      "File Download" links                    |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager, Site Administrator   |
| Scope         | UX, public facing side       |
| Story         | I want to provide a "File download" link for an object. This can be as an interface element (a download "button" or in expor

[2021-10-22 21:56] rosiel opened #1969 "Use Case: Thumbnails"
| Title (Goal)  | Objects Have Thumbnails                            |
--------------- |------------------------------------                           |
| Primary Actor | Site Administrator  |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | As a site administrator, I want to build a site where the thumbnail associated with my Islandora Object sho

[2021-10-22 22:10] rosiel commented on #1958
I want us to be careful with this. As I expressed in the ICC call today, it is a mistake to think that numbers are unbiased.

Other tools I've used have a "This affects me" button that has an impact on its' "heat" ranking (which is affected by other factors: https://blog.launchpad.net/bug-tracking/bug-heat)

I'd really suggest that we hold off on this abstraction until we have more of a handle on

[2021-10-22 22:10] rosiel commented on #1969
Related:
- https://github.com/Islandora/documentation/issues/1542

[2021-10-22 22:11] rosiel opened #1970 "Use Case: Two-Stage Delete or Ingest"
aka. "Trash Bin" and "Empty Trash Bin"

| Title (Goal)  | Two stage delete or ingest                            |
--------------- |------------------------------------                           |
| Primary Actor | Collection Manager |
| Scope         | Workflow      |
| Story         | As a repository manager, i want to have the option to publish and unpublish nodes or content so that i can remove

[2021-10-22 22:17] rosiel opened #1971 "Use Case: Can view media but not download"
[Disclaimer: I am transcribing this from my recollection of a User Call. I have personal philosophical concerns with this feature as part of OS software]

| Title (Goal)  | Can view media but not download (DRM)                          |
--------------- |------------------------------------                           |
| Primary Actor | Site Administrator |
| Scope         |  access       |
| Story

[2021-10-22 22:20] rosiel opened #1972 "Use Case: Serve video content at scale"
| Title (Goal)  | Serve video content at scale                            |
--------------- |------------------------------------                           |
| Primary Actor | Site Administrator, End User, Systems Administrator   |
| Scope         | The scope of the project. Example: architecture, access       |
| Story         | What are my options for performant delivery of audiovisual (A/V) con

[2021-10-24 18:15] mjordan commented on #1921
Also just saw this good roundup of accessibility-auditing modules: https://opensenselabs.com/blog/articles/drupal-accessibility.

[2021-10-25 14:17] kylehuynh205 commented on #1746
A few enhancement with our approach for Blazegraph micro-service with Advanced Queue and the Runner.

- We add a feature to re-run a job if it is failure, with options to choose how many time to re-run and delay between each time of re-run.

![image](https://user-images.githubusercontent.com/7862086/138711358-e67041ca-982e-4fa9-9b05-4547c62b52ac.png)

- After monitoring the Advanced Queue Runner,

[2021-10-25 16:02] jordandukart opened #1974 "Bug: Openseadragon JS load order when BigPipe is enabled"
In https://github.com/Islandora/openseadragon/pull/26 OSD was moved over to use a CDN to serve up the OpenSeadragon library. With the `big_pipe` module enabled it's possible to run into racey scenarios where the external JS is not loaded prior to the instantiation of the viewer being done by the module itself.

We'd likely want to provide the end-user the ability to use a locally referenced copy o

[2021-10-25 18:42] DonRichards commented on #1958
I'm hoping we could implement avenues to promote moving forwards. We aren't going to find a perfect solution for everyone but we can iterate through promising solutions and see if they work out. Also there's the new Discussion section as well. https://github.com/Islandora/documentation/discussions

[2021-10-26 10:36] jordandukart opened #1975 "Bug: OpenSeadragon attempts to attach the JS libraries to the page even when there is no tile sources"
To reproduce (tested on an `islandora-playbook` box):

1. Place the OpenSeadragon block in the content region, configure the manifest url to be `node/[node:nid]/manifest` or whatever pattern doesn't really matter.
2. Create a repository item (model can be anything).
3. View the object.
4. Note that the OSD block always renders regardless of model (design choice perhaps, doesn't really matter if us

[2021-10-26 12:41] jordandukart commented on #1975
PR: https://github.com/Islandora/openseadragon/pull/39.

[2021-10-26 14:52] #1975 closed, assigned to nobody

[2021-10-28 18:21] seth-shaw-unlv commented on #1903
Okay. I took an isle-dc and modified the `make local` to give me a D8 and Islandora 1.1.1 before installing ldap:3.0.0-beta7. I then updated ldap to ^4 and nothing complained. I went the extra step and updated Islandora to ^2 and Drupal to ^9 and was able to get that to go.

So, can't reproduce. It must have been something weird I was doing with composer or my particular site. Closing as "can't re

[2021-10-28 18:21] #1903 closed, assigned to seth-shaw-unlv

[2021-10-29 18:37] elizoller commented on #1889
i can't remember what i'm supposed to do for this one. does anyone know?

[2021-10-31 01:30] rosiel opened #1976 "Explore Feeds as an option for bulk/batch ingest"
If content managers want to be able to manipulate metadata of nodes, media, and taxonomy terms, then the bulk options available with Migrate are very hard to use. And Workbench is very object-centric and cannot individually manage taxonomy terms or media.

For the moment, we could look at Feeds as an option for this.

The main difference, I think, is that Migrate was not designed to be used as ong

[2021-11-01 16:04] seth-shaw-unlv commented on #1889
@elizoller, this is just an update to the islandora_defaults config so that EDTF intervals are true instead of false. See https://github.com/Islandora/islandora_defaults/blob/2.x/config/install/core.entity_form_display.node.islandora_object.default.yml#L374, https://github.com/Islandora/islandora_defaults/blob/2.x/config/install/core.entity_form_display.node.islandora_object.default.yml#L383, and

[2021-11-02 17:07] seth-shaw-unlv opened #1977 "Change abstract from string to text"
In some cases we want formatted text in abstracts, for example, using italics when referencing publication titles in the abstract. This requires changing the abstract field from string to text.

See [the conversation on Slack](https://islandora.slack.com/archives/CM9CVQWJ0/p1633977720028300).

[2021-11-03 15:50] eldonquijote commented on #1924
Our friendly competition over at Samvera built a wrapper around the video.js player that reads a IIIF manifest for AV content and displays VTT files referenced from the manifest: https://github.com/samvera-labs/iiif-react-media-player
Might work similar to how the OpenSeaDragon viewer is used for paged content? It's a React component, IDK how feasible it is to integrate that in a Drupal installati

[2021-11-03 18:21] amyrb opened #1978 "Use Case: Google Scholar capabilities"
<html>
<body>

Title (Goal) | Google Scholar capabilities
-- | --
Primary Actor | Institutional Repository Manager, Site Administrator, End User
Scope | discovery and access, institutional repository
Story | "As an Institutional Repository Manager I want to index scholarly content in my repository in Google Scholar so that it is more accessible to the scholarly community. In order to do so, I want

[2021-11-03 18:59] amyrb opened #1979 "Use Case: Identify and view collections, objects, files, based on their workflow status or taxonomy terms"
<html>
<body>

Title (Goal) | Identify and view collections, objects, files, based on their workflow status
-- | --
Primary Actor | Institutional Repository manager
Scope | collection management
Story | As an institutional repository manager I want to be able to identify and view collections, objects, and/or files based on their status in an ingest and publishing workflow (and possibly based on sp

[2021-11-04 16:24] seth-shaw-unlv opened #1980 "References to old field_alternative_title persist in islandora_defaults"
The MIG updates represented by the change between islandora_defaults 1.1.1 and 2.0 include renaming field_alternative_title to field_alt_title. However, some [lingering references to field_alternative_title persist](https://github.com/Islandora/islandora_defaults/search?q=field_alternative_title).

[2021-11-10 17:44] amyrb commented on #1923
Related issues: [OCR is searchable and i can tell it a language](https://github.com/Islandora/documentation/issues/1957)
[Highlight OCR](https://github.com/Islandora/documentation/issues/1580)

[2021-11-10 20:02] yamensaleh opened #1981 "Use case: add watermark to pdf files for a specific collection"
As a repository admin/manager I need to stamp pdf documents and photos using png file (logo) for a certain collection where I will upload my publications.

[2021-11-10 21:46] seth-shaw-unlv commented on #1981
Adding watermarks to images to images is currently possible through the service file generation by adding the appropriate flags to the imagemagick convert command in the action configuration (although you need to put the watermark source somewhere accessible to the Houdini webservice). Limiting the watermark to a specific collection would require creating a second derivative action with the waterm

[2021-11-10 21:48] jlong2git commented on #1867
not sure if this is the same problem I can't get the OCR to work with 1.0.0-alpha-10

alpaca_1      | 2021-11-10 15:41:08,521 | ERROR | a-connector-ocr] | DefaultErrorHandler              | 56 - org.apache.camel.camel-core - 2.20.4 | Failed delivery for (MessageId: ID-6b10eef716fa-1636558559020-2-22 on ExchangeId: ID-6b10eef716fa-1636558559020-2-12). Exhausted after delivery attempt: 11 caught: or

[2021-11-12 06:57] yamensaleh commented on #1981
Isn't PDFTK takes a lot of resources and time while adding a book mark specially for big number of pages Files?

[2021-11-12 16:39] seth-shaw-unlv commented on #1981
🤷‍♂️
I haven't used it personally, so this is all hypothetical. This is also why we stick it into a microservice, so it can run big jobs in the background without slowing-down Drupal.

Supposedly you could use imagemagick, but you would have to break it into pages and watermark each page before gluing it back together, and you would probably lose any text layers (if it was OCR'd or a digital nativ

[2021-11-14 13:40] yamensaleh commented on #1981
we are trying to use PDFTK since we are using it to have a short PDF file for public, will update here when we achieve something.
Thanks

[2021-11-16 17:44] amyrb commented on #1920
Is there a use case for connecting to/enabling Fedora permissions? Since the Fedora layer is no longer required, this clearly wouldn't be a default, but would it potentially be a good option for users who keep the Fedora layer?

[2021-11-16 20:40] antbrown opened #1982 "Check we're not trying to delete default media thumbnails before telling user they're inaccessible"
When using the "Delete media and files" views bulk operation on a FITS media type, for example, Drupal comes back saying we don't have permission to delete "x" number of files. This is because one of the files it is trying to delete is the default thumbnail for the media type. This is confusing to clients and so I suggest we remove default thumbnails from the list of inaccessible entities.

I'll c

[2021-11-18 14:36] DonRichards commented on #1920
@amyrb It's been discussed that "_Permissions by Terms_" has scaling issues and "_Groups_" has an "**all or nothing problem**" meaning embargoes aren't practical due to the nature of how "_Groups_" takes over.

So it would be a solid +1 for Fedora if WebAC was used as the ACL method, assuming it blocks access at the **fs** level and checking the permissions is possible.

### What I think would be

[2021-11-18 14:42] DonRichards commented on #1970
Just a addition to this. How about an "Empty Trash Bin in 30/60/90/365 days" delay or a continuous cron to "Purge objects from Trash Bin if delete date is older than 30/60/90/365 days"? I think that would be useful for those that like to schedule tasks at using the semester terms.

[2021-11-18 14:44] DonRichards commented on #1976
@rosiel Can you provide a link to the module?

[2021-11-18 14:50] DonRichards commented on #1961
Which fields?  Solr fields or node/media/taxonomy fields?

[2021-11-18 15:43] rosiel commented on #1976
https://www.drupal.org/project/feeds

[2021-11-18 16:07] kylehuynh205 opened #1983 "Playbook build fail with `python3: command not found`"
I'm building the the playbook and it failed with the below error:

[code]
the section `install python` in bootstrap.yml seem to be skipped, I have Mac OSX Monterey in my laptop, I'm not sure if it has something to do with this. I'm wondering if anyone has the same issue  ?

Vagrant 2.2.14

[2021-11-18 16:17] alxp commented on #1983
I'm running Monterey and am not experiencing this.

I see the default python in my $PATH is /usr/bin/python which is Python 2.7, and I have a python3 installed via Home-brew at /user/local/bin/python3.

[2021-11-18 16:56] elizoller commented on #1980
fixed by @kspurgin with https://github.com/Islandora/islandora_defaults/pull/59

[2021-11-18 16:56] #1980 closed, assigned to kspurgin

[2021-11-18 17:10] cillianjoy commented on #1923
Two related examples using universal viewer:
https://digital.library.villanova.edu/Item/vudl:62526
https://showcase.iiif.io/showcase/uv/ - with search OCR with words highlighted
Would be nice to see the ability to plugin any IIIF viewer.

[2021-11-18 18:08] kylehuynh205 commented on #1983
My python setup is also the same as well:

![image](https://user-images.githubusercontent.com/7862086/142472107-aeb2b680-8f5f-455c-9e3c-484893a360ed.png)

[2021-11-18 18:14] kylehuynh205 commented on #1983
... Aslo I see this warning as well, maybe the anisible version is not compatible  ?

[code]

[2021-11-18 18:21] alxp commented on #1983
Here are my ansible and vagrant versions:

[code]

[2021-11-18 20:12] whikloj commented on #1983
I thought that it was testing if python was installed in the Ubuntu box, not on your host machine?

[2021-11-18 20:33] kylehuynh205 commented on #1983
[code]
Yes, according to the log above  the task [Install python] (i looked at the [bootstrap.yml](https://github.com/Islandora-Devops/islandora-playbook/blob/dev/bootstrap.yml#L11)) is skipping, means the install python commands in this task fail to run ?

I also run `vagrant ssh` to the fail built box above, try to run `sudo apt-get install -y python3` and  I got :
[code]

Maybe apt-get is not i

[2021-11-18 20:42] whikloj commented on #1983
No I'm pretty sure `apt-get` is installed in Ubuntu by default.

The fact that it is looking for `python3` makes me wonder if the test on [this line](https://github.com/Islandora-Devops/islandora-playbook/blob/dev/bootstrap.yml#L12) should be
[code]

[2021-11-18 21:36] kylehuynh205 commented on #1983
I changed the line to the one you suggested,  ... I still got the same error above.

[code]

[2021-11-18 21:42] whikloj commented on #1983
When you `vagrant ssh` in to the box, what does
[code]
and
[code]
return?

[2021-11-18 21:45] kylehuynh205 commented on #1983
As below ....

[code]

[2021-11-18 21:46] whikloj commented on #1983
Maybe @alxp can weigh in here, as he had the PR that switched the install from `python` to `python3`. Maybe now python3 is a requirement of ansible?

[2021-11-19 14:13] DonRichards commented on #1983
Maybe we should switch to **python-is-python3** install if the path is the issue. This is a proprietary fix to Ubuntu.
`raw: test -e /usr/bin/python3 || (apt-get update; apt-get install python-is-python3;)`

[2021-11-19 14:16] alxp commented on #1983
I made the change when updating the base box to Ubuntu 20.04, who's default python interpreter is Python 3, the test is a little misaligned now I think. If I log in to a fresh box built with islandora_distro = ubuntu/focal64:

vagrant@islandora8:~$ which python
vagrant@islandora8:~$ which python3
/usr/bin/python3

There is a fairly new Ubuntu package called 'python_is_python3' which has in its pac

[2021-11-19 14:24] alxp commented on #1983
there's a variable "ansible_python_interpreter" set in inventory/vagrant/group_vars/database.yml, the test should more appropriately use that one.

[2021-11-19 15:04] kylehuynh205 commented on #1983
I changed as you suggested, but still got the same error. and the [install python] task still be skipped.

[code]

In `inventory/vagrant/group_vars/database.yml`, I see ` ansible_python_interpreter: python3`, how should I set the test with `test -e python3` ? sorry I'm still getting to know more with Anisible.

[2021-11-19 15:07] alxp commented on #1983
Oh sorry test-e needs the absolute path.

Perhaps to be proper we should do something like
test -e `which "{{ ansible_python_interpreter }} "

But failing that you can try
test -e /usr/bin/python3

[2021-11-19 15:11] alxp commented on #1983
But thinking about why it is skipping the step,

the condition in the task is:

[code]
Do you have something in your Vagrantfile or unix environment changing that variable?

[2021-11-19 15:44] kylehuynh205 commented on #1983
I checked the Virtualbox settings (screenshot below) and find the box is actually centos 7 instead of ubuntu, maybe that's why it's skipping.
![image](https://user-images.githubusercontent.com/7862086/142649720-6509b0b6-f728-4404-b2d3-c93248e7e960.png)

I have only one change in Vagrantfile which is `v.gui=true` for the new MacOSX Monterey.  I'm not sure how the box becomes Centos instead.
[code]

[2021-11-19 15:52] whikloj commented on #1983
Maybe you should delete your entire `islandora-playbook` directory and re-clone the playbook. It seems like something has gotten out of sync for you. I'd also go into VirtualBox and delete the machine in there.

[2021-11-19 16:41] kylehuynh205 commented on #1983
I deleted `islandora-playbook` and the VM in virtual box (run `vagrant destroy` as well) , then cloned the fresh one, but it still pull the Centos 7 when `vagrant up`, so i improvised a bit,

Run "vagrant ssh" then run `sudo yum update` and then, `sudo yum install -y python3` and exit, run `vagrant up --provision`. the installation proceed up until :

[code]

then did the same thing with `vagrant

[2021-11-19 19:46] kylehuynh205 commented on #1983
I found the issue, so I'm not aware of the environment ISLANDORA_DISTRO set to CentOS in my labtop, so it installed Centos instead

Anyways, the playbook built and works as expect. Thank you for your help.

[2021-11-19 19:46] #1983 closed, assigned to nobody

[2021-11-22 09:13] nigelgbanks commented on #1869
Forgot to close this after it was fixed by this [pull](https://github.com/Islandora/islandora/pull/843)

[2021-11-22 09:13] #1869 closed, assigned to nigelgbanks

[2021-11-22 09:22] nigelgbanks commented on #1669
`isle-buildkit` is currently using Composer 2.0.12

[2021-11-22 09:22] #1669 closed, assigned to nigelgbanks

[2021-11-23 08:48] nigelgbanks commented on #1892
Pull request to address the issue: https://github.com/Islandora-Devops/isle-dc/pull/198

[2021-11-24 08:12] nigelgbanks commented on #1892
Resolved by Islandora-Devops/isle-dc#198

[2021-11-24 08:12] #1892 closed, assigned to nigelgbanks

[2021-11-29 16:25] DonRichards commented on #1931
@mjordan Is it possible to run RipRap without Fedora? Like storing a hash into a field or something :shrug:

[2021-11-29 16:39] manez commented on #1805
May relate to #1876

[2021-11-29 16:52] eldonquijote opened #1984 "Documentation uses branding without version numbers"
* remove references to version number 8 from documentation
* replace references to version number 7 with "Islandora Legacy"

[2021-11-29 16:53] kstapelfeldt commented on #1931
I'm not the tagged person, but FWIW we're running RipRap without Fedora. It's definitely possible and Mjordan wrote this so it will work with Drupal.

[2021-11-29 16:55] mjordan commented on #1931
@kstapelfeldt is correct. You need to use the PluginFetchDigestFromDrupal plugin instead of the PluginFetchDigestFromFedoraAPI plugin.

[2021-11-29 17:37] mjordan commented on #1764
Workaround implemented in Islandora Workbench is to set Requests' max headers to 10,000 (from default of 100 headers).

[2021-11-29 17:43] eldonquijote opened #1985 "Revisit Islandora Youtube channel and link videos to appropriate documentation pages"

[2021-11-29 17:45] kylehuynh205 opened #1986 "Formalize Access Control approach with Group module"
At UTSC, we have different setup from Islandora:
+ Switch relationship to Drupal default: Node -> media.
+ Using Drupal private file system, not Fedora for now.
==> We tried out Permission by Terms, Embargo, and we found that [Group module](https://www.drupal.org/project/group) (also [Group Media](https://www.drupal.org/project/groupmedia))  is the solution which work well with our stack so far.

[2021-11-29 20:17] g7morris opened #1987 "Propose a release process and schedule for ISLE"
For the Islandora Community Sprint (11/29/21-12/15/21)

* Propose a release process and schedule (including roles and responsibilities necessary to ensure timely security updates

[2021-11-29 20:53] DonRichards opened #1988 "Missing masonry library (ISLE-DC) https://github.com/Islandora-Devops/isle-dc/pull/197"
Copied over from https://github.com/Islandora-Devops/isle-dc/pull/197

[2021-11-30 14:23] DonRichards commented on #1787
I don't mind tracking this down and making it happen. :-)

[2021-11-30 17:51] #1988 closed, assigned to DonRichards

[2021-11-30 17:58] DonRichards commented on #1787
OK, just going to add the description of what I've done prior to me pushing a pull request. Basically the functionality is inside of islandora/islandora. I've added a couple of twig files, a new route "welcome", and update hook in the install file to change home over to the new. I'm adding instructions on how to set your own homepage. Just by copying the welcome twig into your theme. I think havin

[2021-11-30 18:35] ysuarez commented on #1295
I have created this Google Doc with some ideas on what content we could want to add to the templates

https://docs.google.com/document/d/1dF0yL9_lRsaX14Mb2nsMzZXUIbSPMmFITGH8KP_Zcxk/edit

Please reach out to me if you want rights to be able to leave comments in the doc.

@eldonquijote @kstapelfeldt @rosiel

[2021-11-30 19:43] kstapelfeldt opened #1990 "User Experience in Olivera"
Change default colour scheme to white
Add new logo image

[2021-11-30 19:46] DonRichards commented on #1787
Pull Request pending review and documentation added.
https://github.com/Islandora/islandora/pull/856
https://github.com/Islandora/documentation/pull/1989

[2021-11-30 19:48] kstapelfeldt commented on #1990
![Screen Shot 2021-11-30 at 2 47 39 PM](https://user-images.githubusercontent.com/467898/144117401-1ec0d860-42d9-4ded-b6b4-7a6549eacffe.png)

[2021-11-30 19:53] DonRichards commented on #1990
Is Olivera being added to the default setup?

[2021-11-30 19:54] kstapelfeldt commented on #1990
no, sorry. Probably this isn't the right place for this ticket. Let's talk in tomorrow's meeting about what we're proposing as part of the default experience group.

[2021-11-30 19:55] alxp commented on #1990
Per the kick-off meeting it was decided we would start out with the Islandora Starter Theme along with the rest of the install profile and then once that is in place see how it looks when we switch themes.

[2021-11-30 19:59] kstapelfeldt commented on #1990
Sorry if this causes confusion. It's just notes to myself and Nat and I'm dumping them in this ticket.
![Screen Shot 2021-11-30 at 2 58 14 PM](https://user-images.githubusercontent.com/467898/144118906-8ec86cfa-2cf5-4278-85cf-a79dda4ca58b.png)
Search bar has title baked in a weird way and I can't edit "Fulltext search" or get rid of it like I expect.

[2021-11-30 20:00] kstapelfeldt commented on #1990
Name changed to 'Sandbox'

[2021-11-30 20:06] kstapelfeldt commented on #1990
turned off title for search bar and assigned to sidebar.
Created new default homepage and assigned in configuration.
Excluded page title from the front page (<front)

[2021-12-01 18:39] kspurgin opened #1991 "Remove "Fedora-based" from Islandora Github repository description?"
![image](https://user-images.githubusercontent.com/450570/144292591-520556f2-9319-486f-b5b1-a85b30f72c8f.png)

Given that it is optional to use Fedora in the stack, should "Fedora-based" be removed from that description?

If I were opposed to running Fedora for some reason, and didn't know better, I might rule Islandora out based on that description.

[2021-12-01 20:41] ajstanley opened #1992 "Bad IIIF server address shows whitescreen."
If you enter a non-working IIIF Image server location from admin/config/islandora/iiif you'll whitescreen.

[2021-12-02 16:00] alxp opened #1993 "Ansible Playbook can spin up both Standard and Demo Install Profile"
PR: https://github.com/Islandora-Devops/islandora-playbook/pull/206

By specifying in either a Unix environment variable or Ansible inventory variable, a user can use the Playbook to spin up either a vanilla Drupal site with Islandora Defaults enabled or the islandora_install_profile_demo Install Profile.

[2021-12-02 16:47] seth-shaw-unlv opened #1994 "Migrate Tools update broke our CI"
[Two weeks ago the Migrate Tools dev branch removed support for Drupal 8](https://git.drupalcode.org/project/migrate_tools/-/commit/9bc6966b6204eef9353e5a3b9d8b038d04a50684). Our [testing matrix still includes testing on Drupal 8](https://github.com/Islandora/islandora/blob/2.x/.github/workflows/build-2.x.yml#L26) which now fails. See @ajstanley 's [recent PR](https://github.com/Islandora/islandor

[2021-12-02 16:49] whikloj commented on #1994
If we are not dropping support for Drupal 8, then I vote for locking it for the time being.

[2021-12-02 16:52] seth-shaw-unlv commented on #1994
There are several committers on the Sprint Call right now that vote for dropping D8 from the testing matrix since it is EOL anyway.

[2021-12-02 16:56] dflitner commented on #1994
I agree that we should drop D8 since it's EOL.

I don't know how much it might be used in the Islandora community so do we need to lock it for now and phase it out with an announcement? I think it could be a fairly short phase out period but if folks don't think that's needed then yes we should just get rid of it.

[2021-12-02 17:32] rosiel commented on #1994
I'm for we drop D8.

[2021-12-02 17:52] seth-shaw-unlv commented on #1994
So, if we drop D8, is that a major version change, even though _our_ API didn't change? Or something else?

[2021-12-02 18:12] bseeger commented on #1994
I'm for dropping 8 and for a major version change - is this just for the islandora module (for starters)?

[2021-12-02 18:20] seth-shaw-unlv commented on #1994
Bringing over observations made in a Slack thread:

So, we could just remove the dependency from islandora's composer and info.yml, relying instead on deployment methods to include it.

[2021-12-02 18:26] seth-shaw-unlv commented on #1994
Yes, only islandora would _need_ to be 3.0. However, modules that include islandora as a dependency would also have to update their composer to be `islandora/islandora:^2 || ^3` **or** drop D8 themselves and shift their major versions as well.

[2021-12-02 20:06] kylehuynh205 commented on #1986
Refactored Danny works into a separated module: https://github.com/digitalutsc/islandora_group, I currently have the module in our Github for testing, when it's completed, we can transfer the ownership to the foundation.

**Installation**
By composer `composer require digitalutsc/islandora-group`

**Run if use git clone**
[code]

**My testing so far:** (pretty much replicate what Danny showed the

[2021-12-03 17:26] ajstanley commented on #1992
FWIW - It passed coder on my machine.

vagrant@islandora8:/var/www/html/drupal/web/modules/contrib/islandora/modules/islandora_iiif/src/Form$ coder IslandoraIIIFConfigForm.php
vagrant@islandora8:/var/www/html/drupal/web/modules/contrib/islandora/modules/islandora_iiif/src/Form$

[2021-12-03 18:43] seth-shaw-unlv commented on #1994
Building on my earlier comment about the third option, removing migrate_tools as an islandora dependency, I made PR 859 (linked above). It appears that this fixes the CI for the islandora module.

However, this puts the onus on deployment methods (e.g. ansible and isle) to install and enable migrate_tools themselves _if_ they use a Drush version less than 10.4.

I know the [playbook uses Geerling

[2021-12-03 18:44] seth-shaw-unlv commented on #1992
We'll run with it.

[2021-12-03 18:47] seth-shaw-unlv commented on #1992
Fixed with https://github.com/Islandora/islandora/commit/4f45cb8c06df9da096260a6a449bec6f494cc65d.

[2021-12-03 18:47] #1992 closed, assigned to ajstanley

[2021-12-03 18:48] alxp commented on #1994
The Drush GeerlingGuy role may default to version 9 but it is overridden in the Playbook or the Drupal install itself is hosting Drush in its own structure, which the Drush launcher is happily running.

[code]

This is in the install-profile branch, so it should be merged to dev soon.

[2021-12-03 19:15] seth-shaw-unlv commented on #1994
@alxp, is that with the current dev branch or the new install-profile one?

[2021-12-03 19:16] alxp commented on #1994
The new one, there was some conflict that prevented an update to Drupal 9 if Drush 9 was pegged.

[2021-12-03 19:18] seth-shaw-unlv commented on #1994
Looks like the [dev branch is also asking for 10.3+](https://github.com/Islandora-Devops/islandora-playbook/blob/dev/inventory/vagrant/group_vars/webserver/drupal.yml#L10).

[2021-12-06 16:22] kylehuynh205 commented on #1851
Sorry, @nigelgbanks about taking long time to get back to this issue. I found that {!boost b=boost_document} is the reason which cause the no search results. I comment it out in [this commit](https://github.com/digitalutsc/advanced_search/commit/969dc21bb6b8011f8063ee2d83c1979b7e24fbac)  and Lucene seach is working as expect.

I am wondering if this line is needed for a specific use case ? I comme

[2021-12-06 20:54] kspurgin opened #1996 "`publication_date` token pulls from `field_edtf_date_created` field"
`islandora_defaults` defines a `field_edtf_date_created` and a `field_edtf_date_issued`.

The `publication_date` token created by `controlled_access_terms` is populated from `field_edtf_date_created`.

A couple of concerns about this:

- In metadata-land, creation and issuance (or publication) are two very different things. (A new edition of Hamlet will probably be _published_ next year, but that'

[2021-12-07 16:29] seth-shaw-unlv commented on #1996
I haven't played with tokens much, so I don't know how much help I'll be, but my 2¢:

Yes, we should de-couple controlled_access_terms from islandora_defaults. It appears that the token definition and the switch cases could be made configurable instead of being hard-coded. I'm fine with having the default config based on islandora_defaults, as long as we are able to change the config and can grace

[2021-12-07 18:46] rosiel commented on #1785
The pdf module dependency was added in https://github.com/Islandora/islandora_defaults/pull/49.

Since the semantic versioning shift, islandora and islandora_defaults are no longer version-locked and `composer require` should find a compatible version.

[2021-12-07 18:46] #1785 closed, assigned to rosiel

[2021-12-08 16:14] kstapelfeldt commented on #1941
in-line entity form?

[2021-12-08 16:31] rosiel commented on #1356
At the moment, the install profile provides a very similar accordion functionality:
<img width="1246" alt="Screen Shot 2021-12-08 at 12 29 55 PM" src="https://user-images.githubusercontent.com/1943338/145246135-9f3352cd-882b-41c1-8b7e-093a865ed85d.png">

[2021-12-08 17:08] kstapelfeldt opened #2000 "CSS for styling for Solr search result pager block"
CSS for styling for Solr search result pager block which comes with the advanced search module (Pager, list and grid view, and sorting drop-down).
Don provides an example. Tell the library to pull in partial CSS it will pull it in. https://github.com/Islandora-Devops/islandora_install_profile_demo/blob/main/modules/islandora_install_profile_demo_core/islandora_install_profile_demo_core.libraries.y

[2021-12-08 18:21] seth-shaw-unlv commented on #1994
Fixed with https://github.com/Islandora/islandora/commit/90d67951727452896b2a281337b8fab6485ff237.

[2021-12-08 18:21] #1994 closed, assigned to nobody

[2021-12-09 18:26] kylehuynh205 opened #2001 "Please test out the new version of Islandora Advanced Search"
**The original ticket:** https://github.com/Islandora/documentation/issues/1851
Related issue: https://github.com/Islandora/documentation/issues/2000

## Purpose / why

This module [Advanced Search](https://github.com/digitalutsc/advanced_search/tree/contrib) provides improvements to the [Islandora Advanced Search](https://github.com/Islandora/islandora/tree/8.x-1.x/modules/islandora_advanced_sear

[2021-12-10 16:39] DonRichards commented on #1787
Sorry, meant to close PR and not the ticket.

[2021-12-10 16:54] DonRichards commented on #1787
Added a Doc on how to achieve this. https://github.com/Islandora/documentation/pull/2002

[2021-12-10 18:07] kspurgin commented on #1991
Of possible relevance: Here is how [the documentation](https://islandora.github.io/documentation/) describes Islandora:

"Islandora is an open-source framework that provides the necessary tools to use a Drupal website as a fully-functional Digital Assets Management System."

[2021-12-13 15:18] joshdentremont commented on #1614
I think this can probably be closed now. I just poked through the README for isle-dc and I didn't see anything in there that is not documented in the main documentation.
@dannylamb is everything you were looking for documented now?

[2021-12-13 17:17] dannylamb opened #2003 "Add support for image fields and multi-file media"
Right now if you want a derivative to live on the Media, you can only use file fields.  With a small change we can add support for image fields, too.  That way you can set the thumbnail or give a media an image service file.

[2021-12-13 20:24] mccofield opened #2004 "EDTF field index and sort configurations - documentation expansion"
Current documentation available at https://islandora.github.io/documentation/user-documentation/metadata/#edtf indicates default configurations and affiliated Solr query matching limitations. Expand existing documentation to address potential indexing of and ordering by the formatted display value.

[2021-12-13 20:34] mccofield opened #2005 "Typed Relation field documentation - include faceting details"
By default, facets can be created for typed relation entity fields that will facet based on the linked entity alone, not separating references based on the relationship type. What can be done to create facets for each of the available relationship types?

[2021-12-13 22:54] alxp opened #2007 "Tracking Log4J CVE-2021-44228 Fixes"
Setting this up to track our responses to the Log4J security issue. https://www.sentinelone.com/blog/cve-2021-44228-staying-secure-apache-log4j-vulnerability/

## Playbook

PR https://github.com/Islandora-Devops/islandora-playbook/pull/209

Per initial instructions this PR sets a global environment variable as per   the CVE announcement. This can also be done by hand, or the following to set Java

[2021-12-15 16:48] kstapelfeldt commented on #1949
From Kristina: Our goal was to improve the [Metadata in Islandora 8 documentation page](https://islandora.github.io/documentation/user-documentation/metadata/), and to see if that work would clarify anything in the existing metadata-related use cases in the issue queue.

We met for an hour each day of the first two weeks of the sprint (with one exception) to discuss and co-work. During these meeti

[2021-12-15 18:17] jasonhildebrand commented on #2007
It would be helpful to see a list of affected components.  SOLR certainly.  Are there others?  Or is this still being assessed?

[2021-12-15 18:38] kstapelfeldt opened #2010 "Updating Maintainers portion of the readme in repositories"
"This module is maintained by the Islandora community. If you add an issue to the queue, please attend a [Tech call meeting](https://github.com/Islandora/documentation/wiki#islandora-8-tech-calls) or [join us on Slack to discuss](https://join.slack.com/t/islandora/shared_invite/zt-x7e0jj1x-C1pNzKrR7Fvs4QdQziPZ~g)."

Track in https://docs.google.com/spreadsheets/d/1C4sFLbKcZePsrkhBSH5yfqE9TOfeszz7e

[2021-12-15 18:40] rosiel commented on #2010
We discussed during same call that we don't feel it necessary to include the previous maintainer's name (so, dropping the last  We thank xxxx for previously maintaining this module)

[2021-12-15 18:44] kspurgin commented on #2010
@seth-shaw-unlv I assigned you in the spreadsheet (updated link to a copy of that) to handle the two you are currently the maintainer on.

[2021-12-15 19:28] joshdentremont commented on #1667
I see a lot of the yml files have comments that say do not expose in production. As part of this change would it be worth changing the defaults to false, so that they need to be manually exposed in the .env? That way we could also include these comments in the .env and if someone wants to turn them on they have been warned.

[2021-12-15 19:28] seth-shaw-unlv commented on #2010
I don't know that directly replacing the maintainers line with this statement makes sense. We already make similar statements in the Troubleshooting and Development sections:
[code]

Could we better incorporate the working into the existing Development section? Maybe add Slack to the Troubleshooting section?

[2021-12-15 19:47] joshdentremont commented on #1665
@dannylamb It looks like things have changed since you opened this. Is this now working how you were expecting, or is there more to be done?

I'm looking into documenting how to run two copies of Isle-DC so if we're still looking to make some changes to this I'd like to take a crack at it.

[2021-12-15 20:31] kylehuynh205 commented on #1986
Update on Dec 15:

Module: https://github.com/digitalutsc/islandora-group, please do a git pull if you already installed it before as there are new commits from previous post above

Setup with Group:
+ Install this module: https://github.com/kylehuynh205/islandora_group_defaults, which provides the access control setup for the use case I was testing it on.
OR
+ Create another custom access control

[2021-12-16 17:12] dannylamb opened #2011 "Openseadragon requests images from Cantaloupe as anonymous"
Currently, Openseadragon makes no attempts to provide credentials when requesting images from Cantaloupe.  If files on Drupal are properly restricted, then even when going to a page as admin, you'll get a 403 in the Openseadragon viewer.  Drupal is requiring its JWT token in the `Authorization` header from the AJAX request that Openseadragon sends.

This can be accomplished in two parts:
1. Adding

[2021-12-16 17:30] seth-shaw-unlv commented on #2011
Nice! We've worked around it by simply adding a context condition that only uses the OpenSeadragon viewer when the media is accessible by Anon, but getting it to work with authenticated users is the _right way_.

[2021-12-16 21:57] seth-shaw-unlv commented on #1986
Finally getting around to testing. A few notes on install:
1. the composer.json doesn't include the islandora_group requirement of the rules module.
2. Using a hyphen in islandora-group for the repo name (and composer library name) with an underscore in the Drupal module name is confusing. When `drush en islandora-group` didn't work I had to go figure out _why_.

Where I got stuck was:

It isn't c

[2021-12-17 15:49] kspurgin commented on #2010
I think we can do this better, consolidating and clarifying info.

At the risk of the scope of this creeping, though, I am noticing not all the repositories are super-consistent with the README. For example, the Crayfish repo does not have a Troubleshooting/Issues section and the Development section is formatted a bit differently than what you have above. It does have a list of organizational spon

[2021-12-17 16:10] kspurgin commented on #2010
This is probably opening a can of worms I should leave alone, but do we still recommend using the islandora-playbook (over/instead of isle-dc) for getting started?

Is there an update we could make to https://islandora.github.io/documentation/#try-islandora so we could just link there for methods of getting started with Islandora for demo vs. dev purposes? Then, if the recommendation(s) change we

[2021-12-20 15:25] dannylamb commented on #1665
@joshdentremont I'll close this issue.  This is how things are working now.  All the exposed services are through one domain.  We still need work on https://github.com/Islandora/documentation/issues/1667 to make everything configurable, but what you get uses the `$DOMAIN` variable in your .env.

[2021-12-20 15:25] #1665 closed, assigned to g7morris

[2021-12-20 15:43] kspurgin commented on #2010
Reporting back on the above, based on [systematic review](https://docs.google.com/spreadsheets/d/1VF0tq1nv_-Ej2ikL2sGt_PxHcRW0i-zcgg3Sc8eFKI4/edit?usp=sharing):

* documentation repo's readme is very different from the rest which is probably fine given it's a very different kind of repo. It is omitted from the rest of the summary description below.
* islandora-ci has no README at all. (Should it h

[2021-12-20 16:18] kylehuynh205 commented on #1986
Sorry @seth-shaw-unlv  for the delayed response, I took a few days off last week.

Thanks for your feedback and sorry about the troubleshoot on the installation part. We were trying out Rules module to automate some of the processes in the workflow, I missed out adding Rules as dependency the composer.json during the packaging; also, the missed matched between them module's machine name and its re

[2021-12-20 20:56] kspurgin commented on #2010
My recommendation for moving forward would be:

* FIRST, some updates to the documentation
  * Add a "Help/Troubleshooting" section that will appear in left nav bar under Contributing. This will explain that, as an open source project, there is no one primarily responsible for providing technical support, so the best way to get help is to reach out to the community. Listserv and Slack signup info

[2021-12-20 21:22] kspurgin commented on #2010
## Troubleshooting/Issues

See [Help/Troubleshooting](https://islandora.github.io/documentation/user-documentation/get_help/) for ways to get or provide help.

Please create a Github Issue to [report a bug](https://islandora.github.io/documentation/contributing/CONTRIBUTING/#report-a-bug), [add a use case](https://islandora.github.io/documentation/contributing/CONTRIBUTING/#use-cases), or [request

[2021-12-20 22:07] seth-shaw-unlv commented on #1986
Ah, I see what happened now. I couldn't set permissions because group_permissions had not been installed; it wasn't included in the composer nor in the info.yml.

[2021-12-21 20:06] seth-shaw-unlv opened #2016 "New EDTF formatting issues"
While testing out @Natkeeran 's newspaper fixes I came across some issues with the [recent "do not show" options for controlled_access_terms](https://github.com/Islandora/controlled_access_terms/pull/75).

E.g. I created a record with today's date using the date created field from islandora_defaults:
<img width="416" alt="Screen Shot 2021-12-21 at 11 49 51 AM" src="https://user-images.githubuserco

[2022-01-05 14:33] kstapelfeldt commented on #1958
I have moved the backlog of topics to discussions as requested - should we keep this ticket open?

[2022-01-05 18:15] kstapelfeldt commented on #2010
Order of Operations

1. merge document changes
2. Update URLs for the snippet in the comment above
3. Update all the read-me-s

Waiting on confirmation from @seth-shaw-unlv  but the Tech call thought it was a great idea.

[2022-01-05 18:52] kstapelfeldt commented on #2007
From the tech call

* What was the issue? - find something from media or web that outlines this problem.
* Where all of the instances of log4j can be found and versions?
* For the Islandora stack, Log4j was only a problem in some Solr versions (8.x primarily. Recommended version is now 8.11.1) The specific version for Log4j 2.x below 16.
* Steps taken to mitigate the Log4j vulnerabilities?
* How i

[2022-01-06 14:24] alxp commented on #2007
The Playbook PR is in need of a tester from outside of my organization.

[2022-01-06 16:22] seth-shaw-unlv commented on #2010
Looks good to me.

[2022-01-10 21:43] kspurgin commented on #2010
Ok, I will work on a documentation PR

[2022-01-13 19:01] nigelgbanks commented on #1851
@kylehuynh205 there is a `solr` field `boost_document` that is used to change the order of results this [document](https://cwiki.apache.org/confluence/display/solr/SolrRelevancyFAQ#Field%20Based%20Boosting) has a pretty good overview. This particular field is used by `search_api_solr` to what extent is this important to users I do not know. Though what I can glean from the `solr` documentation is

[2022-01-13 21:37] eldonquijote commented on #1739
@mjordan Melissa created a documentation page from the instructions in this issue ticket, but I have trouble reproducing the intended behavior in the public sandbox. Do you recall which Islandora/Drupal version you used when you wrote them, and which theme?

[2022-01-14 17:19] whikloj commented on #1536
Playbook is installing Drupal 9, so I think this can be closed. Is that okay @kayakr?

[2022-01-14 17:20] whikloj commented on #1241
Are we good with our code being Drupal 9 compatible? If so, can this be closed?

[2022-01-14 18:18] alxp commented on #1241
I'm good with closing it.

[2022-01-18 18:57] alxp opened #2034 "Incorrect JSON-LD serialization when not in Node context"
The Context Reactions that alter a node's JSON-LD representation depend on the Node Context being present.

If I go to http://localhost:8000/node/89?_format=jsonld

[code]

The "Dataset" type and the SameAs predicate were added via two context reactions that ship with Islandora, in JsonldSelfReferenceReaction.php and JsonldTypeAlterReaction.php.

However when I use Drupal's serializer service dire

[2022-01-26 18:06] Natkeeran commented on #2016
This PR works as expected.

[2022-01-26 18:06] #2016 closed, assigned to nobody

[2022-01-31 20:34] DonRichards commented on #1536
Isle-dc/buildkit is still on 8.x

[2022-02-02 17:22] alxp opened #2039 "White screen when accessing JSON-LD representation of node in some circumstances"
PR: https://github.com/Islandora/islandora/pull/862

## Steps to Reproduce

In an Islandora site, clone the https://github.com/roblib/islandora_premis module into the modules/contrib folder and check out the 'unpublished' branch. and then enable the module.

Create a new Repository Item object, and uncheck 'Published' before saving.

Append '/premis' to the end of the new object's url, e.g. /node/

[2022-02-02 18:36] adam-vessey commented on #1859
Braining a bit in this area recently, threw together https://github.com/Islandora/controlled_access_terms/compare/2.x...adam-vessey:feature/edtf-constraints

However, struck with the issue: Moving to constraints would possibly include "promoting" few relevant bits of widget configuration to settings on the field (storage?), from where they are on the "widget", which potentially gets into writing u

[2022-02-02 20:44] rosiel commented on #1739
I was able to recreate it with the playbook's "standard" installation. I'll put a note to that effect in the docs.

It was almost the same in the install profile (loaded with ISLE), but it was a bit confusing because a LOT of facets had already been configured, and i had a hard time keeping track. Also, in the Install profile, the blocks are placed in the view itself not structure/blocks.

[2022-02-02 20:56] rosiel commented on #1739
https://islandora.github.io/documentation/user-documentation/facet_on_vocabulary_reference_fields/

[2022-02-04 00:52] rosiel commented on #1620
At the moment, it appears that phpcs is failing on the very line @elizoller pointed above.
PR that's failing checks: https://github.com/Islandora/controlled_access_terms/pull/78
errors: https://github.com/Islandora/controlled_access_terms/runs/5058696572?check_suite_focus=true

The error is "ERROR: Referenced sniff "SlevomatCodingStandard.ControlStructures.RequireNullCoalesceOperator" does not exi

[2022-02-04 15:07] DonRichards opened #2040 "Metadata Structure needs to be replicated into install profile"
The Metadata IG commented on how the metadata improvements they've contributed to Islandora Defaults will have in essence been discarded when the Islandora Install Profile is the standard Islandora experience.

The metadata changes in the Islandora Defaults module need to be replicated in the Islandora Install Profile module (if they aren't already).

Questions to find out as part of this ticket:

[2022-02-07 19:25] kspurgin opened #2042 "Cannot upload MODS XML file as media on a node in default setup/sandbox"
A thing I have heard multiple times in the community is: "Well you aren't throwing any metadata away because you can store the old MODS XML file as a media on your node"

Except, as Islandora comes out of the box/in sandbox, you cannot, because .xml is not an allowed file type on any appropriate media types

The default/basic setup should add .xml as an allowed file type on the File media type.

R

[2022-02-07 19:50] kspurgin opened #2043 "Deleting content node does not delete media/files associated with node"
Pretty sure this is known/expected behavior, but it is counterintuitive from a user standpoint. Why should the object files and derivatives of deleted objects stick around and clutter up my Islandora if I've deleted the content?

**Needs checking/verification:** If you delete child objects of a resource (from [the Children tab](https://islandora.github.io/documentation/concepts/collection/)), I as